<!-- Header -->

<gv-tile-header (close)="close.emit()">
    <span title>
        <i class="fa fa-fw fa-calendar"></i> Timeline
    </span>
</gv-tile-header>


<!-- Body -->

<div class="gv-tile-body">
    <gv-timeline *ngIf="timeLineData?.rows?.length > 0" [data]="timeLineData" [path]="path.concat('timeLineSettings')"
        (rowMouseEnter)="rowMouseEnter($event)" (rowMouseLeave)="rowMouseLeave($event)" (rowClick)="rowClick($event)"></gv-timeline>
    <div *ngIf="!(timeLineData?.rows?.length > 0)">
        <div class="alert alert-light font-italic">
            No temporal information available.
        </div>
    </div>
</div>