<ng-container *ngIf="(items$|async)?.length">
  <ng-container>
    <div *ngFor="let item of (items$ | async); let i = index;" class="literal-item">
      <div class="full-width ">

        <span class="checkbox-col" *ngIf="addMode$|async">
          <ng-container *ngTemplateOutlet="selectionUI;context:{item:item}">
          </ng-container>
        </span>



        <span class="left-col">
          <gv-onto-class-info class="mr-2" [pkClass]="item.targetClass" *ngIf="showOntoInfo$ | async">
          </gv-onto-class-info>
          <gv-entity-preview *ngIf="item.target.entityPreview; else teEn" [preview]="item.target.entityPreview"
            [dragEnabled]="false" [openTabOnClick]="!(readonly$|async)">
          </gv-entity-preview>
          <ng-template #teEn>
            <ng-container *ngIf="item.target.entity; else rest">

              <mat-menu #teEnMenu="matMenu">
                <button mat-menu-item *ngIf="item?.projRel?.is_in_project"
                  (click)="openInNewTabFromEntity(item.target.entity)">
                  <mat-icon>tab</mat-icon>
                  Open {{field.targets[item.target.entity.fkClass]?.targetClassLabel}} in new Tab
                </button>
                <button mat-menu-item *ngIf="!item?.projRel?.is_in_project"
                  (click)="addAndOpenInNewTabFromEntity(item.target.entity)">
                  <mat-icon>add</mat-icon>
                  Add {{field.targets[item.target.entity.fkClass]?.targetClassLabel}} to project and open
                </button>
              </mat-menu>

              <span *ngIf="!(readonly$|async)" class="font-xs text-muted class-label"
                [matTooltip]="'Temporal Entity ' + item.target.entity.pkEntity" [matMenuTriggerFor]="teEnMenu">
                <i *ngIf="item.ordNum!==0" class="gv-entity-color fa fa-star-o"></i>
                <i *ngIf="item.ordNum===0" class="gv-entity-color fa fa-star"></i>
                {{field.targets[item.target.entity.fkClass]?.targetClassLabel}}
              </span>

              <span *ngIf="(readonly$|async)" class="font-xs text-muted class-label"
                [matTooltip]="'Temporal Entity ' + item.target.entity.pkEntity">
                <i *ngIf="item.ordNum!==0" class="gv-entity-color fa fa-star-o"></i>
                <i *ngIf="item.ordNum===0" class="gv-entity-color fa fa-star"></i>
                {{field.targets[item.target.entity.fkClass]?.targetClassLabel}}
              </span>

              <gv-entity-with-fields [source]="{fkInfo:item.target.entity.pkEntity}"
                [fkClass]="item.target.entity.fkClass" [showOntoInfo$]="showOntoInfo$"
                [scope]="scope.notInProject ? {inRepo:true} : scope" [readonly$]="readonly$">
              </gv-entity-with-fields>
            </ng-container>
          </ng-template>
          <ng-template #rest>
            <div class="ellipsis">
              {{item.targetLabel}}
              <span *ngIf="!item.targetLabel && item.target.timeSpan" class="mat-text-secondary">
                No temporal information
              </span>
            </div>
          </ng-template>
        </span>

        <span class="right-col" *ngIf="!(addMode$|async) && !(readonly$|async)">
          <mat-menu #appMenu="matMenu">

            <ng-container *ngIf="item.target.timeSpan; else entity">
              <button mat-menu-item (click)="openTimespanModal(item.target.timeSpan)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <mat-divider></mat-divider>
            </ng-container>
            <ng-template #entity>
              <ng-container *ngIf="item.target.entity; else normal">
                <button mat-menu-item *ngIf="item?.projRel?.is_in_project"
                  (click)="openInNewTabFromEntity(item.target.entity)">
                  <mat-icon>tab</mat-icon>
                  Open {{field.targets[item.target.entity.fkClass]?.targetClassLabel}} in new Tab
                </button>
                <button mat-menu-item *ngIf="!item?.projRel?.is_in_project"
                  (click)="addAndOpenInNewTabFromEntity(item.target.entity)">
                  <mat-icon>add</mat-icon>
                  Add {{field.targets[item.target.entity.fkClass]?.targetClassLabel}} to project and open
                </button>

                <button mat-menu-item (click)="markAsFavorite(item)">
                  <mat-icon>star</mat-icon>
                  Mark As Favorite
                </button>

                <mat-divider></mat-divider>
                <div class="dropdown-header">Danger Zone</div>
                <button mat-menu-item (click)="removeEntity(item)">
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Remove</span>
                </button>

              </ng-container>
            </ng-template>


            <ng-template #normal>

              <ng-container *ngIf="item.target.langString">
                <button mat-menu-item (click)="openPopup(item)">
                  <mat-icon svgIcon="aritem-expand-all"></mat-icon>
                  <span>Open in popup</span>
                </button>
                <mat-divider></mat-divider>
              </ng-container>

              <ng-container *ngIf="item.target.entityPreview">
                <button mat-menu-item *ngIf="item.target.entityPreview.fk_project"
                  (click)="openInNewTabFromPreview(item.target.entityPreview)">
                  <mat-icon>tab</mat-icon>
                  Open {{field.targets[item.target.entityPreview.fk_class]?.targetClassLabel}} in new Tab
                </button>
                <button mat-menu-item *ngIf="!item.target.entityPreview.fk_project"
                  (click)="addAndOpenInNewTabFromPreview(item.target.entityPreview)">
                  <mat-icon>add</mat-icon>
                  Add {{field.targets[item.target.entityPreview.fk_class]?.targetClassLabel}} to project and open
                </button>

                <mat-divider></mat-divider>
              </ng-container>


              <div class="dropdown-header">Danger Zone</div>
              <button mat-menu-item (click)="remove(item)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Remove</span>
              </button>

            </ng-template>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
            <mat-icon>more_vert</mat-icon>
          </button>
        </span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </ng-container>
  <mat-paginator [length]="itemsCount$ | async" [pageSize]="limit$ | async" [pageIndex]="pageIndex$ | async"
    [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]=true [hidden]="(itemsCount$ | async) <= 5"
    (page)="onPageChange($event)">
  </mat-paginator>
  <mat-divider [hidden]="(itemsCount$ | async) <= 5"></mat-divider>


  <div *ngIf="addMode$|async" class="my-3 gv-row-end">
    <button type="button" mat-button (click)="close.emit()">Cancel</button>
    <button [disabled]="targetIsUnique" type="submit" mat-flat-button color="primary" class="mr-2"
      (click)="next.emit()">Create new</button>
    <button [disabled]="(selectedCount$ | async) < 1 || (adding$|async)" type="submit" mat-flat-button color="primary"
      class="mr-2" (click)="add()">
      <ng-container *ngIf="!(adding$|async)">
        Add selected ({{selectedCount$|async}})
      </ng-container>
      <div *ngIf="(adding$|async)" style="margin: 6px;">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </button>
  </div>


  <mat-table style="display: none">
    <mat-header-row *matHeaderRowDef="[]"></mat-header-row>
  </mat-table>


  <ng-template #selectionUI let-item="item">
    <mat-checkbox *ngIf="allowMultiSelect" (click)="$event.stopPropagation()"
      (change)="$event ? toggleSelection(item) : null" [checked]="selection.isSelected(item.statement.pk_entity)">
    </mat-checkbox>
    <mat-radio-button *ngIf="!allowMultiSelect" (click)="$event.stopPropagation()"
      (change)="$event ? toggleSelection(item) : null" [checked]="selection.isSelected(item.statement.pk_entity)">
    </mat-radio-button>
  </ng-template>
</ng-container>