<ng-container *ngIf="subfield.listType.temporalEntity; else simple">
  <gv-subfield-table [items$]="items$" [subfield]="subfield" [showOntoInfo$]="showOntoInfo$"></gv-subfield-table>
</ng-container>

<ng-template #simple>
  <ng-container>
    <div *ngFor="let item of (items$ | async); let i = index;" class="literal-item">
      <div class="full-width ">


        <span class="checkbox-col" *ngIf="addMode$|async">
          <mat-checkbox *ngIf="allowMultiSelect" (click)="$event.stopPropagation()"
            (change)="$event ? toggle(item) : null" [checked]="selection.isSelected(item.statement.pk_entity)">
          </mat-checkbox>
        </span>


        <span class="left-col">
          <gv-onto-class-info class="mr-2" [pkClass]="subfield.targetClass" *ngIf="showOntoInfo$ | async">
          </gv-onto-class-info>
          <gv-entity-preview *ngIf="item.target.entityPreview; else default" [preview]="item.target.entityPreview"
            [dragEnabled]="false" [openTabOnClick]="true">
          </gv-entity-preview>
          <ng-template #default>
            <div class="ellipsis">
              {{item.targetLabel}}
              <span *ngIf="!item.targetLabel && item.target.timeSpan" class="mat-text-secondary">
                No temporal information
              </span>
            </div>
            <gv-entity-preview *ngIf="item.target.entityPreview" [preview]="item.target.entityPreview"
              [dragEnabled]="false" [openTabOnClick]="true"></gv-entity-preview>
          </ng-template>
        </span>

        <span class="right-col">
          <mat-menu #appMenu="matMenu">

            <ng-container *ngIf="item.target.timeSpan; else normal">
              <button mat-menu-item (click)="openTimespanModal(item.target.timeSpan)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <mat-divider></mat-divider>
            </ng-container>

            <ng-template #normal>
              <ng-container *ngIf="item.target.langString">
                <button mat-menu-item (click)="openPopup(item)">
                  <mat-icon svgIcon="arrow-expand-all"></mat-icon>
                  <span>Open in popup</span>
                </button>
                <mat-divider></mat-divider>
              </ng-container>



              <div class="dropdown-header">Danger Zone</div>
              <button mat-menu-item (click)="remove(item)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Remove</span>
              </button>

            </ng-template>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
            <mat-icon>more_vert</mat-icon>
          </button>
        </span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </ng-container>
</ng-template>


<mat-paginator [length]="itemsCount$ | async" [pageSize]="limit$ | async" [pageIndex]="pageIndex$ | async"
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidden]="(itemsCount$ | async) <= 5"
  (page)="onPageChange($event)">
</mat-paginator>
<mat-divider [hidden]="(itemsCount$ | async) <= 5"></mat-divider>


<div *ngIf="addMode$|async" class="my-3">
  <button [disabled]="(selectedCount$ | async) < 1" type="submit" mat-flat-button color="primary" class="mr-2"
    (click)="add()">Add
    selected</button>
  <button type="submit" mat-flat-button color="primary" class="mr-2" (click)="next.emit()">Create new</button>
  <button type="button" mat-button (click)="close.emit()">Cancel</button>
</div>
