<!-- This is a generic template used by child components! -->
<fieldset>
  <div class="d-flex flex-row">
    <legend class="gv-flex-grow-1 font-sm">
      <span class="text-secondary">{{fieldset.label}}</span>
    </legend>
  </div>


  <!-- *********************** If no begin value at all ****************** -->

  <span *ngIf="!(this.existenceTime.p81 || this.existenceTime.p82 || this.existenceTime.p81a || this.existenceTime.p82a)">
    <div class="gv-flex-grow-1 d-flex flex-row align-items-center text-muted form-control">

      <!-- Symbol -->
      <div class="mr-3 gv-time-symbol">
        <i class="fa fa-arrow-right"></i>
      </div>

      <button class="btn btn-link btn-sm pl-0" (click)="add81a">Add begin</button>

    </div>
  </span>





  <!-- ***************************** Begin of Begin ************************ -->

  <!-- If 82 (outer bounds) -->

  <div *ngIf="existenceTime.p82" class="form-row mb-3">

    <div class="gv-flex-grow-1 d-flex flex-row align-items-center form-control text-muted">

      <!-- Symbol -->
      <div class="mr-3 gv-time-symbol">
        <i class="fa fa-arrow-right"></i>
      </div>

      <ng-container *ngTemplateOutlet="implicit;context:{label:'Begin of begin (Implied by Outer Bounds)', prefix:'Begin of', tp:existenceTime.p82}"></ng-container>

      <!-- Dropdown -->
      <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
        <button class="btn btn-link" type="button" ngbDropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="from82To82a82b()">Make explicit for editing</button>
        </div>
      </div>
    </div>
  </div>

  <!-- If no 82 (outer bounds) but 82a (earliest possible start) -->

  <div *ngIf="!existenceTime.p82 && existenceTime.p82a" class="mb-3">

    <div class="form-row" *ngFor="let field of [fieldset.fields.begBeg]">

      <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="formGroup" class="gv-flex-grow-1" (onRemove)="onRemove.emit(field)"
        (onCancel)="onCancel.emit(field)" (onSubmit)="onSubmit.emit(field)" (onEdit)="onEdit.emit(field)"></gv-field>
    </div>


  </div>


  <div class="form-row mb-3" *ngIf="!existenceTime.p81a && !existenceTime.p81 && (existenceTime.p82 || existenceTime.p82a)">
    <div class="gv-flex-grow-1 d-flex flex-row align-items-center text-muted form-control">

      <!-- Symbol -->
      <div class="mr-3 gv-time-symbol">
        <i class="fa fa-arrow-right"></i>
      </div>

      <button class="btn btn-link btn-sm pl-0" (click)="add81aFrom82a()">Add End of begin</button>

    </div>
  </div>



  <!-- ***************************** End of Begin ************************ -->

  <!-- If 81: Implied end of begin by by inner bounds -->

  <div *ngIf="existenceTime.p81" class="form-row mb-3">

    <div class="gv-flex-grow-1 d-flex flex-row align-items-center text-muted form-control">

      <!-- Symbol -->
      <div class="mr-3 gv-time-symbol">
        <i class="fa fa-arrow-right"></i>
      </div>

      <ng-container *ngTemplateOutlet="implicit;context:{label:'End of begin (Implied by Inner Bounds)', prefix:'Begin of', tp:existenceTime.p81}"></ng-container>

      <!-- Dropdown -->
      <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
        <button class="btn btn-link " type="button" ngbDropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="from81To81a81b82a()">Convert to start and end of begin</button>
        </div>
      </div>
    </div>

  </div>

  <!-- If !81 but 81a: Explicit End of Begin -->

  <span *ngIf="!existenceTime.p81 && existenceTime.p81a">

    <!-- If !82a: Implied Begin of Begin by End of Begin -->

    <div *ngIf="!existenceTime.p82a && !existenceTime.p82" class="form-row mb-3">

      <div class="gv-flex-grow-1 d-flex flex-row align-items-center text-muted form-control">

        <!-- Symbol -->
        <div class="mr-3 gv-time-symbol">
          <i class="fa fa-arrow-right"></i>
        </div>

        <ng-container *ngTemplateOutlet="implicit;context:{label:'Begin of begin (Implied by End of Begin)', prefix:'Begin of', tp:existenceTime.p81a}"></ng-container>

        <!-- Dropdown -->
        <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
          <button class="btn btn-link" type="button" ngbDropdownToggle>
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <button class="dropdown-item" (click)="add82aFrom81a()">Edit</button>
          </div>
        </div>
      </div>

    </div>


    <div class="form-row mb-3" *ngFor="let field of [fieldset.fields.endBeg]">

      <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="formGroup" class="gv-flex-grow-1" (onRemove)="onRemove.emit(field)"
        (onCancel)="onCancel.emit(field)" (onSubmit)="onSubmit.emit(field)" (onEdit)="onEdit.emit(field)"></gv-field>

    </div>
  </span>

</fieldset>


<ng-template #implicit let-label="label" let-prefix="prefix" let-tp="tp">

  <!-- Date preview -->
  <div class="gv-flex-grow-1 font-sm">
    <label class="mb-0">
      {{label}}:
    </label>
    <br> {{prefix}}
    <gv-time-primitive-view [show]="'duration'" calendar="gregorian" [timePrimitive]="tp"> </gv-time-primitive-view>
  </div>

</ng-template>