<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a routerLink="../../../">Your Projects</a></li>
    <li class="breadcrumb-item"><a routerLink="../../">{{projectLabel}}</a></li>
    <li class="breadcrumb-item">Data Settings</li>
  </ol>
</gv-navbar>
<gv-project-settings>

  <h1>
    Data Settings
  </h1>
  <p>
    Define what kind of data is collected in your project. Do so by enabling and disabling classes in the list below.
    By enabling a class the collaborators of the project can create and add Data Units of that class.
  </p>

  <h3>
    Classes
  </h3>

  <!-- Filter -->
  <form>
    <div class="form-row mb-2">
      <div class="col">
        <input type="text" name="searchString" class="form-control" aria-describedby="search" autocomplete="off"
          placeholder="Filter…">
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <select class="form-control">
          <option selected>All</option>
          <option>...</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control">
          <option selected>All</option>
          <option>...</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control">
          <option selected>All</option>
          <option>...</option>
        </select>
      </div>
    </div>
  </form>
  {{(items$ | async) | json}}
  <!-- Results -->
  <div class="gv-flex-fh m-3 px-3 gv-scroll-y-auto" *ngIf="!loading">
    <gv-class-item *ngFor="let item of (items$ | async) | keys"></gv-class-item>
  </div>

  <!-- Pagination -->
  <div class="m-3" *ngIf="!loading">
    <ngb-pagination class="mb-0" *ngIf="collectionSize > limit" [maxSize]="5" [collectionSize]="collectionSize"
      [(page)]="page" [pageSize]="limit" (pageChange)="pageChange()" aria-label="Default pagination"></ngb-pagination>
  </div>
</gv-project-settings>