<span
contenteditable="true"
[ngClass]="{'gv-namepart-token': (!token.isSeparator), 'gv-separator-token': (token.isSeparator)}"
[textContent]="token.string"
(keyup)="onKeyup($event)"
(keydown)="onKeydown($event)"
(input)="onInput($event.target.textContent)"
[focus]="focusEventEmitter" #editableElement></span>
<!-- <textarea *ngIf="!token.isSeparator"
 rows="1" (input)="onInput($event.target.value)" [focus]="focusEventEmitter" #editableElement>{{token.string}}</textarea> -->
<!-- <span *ngIf="token.isSeparator" class="gv-separator-token">{{token.string}}</span> -->