.gv-separator-token {
  border: 1px solid red;
  padding: 0 0.3rem;
  margin: 0 0.1rem 0 -.15rem;
}

.gv-namepart-token {
  border-bottom: 1px solid blue;
  padding: 0 0.3rem;
  margin: 0 0.1rem 0 -.15rem;
}