<div class="loc-filter">
  <input class="loc-filter-input mat-text-secondary" [placeholder]="'Filter'" autofocus="true" autocomplete="off"
    (keyup)="onFilter($event)" [value]="filter$|async">
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <mat-action-list class="loc-list">
    <button *ngFor="let option of options$|async" mat-list-item (click)="upsertSelected(option.id)">
      {{option.label}}
    </button>

  </mat-action-list>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>

<div class="loc-spinner" *ngIf="loading$|async">
  <mat-spinner [diameter]="20"></mat-spinner>
</div>