<form [formGroup]="formGroup">
  <div class="d-flex align-items-center">

    <mat-form-field>
      <mat-label>Condition</mat-label>
      <mat-select [formControl]="operatorCtrl" (openedChange)="onOpenedChange($event)">
        <mat-option *ngFor="let o of operatorOptions" [value]="o.value">{{o.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- add different selcts here, according to chosen option -->
    <mat-form-field class="mx-3 d-flex gv-grow-1" *ngIf="operatorCtrl.valid">
      <mat-label>Property</mat-label>
      <gv-property-select [formControl]="propertyCtrl" [options$]="propertyOptions$" class="d-flex gv-grow-1"
         (focus)="onFocus()" (blur)="onBlur()" [level]="level + 1">
      </gv-property-select>
    </mat-form-field>

    <button class="mr-3 gv-mat-icon-button-sm gv-btn-info" *ngIf="propertyCtrl.valid && operatorCtrl.valid"
      mat-icon-button (click)="addChild()" matTooltip="Add sub-filter">
      <mat-icon>add</mat-icon>
    </button>
    <button class="ml-auto gv-mat-icon-button-sm gv-btn-danger" mat-icon-button (click)="remove.emit()"
      matTooltip="Remove with sub-filters">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <div class="gv-sub-query-item">
    <gv-subgroup *ngFor="let child of dynamicFormControls; let i = index" [formControl]="child.ctrl" [pkClasses$]="pkClasses$"
      (remove)="removeChild(i)" [level]="level + 1"  #c [gvNoInvalidChildren]="c.formGroup.controls"></gv-subgroup>
  </div>
</form>