<div class="card text-white bg-info">
  <div class="card-body">

    <!-- Mentioned Entity -->
    <div *ngIf="mentionedEntity">
      {{(mentionedEntity?.type_label || mentionedEntity?.class_label)}} {{mentionedEntity?.entity_label}}
      <button class="btn btn-link-white" *ngIf="!mentionedEntityFixed" (click)="resetMentionedEntity()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>

    <!-- Drop zone for mentioned entity -->
    <div class="gv-drop-zone" [allowDrop]="allowDropMentionedEntity()" dnd-droppable *ngIf="!mentionedEntity" (onDropSuccess)="onDropMentionedEntity($event.dragData)">
      Drop DataUnit here!
    </div>


    <div class="font-italic text-center py-2">
      is mentioned in
    </div>

    <!-- Source -->
    <div *ngIf="sourceEntity">
      {{(sourceEntity?.type_label || sourceEntity?.class_label)}}  {{sourceEntity?.entity_label}}
      <button class="btn btn-link-white" *ngIf="!sourceEntityFixed" (click)="resetSourceEntity()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>

    <!-- Section -->
    <div *ngIf="sectionEntity">
      {{(sectionEntity?.type_label || sectionEntity?.class_label)}}  {{sectionEntity?.entity_label}}
      <button class="btn btn-link-white" *ngIf="!sectionEntityFixed" (click)="resetSectionEntity()">
        <i class="fa fa-pencil"></i>
      </button>
    </div>

    <!-- Drop zone for source or section -->
    <div class="gv-drop-zone" dnd-droppable *ngIf="!sourceEntity && !sectionEntity" (onDropSuccess)="onDropSourceEntity($event.dragData)"
      [allowDrop]="allowDropSource()">
      Drop a Source or Section here!
    </div>


    <!-- Chunk -->
    <div *ngIf="chunkEntity">
      <span>Annotated text:</span> « {{chunkEntity?.js_quill_data | quillDeltaToStr}} »
    </div>

    <!-- Edit ui for chunk -->

  </div>
</div>