<!-- Mentioned Entity -->
<div *ngIf="mentionedEntity">
  {{mentionedEntity?.label}}
  <button *ngIf="!mentionedEntityFixed" (click)="mentionedEntity=undefined">x</button>
</div>
<!-- Drop zone for mentioned entity -->
<div class="card" dnd-droppable *ngIf="!mentionedEntity" (onDropSuccess)="onDropMentionedEntity($event.dragData)">
  <div class="card-body">
    Drop DataUnit here!
  </div>
</div>


<div>
  is mentioned in
</div>

<!-- Source -->
<div *ngIf="sourceEntity">
  {{sourceEntity?.label}}
  <button *ngIf="!sourceEntityFixed" (click)="sourceEntity=undefined">x</button>
</div>

<!-- Section -->
<div *ngIf="sectionEntity">
  Section: {{sectionEntity?.label}}
  <button *ngIf="!sectionEntityFixed" (click)="sectionEntity=undefined">x</button>
</div>

<!-- Drop zone for source or section -->
<div class="card" dnd-droppable *ngIf="!sourceEntity && !sectionEntity" (onDropSuccess)="onDropSourceEntity($event.dragData)" [allowDrop]="allowDropSource()">
  <div class="card-body">
    Drop a Source or Section here!
  </div>
</div>


<!-- Chunk -->
<div *ngIf="chunkEntity">
  Annotated text: {{chunkEntity?.label}}
</div>

<!-- Edit ui for chunk -->