<h3>{{classLabel$ | async}} <small class="mat-gray">Fields</small></h3>

<p>
  Entities of the class '{{classLabel$ | async}}' have these fields:
</p>


<mat-accordion displayMode="flat" multi="true">
  <mat-expansion-panel expanded="false" *ngFor="let field of (fields$ | async ); trackBy:getKey">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>
          {{field.label}} {{field?.propertyField?.isIdentityDefining ? '*' : ''}}
        </strong>
        <!-- <mat-icon color="warn" matTooltip="Label Missing">warning</mat-icon> -->
      </mat-panel-title>
      <!-- <mat-panel-description>
        <small>Field P8</small>
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <div *ngIf="field.propertyField">
      <ng-container *ngTemplateOutlet="propertyField; context:{field: field, classLabel$: classLabel$}"></ng-container>
    </div>

    <div *ngIf="!field.propertyField">
      <ng-container *ngTemplateOutlet="classField; context:{field: field}"></ng-container>
    </div>

  </mat-expansion-panel>
</mat-accordion>


<ng-template #propertyField let-field="field" let-classLabel$="classLabel$">

  <p class="mb-3">
    This field corresponds to the property <a href="{{field.ontoInfoUrl}}" target="_blank"> {{field.ontoInfoLabel}}
      "{{field.propertyField.dfhStandardLabel}}" </a>.
  </p>
  <div class="mat-body-2">
    Labels
  </div>
  <div class="mat-caption mb-1">
    Define the label of this field:
  </div>
  <mat-divider></mat-divider>

  <gv-property-label-table [fkProperty]="field.propertyField.labelTable.fkProperty"
    [fkDomainClass]="field.propertyField.labelTable.fkDomainClass"
    [fkRangeClass]="field.propertyField.labelTable.fkRangeClass"></gv-property-label-table>

  <div class="mat-body-2 mt-3">
    Related Classes
  </div>
  <div class="mat-caption mb-1">
    The field relates entities of the following classes to {{classLabel$ | async}}:
  </div>
  <mat-divider></mat-divider>

  <table mat-table [dataSource]="field.propertyField.classTable.rows" class="mat-elevation-z0 w-100">

    <!-- label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Classes </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="field.propertyField.classTable.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: field.propertyField.classTable.displayedColumns;"></tr>
  </table>

</ng-template>

<ng-template #classField let-field="field">



  <p class="mb-3">
    This field does not corresponds to a property directly.
  </p>

</ng-template>
