<!-- ********************** Source List *************************** 
 * - If nor 'create' nor 'edit' nor 'remove' vars of substore are truthy, 
 *      show a create source button
 *      show a SourceSearchHitComponent for each entry in 'list' with open and remove buttons
 *      passing SourceSearchHitState via Input
-->
<div *ngIf="listVisible" class="gv-flex-fh">

  <!-- Header -->
  <section class="m-3 mt-5 row">
    <div class="col-md-8">
      <h2>
        <i class="gv-icon gv-icon-source text-info"></i> Sources
      </h2>
    </div>
    <div class="col-md-4">
      <div class="btn-group float-right mt-2" role="group">
        <gv-class-and-type-selector *ngIf="(pkProject$ |async)" [pkClasses]="pkClassesOfAddBtn" [pkProject]="(pkProject$ |async)"
          [basePath]="path.concat('classAndTypeSelector')" (select)="startCreate($event)" buttonText="Add a source" placement="right"></gv-class-and-type-selector>
        <!-- <button class="btn btn-link" (click)="startCreate()">
          <i class="fa fa-plus"></i> Add a source
        </button> -->
      </div>
    </div>
  </section>

  <!-- Search input -->
  <form class="m-3" (ngSubmit)="searchStringChange()">
    <div class="input-group">
      <input type="text" name="searchString" class="form-control" aria-describedby="search" autocomplete="off"
        placeholder="Search …" [(ngModel)]="searchString">
      <span class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>

  <!-- Search results -->
  <div class="gv-flex-fh m-3">
    <div class="d-flex justify-content-center" *ngFor="let entry of (list$|async) | keys">
      <gv-source-search-hit [sourceSearchHit]="entry.value" class="gv-grow-1" (open)="openSearchHit(entry.value)">
      </gv-source-search-hit>
      <button class="btn btn-sm btn-link" (click)="startRemove(entry.value)">Remove</button>
    </div>
  </div>


</div>

<!-- ********************** Create Source ***************************
 * - If 'create' is truthy, show a form with SourceCreateFormComponent
 *     listening to ok and cancel Outputs 
 -->
<div *ngIf="(create$ | async)" class="container m-5">
    <gv-create-or-add-pe-it [basePath]="path.concat('create')" (done)="submitCreate($event)" (cancel)="stopCreate()"></gv-create-or-add-pe-it>
</div>

<!-- ********************** Edit Source *************************** 
 * - If 'edit' is truthy, show a SourceDetailComponent 
 *   passing store path to 'edit' via Input
 *   listening to onChange Output to update the 'list'
-->

<div *ngIf="(edit$ | async)" class="gv-grow-1 d-flex flex-column">
  <gv-source-detail (close)="close()" (onSave)="save($event)" (versionChanged)="changeVersion($event)" [path]="editPath"
    class="gv-grow-1 d-flex flex-column"></gv-source-detail>
</div>

<!-- ********************** Remove Source *************************** 
 * - If 'remove' is truthy, show a SourceSearchHitComponent with 'are you sure', cancel and remove buttons
 *   passing store path to 'remove' via Input 
-->
<div *ngIf="(remove$ | async)" class="d-flex justify-content-center mt-5">
  <div>
    <div class="my-3">
      <h5> Remove Source </h5>
      <p> Are you sure?</p>
    </div>
    <gv-source-search-hit [sourceSearchHit]="(remove$|async)"> </gv-source-search-hit>
    <button class="btn btn-outline-danger" (click)="remove()">Remove</button>
    <button class="btn btn-outline-secondary" (click)="cancelRemove()">Cancel</button>
  </div>
</div>