<!-- <span class="mr-3">{{classConfig?.label}}</span> -->

<span *ngFor="let p of label.parts; let i = index">

  <span class="text-muted mx-1" *ngIf="i > 0">&#x2022;</span>

  <span *ngIf="p && p.roleLabel.type === 'appe'">
    <!-- <span class="text-muted">{{p?.introducer}}:</span> -->
    {{p?.roleLabel?.string}}
  </span>

  <span *ngIf="p && p.roleLabel.type === 'lang'">
    <span class="text-muted">{{p?.introducer}}:</span>
    {{p?.roleLabel?.string}}
  </span>

  <span *ngIf="p && p.roleLabel.type === 'ex-time'">
    <span class="text-muted">{{p?.introducer}}:</span>
    {{getExTLabel(p?.roleLabel?.exTimeLabel)}}
  </span>

  <span *ngIf="p && p.roleLabel.type === 'te-ent'">
    <span class="text-muted">{{p?.introducer}}:</span>
    {{p?.roleLabel?.string}}
  </span>

  <span *ngIf="p && p.roleLabel.type === 'leaf-pe-it'">
    <span class="text-muted">{{p?.introducer}}:</span>
    {{p?.roleLabel.string}}
  </span>


</span>

<span *ngIf="label?.hasMore"><span class="text-muted mx-1">&#x2022;</span> …</span>


<!-- <br>
<span style="font-size: 10pt">
  {{label | json}}
</span> -->