<!-- Header -->
<gv-view-field-header [hidden]="!(showHeader$|async)" class="mat-bg-grey-50" [body]=b [itemsCount$]=itemsCount$
  [showAddButton$]=showAddButton$ [showOntoInfo$]=showOntoInfo$ [ontoInfoUrl]=field.ontoInfoUrl
  [ontoInfoLabel]=field.ontoInfoLabel [fieldLabel]=field.label [required]="(field.identityDefiningForSource)"
  [removedFromProfiles]=field.allSubfieldsRemovedFromAllProfiles [itemsMax]="field.targetMaxQuantity"
  [targetClassLabels]=targetClassLabels [displayMode]="nodeService.displayMode"
  [indentation$]="nodeService.indentation$" (add)="addClick()">

  <!-- <gv-type-item hastype *ngIf="field.isSpecialField==='has-type'" class="ml-3 mat-body mat-text-secondary"
    [pkEntity]="source.fkInfo" [pkProperty]="field.property.fkProperty" [pkTypedClass]="field.sourceClass"
    [pkTypeClass]="field.targetClasses[0]" [isOutgoing]="field.isOutgoing">
  </gv-type-item> -->

</gv-view-field-header>
<mat-divider [hidden]="!(showHeader$|async)"></mat-divider>

<!-- Body -->
<gv-view-field-body [showBodyOnInit]="showBodyOnInit" #b [source]="source" [field]="field" [scope]="scope"
  [showOntoInfo$]="showOntoInfo$">
</gv-view-field-body>