<div class="modal-header">
  <h4 class="modal-title">
    {{modalService.modalTitle}}
  </h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng2-slim-loading-bar color="inherit"></ng2-slim-loading-bar>
<div class="modal-body">

  <gv-entity-add-choose-class *ngIf="state==='choose-class'"></gv-entity-add-choose-class>
  <gv-entity-add-search-existing [hidden]="state!=='search-existing'"></gv-entity-add-search-existing>
  <!-- <gv-entity-add-create-new
  [projectId]="projectId"
  (newState)="changeState($event)"
  *ngIf="state==='create-new'"></gv-entity-add-create-new> -->

  <gv-entity-add-add-existing *ngIf="state==='add-existing'"></gv-entity-add-add-existing>

</div>
<div class="modal-footer">
  <button class="btn btn-outline-dark btn-sm mr-auto" (click)="changeState(modalService.previousState)" [hidden]="!modalService.previousState">
    <i class="fa fa-arrow-left"></i>  Back
  </button>
  <button class="btn btn-outline-dark btn-sm" (click)="activeModal.dismiss('Cross click')">
    Cancel
  </button>
  <button type="button" class="btn btn-primary btn-sm" *ngIf="modalService.addButtonVisible"
  (click)="add()">
    Add selected information to project
  </button>

</div>

<!--
<ng-template #rt let-r="result" let-t="term">
<small class="text-muted">{{r.pk_persistent_item}}</small> {{ r.notes}}
</ng-template>

<form class="form-inline" name="form" (ngSubmit)="f.form.valid && addPeItToProject()" #f="ngForm" novalidate>
<div class="form-group  mr-sm-3">
<input id="typeahead-http" type="text" class="form-control"  name="default_language"
[class.is-invalid]="searchFailed" [(ngModel)]="peItToAdd" #language="ngModel"
[ngbTypeahead]="searchPeIt" [resultTemplate]="rt" placeholder="Search for a persistent item"
[inputFormatter]="formatter"  />
<span *ngIf="searching">searching...</span>
<div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>
<div class="form-group" *ngIf="peItToAdd?.pk_persistent_item">
<button [disabled]="loading" class="btn btn-primary" type="submit">Add existing persistent item</button>
<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
</form> -->