.inside-height-center {
    display: flex; 
    flex-direction:column; 
    justify-content: center;
}

.inside-width-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}