<div class="gv-full-with mb-3" *ngIf="formField" style="justify-content: space-between;">
  <div class="gv-row" style="width: 100%; justify-content: space-between;">
    <span class="mat-caption mat-text-secondary" style=" margin: auto;
      white-space:nowrap;">{{formArrayFactory?.config.placeholder}}</span>
    <span class="mat-caption mat-text-secondary" matTooltip="Required" *ngIf="formArrayFactory.config.required"> *
    </span>
    <mat-divider class="ml-2 mr-2" style="width:100%; margin: auto;"></mat-divider>
    <span class="mat-caption mat-text-secondary" style="margin: auto;">({{length}}/{{isInfinity(maxLength) ? 'n' :
      maxLength}})</span>

  </div>

  <div class="gv-column">
    <mat-icon color="primary" class="inside-width-center ml-2" style="font-size: 20px; height: 20px; cursor: pointer;"
      (click)="addItemInField(
      formField.field, formField.field.targetClasses[0])"
      *ngIf="formField.field?.targetClasses.length===1 && length < maxLength">
      add
    </mat-icon>

    <mat-icon class="inside-width-center ml-2" *ngIf="length >= maxLength"></mat-icon>

    <mat-icon color="primary" style="font-size: 20px; height: 20px; cursor: pointer;" [matMenuTriggerFor]="menu"
      class="inside-width-center ml-2" style="font-size: 20px; height: 20px; cursor: pointer;"
      *ngIf="formField.field?.targetClasses.length > 1">
      add
    </mat-icon>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let pkClass of formField.field.targetClasses "
      (click)="addItemInField(formField.field, pkClass)">
      {{formField.field.targets[pkClass]?.targetClassLabel}}
    </button>
  </mat-menu>
</div>