<gv-list-header class="mat-tree-node  align-items-baseline" [listDefinition]="listDefinition"
  [treeControl]="treeControl" [readonly$]="readonly$" [itemsCount$]="itemsCount$"
  (addClick)="t.showControl$.next(listDefinition)"></gv-list-header>


<div class=" table-and-paginator-container mat-elevation-z4mx-2" *ngIf="treeControl.isExpanded(listDefinition)">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <!-- Empty Column -->
      <ng-container matColumnDef="empty">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <!-- Generic Cell Column -->
      <ng-container *ngFor="let column of dataColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element[column]?.listDefinition?.listType !== 'entity-preview'">
            {{element[column]?.label}}
          </span>
          <span *ngIf="element[column]?.listDefinition?.listType === 'entity-preview' && element[column]?.items.length">
            <gv-entity-preview [dragEnabled]="false" [preview]="element[column].items[0].preview"></gv-entity-preview>
          </span>
          <span class="text-muted small" *ngIf="element[column].items.length > 1">
            + {{element[column].items.length - 1}}
          </span>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="action-cell">
          <mat-menu #appMenu="matMenu">

            <button mat-menu-item>
              <mat-icon>add</mat-icon>
              Add a new Name
            </button>
            <mat-divider></mat-divider>
            <div class="dropdown-header">Columns</div>

            <button *ngFor="let col of dataColumns" mat-menu-item (click)="toggleCol(col); $event.stopPropagation(); ">
              <mat-checkbox color="accent" [checked]="dataColumnsMap[col]">
                {{col}}
              </mat-checkbox>
            </button>

          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element" class="action-cell">
          <button mat-icon-button aria-label="Actions on table row">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
