<div class="mb-3" *ngIf="!hasOnlyCircularRole" (mouseenter)="enableDrag()" (mouseleave)="disableDrag()" (touchstart)="enableDrag()">

  <gv-role-set-header [property$]="property$" [label$]="label$" [ontoInfoVisible$]="ontoInfoVisible$" [toggle$]="toggle$"
    [rolesCount]="(roles$ | async)?.length" [removeRoleSetBtnVisible]="removeRoleSetBtnVisible" (startAddingRole)="startAddingRole()"
    (toggleCardBody)="toggleCardBody()"></gv-role-set-header>

  <div [@slideInOut]="(toggle$|async)">
    <!-- The roles in project -->
    <div dnd-sortable-container [sortableData]="roleDetails" [dropZones]="['dropZone-'+index]" class="list-group">
      <div *ngFor="let entry of roleDetails; trackBy:getKey; let i = index" dnd-sortable [sortableIndex]="i" [dragData]="entry"
        (onDragEnd)="onDrag($event)" [dragEnabled]="(dragEnabled$|async)" class="list-group-item p-0">
        <gv-te-ent-role-editable [parentPath]="basePath" [index]="entry.key" (stopEditing)="stopEditing(entry.key)"
          (startUpdating)="startUpdatingRole(entry.key, $event)">
          <div headerRight class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">

            <button class="btn btn-link" ngbDropdownToggle>
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">

              <!-- <button class="dropdown-item" (click)="startEditing(entry.key)">Edit</button> -->

              <button class="dropdown-item" (click)="removeFromProject(entry.key)">Remove</button>

            </div>
          </div>
        </gv-te-ent-role-editable>

      </div>
    </div>

    <!-- If no roles in Project, show a big add button -->
    <div class="card-body" *ngIf="!(_role_list$ | async) && !(_role_set_form$ | async) && addButtonVisible">
      <button class="btn btn-primary" (click)="startAddingRole()">
        Add {{(label$ | async).default}}
      </button>
      <button class="btn btn-link" (click)="removeRoleSet()">
        Cancel
      </button>
    </div>

    <gv-te-ent-role-set-form *ngIf="(_role_set_form$ | async)" [parentPath]="basePath" [parentTeEntPath]="parentTeEntStatePath"
      (createRoles)="createRoles($event)"></gv-te-ent-role-set-form>


    <!-- Spinner for when loading roles not in project -->

    <div class="card-body" *ngIf="(rolesNotInProjectLoading$|async)">
      <i class="fa fa-spinner fa-pulse"></i> Searching for existing {{(label$ | async).sg}}…
    </div>

    <!-- 
  <div class="card-body" *ngIf="(roleStatesInNoProjectVisible$|async) || (roleStatesInOtherProjects$|async)?.length">
    <button type="button" class="btn btn-primary" [ngClass]="{disabled:(!isReadyToAddRoles)}" (click)="addSelectedRolesToProject()">Add selected</button>
    <button type="button" class="btn btn-link" (click)="cancelSelectRoles()">Cancel</button>
  </div> -->


  </div>

</div>