<div class="gv-td-menu-container">

  <div class="gv-td-menu-item mat-border-top mat-border-left gv-td-col-toggler orange">
    <button class="mat-menu-trigger mat-flat-button mat-button-base mat-primary center-vert"
      (click)="tableConfiguration()">
      Edit columns
    </button>
  </div>
  <div class="gv-td-menu-item mat-border-top mat-border-left gv-td-col-checkbox orange">

    <!-- Edit mode -->
    <mat-checkbox (change)="changeTableMode($event.checked)">Edit mode</mat-checkbox>

    <!-- Filter Toggler -->
    <mat-checkbox [(ngModel)]="colFiltersEnabled">Filters</mat-checkbox>

    <!-- Metadata Toggler -->
    <mat-checkbox [(ngModel)]="lineBrakeInCells">Text break</mat-checkbox>
  </div>
  <div class="gv-td-menu-item mat-border-top mat-border-left gv-td-paginator orange">

    <!-- Paginator -->
    <mat-paginator [length]="length$ | async" [pageSize]="pageSize$ | async" [pageIndex]="pageIndex$ | async"
      [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="onPageChange($event)">
    </mat-paginator>

  </div>
</div>
<mat-divider></mat-divider>

<!--  [columnComments$]="" [loading]="" -->
<!-- // MOVED cellMapping TO EntityMatcherComponent -->
<gv-table [pkProject]="pkProject" [pkDigital]="pkEntity" [loading]="loading" [sortBy$]="sortByIndex$"
  [headers$]="headers$" [table$]="table$" [filteringEnabled]="colFiltersEnabled" [sortingEnabled]="true"
  [lineBreak]="lineBrakeInCells" [mode]="tableMode" [newRow]="newRowTemp" class="gv-overflow-hidden"
  (sortDemanded)="onSortChange($event)" (filterDemanded)="onFilterChange($event)"
  (createRowDemanded)="preNewRow($event.position)" (deleteRowDemanded)="deleteRow($event.pkRow)"
  (moveRowDemanded)="moveRow($event.pkRow, $event.position)" (validateNewRowDemanded)="newRow($event)"
  (cancelNewRowDemanded)="cancelNewRow()">
</gv-table>