<gv-class-info class="loc-icon" *ngIf="classLabel$|async" dnd-draggable [dragData]="preview$ | async"
  [showOntoInfo$]="showOntoInfo$" shade [size]="24" [pkClass]="fkClass$|async" [classLabel]="classLabel$|async"
  [isFavorite]="false" [shade]="'secondary'">
</gv-class-info>

<div class="loc-texts mat-typography">
  <h2 class="loc-text-item" [matTooltip]="(classLabel$ | async) +' – '+ ((preview$|async)?.entity_label)">
    <ng-container *ngIf="(preview$|async)?.entity_type == 'teEn'">{{classLabel$ | async}} –</ng-container>
    {{(preview$|async)?.entity_label}}
  </h2>
  <span class="loc-text-item mat-caption mat-text-secondary" [matTooltip]="'Class: ' + (classLabel$ | async)">
    {{classLabel$ | async}}</span>
  <span class="loc-text-item mat-caption mat-text-secondary" [matTooltip]="'Type: ' + ((preview$|async)?.type_label)"
    *ngIf="(preview$|async)?.fk_type">{{(preview$|async)?.type_label}}</span>
  <span class="loc-text-item mat-caption mat-text-secondary loc-id" [matTooltip]="'id: ' + pkEntity">id
    {{pkEntity}}</span>



</div>
<a *ngIf="  showVisibility$|async" href="" class="gv-passive-link loc-visibility-status mat-text-secondary"
  (click)="openVisibilityDialog()">
  <mat-icon [svgIcon]="'lock-outline'" *ngIf="(communityVisibility$|async)?.toolbox === false"></mat-icon>
  <mat-icon [svgIcon]="'lock-open-outline'" *ngIf="(communityVisibility$|async)?.toolbox === true"></mat-icon>

  <mat-icon [svgIcon]="'lock-outline'" *ngIf="(communityVisibility$|async)?.dataApi === false"></mat-icon>
  <mat-icon [svgIcon]="'lock-open-outline'" *ngIf="(communityVisibility$|async)?.dataApi === true"></mat-icon>
</a>
<div class="loc-buttons">


  <mat-button-toggle-group *ngIf="!readonly" class="loc-edit-toggle" [value]="editMode.value$|async"
    (change)="editMode.toggleValue()">
    <mat-button-toggle [value]="true" aria-label="Edit mode" [matTooltip]="'Edit mode [Shift + E]'">
      <mat-icon [svgIcon]="'pencil'"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="false" aria-label="Read mode" [matTooltip]="'Read mode [Shift + E]'">
      <mat-icon [svgIcon]="'eye'"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button class="loc-more-btn" mat-icon-button color="primary" [matMenuTriggerFor]="mainMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu" xPosition="before">

    <!-- toggle onto info -->
    <button mat-menu-item (click)="$event.stopPropagation();toggleOntoInfo();">
      <mat-slide-toggle color="accent" [checked]="(showOntoInfo$|async)" style="pointer-events: none">
        Ontology Info [Shift + O]
      </mat-slide-toggle>
    </button>

    <button [hidden]="readonly" mat-menu-item (click)="editMode.toggleValue();$event.stopPropagation();">
      <mat-slide-toggle color="accent" [checked]="editMode.value$|async" style="pointer-events: none">
        Edit mode [Shift + E]
      </mat-slide-toggle>
    </button>


    <button mat-menu-item (click)="showVisibility$.next(!showVisibility$.value);$event.stopPropagation();">
      <mat-slide-toggle color="accent" [checked]="showVisibility$|async" style="pointer-events: none">
        Visibility status
      </mat-slide-toggle>
    </button>

    <mat-divider *ngIf="!readonly"></mat-divider>
    <div class="dropdown-header" *ngIf="!readonly">Settings for class {{classLabel$|async}}
    </div>
    <gv-entity-label-config-open-btn *ngIf="fkClass$|async" [fkClass]="fkClass$ | async">
      <button mat-menu-item *ngIf="!readonly">
        <mat-icon svgIcon="cogs"></mat-icon>
        <span>Configure Labels</span>
      </button>
    </gv-entity-label-config-open-btn>
    <button *ngIf="!readonly" mat-menu-item (click)="openClassConfig()">
      <mat-icon svgIcon="cogs"></mat-icon>
      Configure Fields
    </button>
    <!-- remove -->
    <mat-divider *ngIf="!readonly"></mat-divider>
    <div class="dropdown-header" *ngIf="!readonly">Danger Zone</div>
    <button mat-menu-item (click)="openRemoveDialog();" *ngIf="!readonly">
      <mat-icon color="warn">delete</mat-icon>
      <span>Remove</span>
    </button>

  </mat-menu>
</div>
