:host {
  display: flex;
  flex-direction: row;
  // padding: 1rem 0 1rem 24px;
  align-items: center;
  width: 100%;
}
.loc-icon {
  display: flex;
  flex: 0 0 48px;
  align-items: center;
  justify-content: center;
}
.loc-texts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex: 1 1 0;
  overflow: hidden;
  // margin-right: 8px;
  .loc-text-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h2.loc-text-item {
    margin: 0;
    flex-shrink: 10;
    flex-grow: 0;
  }
  span.loc-text-item {
    flex-shrink: 1;
    flex-grow: 0;
  }
  span.loc-text-item.loc-id {
    flex-shrink: 0;
  }
  .loc-text-item ~ .loc-text-item {
    margin-left: 6px;
  }
}
.loc-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0;
}

// .loc-ellipsis {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   -webkit-line-clamp: 1; /* number of lines to show */
//   -webkit-box-orient: vertical;
// }
