<ng-container *ngIf="(alreadyHas$ | async) === true">
  <h1 mat-dialog-title>Existing information found in other projects!</h1>
  <mat-dialog-content>
    <p class="">
      About: {{classLabel_source$ | async}} {{sourceEntityLabel$ | async}} – {{data.field.label}} –
      {{classLabel_target$ | async}}
    </p>
    <p class="mat-body1">
      Select and add items from the list below or create a new item.
    </p>
    <gv-view-field-body class="h-100 mt-4" [source]="data.source" [field]="fieldWithOneTarget" [showBodyOnInit]="true"
      [scope]="scope$|async" [showOntoInfo$]="showOntoInfo$" [addMode$]="addMode$" (close)="onClose($event)"
      (next)="onNext()">
    </gv-view-field-body>
  </mat-dialog-content>
</ng-container>

<div class="loc-container" *ngIf="(alreadyHas$ | async) === false">
  <span class="loc-header">
    <span class="mat-h2">Add...</span>
    <div class="gv-row-center mat-caption mat-text-secondary pl-2 pr-2">
      <div class="loc-ellipsis">to {{classLabel_source$ | async}} – {{sourceEntityLabel$ | async}}
      </div>
      <div>
        <mat-icon svgIcon="arrow-right" class="loc-arrow-icon"></mat-icon>
      </div>
      <div class="loc-ellipsis">{{data.field.label}}</div>
    </div>
    <mat-divider></mat-divider>
  </span>



  <gv-slider [slide]="!data.showAddList ? 'center' : sliderView">
    <!--title height + padding bot + padding top  + divdier = 62 + 16 + 16 + 1 = 95  -->

    <!-- SLIDE 1 -->
    <ng-container left>
      <gv-hbf-panel>

        <!-- header -->
        <ng-container header>
          <span class="mat-h2">... a new {{this.fieldTargetClass.targetClassLabel}}</span>
        </ng-container>

        <!-- body -->
        <ng-container body>
          <gv-form-create-data class="gv-ovf-auto h-100" [field]="data.field" [pkClass]="data.targetClass"
            [source]="data.source" [hideTitle]="true" [hiddenProperty]="data.hiddenProperty" [hideButtons]="true"
            [initVal$]="initVal$" (searchString)="searchStringChange($event)" #f>
          </gv-form-create-data>
        </ng-container>

        <!-- footer -->
        <ng-container footer>
          <div class="gv-col-space-between">
            <button mat-flat-button color="primary"
              [disabled]="(f.submitted && f?.formFactory?.formGroup.invalid) || (loading$ | async)"
              (click)="onSubmit(f)">
              <span *ngIf="!(loading$ | async)">OK</span>
              <div *ngIf="loading$ | async" style="margin: 6px;">
                <mat-spinner [diameter]="20"></mat-spinner>
              </div>
            </button>
          </div>

          <div class="gv-col-space-between">
            <button mat-button type="button" class="ml-2 mr-2" (click)="dialogRef.close()">Cancel</button>
          </div>
        </ng-container>

      </gv-hbf-panel>
    </ng-container>

    <!-- SLIDE 2 -->
    <ng-container center *ngIf="data.showAddList">
      <gv-hbf-panel [footer]="false">

        <!-- header -->
        <ng-container header>
          <span class="mat-h2">... an existing {{this.fieldTargetClass.targetClassLabel}}</span>
        </ng-container>

        <!-- body -->
        <ng-container body>
          <gv-search-existing-entity class="gv-fh gv-ovf-auto" [pkClass]="(pkClass_target$ | async)"
            [confirmBtnTextInProject]="'Select'" [confirmBtnTextNotInProject]="'Add and Select'"
            [confirmBtnTooltipInProject]="'Select entity'"
            [confirmBtnTooltiptNotInProject]="'add to your project and select entity'" [searchString$]="searchString$"
            [mode]="sliderView === 'right' ? 'mode2' : 'mode1'" (onConfirm)="upsertSelected($event.pkEntity)"
            (onMore)="onMoreClick($event)" (onBack)="onBackClick()">
          </gv-search-existing-entity>
        </ng-container>

      </gv-hbf-panel>
    </ng-container>

    <!-- SLIDE 3 -->
    <ng-container right *ngIf="data.showAddList">
      <gv-hbf-panel [header]="false">

        <!-- body -->
        <ng-container body>
          <mat-tab-group mat-align-tabs="center" [selectedIndex]="(selectedInProject$ | async) ? 0 : 1" class="gv-fh">
            <mat-tab label="Your project version" [disabled]="!(selectedInProject$ | async)" class="gv-fh">
              <gv-entity-card *ngIf="(selectedPkEntity$ | async)" [source]="(source$ | async)"
                [pkClass$]="pkClass_target$" [showOntoInfo$]="showOntoInfo$" [scope]="{ inProject: pkProject }">
              </gv-entity-card>
            </mat-tab>

            <mat-tab label="Community version" class="gv-fh gv-col-space-between">
              <gv-entity-card *ngIf="(selectedPkEntity$ | async)" [source]="(source$ | async)"
                [pkClass$]="pkClass_target$" [showOntoInfo$]="showOntoInfo$" [scope]="{ inRepo: true }">
              </gv-entity-card>
            </mat-tab>
          </mat-tab-group>
        </ng-container>

        <!-- footer -->
        <ng-container footer>
          <button mat-flat-button type="button" color="primary" class="ml-2 mr-2" (click)="onSelect()">
            <span *ngIf="(selectedInProject$ | async)">Select</span>
            <span *ngIf="!(selectedInProject$ | async)">Add to project and select</span>
          </button>
          <button mat-button type="button" class="ml-2 mr-2" (click)="onClose(false)">Cancel</button>
        </ng-container>
      </gv-hbf-panel>
    </ng-container>
  </gv-slider>
</div>