<!-- Header -->
<div class="mb-3 gv-flex-shrink-0" *ngIf="(showHeader$ | async)">
  <gv-editor-header>
    <gv-pe-it-label labels [children]="(_children$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit"></gv-pe-it-label>
    <div type *ngIf="(_type$ | async)">
      <gv-type [basePath]="basePath.concat('_type')"></gv-type>
    </div>
    <gv-class-info classInfo [classConfig]="classConfig" iconPrimary="true"></gv-class-info>
    <div settings>
      <div class="btn-group" ngbDropdown placement="bottom-right" [autoClose]="'outside'">
        <button class="btn btn-link btn-lg no-caret" ngbDropdownToggle>
          <i class="fa fa-cogs"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="showCommunityStats()" *ngIf="!(communityStatsVisible$|async)">
            Show Community Statistics
          </button>
          <button class="dropdown-item" (click)="hideCommunityStats()" *ngIf="(communityStatsVisible$|async)">
            Hide Community Statistics
          </button>
          <button class="dropdown-item" (click)="showOntoInfo()" *ngIf="!(ontoInfoVisible$|async)">Show Ontology Info</button>
          <button class="dropdown-item" (click)="hideOntoInfo()" *ngIf="(ontoInfoVisible$|async)">Hide Ontology Info</button>
          <button class="dropdown-item" (click)="showRightPanel()" *ngIf="!(showRightPanel$|async)">Show Map & Timeline</button>
          <button class="dropdown-item" (click)="hideRightPanel()" *ngIf="(showRightPanel$|async)">Hide Map & Timeline</button>

        </div>
      </div>
    </div>
  </gv-editor-header>


</div>

<!-- Tools to edit PeIt  -->

<div [ngClass]="{'d-flex flex-row gv-grow-1 px-3 pb-1': !(sectionList$ | async)?.create}" style="flex-basis:100%"
  [hidden]="(sectionList$ | async)?.create">
  <div class="d-flex flex-column gv-grow-1" style="flex-basis:45%;">

    <!-- Properties Header -->
    <span *ngIf="(showPropertiesHeader$ | async)">

      <div class="gv-flex-shrink-0 d-flex border-bottom border-primary align-items-baseline mb-3">
        <div class="gv-grow-1 gv-btn-spacer-sm">
          <!-- <i class="fa fa-lightbulb-o"></i> -->
          Properties
        </div>
        <!-- Step 1 for adding a new property -->
        <button class="btn btn-sm btn-link" (click)="startSelectProperty()" *ngIf="!(isViewMode$ | async) && (selectPropState$ | async) === 'init' && (showAddAPropertyButton$ | async)"
          [ngClass]="{'invisible' : isolatedChild}">
          <i class="fa fa-plus"></i> Add a property
        </button>
      </div>

    </span>

    <!-- Add a property UI -->
    <div *ngIf="(!isolatedChild)">

      <!-- Step 2 for adding new Property section -->
      <gv-add-info-pe-it *ngIf="(selectPropState$ | async) === 'selectProp'" [uiElements]="uiElementsForAddInfo"
        [classConfig]="classConfig" [addedChildren$]="_children$" (addOptionSelected)="addOptionSelected($event)"
        (cancel)="stopSelectProperty()"></gv-add-info-pe-it>
    </div>

    <!-- Isolation mode -->
    <div class="gv-grow-1" style="overflow-y:auto" *ngIf="isolatedChild">
      <gv-pe-it-role-set-editable [parentPath]="basePath" [index]="isolatedChild"></gv-pe-it-role-set-editable>
    </div>

    <!-- Normal mode -->
    <div class="gv-grow-1" style="overflow-y:auto" *ngIf="!isolatedChild">
      <div *ngFor="let item of (_children$ | async) | keys; trackBy:getKey">
        <gv-pe-it-role-set-editable [parentPath]="basePath" [index]="item.key" (onRemoveRoleSet)="removeRoleSet(item.key)"></gv-pe-it-role-set-editable>
      </div>

      <div class="gv-flex-fh" *ngIf="(showSectionList$ | async)">
        <gv-section-list [basePath]="basePath.concat('sectionList')"></gv-section-list>
      </div>

      <div class="gv-flex-fh" *ngIf="(showRepros$ | async)">
        <gv-repros [basePath]="basePath.concat('repros')"></gv-repros>
      </div>

    </div>


  </div>

  <div class="d-flex ml-3" style="flex-basis:55%; overflow:hidden" *ngIf="(showRightPanel$ | async)">
    <div class="d-flex flex-column gv-grow-1" style="overflow:hidden">

      <div class="gv-flex-fh" *ngIf="(showMentionedEntities$ | async)">
        <div class="gv-flex-shrink-0 d-flex border-bottom border-primary align-items-baseline">
          <div class="gv-grow-1">
            <!-- <i class="fa fa-lightbulb-o"></i> -->
            Mentioned Entities
          </div>
          <!-- Step 1 for adding a new property -->
          <button class="btn btn-sm btn-link">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div>

      <div class="gv-flex-fh" *ngIf="(showAssertions$ | async)">
        <div class="gv-flex-shrink-0 d-flex border-bottom border-primary align-items-baseline">
          <div class="gv-grow-1">
            <!-- <i class="fa fa-lightbulb-o"></i> -->
            Assertions using this source
          </div>
          <!-- Step 1 for adding a new property -->
          <button class="btn btn-sm btn-link">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div>

      <div class="d-flex gv-grow-1 mb-3" *ngIf="(showMap$ | async)">
        <gv-map [path]="basePath" class="gv-grow-1 d-flex flex-column"></gv-map>
      </div>

      <gv-pe-it-timeline [path]="basePath" *ngIf="(showTimeline$ | async)"></gv-pe-it-timeline>

    </div>
  </div>
</div>

<!-- ********************** Isolated Create Section ***************************
     * - If 'create' is truthy, show a form with SourceCreateFormComponent
     *     listening to ok and cancel Outputs 
     -->
<div [hidden]="!(sectionList$ | async)?.create" [ngClass]="{'gv-flex-fh': (sectionList$ | async)?.create}">
  <gv-section-list [basePath]="basePath.concat('sectionList')"></gv-section-list>
</div>