<!-- Header -->
<div class="mb-3 gv-flex-shrink-0" *ngIf="(showHeader$ | async)">
  <gv-editor-header>
    <gv-pe-it-label labels [children]="(_children$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit"></gv-pe-it-label>
    <div type *ngIf="(_type$ | async)">
      <gv-type [basePath]="basePath.concat('_type')"></gv-type>
    </div>
    <gv-class-info classInfo [classConfig]="classConfig" iconPrimary="true"></gv-class-info>
    <div settings>
      <div class="btn-group" ngbDropdown placement="bottom-right" [autoClose]="'outside'">
        <button class="btn btn-link btn-lg" ngbDropdownToggle>
          <i class="fa fa-cogs"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="showCommunityStats()" *ngIf="!(communityStatsVisible$|async)">
            Show Community Statistics
          </button>
          <button class="dropdown-item" (click)="hideCommunityStats()" *ngIf="(communityStatsVisible$|async)">
            Hide Community Statistics
          </button>
          <button class="dropdown-item" (click)="showOntoInfo()" *ngIf="!(ontoInfoVisible$|async)">Show Ontology Info</button>
          <button class="dropdown-item" (click)="hideOntoInfo()" *ngIf="(ontoInfoVisible$|async)">Hide Ontology Info</button>
          <button class="dropdown-item" (click)="showRightPanel()" *ngIf="!(showRightPanel$|async)">Show Map & Timeline</button>
          <button class="dropdown-item" (click)="hideRightPanel()" *ngIf="(showRightPanel$|async)">Hide Map & Timeline</button>

        </div>
      </div>
    </div>
  </gv-editor-header>


</div>

<!-- Tools to edit PeIt  -->

<div class="d-flex flex-row gv-grow-1 px-3 pb-1" style="flex-basis:100%">
  <div class="d-flex flex-column gv-grow-1" style="flex-basis:45%;">

    <!-- Properties Header -->
    <span *ngIf="(showPropertiesHeader$ | async)">

      <div class="gv-flex-shrink-0 d-flex border-bottom border-primary align-items-baseline">
        <div class="gv-grow-1">
          <!-- <i class="fa fa-lightbulb-o"></i> -->
          Properties
        </div>
        <!-- Step 1 for adding a new property -->
        <button class="btn btn-sm btn-link" (click)="startSelectProperty()" *ngIf="(selectPropState$ | async) === 'init' && (showAddAPropertyButton$ | async) && !isolatedChild">
          <i class="fa fa-plus"></i> Add a property
        </button>
      </div>

    </span>

    <!-- Add a property UI -->
    <div class="mt-3" *ngIf="(!isolatedChild)">

      <!-- Step 2 for adding new Property section -->

      <!-- <div class="card gv-naming bg-gray-700" *ngIf="(selectPropState$ | async) === 'selectProp'">

        <div class="card-header bt-1">
          <div class="d-flex">
            <div class="gv-h4 text-white gv-grow-1 align-self-center">
              What do you want to add?
            </div>
            <button type="button" name="button" class="btn btn-link text-white align-self-center btn-sm" (click)="stopSelectProperty()">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>

        
      </div> -->
      <gv-add-info-pe-it *ngIf="(selectPropState$ | async) === 'selectProp'" [uiElements]="uiElementsForAddInfo"
        [classConfig]="classConfig" [addedChildren$]="_children$" (addOptionSelected)="addOptionSelected($event)"
        (cancel)="stopSelectProperty()"></gv-add-info-pe-it>
    </div>

    <!-- Normal mode -->
    <div class="gv-body gv-grow-1 mt-3" style="overflow-y:auto" *ngIf="!isolatedChild">
      <div *ngFor="let item of (_children$ | async) | keys; trackBy:getKey">
        <gv-pe-it-role-set-editable [parentPath]="basePath" [index]="item.key" (onRemoveRoleSet)="removeRoleSet(item.key)"></gv-pe-it-role-set-editable>
      </div>
    </div>


    <!-- Isolation mode -->
    <div class="gv-body gv-grow-1" style="overflow-y:auto" *ngIf="isolatedChild">
      <gv-pe-it-role-set-editable [parentPath]="basePath" [index]="isolatedChild"></gv-pe-it-role-set-editable>
    </div>

  </div>

  <div class="d-flex ml-3" style="flex-basis:55%; overflow:hidden" *ngIf="(showRightPanel$ | async)">
    <div class="d-flex flex-column gv-grow-1" style="overflow:hidden">

      <div class="d-flex gv-grow-1 mb-3">
        <gv-map [path]="basePath" class="gv-grow-1 d-flex flex-column"></gv-map>
      </div>

      <gv-pe-it-timeline [path]="basePath"></gv-pe-it-timeline>

    </div>
  </div>
</div>