<gv-list-drawer-header>
  <div title>Your Analyses</div>
  <div buttons>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="newTable()">
        <mat-icon svgIcon="table-large"></mat-icon>
        <span>Table</span>
      </button>
      <button mat-menu-item (click)="newTimelineContinuous()">
        <mat-icon svgIcon="chart-bell-curve"></mat-icon>
        <span>Timeline (continuous)</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="chart-bar"></mat-icon>
        <span>Timeline (by year)</span>
      </button>
      <button mat-menu-item>
        <mat-icon svgIcon="map-clock"></mat-icon>
        <span>Map with timeline</span>
      </button>
    </mat-menu>

    <button mat-flat-button [matMenuTriggerFor]="appMenu">
      Add
    </button>
  </div>

</gv-list-drawer-header>


<!-- Results count -->
<div class="mx-3 mb-3 px-3 text-muted font-sm" *ngIf="!(loading$ | async)">
</div>

<!-- <div *ngIf="(loading$ | async)" class="w-100 m-5 text-muted"><i class="fa fa-3x fa-pulse fa-spinner"></i></div> -->

<!-- Results -->
<div class="d-flex gv-fh mx-0 py-1 px-3 border-light gv-scroll-y-auto" *ngIf="!(loading$ | async)">
  <div *ngFor="let item of ((items$ | async) )" (click)="open(item)">
    <a href class="gv-passive-link" [matTooltip]="item?.pk_entity">
      {{item?.name}}
    </a>
    <div class="mb-3">
      <small class="text-muted">
        {{item?.description}}
      </small>
    </div>
  </div>

</div>
