<div class="gv-flex-fh" style="flex: 1 0 0; position: relative;">

  <!-- SPINNER -->
  <div *ngIf="loading" class="gv-table-spinner">
    <mat-spinner diameter=20></mat-spinner>
  </div>

  <!-- TABLE -->
  <p-table [value]="table" [scrollable]="true" [resizableColumns]="true" columnResizeMode="expand"
    class="gv-ui-table-full-height gv-ui-table-border-cells">

    <!-- Header params for prime-ng -->
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col *ngFor="let col of headers" style="width:200px">
      </colgroup>
    </ng-template>

    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th class="gv-pointer" *ngFor="let col of headers; let i = index" (click)="sort(i)" pResizableColumn>
          <table>
            <tr>
              <div class="gv-td-col-header row">
                <div class="col-9">
                  <div
                    [ngClass]="{'gv-white-space-nowrap gv-fade-out-right': !lineBreak, 'gv-word-wrap-break-word': lineBreak}">
                    {{col.colLabel}}
                  </div>
                  <div class="mat-caption"
                    [ngClass]="{'gv-white-space-nowrap gv-fade-out-right': !lineBreak, 'gv-word-wrap-break-word': lineBreak}">
                    {{col.comment}}</div>
                </div>
                <!-- SORT -->
                <mat-icon class="col-3" *ngIf="sortingEnabled && curSort.colNb == i"
                  [svgIcon]="curSort.direction === 'ASC' ? 'arrow-down' : 'arrow-up'">
                </mat-icon>
              </div>
            </tr>
            <tr *ngIf='type col.type == "number"'>

            </tr>
          </table>
        </th>
        <th *ngFor="let com of columnComments" pResizableColumn>{{com}}</th>
      </tr>

      <!-- FILTERING -->
      <tr class="table-row-filter" *ngIf="filteringEnabled">
        <th *ngFor="let col of headers; let i = index">
          <div class="mat-elevation-z3 gv-td-filter-box p-1">
            <gv-col-filter-text *ngIf="col.type=='string'" (filterChange)="filter(i, $event)"></gv-col-filter-text>
            <gv-col-filter-numeric *ngIf="col.type=='number'" (filterChange)="filter(i, $event)">
            </gv-col-filter-numeric>
          </div>
        </th>
      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let value of row; let i = index" class="ui-resizable-column" (click)='cellClick(rowIndex, i)'>
          <div
            [ngClass]="{'gv-white-space-nowrap gv-fade-out-right': !lineBreak, 'gv-word-wrap-break-word': lineBreak}">
            {{value}}
          </div>


        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<ng-template #cover>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>