<div class="gv-overflow-hidden" style="flex: 1 0 0; position: relative;">
  <div *ngIf="loading" class="gv-table-spinner">
    <mat-spinner diameter=20></mat-spinner>
  </div>

  <p-table [value]="(rows$ | async)" [scrollable]="true" [columns]="(columns$ | async)" [resizableColumns]="true"
    columnResizeMode="expand" class="gv-ui-table-full-height gv-ui-table-border-cells">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width:130px">
        <col *ngFor="let col of (columns$ | async)" style="width:250px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="gv-pointer" (click)="onSortChange('pk_row')" pResizableColumn>
          <div class="gv-td-col-header">
            <div>
              <div>Row ID</div>
              <div class="mat-caption">number</div>
            </div>
            <mat-icon *ngIf="(sortBy$ | async) == 'pk_row'"
              [svgIcon]="(sortDirection$ | async) === 'ASC' ? 'arrow-up' : 'arrow-down'">
            </mat-icon>
          </div>
        </th>

        <th class="gv-pointer " *ngFor="let col of (columns$ | async)" (click)="onSortChange(col.value)"
          pResizableColumn>
          <div class="gv-td-col-header">
            <div>
              <div>{{col.display}}</div>
              <div class="mat-caption" *ngIf="col.datColumn.fk_data_type === 3292">text</div>
              <div class="mat-caption" *ngIf="col.datColumn.fk_data_type === 3293">number</div>
            </div>
            <mat-icon *ngIf="(sortBy$ | async) == col.value"
              [svgIcon]="(sortDirection$ | async) === 'ASC' ? 'arrow-up' : 'arrow-down'">
            </mat-icon>
          </div>
        </th>

      </tr>
      <tr class="table-row-filter" *ngIf="colFiltersEnabled">
        <th>
          <div class="mat-elevation-z3 gv-td-filter-box">
            <gv-col-filter-numeric (filterChange)="onFilterChange('pk_row', $event)"></gv-col-filter-numeric>
          </div>
        </th>
        <th *ngFor="let col of (columns$ | async)">
          <div class="mat-elevation-z3 gv-td-filter-box">

            <gv-col-filter-numeric *ngIf="col.datColumn.fk_data_type === dtNumeric"
              (filterChange)="onFilterChange(col.value, $event)"></gv-col-filter-numeric>

            <gv-col-filter-text *ngIf="col.datColumn.fk_data_type === dtText"
              (filterChange)="onFilterChange(col.value, $event)"></gv-col-filter-text>

          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-columns>
      <tr>
        <td>{{row.pk_row}}</td>
        <td *ngFor="let col of (columns$ | async)">
          <div [ngClass]="{
            'gv-white-space-nowrap gv-fade-out-right': !lineBrakeInCells,
            'gv-word-wrap-break-word': lineBrakeInCells
            }">
            {{row[col.value]?.string_value}}
            {{row[col.value]?.numeric_value}}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #cover>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
