.loc-header {
  padding: 24px 24px 0 24px;
  flex: 0 0 60px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loc-body {
  flex: 1 1 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.loc-footer {
  padding: 0 24px 24px 24px; 
  flex: 0 0 60px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// if the footer or the header is not present, does not have a margin inbetween.
// similar to: put margin bottom to the header AND put margin top to the footer
.loc-item ~ .loc-item {
  margin-top: 24px
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: start;  

  height: 100%;
}