<div class="modal-header">
  <h4 class="modal-title">
    Info
  </h4>

  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng2-slim-loading-bar color="inherit"></ng2-slim-loading-bar>

<div class="modal-body" *ngIf="!isInProject">

  <gv-pe-it [pkEntity]="pkEntity" [peItState]="'add-pe-it'"
  (peItReadyToAdd)="onPeItReadyToAdd($event)"
  (peItNotReadyToAdd)="onPeItNotReadyToAdd()"
  ></gv-pe-it>

</div>


<div class="modal-body" *ngIf="isInProject">

  <gv-pe-it [pkEntity]="pkEntity" [peItState]="'view'"></gv-pe-it>

</div>

<div class="modal-footer d-flex flex-column align-items-stretch">
  <p *ngIf="!isInProject">
    {{stdAppe}} is not yet added to your Project. Do you want to add {{stdAppe}} to your Project?
  </p>
  <div class="d-flex justify-content-end">
    <button class="btn btn-link btn" (click)="modal.dismiss('Cancel click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary btn" (click)="addAndOpen()" *ngIf="isReadyToAdd && !isInProject">
      Add and Open {{stdAppe}}
    </button>
    <button type="button" class="btn btn-primary btn" (click)="open()" *ngIf="isInProject">
      Open {{stdAppe}}
    </button>
  </div>
</div>