<gv-detail-top-bar>
  <div class="ml-2">
    Controlled Vocabulary for {{(typedClass$ | async)?.label}}
  </div>
</gv-detail-top-bar>
<gv-detail-content class="p-3 gv-scroll-y-auto">


  <h3 mat-subheader>
    <span class="gv-grow-1">{{(typedClass$ | async)?.label}} Types</span>
    <button mat-icon-button color="primary" (click)="addOrCreate()">
      <mat-icon aria-label="Edit type">add_circle</mat-icon>
    </button>
  </h3>

  <mat-list>
    <mat-list-item *ngFor="let type of (items$ | async) | keys">

      <span class="gv-grow-1">{{getLabel(type.value)}} </span>

      <button mat-icon-button color="primary" class="mr-2" (click)=edit(type.value)>
        <mat-icon aria-label="Edit type">edit</mat-icon>
      </button>

      <button mat-icon-button color="primary" (click)=remove(type.value)>
        <mat-icon aria-label="Remove type">delete</mat-icon>
      </button>

      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>

</gv-detail-content>
