<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a routerLink="../../../../../">Your Projects</a></li>
    <li class="breadcrumb-item"><a routerLink="../../../../">{{projectLabel}}</a></li>
    <li class="breadcrumb-item">Settings</li>
    <li class="breadcrumb-item"><a routerLink="../../">Classes</a></li>
    <li class="breadcrumb-item"><a routerLink="../">{{classLabel}}</a></li>
    <li class="breadcrumb-item">Types</li>

  </ol>
</gv-navbar>
<gv-side-nav [projectLabel]="projectLabel" [levelsBelowSettings]="3">
  <h1>
    {{classLabel}} Types
  </h1>
  
  <!-- List or Tree of Types -->
  <div *ngIf="listVisible">

    <h3 class="mt-4">
      <span>[Custom] Controlled Vocabulary</span> <button class="btn btn-link" (click)="openAddForm()"><i class="fa fa-plus"></i></button>
    </h3>


    <ul>
      <li *ngFor="let type of (items$ | async) | keys">{{getLabel(type.value) | json}}</li>
    </ul>
  </div>

  <div *ngIf="(loading$ | async)" class="w-100 m-5 text-muted"><i class="fa fa-3x fa-pulse fa-spinner"></i></div>

  <!-- Add new type -->
  <gv-type-add-form *ngIf="(add$ | async)" (cancel)="closeAddForm()" (create)="createType($event)"></gv-type-add-form>

  <!-- Edit existing Type -->


  <!-- Remove Type from Project -->

</gv-side-nav>