<div class="palette">
  <div class="area">Gray Palette</div>
  <div class="area mat-bg-grey-50">mat-bg-grey-50</div>
  <div class="area mat-bg-grey-100">mat-bg-grey-100</div>
  <div class="area mat-bg-grey-200">mat-bg-grey-200</div>
  <div class="area mat-bg-grey-300">mat-bg-grey-300</div>
  <div class="area mat-bg-grey-400">mat-bg-grey-400</div>
  <div class="area mat-bg-grey-500">mat-bg-grey-500</div>
  <div class="area mat-bg-grey-600">mat-bg-grey-600</div>
  <div class="area mat-bg-grey-700">mat-bg-grey-700</div>
  <div class="area mat-bg-grey-800">mat-bg-grey-800</div>
  <div class="area mat-bg-grey-900">mat-bg-grey-900</div>
  <div class="area mat-bg-grey-A100">mat-bg-grey-A100</div>
  <div class="area mat-bg-grey-A200">mat-bg-grey-A200</div>
  <div class="area mat-bg-grey-A400">mat-bg-grey-A400</div>
  <div class="area mat-bg-grey-A700">mat-bg-grey-A700</div>
  <div class="area mat-bg-white">mat-bg-white</div>
</div>
<div class="palette">
  <div class="area">Primary Palette</div>
  <div class="area mat-bg-primary-50">mat-bg-primary-50</div>
  <div class="area mat-bg-primary-100">mat-bg-primary-100</div>
  <div class="area mat-bg-primary-200">mat-bg-primary-200</div>
  <div class="area mat-bg-primary-300">mat-bg-primary-300</div>
  <div class="area mat-bg-primary-400">mat-bg-primary-400</div>
  <div class="area mat-bg-primary-500">mat-bg-primary-500</div>
  <div class="area mat-bg-primary-600">mat-bg-primary-600</div>
  <div class="area mat-bg-primary-700">mat-bg-primary-700</div>
  <div class="area mat-bg-primary-800">mat-bg-primary-800</div>
  <div class="area mat-bg-primary-900">mat-bg-primary-900</div>
  <div class="area mat-bg-primary-A100">mat-bg-primary-A100</div>
  <div class="area mat-bg-primary-A200">mat-bg-primary-A200</div>
  <div class="area mat-bg-primary-A400">mat-bg-primary-A400</div>
  <div class="area mat-bg-primary-A700">mat-bg-primary-A700</div>
</div>
<div class="palette">
  <div class="area">Accent Palette</div>
  <div class="area mat-bg-accent-50">mat-bg-accent-50</div>
  <div class="area mat-bg-accent-100">mat-bg-accent-100</div>
  <div class="area mat-bg-accent-200">mat-bg-accent-200</div>
  <div class="area mat-bg-accent-300">mat-bg-accent-300</div>
  <div class="area mat-bg-accent-400">mat-bg-accent-400</div>
  <div class="area mat-bg-accent-500">mat-bg-accent-500</div>
  <div class="area mat-bg-accent-600">mat-bg-accent-600</div>
  <div class="area mat-bg-accent-700">mat-bg-accent-700</div>
  <div class="area mat-bg-accent-800">mat-bg-accent-800</div>
  <div class="area mat-bg-accent-900">mat-bg-accent-900</div>
  <div class="area mat-bg-accent-A100">mat-bg-accent-A100</div>
  <div class="area mat-bg-accent-A200">mat-bg-accent-A200</div>
  <div class="area mat-bg-accent-A400">mat-bg-accent-A400</div>
  <div class="area mat-bg-accent-A700">mat-bg-accent-A700</div>
</div>
