<!-- <pre>
  {{dataSource._flattenedData | async | json:2 }}
</pre> -->
<!-- https://github.com/angular/components/issues/13616 -->


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle [ngClass]="{
    'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node && !node.isDigital,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node && !node.isDigital}"
    draggable="true" (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
    (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">


    <!-- if expression portion -> edge of tree -->
    <div fxLayout="row">

      <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" [ngStyle]="{'padding-left.px': 40 * node.level}">

        <button mat-icon-button disabled> </button>

        <button *ngIf="!node.isDigital" mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon>
        </button>
        <button *ngIf="node.isDigital" mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror">description</mat-icon>
        </button>

        <div class="gv-ellipsis">
          {{node.name}}
        </div>
      </div>


      <div fxFlex="30" class="gv-ellipsis">
        {{node.typeLabel}}
      </div>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngTemplateOutlet="menuBtn; context:{node:node}"></ng-container>
      </div>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [ngClass]="{
    'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}" draggable="true"
    (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
    (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">

    <div fxLayout="row">

      <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" [ngStyle]="{'padding-left.px': 40 * node.level}">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <button mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon>
        </button>

        <div class="gv-ellipsis">
          {{node.name}}
        </div>
      </div>

      <div fxFlex="30" class="gv-ellipsis">
        {{node.typeLabel}}
      </div>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngTemplateOutlet="menuBtn; context:{node:node}"></ng-container>
      </div>
    </div>
  </mat-tree-node>
</mat-tree>

<div #emptyItem>
</div>

<button (click)="tempAdd()">Add</button>
<button (click)="tempRemove()">Remove</button>


<ng-template #menuBtn let-node="node">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu" xPosition="before">

    <!-- is folder -->
    <button mat-menu-item *ngIf="!node.isDigital">
      <mat-icon>folder</mat-icon>
      <span>Add a Section</span>
    </button>
    <button mat-menu-item (click)="addText(node)" *ngIf="!node.isDigital">
      <mat-icon>description</mat-icon>
      <span>Add a Text</span>
    </button>

    <!-- is digital -->
    <button mat-menu-item *ngIf="node.isDigital">
      <mat-icon>edit</mat-icon>
      <span>Open</span>
    </button>

  </mat-menu>
</ng-template>
