<div class="h-100" gdGap="10px" gdRows="40px auto 40px" gdColumns="50 50" gdAreas="header | content | footer"
  *ngIf="classAndTypePk && pkUiContext">
  <div class="ellipsis" gdArea="header">
    <!-- Header -->
    <h2 class="mat-h1">Add a {{classLabel$ | async}}</h2>
  </div>
  <div class="gv-overflow-hidden" gdArea="content">
    <div fxFlex fxLayout="row" class="mr-3">
      <!-- Left -->
      <div fxFlex="50" fxLayout="column" class="gv-overflow-hidden">
        <div class="gv-scroll-y-auto p-1">
          <gv-form-create-entity class="w-100" [pkClass]="classAndTypePk.pkClass" hideTitle="true" hideButtons="true"
            (cancel)="cancel.emit()" (saved)="onCreated($event)" (searchString)="searchStringChange($event)" #f>
          </gv-form-create-entity>
        </div>
      </div>

      <div fxFlex class="gv-scroll-y-auto ml-5">
        <!-- Right -->
        <gv-pe-it-search-existing *ngIf="(classType$ | async) === 'peIt'"
          [alreadyInProjectBtnText]="alreadyInProjectBtnText" [pkClass]="classAndTypePk.pkClass"
          [notInProjectBtnText]="notInProjectBtnText" [searchString$]="searchString$"
          (onAddExisting)="onNotInProjectClicked($event)" (onOpenExisting)="onAlreadyInProjectClicked($event)">
        </gv-pe-it-search-existing>

      </div>
    </div>
  </div>

  <div gdArea="footer">

    <button mat-flat-button color="primary"
      [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="f?.submit()">
      <span *ngIf="!f?.saving">Create</span>
      <div *ngIf="f?.saving" style="margin: 6px;">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </button>

    <button mat-button type="button" class="ml-2" (click)="f?.cancel.emit()">Cancel</button>

  </div>
</div>
