<gv-class-fields-section [fkProject]="fkProject" [fkClass]="fkClass" [section]="basic"
  [comment]="'Basic fields are available for all classes and can\'t be enabled/disabled.'">
</gv-class-fields-section>
<br><br>
<gv-class-fields-section [fkProject]="fkProject" [fkClass]="fkClass" [section]="metadata"
  [comment]="'Comment to be defined'">
</gv-class-fields-section>
<br><br>
<gv-class-fields-section [fkProject]="fkProject" [fkClass]="fkClass" [section]="specific"
  [comment]="'Specific fields are specific for this class and correspond to properties on OntoMe.Disable fields you don\'t need, reorder fields (drag&drop) or rename their labels according to your needs.'">
</gv-class-fields-section>