<button *ngIf="loaded$ | async" mat-icon-button [matMenuTriggerFor]="mainMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-progress-spinner diameter="20" *ngIf="!(loaded$ | async)" mode="{{mode$ | async}}" value="{{value$ | async}}"
  aria-label="Show progress of upload">
</mat-progress-spinner>



<mat-menu #mainMenu="matMenu" xPosition="before">

  <!-- is expression portion or digital -->
  <button mat-menu-item *ngIf="!rootIsF2Expression" (click)="openNode(node)">
    <mat-icon>edit</mat-icon>
    <span>Open</span>
  </button>

  <!-- is expression portion -->
  <mat-divider *ngIf="!isDigital && !rootIsF2Expression"></mat-divider>

  <!-- is expression or expression portion -->
  <button mat-menu-item *ngIf="!isDigital"
    (click)="addExpressionPortion({pkParent: pkParent, parentIsF2Expression: rootIsF2Expression})">
    <mat-icon>folder</mat-icon>
    <span>Add a Section</span>
  </button>
  <button mat-menu-item *ngIf="!isDigital"
    (click)="addText({pkParent: pkParent, parentIsF2Expression: rootIsF2Expression})">
    <mat-icon>description</mat-icon>
    <span>Add a Text</span>
  </button>

  <button mat-menu-item *ngIf="!isDigital"
    (click)="addTable({pkParent: pkParent, parentIsF2Expression: rootIsF2Expression})">
    <mat-icon>folder</mat-icon>
    <span>Add a Table</span>
  </button>

  <mat-divider *ngIf="!rootIsF2Expression"></mat-divider>

  <div *ngIf="!rootIsF2Expression" class="dropdown-header">Danger Zone</div>

  <!-- is expression portion or digital -->
  <button mat-menu-item *ngIf="!rootIsF2Expression" (click)="removeStatement(node)">
    <mat-icon color="warn">delete</mat-icon>
    <span>Remove</span>
  </button>

</mat-menu>