<!-- PLACE -->
<div *ngIf="vot?.place || value?.place" class="gv-center">
    <div class="display-field">
        <div>Latitude:&nbsp;</div>
        <div>{{value.place.lat}}</div>
    </div>
    <div class="display-field">
        <div>Longitude:&nbsp;</div>
        <div>{{value.place.long}}</div>
    </div>
</div>

<!-- LANG STRING -->
<div *ngIf="vot?.langString || value?.langString" class="gv-center">
    {{getLangString(value.langString)}}
</div>


<!-- APPELLATION -->
<div *ngIf="vot?.appellation || value?.appellation" class="gv-center">
    {{value.appellation.string}}
</div>


<!-- DIMENSION -->
<div *ngIf="vot?.dimension || value?.dimension" class="gv-center">
    {{value.dimension.numeric_value}} {{dimension_unit}}
</div>


<!-- TIME PRIMITIVE -->
<div *ngIf="vot?.timePrimitive || value?.timePrimitive" class="gv-center">
    {{stringifyJulianDate(value.timePrimitive)}}
</div>

<!-- LANGUAGE -->
<div *ngIf="vot?.language || value?.language" class="gv-center">
    {{value.language.notes}}
</div>