<!-- PLACE -->
<div *ngIf="vot.place" class="display-holder">
    <div class="display-field">
        <div>Latitude: </div>
        <div>{{value.place.lat}}</div>
    </div>
    <div class="display-field">
        <div>Longitude: </div>
        <div>{{value.place.long}}</div>
    </div>
</div>

<!-- LANG STRING -->
<div *ngIf="vot.langString" class="display-holder">
    {{getLangString(value.langString)}}
</div>


<!-- APPELLATION -->
<div *ngIf="vot.appellation" class="display-holder">
    {{value.appellation.string}}
</div>


<!-- DIMENSION -->
<div *ngIf="vot.dimension" class="display-holder">
    {{value.dimension.numeric_value}} {{dimension_unit}}
</div>


<!-- TIME PRIMITIVE -->
<div *ngIf="vot.timePrimitive" class="display-holder">
    {{stringifyJulianDate(value.timePrimitive)}}
</div>

<!-- LANGUAGE -->
<div *ngIf="vot.language" class="display-holder">
    {{value.language.notes}}
</div>