.action-col {
  width: 80px;
  padding-right: 0;
  text-align: right;
}
td.action-col.mat-mdc-cell:last-of-type,
td.action-col.mat-mdc-footer-cell:last-of-type,
th.action-col.mat-mdc-header-cell:last-of-type {
  padding-right: 0;
}


.mat-editable-cell {
  width: 180px;
}
