<ng-container *ngIf="!pkEntity">
    <mat-form-field class="loc-ctrl-ent-or-val" appearance="outline" (click)="openEntityOrValueDialog()"
        style="width:95%">
        <input matInput readonly placeholder="Default {{ (isEntity$|async) ? 'entity' : 'value'}}"
            [disabled]="disabled">
    </mat-form-field>
</ng-container>

<ng-container *ngIf="!!pkEntity">
    <gv-entity-preview *ngIf="isEntity$|async" class="gv-one-liner gv-row-center" [pkEntity]="pkEntity"
        [openTabOnClick]="true" style="width:95%">
    </gv-entity-preview>

    <gv-value-preview *ngIf="!(isEntity$|async)" class="gv-one-liner gv-row-center" [value]="value$|async"
        style="width:95%">
    </gv-value-preview>
</ng-container>