/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


/**
 * Bootstrap
 * Bootstrap variables are customized in src/assets/scss/bootstrap-variables.scss
 */
@import "src/assets/scss/bootstrap";



/**
 * Custom Fonts / Glyphs
 * Font-awesome is imported in angular-cli.json
 */
@import "src/assets/scss/glyphter-font/css/geovistory-font";



/**
 * Components
 * Styles for one angular component or multiple angular components with
 * the same visual design (e.g. naming and additional info).
 */
 // Project List
 @import "src/assets/scss/components/_project_list";

// Project Dashboard
@import "src/assets/scss/components/_project_dashboard";

// List of Names or Additional Infos
@import "src/assets/scss/components/_name_info_list";

// Name / Additional Info
@import "src/assets/scss/components/_name_info";

// Name Part / Property Alternative
@import "src/assets/scss/components/_namepart_infoproperty";

// Editor
@import "src/assets/scss/components/_edit";

// Project Entities
@import "src/assets/scss/components/_project_entities";

// Search hit
@import "src/assets/scss/components/_search_hit";

// Entity Add Modal
@import "src/assets/scss/components/_entity_add_modal";


/**
 * Generic stuff
 */

 body {
   background-color: $gray-100;
 }

 .container {
   min-width: 63rem;
   margin-top: 2rem;
 }

 button {
   cursor: pointer;
 }

 .gv-dropdown-secondary{
   .dropdown-menu{
     margin: 0;
     border-top-right-radius: 0;
     background-color: theme-color("secondary");
     .dropdown-item {
       color: $white;
     }
     .dropdown-item:focus, .dropdown-item:hover {
       color: $white;
       text-decoration: none;
       background-color: darken(theme-color("secondary"), 10%);
     }
   }
 }

 .gv-pointer{
   cursor: pointer;
 }
 .gv-flex-grow-1{
   flex-grow: 1;
 }

 .gv-search-hits-count{
   font-size: $font-size-sm;
   color: $text-muted;
   display: inline-block;
 }

// Navbar (main)
#nav{
  .breadcrumb{
    padding: 0.25rem .75rem;
    margin-bottom: 0;
  }
  #userDropdown{
    i {
      font-size:1.3rem;
    }
  }
  #userDropdown::after {
    display:none
  }
  #userIconBig{
    font-size:3rem;
    color: $gray-300;
    margin-top: 1rem;
  }
}

#userDashboard{
  #userImage{
    font-size:6rem;
    color: $gray-200;
  }
}