<gv-navbar>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="../../../">Your Projects</a></li>
        <li class="breadcrumb-item"><a routerLink="../../">{{projectLabel}}</a></li>
        <li class="breadcrumb-item">Settings</li>
        <li class="breadcrumb-item">Collaborators</li>
    </ol>
</gv-navbar>
<gv-side-nav [projectLabel]="projectLabel" [levelsBelowSettings]="1">
    <h2>Collaborators</h2>
    <div class="display-1">Coming Soon.</div>

    <div class="lead">A page for adding and removing collaborators.</div>
</gv-side-nav>