*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

server/datasources.development.js
deployment/tmp
openapi.yml
