<gv-pe-it-label [children]="(_children$ | async)" [classConfig]="classConfig"></gv-pe-it-label>


<div class="d-flex flex-column gv-flex-grow-1 mt-5" >

  <form #f="ngForm" (ngSubmit)="submit()">
    <gv-pe-it-add-ctrl [basePath]="basePath" name="peIt" [(ngModel)]="peIt" #val="ngModel" required></gv-pe-it-add-ctrl>
    
    <button *ngIf="addBtn" class="btn btn-primary" type="submit" [disabled]="f.invalid && f.submitted">Add</button>
    <button *ngIf="cancelBtn" class="btn btn-outline-secondary" type="button" (click)="cancel.emit()">Cancel</button>

  </form>

</div>

