@import "../../../../../styles.scss";
.left {
    display: flex;
    overflow: hidden;
    .icon {
        min-width: 1rem;
        padding-right: .2rem;
    }
    .label {
        text-overflow: ellipsis;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
    }
}

.right {
    width: 1rem;
    line-height: initial;
    padding: 0 0.7rem 0 0.5rem;
    margin-left: auto;
    font-size: $font-size-sm;
    @extend .btn;
    @extend .btn-link-gray;
}
