<div class="left" (mousedown)="activateTab.emit()">
  <div *ngIf="!(loading$ | async )" class="icon">
    <mat-icon *ngIf="tab.icon =='text'" class="gv-digital-color" style="font-size: 18px">description</mat-icon>

    <mat-icon *ngIf="tab.icon =='expression-portion'" class="gv-source-color" style="font-size: 18px">folder</mat-icon>


    <i *ngIf="tab.icon =='persistent-entity'" class="gv-icon gv-icon-persistent-entity gv-entity-color"></i>
    <i *ngIf="tab.icon =='temporal-entity'" class="fa fa-star-o  gv-entity-color"></i>
    <i *ngIf="tab.icon =='source'" class="gv-icon gv-icon-source gv-source-color"></i>
    <i *ngIf="tab.icon =='query'" class="gv-icon gv-icon-query gv-query-color"></i>
    <i *ngIf="tab.icon =='visual'" class="gv-icon gv-icon-visual gv-visual-color"></i>
    <i *ngIf="tab.icon =='settings'" class="fa fa-cogs gv-settings-color"></i>
  </div>
  <div *ngIf="(loading$ | async )" class="icon">
    <span class="fa fa-pulse fa-spinner text-muted"></span>
  </div>
  <div class="label">
    {{(title$ | async )}}
  </div>
</div>
<div class="right" (click)="closeTab.emit()">
  <i class="fa fa-close"></i>
</div>
