<div class="left" (mousedown)="activateTab.emit()">
  <div *ngIf="!(loading$ | async )" class="icon">
    <i *ngIf="tab.icon =='persistent-entity'" class="gv-icon gv-icon-persistent-entity text-primary"></i>
    <i *ngIf="tab.icon =='temporal-entity'" class="fa fa-star-o text-primary"></i>
    <i *ngIf="tab.icon =='source'" class="gv-icon gv-icon-source text-info"></i>
  </div>
  <div *ngIf="(loading$ | async )" class="icon">
    <span class="fa fa-pulse fa-spinner text-muted"></span>
    </div>
  <div class="label">
    {{(title$ | async )}}
  </div>
</div>
<div class="right" (click)="closeTab.emit()">
  <i class="fa fa-close"></i>
</div>