<as-split unit="pixel" class="gv-split-style" [direction]="'vertical'" gutterSize="1" [useTransition]="true">

  <as-split-area [size]="'*'" class="map">
    <gv-map-czml-layers [data$]="mapData$" [julianSecondOfCursor$]="julianSecondOfCursor$"
      (objectClicked)="onMapObjectClicked($event)">
    </gv-map-czml-layers>

    <div class="toolbar">

      <mat-card class="toolbar-item info-box" *ngIf="showInfoBox">
        <button class="close-btn" mat-icon-button (click)="showInfoBox=false; showInfoBtn=true">
          <mat-icon>close</mat-icon>
        </button>

        <mat-card-subtitle>
          Date
        </mat-card-subtitle>
        <mat-card-content>
          {{infoBox?.cursorInfo?.cursorDateLabel}}
        </mat-card-content>
        <mat-card-subtitle *ngIf="!infoBox?.cursorInfo?.activeLine">
          <i>Click on a point to inspect</i>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="infoBox?.cursorInfo?.activeLine">
          Activated Place
        </mat-card-subtitle>
        <mat-card-content *ngIf="infoBox?.cursorInfo?.activeLine">
          <gv-entity-preview [preview]="infoBox.geoEntity" [dragEnabled]="false" [openTabOnClick]="true">
          </gv-entity-preview>
          <!-- {{infoBox?.cursorInfo?.activeLine?.label}} -->
        </mat-card-content>
        <mat-card-subtitle *ngIf="infoBox?.cursorInfo?.activeLine">
          Value of Place at Date
        </mat-card-subtitle>
        <mat-card-content *ngIf="infoBox?.cursorInfo?.activeLine">
          {{infoBox?.cursorInfo?.linePoint.y}} <a href class="ml-3 gv-passive-link" matTooltip="Show details"
            (click)="onShowPointDetailsClick()"> show
            details </a>
        </mat-card-content>
      </mat-card>

      <button class="toolbar-item" mat-icon-button (click)="showInfoBox=true; showInfoBtn=false" *ngIf="showInfoBtn">
        <mat-icon>info</mat-icon>
      </button>

      <button class="toolbar-item" mat-icon-button
        (click)="fullscreen=true; showFullscreenExitBtn = true; showFullscreenBtn=false;" *ngIf="showFullscreenBtn">
        <mat-icon svgIcon="fullscreen"></mat-icon>
      </button>

      <button class="toolbar-item" mat-icon-button
        (click)="fullscreen=false; showFullscreenBtn=true; showFullscreenExitBtn=false;" *ngIf="showFullscreenExitBtn">
        <mat-icon svgIcon="fullscreen-exit"></mat-icon>
      </button>
    </div>



  </as-split-area>

  <as-split-area [size]="300" class="timeline">
    <gv-timeline-chart *ngFor="let line$ of (chartLines$|async); let i = index" [data$]="line$" [showCursor]=true
      [showInfoBox]="false" [showInfoBtn]="true" (cursorChange)="onCursorChange($event)"
      (showDetailsClick)=onShowLineDetailsClick() (chartLineDefChange)="onChartLineDefChange(i, $event)">
    </gv-timeline-chart>
  </as-split-area>




</as-split>
