<form [formGroup]="formGroup" *ngIf="formGroup">

  <!-- 
    In future we could inverse the logic: 
      - Show all _fields, including such of properties, that are disabled in the adding project
      - but make only those children selectable / addable, that are enabled 
   -->
  <div *ngFor="let item of (_fields$ | async) | keys; trackBy:getKey">
      <gv-pe-it-role-set-add-ctrl *ngIf="formGroup.get(item.key)" [parentPath]="basePath" [index]="item.key" [formControlName]="item.key"
        (touched)="markAsTouched()"></gv-pe-it-role-set-add-ctrl>
  </div>
</form>