<!--
    ************************* Editable State ************************* -->
<div *ngIf="(state$|async) === 'editable'">

    <gv-te-ent-existence-time-editable [parentPath]="parentPath"></gv-te-ent-existence-time-editable>

</div>



<!--
        ************************* Edit State ************************* -->

<div *ngIf="(state$|async) === 'edit'">
    <gv-te-ent-existence-time-edit [parentPath]="parentPath"></gv-te-ent-existence-time-edit>
</div>


<!--
    ************************* Add State ************************* -->
<div *ngIf="(state$|async) === 'add-pe-it' || (state$|async) === 'add'">

    <gv-te-ent-existence-time-add [parentPath]="parentPath"></gv-te-ent-existence-time-add>

</div>
