<div #toolbar class="gv-toolbar" [hidden]="!showDefaultToolbar">

    <span [hidden]="creatingAnnotation || readOnly">
        <span class="ql-formats">
            <!-- Add font size dropdown -->
            <select class="ql-size">
                <option value="small"></option>
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
            <!-- Add buttons as you would before -->
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
        </span>

        <span class="ql-formats">
            <select class="ql-header">
                <!-- Note a missing, thus falsy value, is used to reset to default -->
                <option selected></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
            </select>
        </span>
    </span>

    <!-- But you can also add your own -->
    <button class="d-flex justify-content-center float-right" [ngClass]="{'ql-active': showTokenIds}" (click)="toggleShowTokenIds()">
        <i class="fa fa-hashtag"></i>
    </button>
</div>
<div #editor class="gv-editor" [ngClass]="{'gv-show-token-ids': showTokenIds}"></div>
