<mat-card class="mb-5">
  <mat-card-title>Explanation</mat-card-title>
  <mat-card-content>
    The following table represents the data stored in
    <code>system.class_has_type_property</code> in a readable way.
    Below, the columns <code>fk_class</code> and <code>fk_property</code> come from the table itself, the other columns are there to make it readable.
    <br>
    <br>
    The Table <code>system.class_has_type_property</code> itself stores the relation between a Typed Class and 
    the property that leads to the Class that holds Types of the Typed Class. 
  </mat-card-content>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="pk_typed_class">
    <th mat-header-cell *matHeaderCellDef> <strong>fk_class</strong> (Typed Class)</th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.pk_typed_class}}</strong> </td>
  </ng-container>

  <ng-container matColumnDef="typed_class_label">
    <th mat-header-cell *matHeaderCellDef> Typed Class label </th>
    <td mat-cell *matCellDef="let element"> {{element.typed_class_label}} </td>
  </ng-container>

  <ng-container matColumnDef="dfh_pk_property">
    <th mat-header-cell *matHeaderCellDef> <strong>fk_property</strong></th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.dfh_pk_property}}</strong> </td>
  </ng-container>

  <ng-container matColumnDef="property_label">
    <th mat-header-cell *matHeaderCellDef> Property label </th>
    <td mat-cell *matCellDef="let element"> {{element.property_label}} </td>
  </ng-container>

  <ng-container matColumnDef="pk_type_class">
    <th mat-header-cell *matHeaderCellDef> Type Class </th>
    <td mat-cell *matCellDef="let element"> {{element.pk_type_class}} </td>
  </ng-container>

  <ng-container matColumnDef="type_class_label">
    <th mat-header-cell *matHeaderCellDef> Type Class label </th>
    <td mat-cell *matCellDef="let element"> {{element.type_class_label}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>