<!-- <div class="btn-group d-flex mb-3" role="group" aria-label="Basic example" style="flex-shrink:0;">
  <div class="gv-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
    <div class="align-self-center">
      <i class="fa fa-quote-right"></i> Annotations
    </div>
  </div>
  <button class="btn btn-gray-700" (click)="startCreate()">
    <i class="fa fa-plus"></i>
  </button>
</div> -->


<!-- If edit, show only the editing interface -->
<div *ngIf="(edit$|async)">

  <div class="mb-3" *ngIf="!(edit$|async)?.selectingSegment">
    <h5>Edit Annotation</h5>
  </div>

  <form [formGroup]="formGroup">
    <gv-annotation-ctrl [formControlName]="'annotationCtrl'" [path]="annotationCtrlPath"></gv-annotation-ctrl>
    <button class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid">Ok</button>
    <button class="btn btn-outline-secondary" (click)="cancelEdit()">Cancel</button>
  </form>

</div>

<!-- If remove, show the remove interface  -->
<div *ngIf="(remove$|async)" style="overflow-y:auto">
  <div class="mb-3">
    <h5>Remove Annotation</h5>
    <p>Are you sure?</p>
  </div>

  <gv-annotation-view [annotation]="(remove$|async)"></gv-annotation-view>
  <button class="btn btn-outline-danger">Remove</button>
  <button class="btn btn-outline-secondary" (click)="cancelRemove()">Cancel</button>
</div>

<!-- Else show all view  -->
<div [hidden]="((edit$|async) || (remove$|async))" style="overflow-y:auto">
  <div class="mb-3">
    <h5>Annotations of this Source</h5>
  </div>

  <gv-annotation-view *ngFor="let entry of (view$|async) | keys" [annotation]="entry.value" (edit)="startEdit(entry.value)"
    (remove)="startRemove(entry.value)"></gv-annotation-view>

</div>