<h2 class="form-title mat-h2 row-center" *ngIf="!formFactory?.formGroupFactory.globalConfig.hideTitle">
  Create a new {{classLabel}} or... {{formFactory?.formGroupFactory.globalConfig.hideTitle}}
</h2>

<form *ngIf="formFactory?.formGroup" [formGroup]="formFactory?.formGroup">
  <gv-form-group [formGroupFactory]="formFactory.formGroupFactory"></gv-form-group>
  <button mat-button type="button" color="primary" class="mt-2" (click)="setAdvanced(!advancedMode$.value)"
    *ngIf="!(advancedMode$|async)">Advanced form</button>
</form>

<div *ngIf="!hideButtons && formFactory?.formGroup" class="form-buttons mt-3 align-space-between">
  <button mat-flat-button color="primary" [disabled]="(submitted && formFactory?.formGroup.invalid) || saving"
    (click)="submit()">
    <span *ngIf="!saving">Create</span>
    <span *ngIf="saving">Saving</span>
  </button>
  <button mat-button type="button" class="ml-2" (click)="cancel.emit()">Cancel</button>
</div>