<div class="gv-search-hit" dnd-draggable [dragEnabled]="true" [dragData]="entityPreview" (click)="linkClicked()">
  <div class="gv-search-hit-header">
    <div class="d-flex">
      <div class="gv-grow-1">
        <a href class="gv-passive-link">
          <gv-data-unit-preview [preview]="entityPreview"></gv-data-unit-preview>
        </a>
      </div>
      <div class="d-flex">
        <div class="gv-search-hit-is-in-project" *ngIf="repositorySearch && isInProject">
          Already in your project
        </div>
        <div class="gv-search-hit-project-count text-right" *ngIf="repositorySearch">
          <i class="fa fa-check"></i> {{projectsCount}} {{projectsCount === 1 ? 'project' : 'projects'}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="gv-grow-1">
      <div class="gv-search-hit-body text-muted">
        <i class="gv-search-hit-property" [innerHtml]="hit.full_text_headline">
        </i>
      </div>
    </div>
  </div>
</div>