<div class="gv-search-hit">
  <div class="gv-search-hit-header">
    <div class="d-flex">
      <div class="gv-grow-1">
        <a href class="gv-passive-link" (click)="linkClicked()">
          {{standardAppellationLabel?.getString()}}
        </a>
      </div>
      <div class="d-flex">
        <div class="gv-search-hit-is-in-project" *ngIf="repositorySearch && isInProject">
          Already in project
        </div>
        <div class="gv-search-hit-project-count text-right" *ngIf="repositorySearch">
          <i class="fa fa-check"></i> {{projectsCount}} {{projectsCount === 1 ? 'project' : 'projects'}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="gv-grow-1">
      <!-- <div class="gv-search-hit-body">
        <span class="gv-search-hit-property text-muted">Person</span>
        <span class="gv-search-hit-property">[TODO Birth 1573, Basel]</span>
        <span class="gv-search-hit-property">[TODO Death 1624, Bern]</span>
      </div> -->
      <div class="gv-search-hit-body text-muted">
        <i class="gv-search-hit-property" *ngFor="let item of headlineItems">
          <span [innerHtml]="item"></span>
        </i>
      </div>
    </div>
    <div *ngIf="repositorySearch && !selectRoleRange">
      <button type="button" name="button" (click)="open()" class="btn btn-primary btn-sm" *ngIf="isInProject">Open</button>
      <button type="button" name="button" (click)="add()" class="btn btn-primary btn-sm" *ngIf="!isInProject">Add ...</button>
    </div>
    <div *ngIf="repositorySearch && selectRoleRange">
        <button type="button" name="button" (click)="open()" class="btn btn-primary btn-sm" *ngIf="isInProject">Select</button>
        <button type="button" name="button" (click)="add()" class="btn btn-primary btn-sm" *ngIf="!isInProject">Select</button>
         </div>
    <div *ngIf="selectingMentionedEntities">
      <button type="button" name="button" (click)="selectAsMentioned()" class="btn btn-success btn-sm">Select as mentioned</button>
    </div>
  </div>
</div>