<div class="chart" gvDimensionChange (dimensionsChange)="onDimensionsChange($event)">

  <svg [attr.width]="width" [attr.height]="height" draggableXAxis (onDrag)="onDrag($event)"
    *ngIf="chartLine?.config?.data" #referenceEl>
    <g class="x-axis x-axis-julian" [xAxisVisual]="xAxisJulian"></g>
    <g class="x-axis x-axis-gregorian" [xAxisVisual]="xAxisGreg"></g>
    <g [yAxisVisual]="yAxis"></g>
    <g [chartLineVisual]="chartLine"></g>
    <!-- <rect [attr.width]="width" [attr.height]="20" [rangeEmitterOnMouseDown]="referenceEl"
      [attr.transform]="'translate(0,'+ (height-marginTop) +')'" [attr.fill]="'blue'" opacity="0"
      (onRangeChange)="onChangeCursorPosition($event)"></rect> -->

  </svg>

  <div class="toolbar-menu" *ngIf="width < 450 && chartLine?.config?.data">
    <button mat-icon-button [matMenuTriggerFor]="toolbar">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #toolbar="matMenu" xPosition="after" yPosition="below">
      <mat-form-field class="px-3 pt-2 w-100" (click)="$event.stopPropagation();">
        <mat-label>Active Line</mat-label>
        <mat-select (click)="$event.stopPropagation();" [value]="chartLine?.config?.data.activeLine"
          [compareWith]="compareWith" [ngClass]="{'empty-select': !chartLine?.config?.data.activeLine}"
          (selectionChange)="chartLine.activateLine($event.value)">
          <mat-option [value]="-1" class="empty-select"><span class="mat-text-secondary">-- None --</span>
          </mat-option>
          <mat-option *ngFor="let item of chartLine?.config?.data?.chartLines; let i = index;" [value]="i">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <gv-zoom-slider class="px-3 pt-2 d-flex" [zoomer]="zoomer" (change)="redraw()"
        (click)="$event.stopPropagation();">
      </gv-zoom-slider>
    </mat-menu>
  </div>

</div>

<div class="toolbar" *ngIf="width >= 450 && chartLine?.config?.data">

  <gv-zoom-slider class="d-flex" [zoomer]="zoomer" (change)="redraw()"></gv-zoom-slider>
  <mat-divider class="h-100 mx-2" [vertical]="true"></mat-divider>
  <span class="mat-body mx-2">
    Active:
  </span>
  <mat-select [value]="chartLine?.config?.data.activeLine" [compareWith]="compareWith"
    [ngClass]="{'empty-select': !chartLine?.config?.data.activeLine}"
    (selectionChange)="chartLine.activateLine($event.value)">
    <mat-option [value]="-1" class="empty-select"><span class="mat-text-secondary">-- None --</span></mat-option>
    <mat-option *ngFor="let item of chartLine?.config?.data?.chartLines; let i = index;" [value]="i">
      {{item.label}}
    </mat-option>
  </mat-select>
  <mat-divider class="h-100 mx-2" [vertical]="true"></mat-divider>

</div>

<!--
<div class="info-box mat-elevation-z3">
  <div class="mat-h2">
    Info
  </div>
  <div class="mat-caption mat-text-secondary">
    Date
  </div>
  <p class="mat-body">
    {{xInfo.label}}
  </p>

  <div class="mat-caption mat-text-secondary">
    Active line
  </div>
  <p class="active-line-label">
    {{chartLine?.config?.data?.chartLines[chartLine?.config?.data.activeLine]?.label}}
  </p>
  <div class="mat-caption mat-text-secondary" *ngIf="chartLine?.config?.data?.activeLine !== undefined">
    Y-value of active line
  </div>
  <div class="y-axis-label" *ngIf="chartLine?.config?.data?.activeLine !== undefined">
    {{yInfo.label}}
  </div>
</div> -->

<mat-card class="info-box" *ngIf="showInfoBox">

  <button class="close-btn" mat-icon-button (click)="showInfoBox=false; showInfoBtn=true">
    <mat-icon>close</mat-icon>
  </button>


  <mat-card-content class="mt-3" *ngIf="chartLine?.config?.data?.activeLine == undefined">
    <i>Click a line to inspect</i>
  </mat-card-content>
  <mat-card-subtitle *ngIf="chartLine?.config?.data?.activeLine !== undefined">
    Active line
  </mat-card-subtitle>
  <mat-card-content *ngIf="chartLine?.config?.data?.activeLine !== undefined">
    <div>{{chartLine?.config?.data?.chartLines[chartLine?.config?.data?.activeLine]?.label}}</div>
    <a href *ngIf="chartLine?.config?.data?.chartLines[chartLine?.config?.data?.activeLine]?.pkEntities"
      class="gv-passive-link" matTooltip="Show details"
      (click)="onAllItemsClick(chartLine?.config?.data?.chartLines[chartLine?.config?.data?.activeLine]?.pkEntities)">
      {{chartLine?.config?.data?.chartLines[chartLine?.config?.data?.activeLine]?.pkEntities?.length}} items in
      total</a>
  </mat-card-content>
  <mat-card-subtitle>
    Date
  </mat-card-subtitle>
  <mat-card-content>
    <div>{{cursorInfo.cursorDateLabel}}</div>
    <a href *ngIf="cursorInfo.activeLine" class="gv-passive-link" matTooltip="Show details"
      (click)="onShowDetailsClick()"> {{cursorInfo?.linePoint?.y}} items on this date</a>
  </mat-card-content>
  <!-- <mat-card-subtitle *ngIf="cursorInfo.activeLine">
    Y-value of active line
  </mat-card-subtitle> -->
  <!-- <mat-card-content>
  </mat-card-content> -->
</mat-card>

<button class="info-btn" [ngClass]="{'is-small': width < 450 }" mat-icon-button
  (click)="showInfoBox=true; showInfoBtn=false" *ngIf="showInfoBtn">
  <mat-icon>info</mat-icon>
</button>
