.gv-edit{
  min-width: 64rem;
  gv-project-edit-panel{
    position: 'relative';
    gv-entity,
    gv-project-entities,
    gv-source,
    gv-project-sources,
    div[body] {
      display: flex;
      flex-direction: column;
    }
  }
  .gv-edit-panel{
    height: calc(100vh - 56px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;

    position: relative;
    width: 100%;
    min-height: 1px;

    .gv-back-btn {
      position: absolute;
    }
    .gv-edit-panel-header {
      flex-grow: 0;
      margin: 3rem 0 2rem 0;
      padding-right: 15px;
      padding-left: 15px;
    }
    .gv-edit-panel-body {
      flex-grow: 1;
      overflow-y: auto;
      padding-right: 15px;
      // margin-right: 10px;
      padding-left: 15px;
      .card.gv-naming,
      .card.gv-addinfo {
        margin-bottom: .5rem;
      }
    }
  }

  #sources{
    .gv-edit-panel-close {
      position: absolute;
      right: 0;
      top: 0;
    }
    right:0;
  }
  #sources[ng-reflect-state-input="s50"]{
    .gv-edit-panel {
      border-right: 1px solid theme-color("primary");
    }
  }

  #information{
    .gv-edit-panel-close {
      position: absolute;
      right: 0;
      top: 0;
    }
    right:0;
  }
}