// List item representing one Name Part or one Property Alternative
.gv-name-part {
  .gv-name-dropdown {
    .dropdown-toggle{
      margin: (-$card-spacer-y) (-$card-spacer-x) 0 $card-spacer-x;
      border-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: none;
    }
    .dropdown-toggle::after{
      content: none;
    }
  }
  .gv-label {
    flex-grow: 1;
    .gv-edit-btn {
      display: none;
    }
    .gv-separator-token{
      display: inline-block;
      float: left;
      min-width: 0.9rem;
      margin-right: 0.3rem;
      .gv-token-top {
        text-align: center;
        border: 1px dashed theme-color("secondary");
      }
    }
    .gv-name-part-token {
      display: inline-block;
      margin-right: 0.3rem;
      .gv-token-top {
        margin-bottom: 0.3rem;
        word-break: break-all;
      }
      .gv-token-bottom {
        font-size: $font-size-sm;
        font-style: italic;
        color: theme-color("secondary");
      }

    }
  }
  .gv-community-statistics {
    color: theme-color("secondary");
    font-size: $font-size-sm;
    .gv-statistics-item {
      margin-right: .4rem;
    }
    .gv-statistics-item::before {
      content: "•";
      margin-right: .4rem;
    }
    .gv-statistics-item:first-of-type::before {
      content: none;
    }
  }
  .gv-revisions{
    font-size: $font-size-sm;
  }
}
