
// Card representing one Name or one Additional Info
gv-name,
gv-role-set-list,
.gv-name,
.gv-role-set-list {
  display: block;
  margin-bottom: $card-spacer-y ;
  color: $gray-900;

  .card-header.gv-name-header {
    .fa-caret-right{
      color: theme-color("secondary");
      font-size: $font-size-sm;
    }
    .gv-in-project,
    .gv-standard-in-project {
      .gv-true {
        color: theme-color("secondary");
      }
      .gv-false {
        color: $gray-400;
      }
      button {
        margin: -0.2rem -.5rem -0.1rem;
      }
      margin-right: .4rem;
    }
    .gv-in-project {
      .gv-new {
        color: $gray-400;
        position: relative;
        .gv-new-label{
          color: theme-color("success");
          font-size: .5rem;
          font-weight: 700;
          position: absolute;
          top: 0.4rem;
          background: $white;
          left: -0.15rem;
          height: 0.35rem;
          line-height: 0.3rem;
        }
      }
    }

    .gv-edit-name {
      .gv-namepart-token {
        border-bottom: 1px dashed theme-color("secondary");
        border-top: none;
        border-left: none;
        border-right: none;
        display: inline-block;
        min-width: 0.9rem;
        margin-right: 0.2rem;
      }
      .gv-separator-token {
        text-align: center;
        border: 1px dashed theme-color("secondary");
        display: inline-block;
        min-width: 0.9rem;
        margin-right: 0.2rem;
      }
    }
    .gv-label {
      word-break: break-all;
    }
    background-color: $white;
    border-bottom: none;
    .gv-name-dropdown {
      .dropdown-toggle{
        margin: (-$card-spacer-y) (-$card-spacer-x) (-$card-spacer-y) 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
      }
      .dropdown-toggle::after{
        content: none;
      }
    }
  }

  .gv-name-section {
    .gv-edit-btn {
      visibility: hidden;
    }

    .gv-name-dropdown {
      .dropdown-toggle{
        margin: -1rem -.5rem -0.7rem -.5rem;
        border-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
      }
      .dropdown-toggle::after{
        content: none;
      }
    }
  }
  .gv-name-section:hover{
    .gv-edit-btn {
      visibility: visible;
    }
  }
  .gv-card-body-wrapper {
    overflow: hidden;
  }
  .card-footer.gv-name-footer{
    border-top: none;
    background-color: $white;
    padding: 0;
    .btn {
      color: theme-color("secondary");
      padding-top: .19rem;
      padding-bottom: .19rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-size: $font-size-sm;
    }
  }
  .gv-community-statistics {
    color: theme-color("secondary");
    font-size: $font-size-sm;
    .gv-statistics-item {
      margin-right: .4rem;
    }
    .gv-statistics-item::before {
      content: "•";
      margin-right: .4rem;
    }
    .gv-statistics-item:first-of-type::before {
      content: none;
    }
  }
}
gv-name:last-of-type,
gv-role-set-list:last-of-type{
  margin-bottom: 0;
}

.gv-property-section-header.gv-to-te-ent,
.gv-h4 {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.1rem;
  /* text-transform: uppercase; */
  // font-weight: 300;
  color: $white;
  .gv-label {
    padding: $input-btn-padding-y-sm 0;
  }
}

.gv-property-section-header.gv-to-pe-it, .gv-h5 {
  padding-top: 0;
  padding-bottom: 0;
  font-size: $font-size-sm;
  background-color: theme-color("light");
  color: theme-color("secondary");
  .gv-label {
    padding: $input-btn-padding-y-sm 0;
  }
  .btn {
    color: theme-color("secondary");
  }
}
