// Card containing a list of Names or Additional Infos
.card.gv-naming,
.card.gv-addinfo {
  background-color: theme-color("secondary");
  width: 316px;

  .card-header.gv-naming,
  .card-header.gv-addinfo, {
    color: $white;
    background-color: inherit;
    border-bottom: none;
    .gv-naming-dropdown,
    .gv-addinfo-dropdown {
      margin: (-$card-spacer-y) (-$card-spacer-x);
      .dropdown-toggle{
        height: 1.9rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .dropdown-toggle::after{
        content: none;
      }
    }
  }
  .card-body.gv-addinfo,
  .card-body.gv-naming {
  }
  .card-footer.gv-addinfo,
  .card-footer.gv-naming,{
    color: $white;
    background-color: inherit;
    border-top: none;
  }
  .card-footer.gv-addinfo,
  .card-footer.gv-naming {
    padding: 0;
    .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-align: left;
      padding: $card-spacer-y $card-spacer-x;
      font-size: $font-size-sm;
    }
  }
}
