gv-project-entities {
  max-width: 40rem;
  $spacing-left: .6rem;
  .gv-search {
    input{
    }
    ul.gv-search-filter{
      font-size: $font-size-sm;
      button {
        position: relative;
        padding: 0.2rem 0;
        margin: 0.3rem $spacing-left .1rem;
      }
      button.active:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: theme-color('primary');
      }
    }
  }
  .gv-search-results{
    padding-left: $spacing-left;
    .gv-search-item{
      margin-bottom: 1.5rem;
      .gv-search-item-header{

      }
      .gv-search-item-body{
        font-size: $font-size-sm;
        .gv-search-item-property:not(:first-child){

        }
        .gv-search-item-property:not(:first-child)::before{
          content: "•";
          margin-left: .4rem;
          margin-right: .4rem;
        }
      }
    }
  }
}
