<div class="gv-name-part">
  <div class="gv-token-top">
    <input type="text"
    *ngIf="!token.isSeparator"
    class="gv-namepart-token"
    [(ngModel)]="token.string"
    (keydown)="onKeydown($event)"
    (input)="onInput()"
    #element elastic-input />

    <span *ngIf="token.isSeparator"
    tabindex=0
    class="gv-separator-token"
    (keydown)="onKeydown($event)"
    #element>
    {{token.string === ' ' ? '&nbsp;' : token.string}}  </span>
  </div>
  <div class="gv-token-bottom" *ngIf="!this.token.isSeparator">

    <div class="gv-pointer" *ngIf="typeState=='view'" (click)="startEditingType()">

      <span *ngIf="token.typeId">{{selectedNamePartType.label}}</span>
      <i *ngIf="!token.typeId" class="text-muted">choose type</i>

    </div>

    <select #selectOption class="custom-select d-block"
    aria-describedby="NamePartType"
    *ngIf="typeState=='edit'"
    (change)="setNewNamePartType(selectOption.value)"
    name="type">
    <option value="undefined">-- no type --</option>
    <option *ngFor="let type of namePartTypes" [value]="type.id" [attr.selected]="type.id == selectedNamePartType?.id ? '' : null">
      {{type.label}}
    </option>  </select>
    <button type="button" name="button" class="btn btn-link" *ngIf="typeState=='edit'" (click)="stopEditingType()">cancel</button>
  </div>
</div>
