<div FxFlex *ngIf="(itemsCount$ | async) && !listDefinition.listType.entityPreview">
  <!-- <ul cdkDropList class="drop-list" (cdkDropListDropped)="t.updateOrder($event, items$)"> -->
  <div *ngFor="let item of (items$ | async); let i = index;" class="literal-item">
    <div class="full-width ">
      <span class="left-col ellipsis">
        <gv-onto-class-info class="mr-2" [pkClass]="listDefinition.targetClass" *ngIf="showOntoInfo$ | async">
        </gv-onto-class-info>

        <span *ngIf="listDefinition.listType.langString" class="ellipsis">
          {{item.label}} <span class="mat-caption text-muted">{{item?.language.notes}}</span>
        </span>
        <span
          *ngIf="listDefinition.listType.appellation || listDefinition.listType.langString || listDefinition.listType.language || listDefinition.listType.place || listDefinition.listType.dimension"
          class="ellipsis">
          {{item.label}}
        </span>
      </span>

      <span class="right-col">
        <mat-menu #appMenu="matMenu">

          <ng-container *ngIf="listDefinition.listType.langString">
            <button mat-menu-item (click)="openPopup(item)">
              <mat-icon svgIcon="arrow-expand-all"></mat-icon>
              <span>Open in popup</span>
            </button>
            <mat-divider></mat-divider>
          </ng-container>

          <div class="dropdown-header">Danger Zone</div>
          <button mat-menu-item (click)="remove(item)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>

        <button *ngIf="!(readonly$|async)" mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
          <mat-icon>more_vert</mat-icon>
        </button>
      </span>
    </div>
    <mat-divider></mat-divider>
  </div>
  <!-- </ul> -->
</div>

<div *ngIf="listDefinition.listType.entityPreview">
  <div *ngFor="let item of (items$ | async)">

  </div>
  <table class="mat-table bg-transparent w-100">
    <tr class="mat-row" *ngFor="let item of (items$ | async)">
      <td class="mat-cell">
        <gv-entity-preview *ngIf="listDefinition.listType.entityPreview" [preview]="item?.preview" [dragEnabled]="false"
          [openTabOnClick]="true"></gv-entity-preview>
      </td>
      <td class="mat-cell action-cell">
        <mat-menu #appMenu="matMenu">
          <!-- <button mat-menu-item *ngIf="listDefinition.listType.entityPreview" (click)="openInNewTab(item)">
            <mat-icon>tab</mat-icon>
            Open in new Tap
          </button> -->
          <mat-divider></mat-divider>
          <div class="dropdown-header">Danger Zone</div>
          <button mat-menu-item (click)="remove(item)">
            <mat-icon color="warn">delete</mat-icon>
            Remove
          </button>
        </mat-menu>

        <button *ngIf="!(readonly$|async)" mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </tr>
  </table>



  <mat-paginator [length]="itemsCount$ | async" [pageSize]="limit$ | async" [pageIndex]="pageIndex$ | async"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidden]="(itemsCount$ | async) <= 5"
    (page)="onPageChange($event)">
  </mat-paginator>
  <mat-divider [hidden]="(itemsCount$ | async) <= 5"></mat-divider>
</div>


<mat-table style="display: none">
  <mat-header-row *matHeaderRowDef="[]"></mat-header-row>
</mat-table>
