<div #toolbar class="gv-toolbar mat-bg-grey-100" [hidden]="!showDefaultToolbar">

  <span class="loc-toolbar-btns-left" [hidden]="creatingAnnotation || readOnly">
    <span class="ql-formats">
      <!-- Add font size dropdown -->
      <select class="ql-size">
        <option value="small"></option>
        <!-- Note a missing, thus falsy value, is used to reset to default -->
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
      <!-- Add buttons as you would before -->
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
    </span>

    <span class="ql-formats">
      <select class="ql-header">
        <!-- Note a missing, thus falsy value, is used to reset to default -->
        <option selected></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
      </select>
    </span>
  </span>
  <div class="loc-toolbar-spacer"></div>
  <!-- But you can also add your own -->
  <div class="loc-toolbar-btns-right">

    <button class="loc-btn-show-ids" [ngClass]="{'ql-active': showTokenIds}" (click)="toggleShowTokenIds()">
      <i class="fa fa-hashtag"></i>
    </button>
    <ng-content select="[buttonsRight]"></ng-content>
  </div>

</div>

<div #editor class="gv-editor" [ngClass]="{'gv-show-token-ids': showTokenIds, 'mat-bg-grey-50':!matInputLike}"></div>
