<div>
  <h3>Define App-Context #{{pkUiContext}}</h3>
  <p class="lead"> Move items between containers to enable or disable the item. Define the order of enabled items by drag&drop.</p>

  <div class="row">

    <div class="col-sm-6">

      <div class="card border-success" dnd-sortable-container [sortableData]="containerEnabled?.widgets" [dropZones]="['widget-dropZone']">
        <div class="card-header text-success">
          Enabled
        </div>
        <div class="card-body">
          <ul class="list-group">

            <gv-ui-element-widget *ngFor="let widget of containerEnabled?.widgets; let x = index" class="list-group-item"
              dnd-sortable [sortableIndex]="x" [dragEnabled]="!(loading$ | async)" [dragData]="widget" (onDropSuccess)="droppedInEnabled($event)"
              [widget]="widget"></gv-ui-element-widget>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="card" dnd-sortable-container [sortableData]="containerDisabled?.widgets" [dropZones]="['widget-dropZone']">
        <div class="card-header">
          Disabled
        </div>
        <div class="card-body">
          <ul class="list-group">
            <gv-ui-element-widget *ngFor="let widget of containerDisabled?.widgets; let x = index" class="list-group-item"
              dnd-sortable [sortableIndex]="x" [dragEnabled]="!(loading$ | async)" [dragData]="widget" (onDropSuccess)="droppedInDisabled($event)"
              [widget]="widget"></gv-ui-element-widget>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>