<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item">Your Projects</li>
  </ol>
</gv-navbar>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div *ngIf="(projects$|async).length > 0">
        <h2 class="clearfix">Your Projects
          <span class="pull-right">
            <a routerLink="create" mat-button color="primary">Create a new project</a>
          </span>
        </h2>
        <gv-project-card *ngFor="let project of (projects$|async)" [project]="project"></gv-project-card>
        <div *ngIf="(projects$|async).length === 0 && loadingComplete">
          <a routerLink="create" mat-flat-button color="primary">Create your first project</a>
        </div>
      </div>
    </div>
  </div>
</div>
