<!-- Field Header, in case there are multiple different lists in this field (inherited properties) -->

<div *ngIf="fieldDefinition.isSpecialField==='has-type'" class="mat-tree-node field-node mat-border-bottom">
  <div class="full-width">

    <div class="left-col field-margin-left">
      <a *ngIf="(showOntoInfo$|async)" class="badge badge-success mr-2" href="{{fieldDefinition.ontoInfoUrl}}"
        target="_blank">
        {{fieldDefinition.ontoInfoLabel}}
      </a>
      <span class="mat-body-strong" [ngClass]="{'mat-text-secondary': !(typeItem.hasTypeStatement$ |async)}">
        {{fieldDefinition.listDefinitions.length === 1 ? fieldDefinition.listDefinitions[0].label :
        fieldDefinition.label}}
        <span matTooltip="Required and not changeable (identity defining)"
          *ngIf="fieldDefinition.listDefinitions[0].isOutgoing && fieldDefinition.listDefinitions[0].identityDefiningForSource">
          *
        </span>
        <span [matTooltip]="'Defines identity of target'"
          *ngIf="fieldDefinition.listDefinitions[0].identityDefiningForTarget">
          !
        </span>
      </span>
      <gv-type-item #typeItem class="ml-3 text-muted" [pkEntity]="pkEntity"
        [pkProperty]="fieldDefinition.property.pkProperty" [pkTypedClass]="fieldDefinition.sourceClass"
        [pkTypeClass]="fieldDefinition.listDefinitions[0]?.targetClass" [isOutgoing]="fieldDefinition.isOutgoing">
      </gv-type-item>
    </div>

    <div class="right-col field-margin-right">
      <button mat-icon-button *ngIf="!(readonly$|async)" [disabled]="!(showAddButton$ | async)" (click)="addClick()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button [disabled]="true">
        <mat-icon class="mat-icon-rtl-mirror">keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
  <!-- <mat-divider></mat-divider> -->
</div>

<div *ngIf="fieldDefinition.isSpecialField!=='has-type'" class="mat-tree-node field-node mat-border-bottom" [ngClass]="{
  'expanded': (!treeControl || treeControl.isExpanded(fieldDefinition)),
  'collapsed': (treeControl && !treeControl.isExpanded(fieldDefinition))
  }">

  <div class="full-width">

    <div class="left-col field-margin-left gv-pointer full-width" [ngClass]="{
      'mat-text-primary': (!treeControl || treeControl.isExpanded(fieldDefinition))
      }" (click)="toggle()">
      <a *ngIf="(showOntoInfo$|async)" class="field-onto-info badge badge-success mr-2"
        href="{{fieldDefinition.ontoInfoUrl}}" target="_blank">
        {{fieldDefinition.ontoInfoLabel}}
      </a>
      <span class="mat-body-strong field-label" [ngClass]="{'mat-text-secondary': (itemsCount$ |async) === 0}">
        {{ fieldDefinition.label}}
        <span matTooltip="Required and not changeable (identity defining)"
          *ngIf="fieldDefinition.listDefinitions[0].isOutgoing && fieldDefinition.listDefinitions[0].identityDefiningForSource">
          *
        </span>
        <mat-icon *ngIf="fieldDefinition.allSubfieldsRemovedFromAllProfiles" svgIcon="alert" color="warn"
          matTooltip="This property of this field has been removed from the OntoMe profile(s) you have activated. Activate a profile that contains this property if you still want to use it. Otherwise refactor your data to not use this property anymore.">
        </mat-icon>
      </span>
      <span class="mat-body right-col" [ngClass]="{'mat-text-secondary': (itemsCount$|async) === 0}">
        &nbsp;({{itemsCount$ | async}}) </span>
    </div>

    <div class="right-col field-margin-right">
      <button *ngIf="!(readonly$|async)" mat-icon-button [disabled]="!(showAddButton$ | async)" (click)="addClick()">
        <mat-icon>add</mat-icon>
      </button>

      <button *ngIf="treeControl" mat-icon-button (click)="toggle()"
        [attr.aria-label]="'toggle ' + fieldDefinition?.label">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(fieldDefinition) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </button>

    </div>
  </div>
  <!-- <mat-divider *ngIf="!treeControl.isExpanded(fieldDefinition)"></mat-divider> -->
</div>

<span class="child-node" [hidden]="!treeControl?.isExpanded(fieldDefinition)">


  <div class="child-content" *ngFor="let subfield of fieldDefinition.listDefinitions; trackBy:getKey">
    <gv-subfield [pkEntity]="pkEntity" [subfield]="subfield" [scope]="scope$|async" [showOntoInfo$]="showOntoInfo$">
    </gv-subfield>
    <!-- <gv-leaf-item-list fxLayout="column"
      *ngIf="!listDefWithCount.listType.temporalEntity && !listDefWithCount.listType.timeSpan"
      fxLayoutAlign="space-between stretch" [listDefinition]="listDefWithCount" [treeControl]="treeControl"
      [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$" [pkEntity]="pkEntity"></gv-leaf-item-list>
    <gv-temporal-entity-list *ngIf="listDefWithCount.listType.temporalEntity" fxLayout="column"
      fxLayoutAlign="space-between stretch" [listDefinition]="listDefWithCount" [treeControl]="treeControl"
      [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$" [pkEntity]="pkEntity">
    </gv-temporal-entity-list>

    <gv-time-span-list *ngIf="listDefWithCount.listType.timeSpan" fxLayout="column"
      fxLayoutAlign="space-between stretch" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$"
      [readonly$]="readonly$" [pkEntity]="pkEntity">
    </gv-time-span-list> -->

  </div>

  <div class="child-no-content" *ngIf="!((itemsCount$ |async) > 0)">
    <div class="mat-elevation-z1"><i class="mat-text-secondary">No items</i></div>
  </div>

  <!-- <mat-divider></mat-divider> -->

</span>
