<!-- Field Header, in case there are multiple different lists in this field (inherited properties) -->

<div *ngIf="field.isSpecialField==='has-type'" class="mat-tree-node field-node border">
  <div class="full-width">

    <div class="left-col field-margin-left">
      <a *ngIf="(showOntoInfo$|async)" class="badge badge-success mr-2" href="{{field.ontoInfoUrl}}" target="_blank">
        {{field.ontoInfoLabel}}
      </a>
      <span class="mat-body-strong" [ngClass]="{'mat-text-secondary': !(typeItem.hasTypeStmt$ |async)}">
        {{field.label}}
        <span matTooltip="Required and not changeable (identity defining)"
          *ngIf="field.isOutgoing && field.identityDefiningForSource">
          *
        </span>
        <span [matTooltip]="'Defines identity of target'" *ngIf="field.identityDefiningForTarget">
          !
        </span>
      </span>
      <gv-type-item #typeItem class="ml-3 text-muted" [pkEntity]="source.fkInfo"
        [pkProperty]="field.property.fkProperty" [pkTypedClass]="field.sourceClass"
        [pkTypeClass]="field.targetClasses[0]" [isOutgoing]="field.isOutgoing">
      </gv-type-item>
    </div>

    <div class="right-col field-margin-right">
      <button mat-icon-button *ngIf="!(readonly$|async)" [disabled]="!(showAddButton$ | async)" (click)="addClick()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button [disabled]="true">
        <mat-icon class="mat-icon-rtl-mirror">keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
  <!-- <mat-divider></mat-divider> -->
</div>
<div *ngIf="field.isSpecialField!=='has-type'" class="mat-tree-node field-node mat-border-bottom" [ngClass]="{
  'expanded': (!treeControl || treeControl.isExpanded(field)),
  'collapsed': (treeControl && !treeControl.isExpanded(field))
  }">

  <div class="full-width">

    <div class="left-col field-margin-left gv-pointer full-width" [ngClass]="{
      'mat-text-primary': (!treeControl || treeControl.isExpanded(field))
      }" (click)="toggle()">
      <a *ngIf="(showOntoInfo$|async)" class="field-onto-info badge badge-success mr-2" href="{{field.ontoInfoUrl}}"
        target="_blank">
        {{field.ontoInfoLabel}}
      </a>
      <span class="mat-body-strong field-label" [ngClass]="{'mat-text-secondary': !(itemsCount$ |async) }">
        {{ field.label}}
        <span matTooltip="Required and not changeable (identity defining)"
          *ngIf="field.isOutgoing && field.identityDefiningForSource">
          *
        </span>
        <mat-icon *ngIf="field.allSubfieldsRemovedFromAllProfiles" svgIcon="alert" color="warn"
          matTooltip="This property of this field has been removed from the OntoMe profile(s) you have activated. Activate a profile that contains this property if you still want to use it. Otherwise refactor your data to not use this property anymore.">
        </mat-icon>
      </span>
      <span class="mat-body right-col" [ngClass]="{'mat-text-secondary': !(itemsCount$|async) }">
        &nbsp;({{itemsCount$ | async}}) </span>
    </div>

    <div class="right-col field-margin-right">
      <button *ngIf="!(readonly$|async)" mat-icon-button [disabled]="!(showAddButton$ | async)" (click)="addClick()">
        <mat-icon>add</mat-icon>
      </button>

      <button *ngIf="treeControl" mat-icon-button (click)="toggle()" [attr.aria-label]="'toggle ' + field?.label">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(field) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </mat-icon>
      </button>

    </div>
  </div>
</div>

<span class="child-node" [hidden]="!treeControl?.isExpanded(field)">
  <div class="child-content">
    <gv-subfield [source]="source" [field]="field" [scope]="scope" [showOntoInfo$]="showOntoInfo$"
      [readonly$]="readonly$">
    </gv-subfield>
  </div>

  <div class="child-no-content" *ngIf="!((itemsCount$ |async) > 0)">
    <div class="mat-elevation-z1"><i class="mat-text-secondary">No items</i></div>
  </div>
</span>