<div class="gv-field">
  <gv-field-header *ngIf="(showFieldHeader$ | async)" [label$]="label$" [toggle$]="toggle$" [addButtonVisible]="(addButtonVisible$ | async)"
    [toggleButtonVisible]="!(isCreateContext$ | async)" [removePropertyFieldBtnVisible]="removePropertyFieldBtnVisible" (toggleCardBody)="toggle()"
    (startAddingRole)="openCreateOrAddForm()" (removePropertyField)="removePropertyField()"></gv-field-header>
  
  <form [formGroup]="formGroup" *ngIf="(isCreateContext$ | async)">
  
    <gv-text-property *ngFor="let item of (textPropertyDetailList$ | async) | keys; trackBy:getKey;" [formControlName]="item.key"
      (touched)="markAsTouched()"></gv-text-property>
  
  </form>
  
  
  <span *ngIf="!(isCreateContext$ | async)">
  
  
    <div *ngIf="!(createOrAdd$ | async)" [@slideInOut]="(toggle$|async)">
  
      <div class="d-flex list-group-item p-0" [ngClass]="{'flex-column': item.value.toggle === 'expanded'}" *ngFor="let item of (textPropertyDetailList$ | async) | keys; trackBy:getKey;">
  
        <div *ngIf="item.value.toggle === 'expanded'" class="main d-flex flex-column gv-card-spacer-b gv-card-spacer-l btn-r btn-t">
  
          <!-- Header -->
          <div class="d-flex font-lg text-gray-400 btn-r btn-t">
  
            <!-- Class info -->
            <div class="gv-grow-1 gv-pointer  d-flex  justify-content-start'">
              <div class="align-self-center">
                {{(label$ | async)?.sg}}
                (<gv-language-view class="d-inline-block" [language]="item.value.textProperty.language"></gv-language-view>)
              </div>
            </div>
  
            <!-- Buttons -->
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-link-gray" title="Remove" (click)="remove(item.value.textProperty.pk_entity, item.key)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-link-gray" title="Minimize" (click)="toggleTextPropertyDetail(item.key)">
                <i class="fa fa-compress"></i>
              </button>
            </div>
  
          </div>
  
          <div class="gv-grow-1 mt-3">
            <gv-quill-view [contents]=item.value.textProperty.quill_doc></gv-quill-view>
          </div>
  
        </div>
  
        <div class="gv-card-spacer-x gv-card-spacer-y gv-grow-1" *ngIf="item.value.toggle === 'collapsed'" (click)="toggleTextPropertyDetail(item.key)">
          <gv-quill-view [contents]=item.value.textProperty.quill_doc></gv-quill-view>
        </div>
  
  
      </div>
  
    </div>
  
  
  
    <div *ngIf="(createOrAdd$ | async)">
  
      <!-- Header -->
      <section class="mt-3 row gv-flex-shrink-0">
        <div class="col">
          <h2>Add a {{(label$ | async)?.sg}}</h2>
        </div>
      </section>
  
      <!-- Body -->
      <div class="d-flex gv-fh gv-scroll-y-auto">
        <div class="d-flex flex-row gv-grow-1 pb-1" style="flex-basis:100%">
  
          <div class="gv-grow-1" style="flex-basis:50%;">
            <h4 class="mb-3">Create a new {{(label$ | async)?.sg}}</h4>
  
            <form [formGroup]="formGroup" (ngSubmit)="submitCreateForm()">
  
              <gv-text-property [formControlName]="'createNew'"></gv-text-property>
  
              <button class="btn btn-primary mt-3 mr-2" type="submit" [disabled]="formGroup.invalid && submitted">
                Create {{(label$ | async)?.sg}}
              </button>
  
              <button class="btn btn-secondary mt-3" type="button" (click)="closeCreateOrAddForm()">
                Cancel
              </button>
            </form>
  
          </div>
  
  
          <div class="ml-5 mt-5 pl-5 gv-grow-1" style="flex-basis:50%;">
            <h4 class="mb-3" *ngIf="!selectPeItMode">...or add an existing {{(label$ | async)?.sg}}</h4>
  
            Coming soon.
          </div>
  
        </div>
      </div>
  
  
    </div>
  </span>
</div>