<div class="wrapper-block gv-fade-out-right gv-white-space-nowrap" *ngIf="mode =='mini'">
  <span *ngIf="data.length > 1">
    ...
    <span class="slash-forward mat-text-secondary">/</span>
  </span>

  <ng-container *ngTemplateOutlet="entitySegment;context:{entity:data[data.length-1].entity, showLabel: true}">
  </ng-container>

</div>

<span class="wrapper-block gv-fade-out-right gv-white-space-nowrap" *ngIf="mode =='small'">
  <ng-container *ngFor="let item of data; let i = index">
    <ng-container *ngIf="item.entity">
      <ng-container
        *ngTemplateOutlet="entitySegment;context:{entity:item.entity, showLabel: (mode =='full' || i == data.length-1)}">
      </ng-container>

    </ng-container>

    <ng-container *ngIf="item.property">
      <span class="slash-forward mat-text-secondary">/</span>
    </ng-container>
  </ng-container>
</span>


<span class="wrapper-inline" *ngIf="mode =='full'">
  <ng-container *ngFor="let item of data; let i = index">
    <ng-container *ngIf="item.entity">
      <ng-container
        *ngTemplateOutlet="entitySegment;context:{entity:item.entity, showLabel: (mode =='full' || i == data.length-1)}">
      </ng-container>

    </ng-container>

    <ng-container *ngIf="item.property">
      <span class="prop-label mat-caption">
        {{item.property.label}} :
      </span>
    </ng-container>
  </ng-container>
</span>

<ng-template #entitySegment let-entity="entity" let-showLabel="showLabel">

  <mat-icon *ngIf="entity.icon =='table'" class="entity-icon gv-digital-color" 
    svgIcon="file-table" [matTooltip]="entity.tooltip">
  </mat-icon>
  <mat-icon *ngIf="entity.icon =='text'" class="entity-icon gv-digital-color" 
    svgIcon="file-document" [matTooltip]="entity.tooltip">
  </mat-icon>
  <mat-icon *ngIf="entity.icon =='expression-portion'" class="entity-icon gv-source-color" 
    svgIcon="folder" [matTooltip]="entity.tooltip">
  </mat-icon>
  <i *ngIf="entity.icon =='persistent-entity'" style="font-size: 22px" class="entity-icon gv-icon gv-icon-persistent-entity gv-entity-color"
    [matTooltip]="entity.tooltip"></i>
  <i *ngIf="entity.icon =='temporal-entity'" style="font-size: 22px" class="entity-icon fa fa-star-o  gv-entity-color"
    [matTooltip]="entity.tooltip"></i>
  <!-- <mat-icon *ngIf="entity.icon =='source'" style="font-size: 22px" class="entity-icon gv-source-color" 
    svgIcon="book-open-variant" [matTooltip]="entity.tooltip">
  </mat-icon> -->
  <i *ngIf="entity.icon =='source'" style="font-size: 22px" class="entity-icon gv-icon gv-icon-source gv-source-color"
    [matTooltip]="entity.tooltip"></i>

  <ng-container *ngIf="showLabel" class="entity-icon entity-label">{{entity.label}}</ng-container>
</ng-template>
