$caret-color: #aaa9a9;
:host {
  width: 100%;
  overflow: hidden;
}
.slash-forward {
  font-size: 22px;
  margin: 0 4px;
  color: #bbb;
}
.prop-label {
  margin: 0 4px;
  padding: 0 2px;
  display: inline-block;
  border: 2px solid #eee;
  background-color: #eee;
  border-radius: 2px;
}
.property {
  vertical-align: middle;

  position: relative;
  //text-indent: 30px;
  height: 20px;
  display: inline-block;
  /* Dirty IE Hack */
  zoom: 1;
  *display: inline;
  margin-right: 10px;
  padding: 0px 1px 0px 10px;
  color: white;
  //font-size: 18px;
  text-align: center;
  //line-height: 20px;
}
.property-label {
  display: inline-block;
  background-color: $caret-color;
  padding-left: 1px;
  margin-left: -3px;
  margin-right: 3px;
}
.property:before {
  content: '';
  position: absolute;
  background-color: $caret-color;
  width: 0;
  height: 0;
  left: 0px;
  border-top: 10px solid transparent;
  border-left: 7px solid white;
  border-bottom: 10px solid transparent;
  margin: 0px 0px 0 0px;
}
.property:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -7px;
  border-top: 10px solid white;
  border-left: 7px solid $caret-color;
  border-bottom: 10px solid white;
  margin: 0px 4px 0 0px;
}

.wrapper-block {
  display: block;
  vertical-align: baseline;
}

.wrapper-inline {
  display: inline;
  vertical-align: baseline;
}

.entity-label {
  display: inline-flex;
  align-items: center;
}

.entity-icon {
  margin-right: 2px;
  vertical-align: bottom;
}
