:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 14px;
}
// :host {
//   display: inline-block;
// }
.loc-dropzone-accepts {
  border: 2px dashed pink;
  border-radius: 2px;
  height: 20px;
}
li {
  list-style: none;
  min-height: 60px;
}
.cdk-drop-list-dragging {
  background-color: rgba(225, 226, 226, 0.459);
}
