<span *ngIf="!(loading$|async)">
  <span *ngIf="!(editing$|async)" class="gv-pointer" (click)="onStartEditing()">{{label.dfh_label}}</span>
  
  <form [formGroup]="formGroup" *ngIf="(editing$|async)" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group mb-3">
      <input class="form-control" type="text" formControlName="labelCtrl">
    </div>
    <div class="form-group">
      <button class="btn btn-outline-primary" type="submit">Ok</button>
      <button class="btn btn-outline-secondary ml-2" type="button" (click)="stopEdit()">Cancel</button>
      <button class="btn btn-outline-danger ml-2" type="button" (click)="delete.emit(label)">Delete</button>
    </div>
  </form>
</span>

<span *ngIf="(loading$|async)" class="fa fa-pulse fa-spinner"></span>