<div class="modal-header">
  <h4 class="modal-title">
    Version History
  </h4>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng2-slim-loading-bar color="inherit"></ng2-slim-loading-bar>

<!-- Info & Settings-->
<div class="modal-body gv-info">
  <p>Select the version you want to use in your project</p>
  <div class="row">
    <div class="col-sm-8">
      <ul class="gv-ul-sm">
        <li class="gv-li-inline">
          Your current version: {{currentVersion.entity_version}}
        </li>
        <li class="gv-li-inline">
          Latest version available: {{latestVersion}}
        </li>
        <li class="gv-li-inline">
          Version most used: {{mostUsedVersion}}
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <label class="form-check-label text-muted small pull-right">
        <input class="form-check-input" type="checkbox"
        [checked]="!unusedVisible" (change)="unusedVisible = !unusedVisible">
        Hide unused versions
      </label>
    </div>
  </div>
</div>


<!-- Versions -->
<div *ngFor="let version of versionsVisible">
  <div class="gv-name">
    <div class="card-body gv-property-section-header d-flex justify-content-between">
      <div>Version {{version.entity_version}}</div>
      <ul class="gv-ul-sm">
        <li class="gv-li-inline">
          created {{version.tmsp_last_modification | date:'short'}}
        </li>
        <li class="gv-li-inline">
          <i class="fa fa-check"></i> in {{countProjects(version)}} {{countProjects(version) === 1 ? 'project':'projects'}}
        </li>
      </ul>
    </div>
    <div class="gv-name-version card-body d-flex">
      <div class="gv-flex-grow-1">
        <div class="gv-name-parts-wrapper">

          <!-- Presentation of the version value -->
          <gv-appellation-label-view [appellation]="version"></gv-appellation-label-view>

          <!-- Add directives for other value types (dating, language …)  -->

        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <button type="button" class="btn btn-sm btn-success"
        (click)="updateVersion(version)"
        *ngIf="version.entity_version > currentVersion.entity_version && version.entity_version === latestVersion">
          Update to version {{version.entity_version}}
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="updateVersion(version)"
        *ngIf="version.entity_version > currentVersion.entity_version && version.entity_version !== latestVersion">
          Update to version {{version.entity_version}}
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="updateVersion(version)"
        *ngIf="version.entity_version === currentVersion.entity_version">
          Keep this version
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="updateVersion(version)"
        *ngIf="version.entity_version < currentVersion.entity_version">
          Restore version {{version.entity_version}}
        </button>
      </div>
    </div>
  </div>

</div>
