
<div *ngIf="(property$|async) !== undefined" [ngClass]="{'dev-view': entityEditor.devView}">
  <span *ngIf="entityEditor.devView">
    <ng-container *ngTemplateOutlet="dev"></ng-container>
  </span>

  <!--
    ************************* Edit State ************************* -->
    
    <span *ngIf="(state$ | async) === 'edit'">

    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>

      <div [@slideInOut]="cardState">

        <!-- The roles that are added -->

        <div class="card-body">
          <gv-pe-it-role *ngFor="let entry of (childRoleStates$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key"
           (appeChange)="emitAppeChange($event)"
            (onRequestStandard)="changeStandardRole($event)" (readyToAdd)="onRoleReadyToAdd($event)" (roleRemoved)="onRoleRemoved($event)"></gv-pe-it-role>
        </div>

        <div class="border-top border-gray-500">
          <div class="btn btn-block btn-secondary rounded-top-0" (click)="startAddingRole()" *ngIf="addRoleState=== 'init'">
            Add a {{(roleLabel$ | async).sg}}…
          </div>

          <!-- Select existing Roles -->

          <div *ngIf="addRoleState=== 'selectExisting'">


            <div class="card-body" *ngIf="rolesNotInProjectLoading">
              <i class="fa fa-spinner fa-pulse"></i> Searching for existing {{(roleLabel$ | async).sg}}…
            </div>

            <span *ngIf="!rolesNotInProjectLoading">
              <div class="card-body gv-property-section-header">
                {{rolesInOtherProjects.length}} {{rolesInOtherProjects.length === 1 ? (roleLabel$ | async).sg : (roleLabel$ | async).pl}} found in other
                projects
              </div>

              <div class="card-body" *ngIf="rolesInOtherProjects.length">
                <div class="gv-label gv-flex-grow-1"> Add an existing {{(roleLabel$ | async).sg}} from below or
                  <a href="" class="gv-passive-link" (click)="startCreateNewRole()">create a new name</a>.</div>
              </div>

              <div class="card-body" *ngIf="!rolesInOtherProjects.length && !rolesInNoProjectVisible">
                <div class="gv-label gv-flex-grow-1">
                  <a href="" class="btn btn-primary gv-passive-link" (click)="startCreateNewRole()">Create a new {{(roleLabel$ | async).sg}}</a>
                  <a href="" class="btn btn-link gv-passive-link" (click)="rolesInNoProjectVisible=true">
                    Show {{rolesInNoProject.length}} {{rolesInOtherProjects.length === 1 ? (roleLabel$ | async).sg : (roleLabel$ | async).pl}} used by no Projects
                  </a>
                </div>
              </div>

              <div class="card-body" *ngIf="rolesInOtherProjects.length">

                <gv-pe-it-role *ngFor="let role of rolesInOtherProjects" [role]="role" [parentProperty]="property" [isOutgoing]="isOutgoing"
                  [pointTo]="'TeEnt'" [roleState]="'add'" (readyToAdd)="onRoleReadyToAdd($event)"></gv-pe-it-role>
              </div>

              <div class="card-body pt-0" *ngIf="rolesInNoProject && rolesInOtherProjects.length">
                <small>
                  <a href="" class="gv-passive-link text-light" (click)="rolesInNoProjectVisible=true" *ngIf="!rolesInNoProjectVisible">
                    Show {{rolesInNoProject.length}} {{rolesInOtherProjects.length === 1 ? (roleLabel$ | async).sg : (roleLabel$ | async).pl}} used by no Projects.
                  </a>
                  <a href="" class="gv-passive-link text-light" (click)="rolesInNoProjectVisible=false" *ngIf="rolesInNoProjectVisible">
                    Hide
                  </a>
                </small>
              </div>

              <div class="card-body" *ngIf="rolesInNoProject && rolesInNoProjectVisible">

                <gv-pe-it-role *ngFor="let role of rolesInNoProject" [role]="role" [parentProperty]="property" [isOutgoing]="isOutgoing"
                  [pointTo]="'TeEnt'" [roleState]="'add'" (readyToAdd)="onRoleReadyToAdd($event)"></gv-pe-it-role>
              </div>

              <div class="card-body" *ngIf="rolesInNoProjectVisible || rolesInOtherProjects.length">
                <button type="button" class="btn btn-primary" [ngClass]="{disabled:(!isReadyToAddRoles)}" (click)="addSelectedRolesToProject()">Add selected</button>

                <button type="button" class="btn btn-link" (click)="cancelSelectRoles()">Cancel</button>
              </div>
            </span>

          </div>



          <!-- Create a new Role -->
          <div *ngIf="addRoleState=== 'createNew'">

            <gv-pe-it-role [role]="roleToCreate" [pointTo]="'TeEnt'" [pkTargetClass]="pkTargetClass" [fkProperty]="fkProperty" [roleState]="'create'"
              (roleCreated)="onRoleCreated($event)" (roleCreationCanceled)="onRoleCreationCanceled()"></gv-pe-it-role>

          </div>

        </div>
      </div>
    </div>

  </span>


  <!--
  ************************* Add-Pe-It State ************************* -->

  <span *ngIf="(state$ | async) === 'add-pe-it'">
    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>
      <div class="card-body">
        <div *ngFor="let role of roles">
          <gv-pe-it-role [role]="role" [parentProperty]="property" [isOutgoing]="isOutgoing" [pointTo]="pointTo" [roleState]="propState"
            [isStandardRoleToAdd]="(role === mostPopularRole)" (readyToAdd)="onRoleReadyToAdd($event)" (appeChange)="emitAppeChange($event)"
            (onRequestStandard)="changeStandardRole($event)"></gv-pe-it-role>
        </div>
      </div>
    </div>
  </span>



  <!--
  ************************* Create State ************************* -->

  <span *ngIf="(state$ | async) === 'create'">
    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>

      <div class="card-body text-white">
        Please fill all fields below and click "Ok".
      </div>

      <div class="card-body">
        <gv-pe-it-role [role]="roleToCreate" [pointTo]="'TeEnt'" [pkTargetClass]="pkTargetClass" [fkProperty]="fkProperty" [roleState]="'create'"
          (readyToCreate)="roleReadyToCreate($event)" (notReadyToCreate)="roleNotReadyToCreate()"></gv-pe-it-role>
      </div>

      <div class="card-body">
        <button [ngClass]="{disabled:(!isReadyToCreate)}" type="button" class="btn btn-primary" (click)="persistEntitiesToCreate(parentPeIt.pk_entity)">Ok</button>
        <button type="button" class="btn btn-link" (click)="cancelCreateNewRole()">Cancel</button>
      </div>
    </div>

  </span>



  <!--
  ************************* Create PeIt State ******************* -->

  <span *ngIf="(state$ | async) === 'create-pe-it'">

    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">

        <gv-pe-it-role [role]="roleToCreate" [pointTo]="'TeEnt'" [pkTargetClass]="pkTargetClass" [fkProperty]="fkProperty" [roleState]="'create-pe-it'"
          (readyToCreate)="roleReadyToCreate($event)" (notReadyToCreate)="roleNotReadyToCreate()"></gv-pe-it-role>
      </div>
    </div>

  </span>


  <!--
  ************************* View State ******************* -->

  <span *ngIf="(state$ | async) === 'view'">
    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>

      <div [@slideInOut]="cardState">
        <div class="card-body">
          <div *ngFor="let role of roles">
            <gv-pe-it-role [role]="role" [parentProperty]="property" [isOutgoing]="isOutgoing" [pointTo]="pointTo" [communityStatsVisible]="communityStatsVisible"
              [ontoInfoVisible]="ontoInfoVisible" [roleState]="propState" (appeChange)="emitAppeChange($event)"></gv-pe-it-role>
          </div>
        </div>
      </div>
    </div>

  </span>


</div>


<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <div class="btn-group d-flex flex-row">
    <button class="btn btn-secondary btn-block text-left rounded-bottom-0" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
      <span *ngIf="roles && roles.length">{{roles.length}}</span>
      {{(roleLabel$ | async).default}}
    </button>
    <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="ontoInfoVisible">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{property.dfh_pk_property}}" target="_blank">
          {{property.dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>
    <button class="btn btn-secondary rounded-bottom-0" (click)="removePropertySection()" *ngIf="removeSectionBtnVisible">
      <i class="fa fa-close"></i>
    </button>
  </div>
</ng-template>




<ng-template #dev>
  <span>
    [state: {{propState}}] [readyToCreate: {{isReadyToCreate}}] [readyToAdd: {{rolesToAdd?.length}}] [communityStatsVisible {{communityStatsVisible}}]
  </span>

  <span *ngIf="isOutgoing === true">
    [dom: {{property.dfh_has_domain}} – prop: {{property.dfh_pk_property}} – range: {{property.dfh_has_range}}]
  </span>

  <span *ngIf="isOutgoing === false">
    [range: {{property.dfh_has_range}} – prop: {{property.dfh_pk_property}} – dom: {{property.dfh_has_domain}}]
  </span>
</ng-template>