<h1 mat-dialog-title>Configure Field <gv-field-label [fkProperty]="data.fkProperty" [fkSourceClass]="fkSource"
    [isOutgoing]="isOutgoing" [showTooltip]="false"></gv-field-label>
</h1>

<mat-dialog-content class="pb-1">
  <gv-field-config [fkProject]="data.fkProject" [isOutgoing]="isOutgoing" [fkSourceClass]="fkSource"
    [fkProperty]="data.fkProperty" [fkPropertyDomain]="data.fkPropertyDomain" [fkPropertyRange]="data.fkPropertyRange">
  </gv-field-config>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
