<form [formGroup]="formGroup">
  <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-expansion-panel cdkDrag *ngFor="let dynCtrl of dynamicFormControls; let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title cdkDragHandle>
          <gv-col-def-title [colDef]="dynCtrl.ctrl?.value"></gv-col-def-title>
        </mat-panel-title>
        <mat-panel-description>
          <span class="ml-auto" *ngIf="dynCtrl.ctrl?.value?.defaultType">Default Column</span>
          <span class="ml-auto" *ngIf="!dynCtrl.ctrl?.value?.defaultType">Custom Column</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <gv-col-def [formControl]="dynCtrl.ctrl" [propertyOptions$]="propertyOptions$" (focus)="onFocus()" (blur)="onBlur()"
      #c [gvNoInvalidChildren]="c.formGroup.controls"></gv-col-def>
      <mat-action-row *ngIf="!dynCtrl.ctrl?.value?.defaultType">
        <button mat-button color="warn" class="ml-auto" (click)="removeColumn(i)">Remove column</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <button class="mt-3" mat-button color="primary" (click)="addColumn()">New column</button>

</form>