<mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-expansion-panel cdkDrag *ngFor="let colDef of colDefs; let i = index;">
    <mat-expansion-panel-header>
      <mat-panel-title cdkDragHandle>
        <gv-col-def-title [colDef]="colDef"></gv-col-def-title>
      </mat-panel-title>
      <!-- <mat-panel-description></mat-panel-description> -->
    </mat-expansion-panel-header>
    <gv-col-def [colDef]="colDef" [selectedClasses$]="selectedClasses$"></gv-col-def>
    <mat-action-row>
      <button mat-button color="warn" class="ml-auto" (click)="removeColumn(i)">Remove column</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<button class="mt-3" mat-button color="primary" (click)="addColumn()">New column</button>