<ng-template #rt let-r="result" let-t="term">
  <div [ngStyle]="{'width.px': typeaheadWitdh}" class="my-2">
    <div class="d-flex flex-wrap">
      <span [innerHTML]="r.level1propLabel | highlight: term"></span>
      <span class="mx-1">–</span>
      <span [innerHTML]="r.classLabel | highlight: term"  class="gv-grow-1"></span>
      <span class="text-success font-sm ml-3" *ngIf="r.added">already added</span>
    </div>
    <div class="d-flex flex-wrap ml-3 text-muted">
      <span class="mr-3" *ngFor="let label of r.level2propsLabels" [innerHTML]="label | highlight: term"></span>
    </div>
  </div>
</ng-template>

<div class="card-body">

  <div gvDimensionChange (onDimensionsChange)="typeaheadWitdh=($event.dimensions.width - 60)">
    <div class="input-group">
      <input id="typeahead-focus" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)" (selectItem)="addOptionSelected.emit($event)" placeholder="What do you want to add?"
        gvAutofocus #instance="ngbTypeahead" />

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="cancel.emit()">
          <i class="fa fa-close"></i>
        </button>
      </div>

    </div>
  </div>

</div>