table {
  border-collapse: unset;
}

tr.mat-header-row {
  height: 42px;
}

tr.element-row:hover {
  background: #f5f5f5;
}

td.mat-column-actions {
  width: 48px;
  text-align: center;
  padding-right: 0px !important;
  border-left: 1px solid #e0e0e0;
}

