<div class="d-flex flex-column" *ngIf="!(create$ |async)">


  <table mat-table [dataSource]="dataSource" matSort matSortDisableClear="false" class="mat-elevation-z0 w-100">
    <!-- digital Column -->
    <ng-container matColumnDef="digital">
      <th mat-header-cell style="flex: 0 1 0%" *matHeaderCellDef mat-sort-header="digitalLabel">
        <span *ngIf="listOf.type === 'entity'">Digital</span>
      </th>
      <td mat-cell style="flex: 0 1 0%" *matCellDef="let element">
        <gv-digital-preview [digital]="element.digital" [openTabOnClick]="true"></gv-digital-preview>
      </td>
    </ng-container>

    <!-- domainLabel Column -->
    <ng-container matColumnDef="domainLabel">
      <th mat-header-cell style="flex: 0 1 0%" *matHeaderCellDef mat-sort-header="domainLabel">
        <span *ngIf="listOf.type === 'digital-text'">Annotated Text</span>
        <span *ngIf="listOf.type === 'entity'">Annotated Text</span>
      </th>
      <td mat-cell style="flex: 0 1 0%" class="gv-ellipsis" *matCellDef="let element"> {{element.domainLabel}} </td>
    </ng-container>

    <!-- propertyLabel Column -->
    <ng-container matColumnDef="propertyLabel">
      <th mat-header-cell style="flex: 0 1 0%" *matHeaderCellDef mat-sort-header="propertyLabel"> Property </th>
      <td mat-cell style="flex: 0 1 0%" *matCellDef="let element"> {{element.propertyLabel}} </td>
    </ng-container>

    <!-- rangeInfoEntity Column -->
    <ng-container matColumnDef="rangeInfoEntity">
      <th mat-header-cell style="flex: 0 1 0%" *matHeaderCellDef mat-sort-header="rangeLabel"> Entity </th>
      <td mat-cell style="flex: 0 1 0%" *matCellDef="let element">
        <gv-entity-preview [preview]="element.rangeInfoEntity" dragEnabled="false" openTabOnClick="true">
        </gv-entity-preview>
      </td>
    </ng-container>
    <!-- actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button [matMenuTriggerFor]="mainMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mainMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="remove(element)">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="element-row" *matRowDef="let element; columns: displayedColumns;"
      (mouseenter)="rowMouseenter.emit(element)" (mouseleave)="rowMouseleave.emit(element)"
      [ngClass]="{'gv-bg-highlight': element.highlight}"></tr>
  </table>
  <!--
  <i class="alert alert-light" *ngIf="!(data$ | async)?.length && listOf?.type === 'ofSource'">
    <p>Add links between this Source and Entities (right side panel).</p>
    <p>By creating such links, you state what Entities are mentioned in this Source.</p>
    <p>To add links to more specific sections of this source (e.g. a page or even words in a transctiption), use
      «Sections and digital reproductions».</p>

  </i> -->

  <span class="p-3" *ngIf="!(data$ | async)?.length && listOf?.type === 'digital-text'">
    <p class="mat-h4">Annotate entities mentioned in this text:</p>
    <ol class="mat-body">
      <li>Select some word(s) in the text to the left</li>
      <li>Click on 'Annotate...' in the menu over the text.</li>
      <li>Follow the instructions that then appear.</li>
    </ol>
  </span>
  <!-- <i class="alert alert-light" *ngIf="!(data$ | async)?.length && listOf?.type === 'ofEntity'">
    Link this Entity with
    <ul>
      <li>Sources (Books, Articles, Manuscripts, etc.), or</li>
      <li>Sections (Pages, Chapters, Sheets, etc.).</li>
    </ul>
    By creating such links, you state in where the Entity is mentioned.
  </i> -->
</div>

<!-- Create -->

<div class="gv-tile-body" *ngIf="(create$ |async)">

  <form [formGroup]="formGroup" class="gv-grow-1">
    <gv-mentioning-create-ctrl [domainChunk]="(chunk$|async)" [domainChunkFixed]="true"
      formControlName="mentioningCreateCtrl">
    </gv-mentioning-create-ctrl>

    <button class="btn btn-primary mt-3 mr-2" type="submit" [disabled]="formGroup.invalid" (click)="submit()">
      Create
    </button>

    <button class="btn btn-secondary mt-3" type="button" (click)="create$.next(false); chunk$.next(null)">
      Cancel
    </button>

  </form>

</div>
