<div gvDimensionChange (onDimensionsChange)="onDimensionsChange($event)">
  <div class="timeline-container border border-dark rounded">

    <!-- Header timeline -->

    <div class="header" [ngStyle]="{'height': _options.headerHeight +'px'}">

      <svg #svg [attr.width]="_options.width" [attr.height]="_options.headerHeight" draggableXAxis (onDrag)="onDrag($event)">
        <!-- <svg:defs>
          <mask id="maskHeaderAxis">
            <rect [attr.x]="timeline.xAxis.marginLeft" y="1" [attr.width]="100" [attr.height]="_options.headerHeight" fill="white" />
          </mask>
        </svg:defs> -->

        <!-- xAxis fixed top-->
        <g class="x-axis-julian" [xAxisVisual]="timeline.xAxis"></g>
        <g class="x-axis-gregorian" [xAxisVisual]="timeline.xAxisGreg" mask="url(#maskHeaderAxis)"></g>

        <!-- Rectangle at top left to cover label -->
        <svg:rect class="cover-rect" [attr.width]="timeline.xAxis.marginLeft-5" [attr.height]="_options.headerHeight" [attr.transform]="'translate(5,0)'"></svg:rect>

        <!-- line separating left from rigth area -->
        <svg:line class="separator-line" [attr.x1]="timeline.xAxis.marginLeft" y1="0" [attr.x2]="timeline.xAxis.marginLeft" [attr.y2]="_options.headerHeight"
        />

      </svg>
    </div>

    <!-- Body of timeline -->

    <div class="rows" [ngStyle]="{'height': _options.bodyHeight +'px'}" style="overflow-y:auto;overflow-x: hidden;" *ngIf="timeline.temporalEntities.length > 0">

      <svg [attr.width]="_options.width" [attr.height]="(timeline.temporalEntities.length * timeline.options.rowHeight)" draggableXAxis
        (onDrag)="onDrag($event)">

        <!-- rows -->
        <g class="row" *ngFor="let teEnt of timeline.temporalEntities; let i = index" [attr.transform]="'translate(0,' + (timeline.options.rowHeight * i) + ')'"
          [teEntVisual]="{temporalEntity:teEnt, timeline:timeline}"></g>

        <!-- xAxis ticks on rows-->
        <g class="x-axis-julian" [xAxisVisual]="timeline.xAxisTicks"></g>
        <g class="x-axis-gregorian" [xAxisVisual]="timeline.xAxisGregTicks"></g>

        <!-- line separating labels from existence time -->
        <svg:line class="separator-line" [attr.x1]="timeline.xAxis.marginLeft" y1="0" [attr.x2]="timeline.xAxis.marginLeft" [attr.y2]="timeline.options.bodyHeight"
        />

      </svg>

    </div>

    <!-- Body of empty timeline -->

    <div class="rows" [ngStyle]="{'height': 20 +'px'}" style="overflow:auto" style="overflow-y:auto;overflow-x: hidden;" *ngIf="timeline.temporalEntities.length === 0">
      <svg [attr.width]="_options.width" [attr.height]="20" draggableXAxis (onDrag)="onDrag($event)">

        <!-- xAxis ticks on rows-->
        <g class="x-axis-julian" [xAxisVisual]="timeline.xAxisTicks"></g>
        <g class="x-axis-gregorian" [xAxisVisual]="timeline.xAxisGregTicks"></g>

        <!-- line separating labels from existence time -->
        <svg:line class="separator-line" [attr.x1]="timeline.xAxis.marginLeft" y1="0" [attr.x2]="timeline.xAxis.marginLeft" [attr.y2]="20"
        />

        <svg:text class="no-data-text" [attr.transform]="'translate('+ (timeline.xAxis.marginLeft + 5) +', 13)'">No temporal information available</svg:text>
      </svg>
    </div>
  </div>


  <div class="btn-group d-flex mt-3" role="group" aria-label="timeline controls">
    <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
      <div class="align-self-center">
        <i class="fa fa-calendar"></i> Timeline
      </div>
    </div>
    <button class="btn btn-gray-700" (click)="zoomOut()">
      <i class="fa fa-search-minus"></i>
    </button>
    <button class="btn btn-gray-700" (click)="zoomIn()">
      <i class="fa fa-search-plus"></i>
    </button>
    <button class="btn btn-gray-700" (click)="zoomToExtent()">
      <i class="fa fa-arrows-alt"></i>
    </button>
  </div>

</div>