<i *ngIf="timeline?.data?.rows?.length === 0">No temporal information available</i>

<div gvDimensionChange (onDimensionsChange)="onDimensionsChange($event)" [ngStyle]="{'visibility': timeline?.data?.rows?.length === 0 ? 'hidden':'visible'}">
  <div class="btn-group btn-group-sm position-absolute" role="group" aria-label="timeline controls">
    <button class="btn" (click)="zoomOut()">
      <i class="fa fa-search-minus"></i>
    </button>
    <button class="btn" (click)="zoomIn()">
      <i class="fa fa-search-plus"></i>
    </button>
    <button class="btn" (click)="zoomToExtent()">
      <i class="fa fa-arrows-alt"></i>
    </button>
  </div>
  <div class="timeline-container d-flex">


    <svg [attr.width]="_options.width" [attr.height]="_options.height">

      <!-- Header timeline -->


      <g class="header" #header [attr.width]="_options.width" [attr.height]="_options.headerHeight"
        [rangeEmitterOnMouseDown]="h" (onRangeChange)="changeCursorPosition($event)">
        <!-- <svg:defs>
          <mask id="maskHeaderAxis">
            <rect [attr.x]="timeline.xAxis.marginLeft" y="1" [attr.width]="100" [attr.height]="_options.headerHeight" fill="white" />
          </mask>
        </svg:defs> -->

        <!-- rect to catch mousedown events -->
        <svg:rect [attr.width]="_options.width" [attr.height]="_options.headerHeight" opacity="0"
          [rangeEmitterOnMouseDown]="h" (onRangeChange)="changeCursorPosition($event)"></svg:rect>

        <g *ngIf="timeline">

          <!-- xAxis fixed top-->
          <g class="x-axis-julian" [xAxisVisual]="timeline.xAxis"></g>
          <g class="x-axis-gregorian" [xAxisVisual]="timeline.xAxisGreg"></g>

          <!-- Rectangle at top left to cover label -->
          <svg:rect class="cover-rect" [attr.width]="timeline.xAxis.marginLeft-5" [attr.height]="_options.headerHeight"
            [attr.transform]="'translate(5,0)'"></svg:rect>

          <!-- line separating left from rigth area -->
          <svg:line class="separator-line" [attr.x1]="timeline.xAxis.marginLeft" y1="0"
            [attr.x2]="timeline.xAxis.marginLeft" [attr.y2]="_options.headerHeight" />

        </g>
      </g>

      <!-- Body of timeline -->

      <g class="rows" [attr.transform]="'translate(0, '+ _options.headerHeight +')'"
        [ngStyle]="{'height': _options.bodyHeight +'px'}" style="overflow-y:auto;overflow-x: hidden;"
        *ngIf="timeline?.data?.rows?.length > 0">

        <svg [attr.width]="_options.width" [attr.height]="(timeline.data.rows.length * timeline.options.rowHeight)"
          draggableXAxis (onDrag)="onDrag($event)" (onDragStart)="onDragStart()" (onDragEnd)="onDragEnd()">

          <!-- rows -->
          <g class="row" *ngFor="let row of timeline.data.rows; let i = index"
            [attr.transform]="'translate(0,' + (timeline.options.rowHeight * i) + ')'"
            [teEntVisual]="{row:row, timeline:timeline}" (rowMouseEnter)="onRowMouseEnter(row)"
            (rowMouseLeave)="onRowMouseLeave(row)" (rowClick)="onRowClick(row)"></g>

          <!-- xAxis ticks on rows-->
          <g class="x-axis-julian" [xAxisVisual]="timeline.xAxisTicks"></g>
          <g class="x-axis-gregorian" [xAxisVisual]="timeline.xAxisGregTicks"></g>

          <!-- line separating labels from existence time -->
          <svg:line class="separator-line" [attr.x1]="timeline.xAxis.marginLeft" y1="0"
            [attr.x2]="timeline.xAxis.marginLeft" [attr.y2]="timeline.options.bodyHeight" />


        </svg>

      </g>

      <!-- Body of empty timeline -->

      <g class="rows" [attr.transform]="'translate(0, '+ _options.headerHeight +')'" [ngStyle]="{'height': 20 +'px'}"
        style="overflow:auto" style="overflow-y:auto;overflow-x: hidden;" *ngIf="timeline?.data?.rows?.length === 0">
        <svg [attr.width]="_options.width" [attr.height]="20" draggableXAxis (onDrag)="onDrag($event)"
          (onDragStart)="onDragStart()" (onDragEnd)="onDragEnd()">

          <!-- xAxis ticks on rows-->
          <g class="x-axis-gregorian" [xAxisVisual]="timeline.xAxisGregTicks"></g>
          <g class="x-axis-julian" [xAxisVisual]="timeline.xAxisTicks"></g>

          <!-- line separating labels from existence time -->
          <svg:line class="separator-line" [attr.x1]="timeline.xAxis.marginLeft" y1="0"
            [attr.x2]="timeline.xAxis.marginLeft" [attr.y2]="20" />

          <svg:text class="no-data-text" [attr.transform]="'translate('+ (timeline.xAxis.marginLeft + 5) +', 13)'">No
            temporal information available</svg:text>
        </svg>
      </g>

      <!-- Cursor -->

      <g *ngIf="timeline && _options.cursorPosition" [cursorVisual]="{
        timeline: timeline,
        julianSecond: _options.cursorPosition, 
        bodyHeight: _options.bodyHeight,
        headerHeight:  _options.headerHeight
      }" [rangeEmitterOnMouseDown]="h" (onRangeChange)="changeCursorPosition($event)"></g>

    </svg>

  </div>




</div>