<table class="mat-table w-100" *ngIf="pkRoot">
  <thead>
    <tr class="mat-header-row" fxLayout="row">
      <th class="mat-header-cell pl-5" fxFlex="60" fxLayout="row" fxLayoutAlign="start center">
        Name
      </th>
      <th class="mat-header-cell" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
        Type
      </th>
      <th class="mat-header-cell pr-0" fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngTemplateOutlet="menuBtn; context:{
          isDigital: false,
          pkParent: pkRoot,
          parentIsF2Expression: rootIsF2Expression
        }"></ng-container>
      </th>
    </tr>
  </thead>
</table>
<mat-divider></mat-divider>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="gv-scroll-y-auto">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle [ngClass]="{
    'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node && !node.isDigital,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node && !node.isDigital}"
    draggable="true" (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
    (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">


    <!-- if expression portion -> edge of tree -->
    <div fxLayout="row">

      <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" [ngStyle]="{'padding-left.px': 40 * node.level}">

        <button mat-icon-button disabled> </button>

        <button *ngIf="!node.isDigital" mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon>
        </button>
        <button *ngIf="node.isDigital" mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror">description</mat-icon>
        </button>

        <div class="gv-ellipsis">
          {{node.name}}
          <i *ngIf="!node.name" class="text-muted"> Empty </i>
        </div>
      </div>


      <div fxFlex="30" class="gv-ellipsis mat-text-secondary">
        <span *ngIf="node.isDigital">
          {{node.typeLabel}}
        </span>
        <gv-type-item *ngIf="!node.isDigital" [pkEntity]="node.role.fk_temporal_entity" [pkProperty]="1320"
          [pkTypedClass]="503" [pkTypeClass]="516"></gv-type-item>
      </div>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngTemplateOutlet="menuBtn; context:{
          isDigital: node.isDigital,
          pkParent: node.role.fk_temporal_entity,
          node: node
        }"></ng-container>
      </div>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [ngClass]="{
    'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}" draggable="true"
    (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
    (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">

    <div fxLayout="row">

      <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" [ngStyle]="{'padding-left.px': 40 * node.level}">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <button mat-icon-button disabled>
          <mat-icon class="mat-icon-rtl-mirror">folder</mat-icon>
        </button>

        <div class="gv-ellipsis">
          {{node.name}}
        </div>
      </div>

      <div fxFlex="30" class="gv-ellipsis  mat-text-secondary">
        <gv-type-item *ngIf="!node.isDigital" [pkEntity]="node.role.fk_temporal_entity" [pkProperty]="1320"
          [pkTypedClass]="503" [pkTypeClass]="516"></gv-type-item>
      </div>

      <div fxFlex="10" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngTemplateOutlet="menuBtn; context:{
          isDigital: node.isDigital,
          pkParent: node.role.fk_temporal_entity,
          node: node
        }"></ng-container>
      </div>
    </div>
  </mat-tree-node>
</mat-tree>

<div #emptyItem>
</div>


<ng-template #menuBtn let-isDigital="isDigital" let-pkParent="pkParent" let-parentIsF2Expression="parentIsF2Expression"
  let-node="node">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu" xPosition="before">

    <!-- is expression portion or digital -->
    <button mat-menu-item *ngIf="!parentIsF2Expression" (click)="open(node)">
      <mat-icon>edit</mat-icon>
      <span>Open</span>
    </button>

    <!-- is expression portion -->
    <mat-divider *ngIf="!isDigital && !parentIsF2Expression"></mat-divider>

    <!-- is expression or expression portion -->
    <button mat-menu-item *ngIf="!isDigital" (click)="addExpressionPortion(pkParent, parentIsF2Expression)">
      <mat-icon>folder</mat-icon>
      <span>Add a Section</span>
    </button>
    <button mat-menu-item *ngIf="!isDigital" (click)="addText(pkParent, parentIsF2Expression)">
      <mat-icon>description</mat-icon>
      <span>Add a Text</span>
    </button>

    <!-- is expression portion -->
    <mat-divider *ngIf="!isDigital && !parentIsF2Expression"></mat-divider>

    <!-- is expression portion or digital -->
    <button mat-menu-item *ngIf="!parentIsF2Expression" (click)="removeExpressionPortion(node)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>

  </mat-menu>
</ng-template>
