<div [ngClass]="{'alt-pressed': keyboard.altPressed}">

  <!-- Preview State -->

  <div *ngIf="peItEntityState=='preview'">

  </div>


  <!-- Create State -->

  <div *ngIf="peItEntityState === 'create'">

    <span *ngIf="keyboard.altPressed">
      [ready: {{isReadyToCreate}}]
    </span>

    <gv-prop-section-list
    [propSectionListState]="'create'"
    [parentPeIt]="peItToCreate"
    [outgoingProperties]="outgoingProperties"
    [ingoingProperties]="ingoingProperties"
    (readyToCreate)="emitReadyToCreate($event)"
    (notReadyToCreate)="emitNotReadyToCreate()"
    ></gv-prop-section-list>


  </div>

  <!-- Add State -->

  <div *ngIf="peItEntityState === 'add-pe-it' && !loading">

    <small class="text-muted">Person</small> {{stdAppeString}}


    <gv-prop-section-list
    [roles]="peIt.pi_roles"
    [propSectionListState]="peItEntityState"
    [parentPeIt]="peIt"
    [outgoingProperties]="outgoingProperties"
    [ingoingProperties]="ingoingProperties"
    (readyToCreate)="emitReadyToCreate($event)"
    (notReadyToCreate)="emitNotReadyToCreate()"
    (readyToAdd)="onRolesReadyToAdd($event)"
    ></gv-prop-section-list>


  </div>


  <!-- Edit and ViewCommunity States  -->

  <div *ngIf="['edit', 'viewCommunity'].indexOf(peItEntityState) > -1 && !loading">

    <!-- Title / Standard Appellations of PeIt -->

    <div class="gv-edit-panel-header">
      <section class="row">
        <div class="col-md-8">
          <h2>
            <small class="text-muted">Person</small> {{stdAppeString}}
          </h2>
        </div>
        <div class="col-md-4" *ngIf="!addingInformation">
          <div class="btn-group float-right mt-2" role="group">
            <button class="btn btn-link mb-3" (click)="startAddingInformation()">
              <i class="fa fa-plus"></i>  Add information
            </button>
          </div>
        </div>
      </section>
    </div>

    <!-- Tools to edit PeIt  -->

    <div class="d-flex flex-row">

      <div class="gv-edit-panel-body gv-flex-grow-1">



        <!-- Info of PeIt -->

        <gv-prop-section-list [roles]="peIt.pi_roles"
        [propSectionListState]="peItEntityState"
        [addingInformation]="addingInformation"
        [pkEntity]="pkEntity"
        [parentPeIt]="peIt"
        [outgoingProperties]="outgoingProperties"
        [ingoingProperties]="ingoingProperties"
        (appeChange)="whenAppeChange($event)"
        (stopAddingInformation)="stopAddingInformation()"
        ></gv-prop-section-list>


      </div>

      <div class="gv-edit-panel-body gv-flex-grow-5">

        <div class="card gv-naming text-white">
          <div class="card-header">
            Map
          </div>
          <div class="card-body">
            MAPMAPMAP
          </div>
        </div>
        <br/>
        <div class="card">
          <div class="card-header">
            Timeline
          </div>
          <div class="card-body">
            MAPMAPMAP
          </div>
        </div>

      </div>

    </div>


  </div>

</div>
