// .field-content {
//   margin-left: 40px;
// }

.field-node {
  // display: block;
  background: white;

  gv-type-item {
    display: inline-block;
  }
}

.field-margin-left {
  margin-left: 24px;
}
.field-margin-right {
  margin-right: 24px;
}
