<div *ngIf="loading" class="w-100 d-flex align-items-center justify-content-center" style="height: 200px;">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

<div [hidden]="loading" class="mat-typography">
  <p>
    The following table shows OntoMe Profiles ready to be activated in your Geovistory project.
    (See the full list of profiles on
    <a [href]="ontomeUrl + '/profile'" target="_blank"> OntoMe </a>.)
  </p>
  <p>
    Click on 'Activate...' to go on with the activation of a profile.
  </p>
  <div class="mat-elevation-z8 mb-3">

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> Profile Name </th>
        <td mat-cell *matCellDef="let element" class="mat-body-strong">{{element.label}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element">
          {{element.scopeNote|truncate:['400']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="ontomeLink">
        <th mat-header-cell *matHeaderCellDef> OntoME Link </th>
        <td mat-cell *matCellDef="let element">
          <a mat-button color="primary" [attr.href]="ontomeUrl + '/profile/' + element.profileId" target="_blank">
            Read&nbsp;more...
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="!(enabledProfiles$ | async)[element.profileId]" (click)="activate(element)" mat-button
            color="primary">Activate...</button>
          <button *ngIf="(enabledProfiles$ | async)[element.profileId]" [disabled]="true" mat-button
            matTooltip="Already activated" color="accent">Activate...</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="label2">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="form-field-density-5 hide-subscript">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyLabelFilter($event)" #input>
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="description2">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="form-field-density-5 hide-subscript">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyDescriptionFilter($event)" #input>
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="ontomeLink2">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="actions2">
        <th mat-header-cell *matHeaderCellDef> </th>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-header-row *matHeaderRowDef="secondHeaderRow"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;">
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
  </div>

</div>