<mat-select [value]="value$|async" (selectionChange)="onSelect($event)" (openedChange)="menuToggled($event)"
  [placeholder]="placeholder">

  <div class="loc-filter">
    <input #search class="loc-filter-input mat-text-secondary" [placeholder]="'Filter'" autofocus="true"
      autocomplete="off" (keyup)="onFilter($event)" [value]="filter$|async">
    <mat-divider></mat-divider>
  </div>
  <mat-option *ngFor="let node of typeOptions$ | async" [value]="node.pkType">
    <span *ngIf="node.pkType"> {{node.label}} </span>
    <i *ngIf="!node.pkType"> {{node.label}} </i>
  </mat-option>
  <!-- <div *ngIf="showPrimaryAction" class="loc-actions">
    <mat-divider></mat-divider>
    <button mat-button color="primary" (click)="primaryAction.emit()">{{primaryActionText}}</button>
  </div> -->
</mat-select>
