<mat-form-field class="gv-cfn-operator-ctrl hide-subscript">
  <!-- <mat-label>Operator</mat-label> -->
  <mat-select [value]="'='" (selectionChange)="onOperatorChange($event)">
    <mat-option *ngFor="let op of operators" [value]="op"> "{{op}}" </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="gv-cfn-value-ctrl hide-subscript">
  <!-- <mat-label>Filter number</mat-label> -->
  <input matInput type="number" placeholder="Number..." (keyup)="onValueChange($event)" autocomplete="off" />
</mat-form-field>
