:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gv-cfn-operator-ctrl {
  flex: 1 0 40px;
  overflow: auto;
}

.gv-cfn-value-ctrl {
  flex: 1 1 auto;
  overflow: auto;
  padding-left: 4px;
}