<div class="gv-flex-fh" style="flex: 1 0 0; position: relative;">

  <!-- SPINNER -->
  <div *ngIf="loading" class="gv-table-spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>

  <!-- TABLE -->
  <span id="scrollAccess" style="width: 100%; height: 100%">
    <p-table [value]="table" [scrollable]="true" [resizableColumns]="true" columnResizeMode="expand"
      class="gv-p-datatable-full-height gv-p-datatable-border-cells"
      [ngClass]="{'mat-border-edit-mode': !(readmode$|async)}">

      <!-- Header params for prime-ng -->
      <ng-template pTemplate="colgroup">
        <colgroup>
          <ng-container *ngFor="let col of headers, let i = index">
            <col style="width:150px" />
            <col *ngIf="col.mapping" style="width:200px" />
          </ng-container>
        </colgroup>
      </ng-template>

      <!-- HEADER -->
      <ng-template pTemplate="header">

        <!-- TITLE ROW -->
        <tr>
          <ng-container *ngFor="let col of headers; let i = index">
            <ng-container *ngIf="!col.mapping">
              <th class="gv-pointer gv-td-col-header" [ngClass]="{'mat-bg-grey-100': i==0 && origin !='importer'}"
                colspan="1">
                <!-- Column title-->
                <div class="d-flex justify-content-between" [ngClass]="{'gv-word-wrap-break-word': lineBreak}">
                  <mat-icon *ngIf="sortingEnabled && curSort.pkColumn == col.pk_column" (click)="sort(i)"
                    [svgIcon]="curSort.direction === 'ASC' ? 'arrow-down' : 'arrow-up'">
                  </mat-icon>
                  <mat-icon></mat-icon>
                  <span (click)="sort(i)" style="display: flex; overflow: hidden;"
                    [ngClass]="{'gv-white-space-nowrap': !lineBreak, 'gv-word-wrap-break-word': lineBreak}">
                    {{col.colLabel}}
                  </span>
                  <mat-icon *ngIf="sortingEnabled && curSort.pkColumn == col.pk_column"></mat-icon>
                  <mat-icon *ngIf="origin == 'importer' || i == 0"></mat-icon>
                  <mat-icon *ngIf="origin !='importer' && i != 0 && !(readmode$|async)" svgIcon="link"
                    (click)="openMappingDialog(col.colLabel, col.pk_column, col.mapping)"></mat-icon>
                  <mat-icon *ngIf="(readmode$|async) && i != 0"></mat-icon>
                </div>
                <!-- Column comment-->
                <div class="d-flex justify-content-center mat-caption"
                  [ngClass]="{'gv-white-space-nowrap gv-fade-out-right': !lineBreak, 'gv-word-wrap-break-word': lineBreak}">
                  {{col.comment == 'number' ? 'number' : 'text'}}
                  <span *ngIf="(showIds$|async) && i != 0" gvCopyClipboard [toClipboard]="col.pk_column+''"
                    [matTooltip]="'Click to copy colum id: ' + col.pk_column">
                    &nbsp;| id: {{col.pk_column}}
                  </span>
                </div>
              </th>
            </ng-container>

            <ng-container *ngIf="col.mapping">
              <th class="gv-pointer gv-td-col-header" colspan="2">
                <!-- Column title-->
                <div class="d-flex justify-content-between" [ngClass]="{'gv-word-wrap-break-word': lineBreak}">
                  <mat-icon *ngIf="sortingEnabled && curSort.pkColumn == col.pk_column" (click)="sort(i)"
                    [svgIcon]="curSort.direction === 'ASC' ? 'arrow-down' : 'arrow-up'">
                  </mat-icon>
                  <mat-icon></mat-icon>
                  <span (click)="sort(i)">{{col.colLabel}}</span>
                  <mat-icon *ngIf="sortingEnabled && curSort.pkColumn == col.pk_column"></mat-icon>
                  <mat-icon *ngIf="!(readmode$|async)" svgIcon="link"
                    (click)="openMappingDialog(col.colLabel, col.pk_column, col.mapping)">
                  </mat-icon>
                  <mat-icon *ngIf="(readmode$|async) && i != 0"></mat-icon>
                </div>
                <!-- Column comment-->
                <div class="d-flex justify-content-center mat-caption"
                  [ngClass]="{'gv-white-space-nowrap gv-fade-out-right': !lineBreak, 'gv-word-wrap-break-word': lineBreak}">
                  {{col.comment == 'number' ? 'number' : 'text'}}
                  <span *ngIf="(showIds$|async) && i != 0" gvCopyClipboard [toClipboard]="col.pk_column+''"
                    [matTooltip]="'Click to copy colum id: ' + col.pk_column">
                    &nbsp;| id: {{col.pk_column}}
                  </span>
                </div>
              </th>
            </ng-container>
          </ng-container>
        </tr>

        <!-- MAPPING ROW -->
        <tr *ngIf="isThereMappings$ | async">
          <ng-container *ngFor="let col of headers; let i = index">
            <ng-container *ngIf="!col.mapping">
              <th [ngClass]="{'mat-bg-grey-100': i==0}" class="text-center mat-caption" pResizableColumn colspan="1">
              </th>
            </ng-container>

            <ng-container *ngIf="col.mapping">
              <th class="text-center mat-caption" pResizableColumn colspan="1">
                text
              </th>
              <th class="text-center mat-caption mat-bg-grey-50" pResizableColumn colspan="1">
                matched
                <span *ngIf="(col.mapping.icon | async) === 'teEn'"
                  class="icon fa fa-star-o align-self-center gv-icon-preview"></span>
                <span *ngIf="(col.mapping.icon | async)  === 'peIt'"
                  class="icon gv-icon gv-icon-persistent-entity align-self-center gv-icon-preview"></span>
                {{(col.mapping.className | async)}}
              </th>
            </ng-container>
          </ng-container>
        </tr>

        <!-- FILTERING ROW-->
        <tr class="table-row-filter" *ngIf="filteringEnabled">
          <ng-container *ngFor="let col of headers; let i = index">
            <th [attr.colSpan]="col.mapping ? 2 : 1" [ngClass]="{'mat-bg-grey-100': i==0}">
              <div class="mat-elevation-z3 gv-td-filter-box p-1" *ngIf="i != 0">
                <gv-col-filter-text *ngIf="col.type=='string'" (filterChange)="filter(i, $event)">
                </gv-col-filter-text>
                <gv-col-filter-numeric *ngIf="col.type=='number'" (filterChange)="filter(i, $event)">
                </gv-col-filter-numeric>
              </div>
            </th>
          </ng-container>
        </tr>


        <!-- NEW TEMPROW for creating a new one -->
        <tr *ngIf="origin !='importer' && newRow.position >= 0">
          <ng-container *ngFor="let value of newRow.cells; let j = index">
            <td *ngIf="j != 0">
              <div style="display: flex; justify-content: center;">
                <mat-form-field appearance="outline" style="width: 95%; margin-bottom: -1.25em">
                  <input matInput type="{{getTypeOfColumn(j)}}" [(ngModel)]="value.text"
                    [placeholder]="'Enter ' + (getTypeOfColumn(j) == 'number' ? 'number' : 'text')" autocomplete="off">
                </mat-form-field>
              </div>
            </td>
            <td *ngIf="j == 0">
              <div style="display: flex; justify-content: center; min-height: 40px;">
                New row at position {{value.text}}
              </div>
              <div style="display: flex; justify-content: space-evenly;">
                <mat-icon color="accent" svgIcon="check-circle-outline" (click)="validateNewRowDemanded.emit(newRow)"
                  style="cursor: pointer;">
                </mat-icon>
                <mat-icon color="warn" svgIcon="close-circle-outline" (click)="cancelNewRowDemanded.emit()"
                  style="cursor: pointer;"></mat-icon>
              </div>
            </td>

            <td *ngIf="doesColumnHasMapping(value.pkColumn)" class="mat-bg-grey-100"></td>
          </ng-container>
        </tr>

      </ng-template>

      <!-- BODY -->
      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <ng-container *ngIf="row.length == 0">
            <td [ngClass]="{'gv-white-space-nowrap': !lineBreak, 'gv-word-wrap-break-word': lineBreak}"
              class="text-center align-self-center" pResizableColumn [colSpan]="getUIcolumnNumber()">
              No records
            </td>
          </ng-container>
          <ng-container *ngFor="let value of row; let j = index">
            <ng-container *ngIf="j == 0">
              <!-- Cell content on first column (index) -->
              <td
                [ngClass]="{'gv-white-space-nowrap': !lineBreak, 'gv-word-wrap-break-word': lineBreak, 'mat-bg-grey-100': origin !='importer'}"
                class="text-center align-self-center" pResizableColumn colspan="1"
                [matTooltip]="(showIds$|async) ? 'Click to copy row id: ' + value.pkRow: ''" gvCopyClipboard
                [toClipboard]="value.pkRow+''" [clipBoardActivated]="(showIds$|async)">
                <div [ngStyle]=" {'justify-content': !(readmode$|async) ? 'space-between' : 'center' }"
                  style="display: flex; min-height: 35px;">
                  <mat-icon *ngIf="!(readmode$|async)"></mat-icon>
                  <span style="margin-top: auto; margin-bottom: auto;">
                    {{value.text}}
                    <span *ngIf="(showIds$|async)" class="mat-caption">&nbsp;| id:
                      {{value.pkRow}}</span>
                  </span>
                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="createRow(value, 'above')">
                      <mat-icon color="primary" svgIcon="plus"></mat-icon>
                      Add a new row above
                    </button>
                    <button mat-menu-item (click)="createRow(value, 'below')">
                      <mat-icon color="primary" svgIcon="plus"></mat-icon>
                      Add a new row below
                    </button>
                    <button mat-menu-item (click)="moveToIndex(value)">
                      <mat-icon color="primary" svgIcon="arrow-up-down"></mat-icon>
                      Move to index
                    </button>
                    <!-- Temporary comment, will be remove after correct implementation -->
                    <!-- <mat-divider></mat-divider>
                    <button mat-menu-item (click)="deleteRow(value)">
                      <mat-icon color="warn" svgIcon="delete"></mat-icon>
                      Delete row
                    </button> -->
                  </mat-menu>
                  <mat-icon *ngIf="!(readmode$|async)" svgIcon="dots-vertical" [matMenuTriggerFor]="appMenu"
                    style="margin-top: auto; margin-bottom: auto;"></mat-icon>
                </div>
              </td>
            </ng-container>

            <ng-container *ngIf="j != 0">
              <!-- Cell content on columns -->
              <td [ngClass]="{'gv-white-space-nowrap': !lineBreak, 'gv-word-wrap-break-word': lineBreak}"
                class="text-center align-self-center" pResizableColumn colspan="1" pEditableColumn
                [matTooltip]="(showIds$|async) && value && value.pkCell != null? 'Click to copy cell id: ' + value.pkCell : ''"
                gvCopyClipboard [toClipboard]="value ? value.pkCell : ''" [clipBoardActivated]="(showIds$|async)">

                <ng-container *ngIf="readmode$|async">
                  <div class="content-cell" [ngClass]="{'gv-fade-out-right': !lineBreak}">
                    <span class="center-vert">{{value ? value.text : ''}}</span>
                  </div>
                </ng-container>

                <ng-container *ngIf="!(readmode$|async)">
                  <p-cellEditor id="cells_{{i}}_{{j}}">
                    <ng-template pTemplate="input">

                      <mat-form-field appearance="outline">
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" pInputText
                          [(ngModel)]="value.text" (focus)="focusCell(value.text)"
                          (keydown.enter)="cellBlur(value.pkCell, value.pkRow, value.pkColumn, i, j, $any($event).target.value)"
                          (blur)="cellBlur(value.pkCell, value.pkRow, value.pkColumn, i, j, $any($event).target.value)"
                          autocomplete="off" style="overflow: hidden;"></textarea>
                      </mat-form-field>

                    </ng-template>
                    <ng-template pTemplate="output">
                      <div class="content-cell">
                        <span class="center-vert" [ngClass]="{'gv-fade-out-right': !lineBreak}">{{value.text}}</span>
                      </div>
                    </ng-template>
                  </p-cellEditor>
                </ng-container>

                <ng-container *ngIf="showIds$|async">
                  <div class="id-cell mat-caption">
                    <span *ngIf="!!value.pkCell">
                      id: {{value.pkCell}}
                    </span>
                  </div>
                  <div class="content-cell">
                    <span class="center-vert">{{value.text}}</span>
                  </div>
                </ng-container>

              </td>

              <td *ngIf="headers[j]?.mapping" pResizableColumn colspan="1" class="mat-bg-grey-50"
                [ngClass]="{'gv-white-space-nowrap': true}">
                <gv-view-field-annotations-of-cell *ngIf="value.pkCell" [pkMappedClass]="headers[j].mapping.fkClass"
                  [pkCell]="value.pkCell" [pkProject]="pkProject">
                </gv-view-field-annotations-of-cell>

                <!--  TODO: values  -->
                <!-- <gv-entity-matcher *ngIf="!isClassValueObjectType(headers[j].mapping.fkClass)"
                  [pkClass]="headers[j].mapping.fkClass" [pkCell]="value.pkCell" [cellContent]="value.text">
                </gv-entity-matcher>
                <gv-value-matcher *ngIf="isClassValueObjectType(headers[j].mapping.fkClass)"
                  [vot]="getVOT(headers[j].mapping.fkClass)" [pkClass]="headers[j].mapping.fkClass"
                  [pkCell]="value.pkCell">
                </gv-value-matcher> -->
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </span>
</div>

<ng-template #cover>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
