<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">
        <i class="fa fa-home"></i> Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="../../">Your Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="../">{{projectLabel$ | async}}</a>
    </li>
    <li class="breadcrumb-item">Edit project</li>
  </ol>
</gv-navbar>
<div id="edit" class="gv-edit container-fluid">
  <div class="row">
    <gv-project-edit-panel id="sources" (goToState0Start)="updateUrlQueryParams({'s':'off'})" (goToState50Start)="updateUrlQueryParams({'s':'on'})"
      [stateInput]="(sourcesState$ | async)">

      <div closeBtn>
        <button type="button" name="button" class="btn btn-link text-info" title="Minimize">
          <i class="fa fa-compress"></i>
        </button>
      </div>
      <div expandBtn class="d-flex flex-column align-items-center gv-pointer">
        <i class="gv-icon gv-icon-source text-info"></i>
        <span class="fa-rotate-90 mt-3 text-muted">Sources</span>
      </div>
      <div body>
        <router-outlet name="sources"></router-outlet>
      </div>


    </gv-project-edit-panel>

    <gv-project-edit-panel id="information" (goToState0Start)="updateUrlQueryParams({'i':'off'})" (goToState50Start)="updateUrlQueryParams({'i':'on'})"
      [stateInput]="(informationState$ | async)">

      <div closeBtn>
        <button type="button" name="button" class="btn btn-link" title="Minimize">
          <i class="fa fa-compress"></i>
        </button>
      </div>
      <div expandBtn class="d-flex flex-column align-items-center gv-pointer">
        <i class="gv-icon gv-icon-information-simple text-primary"></i>
        <span class="fa-rotate-90 mt-4 text-muted">Data&nbsp;Units</span>
      </div>
      <div body>
        <router-outlet name="information"></router-outlet>
      </div>
    </gv-project-edit-panel>
  </div>
</div>