<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/projects">Your Projects</a></li>
    <li class="breadcrumb-item">{{(p.activeProject$|async)?.label}}</li>
  </ol>
</gv-navbar>
<mat-drawer-container class="gv-flex-fh">

  <!-- Main Categories (Sources, Entities …) -->
  <mat-drawer class="bg-light gv-main-drawer" mode="side" opened style="width: 80px">

    <div class="h-100 d-flex flex-column">

      <div class="gv-main-categories btn-group-vertical rounded-0 d-block">
        <button class="gv-nav-btn d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(p.list$ | async)==='sources'}" (click)="setList('sources')">
          <div class="fa-2x gv-icon gv-icon-source gv-source-color"></div>
          <div>Sources</div>
        </button>
        <button class="gv-nav-btn d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(p.list$ | async)==='entities'}" (click)="setList('entities')">
          <div class="fa-2x gv-icon gv-icon-entity gv-entity-color"></div>
          <div>Entities</div>
        </button>
        <button class="gv-nav-btn d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(p.list$ | async)==='queries'}" (click)="setList('queries')">
          <div class="fa-2x gv-icon gv-icon-query gv-query-color"></div> Queries
        </button>
        <button class="gv-nav-btn d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(p.list$ | async)==='visuals'}" (click)="setList('visuals')">
          <div class="fa-2x gv-icon gv-icon-visual gv-visual-color"></div> Visuals
        </button>

        <button class="gv-nav-btn d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(p.list$ | async)==='stories'}" (click)="setList('stories')">
          <div class="fa-2x gv-icon gv-icon-story gv-story-color"></div> Stories
        </button>

      </div>


      <div class="btn-group-vertical rounded-0 d-block mt-auto">
        <button class="gv-nav-btn d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(p.list$ | async)==='settings'}" (click)="setList('settings')">
          <div class="fa fa-2x fa-cogs text-secondary"></div> Settings
        </button>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content style="display:flex; flex-direction:column">
    <mat-drawer-container style="flex-grow: 1; flex-basis:100%;"
      [hasBackdrop]="false //!(p.creatingMentioning$ | async)">

      <!-- List of Sources, Entities … -->
      <mat-drawer class="gv-drawer-list" #list mode="over" [opened]="(p.list$ | async) !== ''" style="width: 300px;">
        <button class="btn btn-link-gray position-absolute" style="right: 0; top: 50%; z-index: 2000"
          (click)="list.close()" (positionChanged)="setList('')">
          <i class="fa fa-chevron-left"></i> </button>
        <gv-source-list *ngIf="(p.list$ | async) === 'sources'"></gv-source-list>
        <gv-information *ngIf="(p.list$ | async) === 'entities'"></gv-information>
        <gv-query-list *ngIf="(p.list$ | async) === 'queries'"></gv-query-list>
        <gv-visual-list *ngIf="(p.list$ | async) === 'visuals'"></gv-visual-list>
        <div *ngIf="(p.list$ | async) === 'stories'">
          <gv-list-drawer-header>
            <div title>Your Stories</div>
          </gv-list-drawer-header>
          <div class="ml-3">Coming soon.</div>
        </div>
        <gv-settings-list *ngIf="(p.list$ | async) === 'settings'"></gv-settings-list>

      </mat-drawer>

      <!-- Container for Tabs … -->
      <mat-drawer-content class="d-flex ex-b" cdkDropListGroup>
        <div *ngIf="(p.panels$ | async)?.length === 0"
          class="no-panels gv-flex-fh justify-content-center align-items-center p-3">
          <div class="display-4 text-gray-400">
            Your Project
          </div>
          <div class="display-1 text-gray-400">
            {{(p.activeProject$|async)?.label}}
          </div>
          <div class="text-gray-400 helper-text">
            Find your Entities and Sources to the left.
          </div>
        </div>

        <!-- Tab Handles -->
        <as-split class="gv-split-style" [direction]="'horizontal'" gutterSize="1"
          *ngIf="(p.panels$ | async)?.length > 0">
          <as-split-area size="(100 / (p.panels$ | async)?.length )"
            *ngFor="let panel of (p.panels$ | async); let i = index; trackBy:trackByFn"
            class="gv-panel-for-tabs gv-grow-1 gv-flex-fh" style="overflow: hidden;" (mousedown)="p.focusPanel(i)"
            [ngClass]="{'focus': ((p.focusedPanel$|async ) === i) }">

            <div>
              <div cdkDropList [cdkDropListData]="i" cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="dropTab($event)" class="tab-list">

                <gv-tab-handle *ngFor="let tab of panel.tabs; let j=index;" cdkDrag class="tab-box"
                  [cdkDragData]="{'panelIndex': i, 'tabIndex': j}" [ngClass]="{'active': tab.active }"
                  (cdkDragEnded)="tabDragEnded()" (cdkDragStarted)="tabDragStarted()" [tab]="tab"
                  (activateTab)="p.activateTab(i,j)" (closeTab)="p.closeTab(i,j)"></gv-tab-handle>

              </div>
              <!-- <button (click)="p.addTab()">Split</button> -->
            </div>

            <div class="panel-body gv-flex-fh position-relative">
              <div gvPanelBody [gvPanelId]="panel.id">
                <!-- Tab body will be placed dynamically via Cdk Portal -->
              </div>

              <div class="split-panel-drop-zone"
                [ngClass]="{'active': highlightPanel[i] === 'full', 'enabled': tabDragging}">

                <div class="highlight left" [ngClass]="{'active': highlightPanel[i] === 'left'}"></div>
                <div class="highlight right" [ngClass]="{'active': highlightPanel[i] === 'right'}"></div>

                <div class="split left" [ngClass]="{'enabled': tabDragging}" cdkDropList
                  (cdkDropListEntered)="setHighlightPanel(i, 'left')"
                  (cdkDropListExited)="unsetHighlightPanel(i, 'left')" (cdkDropListDropped)="splitPanel(i, $event)">
                </div>
                <div class="split center" cdkDropList (cdkDropListEntered)="setHighlightPanel(i, 'full')"
                  (cdkDropListExited)="unsetHighlightPanel(i, 'full')"> </div>
                <div class="split right" cdkDropList (cdkDropListEntered)="setHighlightPanel(i, 'right')"
                  (cdkDropListExited)="unsetHighlightPanel(i, 'right')" (cdkDropListDropped)="splitPanel(i+1, $event)">
                </div>

              </div>
            </div>

          </as-split-area>
        </as-split>

        <!-- Tab Bodies. The body is placed to gvPanelBody via Cdk Portal -->
        <gv-tab-body [active]="tab.active" [panelId]="tab.panelId" [panelBodies$]="panelBodies$"
          *ngFor="let tab of (allTabs$ | async); let j=index; trackBy:trackByPath;">

          <gv-text-detail class="gv-flex-fh" *ngIf="tab.component=='text-detail'" [pkEntity]="tab.data.pkEntity"
            [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
          </gv-text-detail>


          <gv-pe-it-detail class="gv-flex-fh" *ngIf="tab.component=='pe-it-detail'" [tab]="tab"
            [pkEntity]="tab.data.pkEntity" [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)" #c
            [onActivateTab]="c">
          </gv-pe-it-detail>


          <gv-te-ent-detail class="gv-flex-fh" *ngIf="tab.component=='te-en-detail'" [tab]="tab"
            [pkEntity]="tab.data.pkEntity" [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)" #c
            [onActivateTab]="c"></gv-te-ent-detail>

          <gv-query-detail class="gv-flex-fh" *ngIf="tab.component=='query-detail'" [pkEntity]="tab.data?.pkEntity"
            [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)"></gv-query-detail>
          <gv-visual-detail class="gv-flex-fh" *ngIf="tab.component=='visual-detail'" [pkEntity]="tab.data?.pkEntity"
            [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
          </gv-visual-detail>


          <gv-project-settings-data class="gv-tab-content" *ngIf="tab.component=='classes-settings'"
            [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
          </gv-project-settings-data>

          <gv-types class="gv-flex-fh" *ngIf="tab.component=='contr-vocab-settings'" [pkProperty]="tab.data.pkProperty"
            [basePath]="tab.path" (close)="p.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c"></gv-types>

        </gv-tab-body>

      </mat-drawer-content>
    </mat-drawer-container>

  </mat-drawer-content>
</mat-drawer-container>
