<div [ngClass]="{'dev-view': entityEditor.devView}">

  <span *ngIf="entityEditor.devView">
    [state: {{roleState}}] [pk: {{role.pk_entity_version_concat}}] [ready: {{isReadyToCreate}}] [commStatsVisible: {{communityStatsVisible}}]
  </span>


  <!-- Component in Create State -->

  <div *ngIf="roleState === 'create'">

    <!-- <div class="card-body">
    Please fill all fields below and click "Ok".
  </div> -->

    <gv-pe-it [peItState]="'create'" [fkClass]="pkTargetClass" [childOfTeEnt]="true" (readyToCreate)="peItReadyToCreate($event)"
      (notReadyToCreate)="peItNotReadyToCreate()"></gv-pe-it>

    <div class="card-body">
      <button [ngClass]="{disabled:(!isReadyToCreate)}" type="button" class="btn btn-primary" (click)="createRole()">Ok</button>
      <button type="button" class="btn btn-link" (click)="cancelCreateRole()">Cancel</button>
    </div>

  </div>

  <!-- Component in Create TeEnt State -->

  <div *ngIf="roleState === 'create-te-ent'">


    <div class="card-body">
      <gv-pe-it [peItState]="'create'" [fkClass]="pkTargetClass" [childOfTeEnt]="true" (readyToCreate)="peItReadyToCreate($event)"
        (notReadyToCreate)="peItNotReadyToCreate()"></gv-pe-it>
    </div>


  </div>

  <!-- Component in Add State -->

  <div *ngIf="roleState=='add'">

    <gv-pe-it class="gv-flex-grow-1" [peItState]="roleState" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)" (appeReadyToAdd)="onAppeReadyToAdd($event)" (langReadyToAdd)="onLangReadyToAdd($event)">
      <div headerLeft>

        <!-- UI for is in project -->

        <div class="gv-in-project">
          <!-- [attr.disabled]="roleToAdd.entity_version_project_rels[0].is_standard_in_project || changeIsInProjectLoading ? 'disabled' : null" -->

          <!-- Is in project -->
          <button type="button" name="button" class="btn btn-link btn-sm" *ngIf="roleToAdd.entity_version_project_rels[0].is_in_project"
            (click)="deselect()">
            <i class="fa fa-check-square-o"></i>
          </button>

          <!-- Is not in project -->
          <button type="button" name="button" class="btn btn-link btn-sm" [attr.disabled]="changeIsInProjectLoading ? 'disabled' : null"
            *ngIf="!roleToAdd.entity_version_project_rels[0].is_in_project" (click)="select()">
            <i class="fa fa-square-o"></i>
          </button>

        </div>

      </div>
    </gv-pe-it>

  </div>

  <div class="d-flex flex-row" *ngIf="roleState === 'add-pe-it'">

    <!-- include component PeIt (passing the PeIt) -->
    <gv-pe-it class="gv-flex-grow-1" [peItState]="roleState" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)" (appeReadyToAdd)="onAppeReadyToAdd($event)" (langReadyToAdd)="onLangReadyToAdd($event)"></gv-pe-it>

    <!-- <div class="gv-in-project"> -->
    <!-- [attr.disabled]="roleToAdd.entity_version_project_rels[0].is_standard_in_project || changeIsInProjectLoading ? 'disabled' : null" -->

    <!-- Is in project -->
    <!-- <button type="button" name="button" class="btn btn-link btn-sm"
  *ngIf="roleToAdd.entity_version_project_rels[0].is_in_project"
  (click)="deselect()">
  <i class="fa fa-check-square-o" ></i> </button> -->

    <!-- Is not in project -->
    <!-- <button type="button" name="button" class="btn btn-link btn-sm"
  [attr.disabled]="changeIsInProjectLoading ? 'disabled' : null"
  *ngIf="!roleToAdd.entity_version_project_rels[0].is_in_project"
  (click)="select()">
  <i class="fa fa-square-o"></i></button> -->

    <!-- </div> -->

  </div>


  <!-- Editable State -->


  <div class="d-flex" *ngIf="roleState === 'editable'">

    <!-- include component PeIt (passing the PeIt) -->
    <gv-pe-it class="gv-flex-grow-1" [peItState]="roleState" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)" (appeReadyToAdd)="onAppeReadyToAdd($event)" (langReadyToAdd)="onLangReadyToAdd($event)">

      <div belowHeader>
        <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small" *ngIf="communityStatsVisible">

          <!-- Community data statistics -->
          <ul class="gv-ul-sm">
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
              </a>
            </li>
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </gv-pe-it>

    <div class="d-flex align-items-center">

      <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
        <button class="btn btn-link" ngbDropdownToggle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">

          <!-- start editing -->
          <button class="dropdown-item" (click)="startEditing()">Edit</button>

          <button class="dropdown-item" (click)="removeFromProject()">Remove</button>

        </div>
      </div>

    </div>

  </div>


  <!-- Component in Edit State -->


  <div *ngIf="roleState === 'edit'">

    <!-- include component PeIt (passing the PeIt) -->
    <gv-pe-it [peItState]="roleState" [appellation]="roleInEdit?.appellation" [language]="roleInEdit?.language" [pkEntity]="roleInEdit.fk_entity"
      (readyToCreate)="changeRoleInEdit($event)" (notReadyToCreate)="peItNotReadyToCreate()" [childOfTeEnt]="true">
    </gv-pe-it>

    <div class="card-body">
      <button [ngClass]="{disabled:(!isReadyToCreate)}" type="button" class="btn btn-primary" (click)="updateRole()">Ok</button>
      <button type="button" class="btn btn-link" (click)="stopEditing()">Cancel</button>
    </div>

  </div>

  <!-- View State -->


  <div *ngIf="roleState === 'view'">

    <!-- include component PeIt (passing the PeIt) -->
    <gv-pe-it [peItState]="roleState" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)">

      <div belowHeader>
        <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small" *ngIf="communityStatsVisible">

          <!-- Community data statistics -->
          <ul class="gv-ul-sm">
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
              </a>
            </li>
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </gv-pe-it>

  </div>



</div>