<mat-tree class="pr-3 border" *ngIf="dataSource && treeControl && treeControl.dataNodes" [dataSource]="dataSource" [treeControl]="treeControl" (click)="$event.stopPropagation();">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
      (change)="nodeSelectionToggle(node)">
      {{node.data.label}}
    </mat-checkbox>

  </mat-tree-node>
  
  <mat-tree-node *matTreeNodeDef="let node; when: hasChildren" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
      (change)="nodeSelectionToggle(node)">
      {{node.data.label}}
    </mat-checkbox>
  </mat-tree-node>

</mat-tree>

