<div class="container my-5">
  <div class="row">
    <div class="col">
       <h4>Appellation test</h4>

      <pre class="">
        <!-- {{getAppellationString()}} -->
      </pre>

      <span *ngFor="let token of appellation.tokens; let i = index;">
        <gv-appellation-token [appellation]="appellation" [token]="token"></gv-appellation-token>
      </span>

    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <form>
        <div class="form-group">
          <label class="center-block">latestTokenId:
            <input class="form-control" name="latestTokenId" [(ngModel)]="appellation.atestTokenId">
          </label>
        </div>
        <div class="form-inline" *ngFor="let token of appellation.tokens; let i=index">
          <div class="form-group  mr-3">
            <label class="center-block">Token Id:
              {{token.id}}
            </label>
          </div>
          <div class="form-group  mr-3">
            <label class="center-block">
              <input class="form-control" name="string-{{token.id}}" [(ngModel)]="token.string">
            </label>
          </div>
          <div *ngIf="!token.isSeparator" class="form-group  mr-3">
            <label class="center-block">Type:
              <select class="form-control"  name="namePartType-{{token.id}}" id="namePartType-{{i}}"
              required
              [(ngModel)]="token.type">
              <option *ngFor="let type of namePartTypes" [value]="type">{{type}}</option>
            </select>
          </label>
        </div>
      </div>
    </form>

    <pre>{{appellation | json}}</pre>
  </div>
</div>
</div>