<gv-view-field-item-layout [item]="item" [readmode$]="readmode$" [showOntoInfo$]="showOntoInfo$" [addMode$]="addMode$"
  [field]="field" [scope]="scope" [allowMultiSelect]="allowMultiSelect" [checked]="checked"
  (selectionChange)="selectionChange.emit($event)">

  <!-- ENTITY PREVIEW -->
  <gv-view-field-item-preview *ngIf="itemType==='preview'">
  </gv-view-field-item-preview>

  <!-- NESTED -->
  <gv-view-field-item-nested *ngIf="itemType==='nested'">
  </gv-view-field-item-nested>

  <!-- TIME PRIMITIVE -->
  <gv-view-field-item-time-primitive *ngIf="itemType==='timePrimitive'">
  </gv-view-field-item-time-primitive>

  <!-- CELL -->
  <gv-view-field-item-cell *ngIf="itemType==='cell'">
  </gv-view-field-item-cell>

  <!-- VALUE -->
  <gv-view-field-item-value *ngIf="itemType==='value'">
  </gv-view-field-item-value>

  <!-- VALUE VERSION-->
  <gv-view-field-item-value-version *ngIf="itemType==='valueVersion'">
  </gv-view-field-item-value-version>

  <!-- CONTENT SECTION-->
  <gv-view-field-item-content-section *ngIf="itemType==='content-tree'">
  </gv-view-field-item-content-section>

</gv-view-field-item-layout>
