<gv-detail-top-bar>
  <div class="ml-2">
    Controlled Vocabulary editor
  </div>
</gv-detail-top-bar>
<gv-detail-content class="p-3 gv-scroll-y-auto">


  <div class="mat-h1 d-flex">
    <span> Controlled Vocabulary of {{(typeClassLabel$ | async)}} </span>
    <button class="ml-auto" mat-button (click)="onAddOrCreate()">
      <mat-icon aria-label="Edit type">add_circle_outline</mat-icon> Add
    </button>
  </div>

  <p class="mat-body" *ngIf="!(typePks$|async) || (typePks$|async)?.length < 1">
    Create and manage a controlled vocabulary of {{(typeClassLabel$ | async)}}.
    <br>
    <br>
    A controlled vocabulary is a set of types. For example:
    <br>
    'City' and 'Village' could be types of the class Geographical Place.
    <br>
    <br>
    Add a first type by clicking on
    <button mat-button (click)="onAddOrCreate()">
      <mat-icon aria-label="Edit type">add_circle_outline</mat-icon> Add
    </button>
  </p>

  <mat-list>
    <h3 mat-subheader>Types</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let type of (items$ | async); trackBy:getTypePk ">

      <span matListItemTitle>
        <i *ngIf="!type.label" class="mat-text-secondary"> Please add a Term </i>
        {{type.label}} <span class="ml-2 mat-caption mat-text-secondary"> {{type.labelLanguage}} </span>
      </span>
      <span matListItemLine>
        <span *ngIf="type.definition"> {{type.definition}}</span>
        <i *ngIf="!type.definition" class="mat-text-secondary"> Please add a definition </i>
      </span>
      <span matListItemMeta>
        <button mat-icon-button color="primary" class="mr-2" (click)=onEdit(type)>
          <mat-icon aria-label="Edit type">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)=onRemove(type)>
          <mat-icon aria-label="Remove type">delete</mat-icon>
        </button>
      </span>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>

</gv-detail-content>