<div [ngClass]="{'dev-view': entityEditor.devView}"> <span *ngIf="entityEditor.devView"><ng-container *ngTemplateOutlet="dev"></ng-container></span>

  <ng-container *ngTemplateOutlet="header"></ng-container>

  <div [@slideInOut]="cardState">

    <div class="card-body">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-row">
          <div class="col mb-3">
            <label><strong>Not Before</strong></label>
            <gv-time-primitive
            [state]="childrenState.notBefore"
            [show]="'firstSecond'"
            formControlName="notBefore"
            (onEdit)="startEditing('notBefore')"
            (onSumbit)="startEditing('notBefore')">
          </gv-time-primitive>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label><strong>Surely From</strong></label>
          <gv-time-primitive
          [state]="childrenState.surelyFrom"
          [show]="'lastSecond'"
          formControlName="surelyFrom"
          (onEdit)="startEditing('surelyFrom')">
          </gv-time-primitive>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label><strong>Surely To</strong></label>
          <gv-time-primitive
          [state]="childrenState.surelyTo"
           [show]="'firstSecond'"
           formControlName="surelyTo"
           (onEdit)="startEditing('surelyTo')" >
          </gv-time-primitive>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <label><strong>Not After</strong></label>
          <gv-time-primitive
          [state]="childrenState.notAfter"
          [show]="'lastSecond'"
          formControlName="notAfter"
          (onEdit)="startEditing('notAfter')">
          </gv-time-primitive>
        </div>
      </div>

      <div class="form-group mt-3">
        <button [disabled]="loading" type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-link" (click)="stopEditing()">Cancel</button>
      </div>
    </form>

  </div>

  <p>Form Status</p>
  <pre>
    {{form.status | json}}
  </pre>
  <p>Not Before Status</p>
  <pre>
    {{form?.controls?.notBefore?.status | json}}
  </pre>
  <p>Form Value</p>
  <pre>
    {{form.value | json}}
  </pre>

</div>
<!-- ************************** NG TEMPLATES ****************************** -->
<ng-template #header>
  <div class="btn-group d-flex flex-row gv-h5"> <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
    <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
    When
  </button> </div>
</ng-template>
<ng-template #dev> <span>
  [state: {{propState}}] [readyToCreate: {{isReadyToCreate}}]
</span> </ng-template>