<!-- Step 1: Form for adding existing roles -->
<form [formGroup]="addForm" (ngSubmit)="addRoles()" *ngIf="(_property_field_form$ | async)?._role_add_list">
  <div class="card-body border-top d-flex">
    <h5 class="gv-grow-1 align-self-center m-0">
      {{(label$ | async)?.pl}} found in other projects
    </h5>
  </div>
  <div class="card-body">
    Select and add a {{(label$ | async)?.sg}} from the list below, <br>
    or create a new one.
  </div>

  <div class="card-body">
    <div class="list-group-item p-0 d-flex align-items-stretch" *ngFor="let entry of _role_add_list | keys; trackBy:getKey">

      <div class="px-3 border-right d-flex align-items-center">
        <input type="checkbox" [formControlName]="entry.key">
      </div>

      <gv-te-ent-role-editable class="gv-grow-1" [parentPath]="propertyFieldFormPath" intermediatePathSegment="_role_add_list"
        [index]="entry.key">
      </gv-te-ent-role-editable>
      
    </div>
  </div>


  <div class="card-body">
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add selected</button>
    <button type="submit" class="btn btn-primary" (click)="startCreateNewRole()">Create new</button>
    <button type="button" class="btn btn-link" (click)="cancelCreateRoles()">Cancel</button>
  </div>

</form>


<!-- Step 2: Form for creating new roles -->
<form [formGroup]="createForm" (ngSubmit)="createRoles()" *ngIf="(_property_field_form$ | async)?._role_create_list">

  <div class="card-body border-top d-flex">
    <h5 class="gv-grow-1 align-self-center m-0">
      Add a new {{(label$ | async)?.sg}}
    </h5>
  </div>

  <div class="card-body">
    <div *ngFor="let entry of (_property_field_form$ | async)?._role_create_list | keys; trackBy:getKey">
      <gv-te-ent-role-create-ctrl *ngIf="createForm.get(entry.key)" [parentPath]="propertyFieldFormPath" [index]="entry.key"
        intermediatePathSegment="_role_create_list" [formControlName]="entry.key"></gv-te-ent-role-create-ctrl>
    </div>
  </div>


  <div class="card-body">
    <button [disabled]="createForm.invalid" type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-link" (click)="cancelCreateRoles()">Cancel</button>
  </div>
</form>