<div *ngIf="openTabOnClick" dnd-draggable [dragEnabled]="dragEnabled" [dragData]="preview" class="d-flex"
  [matMenuTriggerFor]="appMenu">

  <span *ngIf="preview?.loading" class="fa fa-pulse fa-spinner"> </span>

  <div class="wrap">
    <div class="label">
      {{preview?.entity_label}}
    </div>
    <div class="type font-xs text-muted">
      <span *ngIf="(preview?.fk_class === 219 || preview?.fk_class === 220 )"
        class="icon gv-icon gv-icon-source align-self-center gv-icon-preview"></span>

      <span *ngIf="!(preview?.fk_class === 219 || preview?.fk_class === 220 ) && preview?.entity_type === 'peIt'"
        class="icon gv-icon gv-icon-persistent-entity align-self-center gv-icon-preview"></span>

      <span *ngIf="!(preview?.fk_class === 219 || preview?.fk_class === 220 ) && preview?.entity_type === 'teEn'"
        class="icon fa fa-star-o align-self-center gv-icon-preview"></span>

      {{(preview?.type_label) ? preview?.type_label : preview?.class_label}}
      <span *ngIf="preview?.time_span">&nbsp;•&nbsp;{{preview?.time_span | timeSpan}}</span>

      <span *ngIf="showId">&nbsp;•&nbsp; ID: {{preview?.pk_entity}}</span>

    </div>
  </div>


  <ng-content></ng-content>
</div>

<div *ngIf="!openTabOnClick" dnd-draggable [dragEnabled]="dragEnabled" [dragData]="preview" class="d-flex">

  <span *ngIf="preview?.loading" class="fa fa-pulse fa-spinner"> </span>

  <div class="wrap">
    <div class="label">
      {{preview?.entity_label | truncate:[25]}}
    </div>
    <div class="type font-xs text-muted">
      <span *ngIf="(preview?.fk_class === 219 || preview?.fk_class === 220 )"
        class="icon gv-icon gv-icon-source align-self-center gv-icon-preview"></span>

      <span *ngIf="!(preview?.fk_class === 219 || preview?.fk_class === 220 ) && preview?.entity_type === 'peIt'"
        class="icon gv-icon gv-icon-persistent-entity align-self-center gv-icon-preview"></span>

      <span *ngIf="!(preview?.fk_class === 219 || preview?.fk_class === 220 ) && preview?.entity_type === 'teEn'"
        class="icon fa fa-star-o align-self-center gv-icon-preview"></span>

      {{(preview?.type_label) ? preview?.type_label : preview?.class_label}}
      <span *ngIf="preview?.time_span">&nbsp;•&nbsp;{{preview?.time_span | timeSpan}}</span>

      <span *ngIf="showId">&nbsp;•&nbsp; ID: {{preview?.pk_entity}}</span>

    </div>
  </div>


  <ng-content></ng-content>
</div>

<mat-menu #appMenu="matMenu">
  <button [disabled]="preview?.fk_project === null" mat-menu-item (click)="openInNewTab()">
    <mat-icon>tab</mat-icon>
    Open {{preview?.entity_label | truncate:[10]}} in new Tab
  </button>
  <button *ngIf="preview?.fk_project === null && preview?.entity_type == 'peIt'" mat-menu-item
    (click)="addAndOpenInNewTab()">
    <mat-icon color="primary">add</mat-icon>
    Add to project and open
  </button>
</mat-menu>