<ng-template #inner>
  <span *ngIf="!preview" class="fa fa-pulse fa-spinner"> </span>

  <div class="wrap">
    <div class="label">
      {{preview?.entity_label | truncate:[truncateLabel]}}
    </div>
    <div *ngIf="!hideClass" class="type mat-text-secondary mat-caption">


      <gv-class-info class="loc-icon" *ngIf="preview?.fk_class" [pkClass]="preview?.fk_class" [size]="12"
        [classLabel]="preview?.class_label" [iconGray]="iconGray"></gv-class-info>


      {{(preview?.type_label) ? preview?.type_label : preview?.class_label}}
      <span *ngIf="preview?.time_span">&nbsp;•&nbsp;{{preview?.time_span | timeSpan}}</span>

      <span *ngIf="showId">&nbsp;•&nbsp; ID: {{preview?.pk_entity}}</span>

    </div>
  </div>
</ng-template>

<div *ngIf="openTabOnClick" dnd-draggable [dragEnabled]="dragEnabled" [dragData]="preview" class="d-flex"
  [matMenuTriggerFor]="appMenu">
  <mat-menu #appMenu="matMenu">
    <button [disabled]="preview?.fk_project === null" mat-menu-item (click)="openInNewTab()">
      <mat-icon>tab</mat-icon>
      Open {{preview?.entity_label | truncate:['10']}} in new Tab
    </button>
    <button *ngIf="preview?.fk_project === null" mat-menu-item (click)="addAndOpenInNewTab()">
      <mat-icon color="primary">add</mat-icon>
      Add to project and open
    </button>
  </mat-menu>
  <ng-container [ngTemplateOutlet]="inner"></ng-container>
  <ng-content></ng-content>
</div>

<div *ngIf="!openTabOnClick" dnd-draggable [dragEnabled]="dragEnabled" [dragData]="preview" class="d-flex">
  <ng-container [ngTemplateOutlet]="inner"></ng-container>
  <ng-content></ng-content>
</div>
