@import '../../../../../styles.scss';

// .field-content {
//   margin-left: 40px;
// }

.field-node {
  // display: block;
  background: white;

  .left-col {
    margin-left: 24px;
  }

  .right-col {
    margin-right: 24px;
  }

  &.expanded {
    .left-col {
      color: $primary;
    }
  }
  // mat-divider {
  //   margin-top: 3px;
  // }
  gv-type-item {
    display: inline-block;
  }
}

.child-node {
  display: block;
  // mat-divider {
  //   margin-top: 24px;
  //   margin-bottom: 2px;
  // }
  .child-content {
    // padding: 0 24px 0 24px;
  }
  .child-no-content {
    // padding: 0 24px 0 24px;
    > div {
      text-align: center;
      display: block;
      // background: white;
      height: 36px;
      padding-top: 7px;
    }
  }
}

.full-width {
  display: flex;
  width: 100%;
}

.left-col {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1 1 0;
  overflow: hidden;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-col {
  display: flex;
  flex: 0 0 64px;
  align-items: center;
  justify-content: center;
}

gv-leaf-item-list,
gv-temporal-entity-list,
gv-time-span-list {
  // background: white;
}
