<div class="d-flex">
  <div class="gv-flex-grow-1">
    <span *ngIf="language">
      {{language?.notes}}
    </span>
    <span class="text-muted" *ngIf="!language">
      no language
    </span>
  </div>
  <div ngbDropdown placement="bottom-right" class="ml-auto d-inline-block gv-name-dropdown">
    <button class="btn btn-outline-secondary" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
    <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
      <button class="dropdown-item" (click)="edit()">Edit</button>
    </div>
  </div>
</div>