.loc-loading-spinner ,
.loc-loading-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.loc-body {
  flex-grow: 1;
  overflow-y: auto;
}

.loc-header {
  height: 48px;
  padding: 0 16px;
  display: flex;
  flex-basis: 48px;
  flex-shrink: 0;
  align-items: center;
}

.loc-history-header {
  height: 48px;
  padding: 0 8px 0 16px;
  display: flex;
  flex-basis: 48px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}
.loc-toolbar-item ~ .loc-toolbar-item {
  margin-left: 8px;
}
