<form [formGroup]="formGroup" *ngIf="formGroup">

  <!-- 
    In future we could inverse the logic: 
      - Show all _children, including such of properties, that are disabled in the adding project
      - but make only those children selectable / addable, that are enabled 
   -->
  <div *ngFor="let el of uiContext.uiElements; trackBy:getKey">
    <div  *ngIf="(_children$ | async)[el.roleSetKey]">
      <gv-pe-it-role-set-add-ctrl *ngIf="formGroup.get(el.roleSetKey)" [parentPath]="basePath" [index]="el.roleSetKey" [formControlName]="el.roleSetKey"
        (touched)="markAsTouched()"></gv-pe-it-role-set-add-ctrl>
    </div>
  </div>
</form>