:host {
  height: 100%;
}
.cesiumContainer {
  position: relative;
  height: 100%;
}

.toolbar {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.toolbar-item {
  display: inline-block;
  position: relative;
  margin: 0 3px;
}

.toolbar-item:last-child {
  margin: 0 0;
}
