<!-- ************************** PREVIEW ****************************** -->
<div *ngIf="!(editing$ | async)" [ngClass]="{
    'gv-bg-selected': ((accentuation$ | async) === 'selected'),
    'bg-light': ((accentuation$ | async) === 'highlighted' && (toggle$|async) === 'collapsed')
  }"
  (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

  <div class="d-flex flex-row">
    <ng-content select="[headerLeft]"></ng-content>

    <gv-te-ent-label class="gv-grow-1" [toggle]="(toggle$|async)" [children]="(_children$ | async)" [classConfig]="classConfig"
      [childrenPath]="basePath.concat('_children')" (onToggle)="toggleCardBody()">

      <ng-content buttons select="[headerRight]"> </ng-content>
      <button buttons type="button" class="btn btn-link-gray" [attr.title]="'Edit this ' + classConfig?.label">
        <i class="fa fa-pencil" (click)="startEditing()"></i>
      </button>


    </gv-te-ent-label>

    <div class="gv-card-spacer-x align-self-stretch d-flex" *ngIf="(ontoInfoVisible$|async)">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{classConfig.dfh_pk_class}}"
          target="_blank">
          {{classConfig.dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>

  </div>
  <ng-content select="[belowHeader]"></ng-content>
</div>


<!-- ************************** EDITING ****************************** -->
<div *ngIf="(editing$ | async)">
  <!-- <button class="btn btn-link mt-2 mb-3" (click)="stopEditing()">
    <i class="fa fa-chevron-left"></i> All properties
  </button> -->
  <div class="my-3 d-flex align-items-center justify-content-between">
    <h4 class="m-0">
      Edit {{classConfig?.label}}
    </h4>
  </div>

  <div class="card">

    <gv-te-ent-header [ontoInfoVisible$]="ontoInfoVisible$" [classConfig]="classConfig" [selectPropState$]="selectPropState$"
      (startSelectProperty)="startSelectProperty()"></gv-te-ent-header>

    <!-- Step 2 for adding new Property section -->

    <gv-add-info-te-ent *ngIf="(selectPropState$ | async) === 'selectProp'" [uiElements]="uiElementsForAddInfo"
      [classConfig]="classConfig" [addedChildren$]="_children$" (addOptionSelected)="addOptionSelected($event)"
      [excludeRoleSet]="(parentRoleSet$ | async)" (cancel)="stopSelectProperty()"></gv-add-info-te-ent>

    <div class="card-body bg-transparent">
      <div *ngFor="let item of (_children$ | async) | keys; trackBy:getKey">
        <span [ngSwitch]="item.key">

          <gv-existence-time-editable *ngSwitchCase="'_existenceTime'" mode="editable" [basePath]="basePath.concat('_children').concat(item.key)"
            (onRemovePropSet)="removePropSet(item.key)"></gv-existence-time-editable>

          <gv-te-ent-role-set-editable *ngSwitchDefault [parentPath]="basePath" [parentTeEntStatePath]="basePath"
            [index]="item.key" (onRemoveRoleSet)="removeRoleSet(item.key)"></gv-te-ent-role-set-editable>

        </span>
      </div>

    </div>
  </div>

  <button class="btn btn-secondary mt-3" (click)="stopEditing()">
    Ok
  </button>
</div>