<div *ngIf="!(editing$ | async)">
  <span *ngIf="(label$ | async)">Type: {{label$ | async}}</span>
  <i *ngIf="!(label$ | async)">No Type</i>
  <button *ngIf="!(isViewMode$ | async)" mat-icon-button (click)="startEdit()">
    <mat-icon class="md-18">edit</mat-icon>
  </button>
</div>

<form [formGroup]="formGroup" class="form-inline" *ngIf="(editing$ | async)">
  <gv-type-ctrl formControlName="eaCtrl" [basePath]="basePath.concat('_typeCtrl')" [openOnInit]="true"> </gv-type-ctrl>
  <button type="button" class="btn btn-outline-secondary ml-2" (click)="stopEdit()">Cancel</button>
</form>
