<span *ngIf="formFactory?.formGroup">

  <form [formGroup]="formFactory?.formGroup">
    <gv-form-group [formGroupFactory]="formFactory.formGroupFactory"></gv-form-group>
  </form>


  <button *ngIf="!hideButtons" mat-flat-button color="primary" [disabled]="(submitted && formFactory?.formGroup.invalid) || saving"
    (click)="submit()">
    <span *ngIf="!saving">Create</span>
    <span *ngIf="saving">Saving</span>
  </button>

  <button *ngIf="!hideButtons" mat-button type="button" class="ml-2" (click)="cancel.emit()">Cancel</button>

</span>
