<div class="btn-group d-flex mb-3 gv-flex-shrink-0" role="group" aria-label="Basic example">
  <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
    <div class="align-self-center">
      <i class="fa fa-compass"></i> Map
    </div>
  </div>
  <button class="btn btn-gray-700" (click)="flyToPeItLayerEntities()">
    <i class="fa fa-arrows-alt"></i>
  </button>
</div>


<ac-map>

  <ac-map-layer-provider [provider]="urlTemplateProvider" [options]="{
                                subdomains: 'abc',
                                url : cartoUrl
                            }"> </ac-map-layer-provider>

  <ac-map-layer-provider [provider]="urlTemplateProvider" [options]="{
    url : asterUrl
  }" [alpha]="0.3"> </ac-map-layer-provider>

  <gv-pe-it-layer [path]="path" [acMap]="acMap"></gv-pe-it-layer>

  <!-- <gv-polygons-editor-layer></gv-polygons-editor-layer> -->
</ac-map>

<button (click)="flyToPeItLayerEntities()">flyTo</button>