<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item">Email verified</li>
  </ol>
</gv-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="alert alert-success" role="alert">
        Your email address has successfully been verified
      </div>
      <p>
        You can now <a routerLink='/login'>login</a>.
      </p>
    </div>
  </div>
</div>