<div class="gv-fh gv-col-space-between">

  <div class="gv-col-start">

    <!-- Project entities only -->
    <div class="gv-row-center mb-3">
      <mat-checkbox class="mat-text-secondary" [(ngModel)]="projectOnly" (change)="search()">Project entities only
      </mat-checkbox>
    </div>

    <!-- filtered by -->
    <ng-container *ngIf="mode=='filtered'">
      <div class="gv-col-center loc-mat-input-height">
        <span class="gv-row-center text-muted" *ngIf="mode == 'filtered'">filtered by: {{searchString$|async}}</span>
      </div>
    </ng-container>

    <!-- Search input & back button -->
    <div *ngIf="mode == 'searchAndBack'" class="gv-row-start mr-3">

      <!-- Back button -->
      <div class="gv-col-start">
        <button mat-button *ngIf="mode=='searchAndBack'" class="loc-input-height" (click)="onBackClick()">
          <mat-icon svgIcon="arrow-left"></mat-icon>
          Back
        </button>
      </div>

      <!-- Search input -->
      <mat-form-field appearance="outline" class="loc-search-input ml-3">
        <mat-label>Search</mat-label>
        <input matInput type="text" autocomplete="off" [ngModel]="searchString$|async"
          (keyup)="searchStringChange($any($event).target.value)">
      </mat-form-field>
    </div>

    <!-- List -->
    <div *ngIf="hitsFound" class="gv-fw gv-row-center gv-ovf-auto">
      <!--  style="height:calc(100% - 89px)" 193px: 42px footer + 60px header + 89px mat input-->

      <!-- List is empty-->
      <h5 *ngIf="!(loading$ | async) && (collectionSize$ | async)===0 && searchString.length>= minSearchStringLength"
        class="text-muted mt-3">
        Nothing there.
      </h5>

      <!-- List is searching -->
      <div *ngIf="(loading$ | async)"><i class="fa fa-pulse fa-spinner"></i> Searching...</div>

      <!-- List is not empty -->
      <div *ngIf="!(loading$ | async) && (collectionSize$ | async)!==0" class="gv-fw">
        <mat-list>
          <mat-list-item *ngFor="let hit of (hits$ | async)" class="gv-height-auto">
            <gv-entity-add-existing-hit class="gv-fw" [hit]="hit" [selected]="hit.pk_entity == selected"
              [moreDetails]="true" (onMore)="onMoreClick($event)">
            </gv-entity-add-existing-hit>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

  <!-- Paginator -->
  <div class="mt-4 gv-row-center">
    <mat-paginator *ngIf="(collectionSize$ | async) > limit" class="gv-row-center" [length]="(collectionSize$ | async)"
      [pageSize]="limit" aria-label="Select page" [hidePageSize]="true" (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>