<!-- Title -->
<div class="col-center">
  <h2 class="row-center" style="margin-bottom: 0px;">Existing {{className}} entities</h2>
  <span class="text-muted row-center" *ngIf="!searchActive">filtered by: {{searchString$|async}}</span>
</div>

<!-- Search box -->
<ng-container *ngIf="searchActive">
  <mat-form-field appearance="outline" style="margin-top: 5px; margin-bottom: -10px;">
    <mat-label>Search</mat-label>
    <input matInput type="text" autocomplete="off" [ngModel]="searchString$|async"
      (keyup)="searchString$.next($any($event).target.value)">
  </mat-form-field>
</ng-container>

<div *ngIf="hitsFound">
  <h5 *ngIf="!(loading$ | async) && (collectionSize$ | async) === 0 && searchString.length >= minSearchStringLength"
    class="text-muted">
    Nothing there.
  </h5>

  <div *ngIf="(loading$ | async)"><i class="fa fa-pulse fa-spinner"></i> Searching...</div>

  <div *ngIf="!(loading$ | async)">
    <div>
      <div class="col">
        <div class="gv-search-hits">
          <gv-entity-add-existing-hit *ngFor="let hit of (persistentItems$ | async)" [hit]="hit" [moreDetails]="true"
            (onMore)="onMoreClick($event)">
          </gv-entity-add-existing-hit>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="col">
        <ngb-pagination class="row-center" *ngIf="(collectionSize$ | async) > limit" [maxSize]="3"
          [collectionSize]="(collectionSize$ | async)" [(page)]="page" (pageChange)="pageChange()" [pageSize]="limit"
          aria-label="Default pagination"></ngb-pagination>
        <span class="gv-search-hits-count mt-2 row-center" *ngIf="!(loading$ | async) && (collectionSize$ | async) > 0">
          <span *ngIf="(collectionSize$ | async) > limit">
            {{hitsFrom()}}-{{hitsTo$|async}} of&nbsp;
          </span>
          {{(collectionSize$ | async)}} {{((collectionSize$ | async) == 1 ? 'suggestion' : 'suggestions')}}
        </span>
      </div>
    </div>
  </div>
</div>