<!-- Title -->
<div class="col-center">
  <div class="mat-body-2 row-center" style="margin: 0 0 0 0">Existing {{className}} entities</div>
  <span class="text-muted row-center" *ngIf="!searchActive">filtered by: {{searchString$|async}}</span>
</div>

<!-- Search box -->
<ng-container *ngIf="searchActive">
  <mat-form-field appearance="outline" class="mt-3">
    <mat-label>Search</mat-label>
    <input matInput type="text" autocomplete="off" [ngModel]="searchString$|async"
      (keyup)="searchString$.next($any($event).target.value)">
  </mat-form-field>
</ng-container>

<div *ngIf="hitsFound">
  <h5 *ngIf="!(loading$ | async) && (collectionSize$ | async) === 0 && searchString.length >= minSearchStringLength"
    class="text-muted">
    Nothing there.
  </h5>

  <div *ngIf="(loading$ | async)"><i class="fa fa-pulse fa-spinner"></i> Searching...</div>

  <div *ngIf="!(loading$ | async)">
    <mat-list>
      <mat-list-item *ngFor="let hit of (hits$ | async)" style="height: auto; ">
        <gv-entity-add-existing-hit [hit]="hit" [moreDetails]="true" (onMore)="onMoreClick($event)">
        </gv-entity-add-existing-hit>
      </mat-list-item>
    </mat-list>

    <div class="mt-4">
      <div class="col">
        <mat-paginator *ngIf="(collectionSize$ | async) > limit" class="row-center" [length]="(collectionSize$ | async)"
          [pageSize]="limit" aria-label="Select page" [hidePageSize]="true" (page)="pageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>