<div class="left" (mousedown)="activateTab.emit()">
  <div *ngIf="!(loading$ | async )" class="icon">

    <mat-icon style="font-size:18px;height:18px;width:18px" [svgIcon]="svgIcon" [ngClass]="colorClass">
    </mat-icon>

  </div>
  <div *ngIf="(loading$ | async )" class="icon">
    <span class="fa fa-pulse fa-spinner text-muted"></span>
  </div>
  <div class="label" [matTooltip]="(tooltip$ | async)">
    {{(title$ | async )}}
  </div>
</div>
<div class="right" (click)="closeTab.emit()">
  <i class="fa fa-close"></i>
</div>