<form *ngIf="formFactory?.formGroup" [formGroup]="formFactory.formGroup">
  <div *ngIf="formFactory.formGroupFactory.child.factoryType === 'array'"
    [formGroup]="formFactory.formGroupFactory.control">
    <div formArrayName="childControl" class="first-line">

      <mat-form-field class="ctrl-text" *ngIf="ctrls?.text" [appearance]="appearance">
        <mat-label>{{placeholders.text}}</mat-label>

        <gv-ctrl-appellation placeholder="Placeholder" [formControl]="ctrls.text">
        </gv-ctrl-appellation>
        <button mat-icon-button matSuffix (click)="toggle()">
          <mat-icon>tune</mat-icon>
        </button>
        <mat-error *ngIf="ctrls.text.hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <div class="second-line" [hidden]="(showOptions$|async)===false">

        <mat-form-field class="ctrl-lang" *ngIf="ctrls?.lang " [appearance]="appearance">
          <mat-label>{{placeholders.lang}}</mat-label>

          <gv-ctrl-language placeholder="Placeholder" [formControl]="ctrls.lang">
          </gv-ctrl-language>

          <mat-error *ngIf="ctrls.text.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ctrl-type" *ngIf="ctrls?.type " [appearance]="appearance">
          <mat-label>{{placeholders.type}}</mat-label>

          <gv-ctrl-type #c [pkTypedClass]="pkTypedClass" [pkTypeClass]="pkTypeClass" placeholder="Select ..."
            [formControl]="ctrls.type">
          </gv-ctrl-type>

          <mat-error *ngIf="ctrls.type.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>

      </div>



    </div>
  </div>
</form>
