<h1 mat-dialog-title>
  Edit References of

  <div style="display: flex; flex-wrap:wrap; padding: 1rem;" class="bg-success mat-body mt-3">
    <div style="flex: 0 1 auto; overflow:auto">
      <gv-entity-preview [pkEntity]="data.statement.fk_temporal_entity"></gv-entity-preview>
    </div>
    <div style="flex: 1 1 auto"></div>
    <div style="flex: 1 1 auto;overflow:auto;display: flex;align-items: center;justify-content: space-around;">
      <mat-icon class="mat-text-secondary">arrow_right_alt</mat-icon>
      <div>
        {{data.propertyLabel}}
      </div>
      <mat-icon class="mat-text-secondary">arrow_right_alt</mat-icon>
    </div>
    <div style=" flex: 1 1 auto"></div>
    <div style="flex: 0 1 auto; overflow:auto">
      <gv-entity-preview [pkEntity]="data.statement.fk_entity"></gv-entity-preview>
    </div>
  </div>
</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>

  <gv-field [pkEntity]="data.statement.pk_entity" [fieldDefinition]="fieldDefinition" [readonly$]="readonly$">
  </gv-field>

  <!-- <div *ngIf="(t.showControl$ | async)">
    <gv-add-statement [pkEntity]="data.statement.pk_entity" [showOntoInfo$]="showOntoInfo$"></gv-add-statement>
  </div>

  <div *ngIf="(t.showCreateRole$ | async)">
    <gv-form-create-statement class="mt-3" [listDefinition]="t.showCreateRole$ | async" [pkEntity]="data.statement.pk_entity"
      #c>
    </gv-form-create-statement>
  </div>
 -->

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>
