<h1 mat-dialog-title>
  {{data.title}}
</h1>
<div mat-dialog-content *ngIf="data.paragraphs && data.paragraphs.length">
  <p *ngFor="let p of data.paragraphs">{{p}}</p>
</div>
<div mat-dialog-content>
  <gv-entity-previews-paginated [pkEntities]="data.pkEntities" [pkProject]="data.pkProject" [limit]="data.limit"
    [offset]="data.offset" [openTabOnClick]="data.openTabOnClick" [dragEnabled]="data.dragEnabled">
  </gv-entity-previews-paginated>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]>Close</button>
</div>
