@import "bootstrap-variables";
/********************
* Copied and adapted from client/node_modules/ngx-easy-table/style.scss
*/

// Here the variables are adapted. Further down, specific class-styles are adapted
$grey: $gray-300; // #e7e9ed;
$grey-lighter: $gray-100; // #f6f7f9;
$grey-dark: $gray-200; //  #f3f3f3;
$dark: $gray-700; // #50596c;
$blue: $primary; // #3f86ca;
$primary-color: $dark; //#50596c !default;
/*! Based on Spectre.css v0.4.5 | MIT License | github.com/picturepan2/spectre */

/* End of adaptions (At the end of document, specific class-styles are adapted)
*********************/

.ngx {
    &-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: .4rem;
        padding-right: .4rem;
        width: 100%;
    }
    &-table {
        color: $primary-color;
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        font-family: Lato, Verdana, serif;
        text-align: left;
        width: 100%;
        td {
            border-bottom: 1px solid $grey;
            padding: 12px 6px;
        }
        th {
            padding: 12px 6px;
            border-bottom: 2px solid $grey;
        }
        &__table-row--selected,
        &__table-col--selected,
        &__table-cell--selected {
            background: $grey !important;
        }
        &__table-no-results {
            text-align: center;
        }
        &__table-loader-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
        &__body-loading:hover {
            background: 0 !important;
        }
        &__table-loader {
            animation: spin .6s linear infinite;
            border: 1px solid $grey;
            border-radius: 50%;
            border-top-color: $primary-color;
            height: 1.8rem;
            width: 1.8rem;
        }
        &__body-empty {}
        &__sort-header {}
        &__table-menu {}
        &__header {}
        &__header-cell-additional-actions {}
        &__header-search {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: #fff none;
            border: .05rem solid $grey;
            border-radius: .1rem;
            color: $primary-color;
            display: block;
            font-size: .8rem;
            height: 1.47rem;
            line-height: 1rem;
            max-width: 100%;
            outline: 0;
            padding: .15rem .3rem;
            position: relative;
            width: 97%;
        }
        &__header-cell {
            position: relative;
        }
        &__horizontal-scroll {
            display: block;
            overflow-x: scroll;
            white-space: nowrap;
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 3px;
                height: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: grey;
            }
        }
        &__column-resizer {
            background-color: $grey-dark;
            cursor: col-resize;
            display: block;
            height: 100%;
            margin: 0;
            position: absolute;
            padding: 0;
            right: 0;
            top: 0;
            width: 3px;
        }
        &__table--borderless> {
            tbody>tr>td,
            thead>tr>th {
                border-bottom: 0 !important;
            }
        }
        &__table--hoverable>tbody tr:hover {
            background: $grey-lighter;
        }
        &__table--striped>tbody tr:nth-of-type(odd) {
            background: $grey-lighter;
        }
        &__table--tiny> {
            tbody>tr>td,
            thead>tr>th {
                border-bottom: 1px solid $grey;
                padding: 4px 7px;
            }
        }
        &__table--normal> {
            tbody>tr>td,
            thead>tr>th {
                border-bottom: 1px solid $grey;
                padding: 10px 6px;
            }
        }
        &__table--big> {
            tbody>tr>td,
            thead>tr>th {
                border-bottom: 1px solid $grey;
                padding: 12px 8px;
            }
        }
        &__table--dark {
            background-color: $dark;
            color: $grey-lighter;
            &>tbody tr:hover {
                color: $dark;
            }
            &.ngx-table__table--striped>tbody tr:nth-of-type(odd) {
                background: $grey-lighter;
                color: $dark;
            }
            &-pagination {
                & /deep/ .ngx-pagination .current {
                    background: $grey-lighter;
                    color: $dark;
                }
                & /deep/ pagination-template>ul {
                    -webkit-padding-start: 0;
                    -webkit-margin-before: 7px;
                }
                & /deep/ pagination-template>ul>li {
                    border: 1px solid $grey;
                    background: $dark;
                }
                & /deep/ pagination-template>ul>li.current {
                    border: 1px solid $dark;
                }
                & /deep/ pagination-template>ul>li>a {
                    color: $grey-lighter;
                }
                &-wrapper {
                    background-color: $dark;
                }
                &-range {
                    &>#rowAmount>div>div {
                        color: $grey;
                        border: 1px solid $grey;
                        background-color: $dark;
                    }
                    &>#rowAmount>div>ul {
                        color: $grey;
                        background-color: $dark;
                    }
                    &>#rowAmount>div>ul>li {
                        color: $grey;
                        background-color: $dark;
                    }
                }
            }
        }
        &__header-title {
            display: inline;
            &.pointer {
                cursor: pointer;
            }
        }
    }
    &-global-search {
        display: block;
        float: right;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    &-menu {
        background: #fff;
        border-radius: .1rem;
        box-shadow: 0 0.05rem 0.2rem rgba(69, 77, 93, 0.3);
        list-style: none;
        margin: 0;
        min-width: 180px;
        padding: .4rem;
        transform: translateY(0.2rem);
        z-index: 100;
    }
    &-menu-item {
        cursor: pointer;
    }
    &-pagination {
        font-family: Lato, Verdana, serif;
        display: inline-block;
        &-range {
            display: inline-block;
            float: right;
        }
        &-steps {
            display: inline-block;
        }
        &-wrapper {}
        &-range-dropdown {
            margin-top: 10px;
            margin-right: 3px;
        }
        &-range-dropdown-button-item {
            cursor: pointer;
            color: $primary-color;
            padding: 4px;
        }
        &-range-dropdown-button {
            color: $primary-color;
            border: 1px solid $grey;
            cursor: pointer;
            padding: 4px;
        }
        &-style {
            & /deep/ .ngx-pagination .current {
                background: $blue;
            }
            & /deep/ pagination-template>ul {
                -webkit-padding-start: 0;
                -webkit-margin-before: 0;
            }
            & /deep/ pagination-template>ul>li {
                border: 1px solid $grey;
            }
            & /deep/ pagination-template>ul>li.current {
                border: 1px solid $dark;
            }
            & /deep/ pagination-template>ul>li>a {
                color: $dark;
            }
        }
    }
    &-form-icon {
        border-radius: .1rem;
        background: #fff;
        height: .9rem;
        left: 0;
        top: .2rem;
        width: .9rem;
        transition: all .2s ease;
        border: .05rem solid $grey;
        cursor: pointer;
        display: inline-block;
        position: absolute;
    }
    &-form-checkbox {
        line-height: 1rem;
        margin: 0.2rem 0;
        min-height: 1.2rem;
        padding: 0.2rem .4rem 0.4rem 1.6rem;
        position: relative;
        input {
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            position: absolute;
            width: 1px;
            &:focus+.ngx-form-icon {
                box-shadow: 0 0 0 .1rem rgba($blue, .2);
                border-color: $blue;
            }
            &:checked+.ngx-form-icon {
                background: $blue;
                border-color: $blue;
            }
            &:active+.ngx-form-icon {
                background: $dark;
            }
            &:checked+.ngx-form-icon {
                &::before {
                    background-clip: padding-box;
                    border: .1rem solid #fff;
                    border-left-width: 0;
                    border-top-width: 0;
                    content: "";
                    height: 12px;
                    left: 50%;
                    margin-left: -3px;
                    margin-top: -8px;
                    position: absolute;
                    top: 50%;
                    transform: rotate(45deg);
                    width: 4px;
                }
            }
        }
    }
    &-icon {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: inherit;
        font-style: normal;
        height: 1em;
        position: relative;
        text-indent: -9999px;
        vertical-align: middle;
        width: 1em;
        &::before,
        &::after {
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-icon-arrow-down::before,
    &-icon-arrow-right::before,
    &-icon-arrow-up::before {
        border: .1rem solid $dark;
        border-bottom: 0;
        border-right: 0;
        content: "";
        height: .45em;
        width: .45em;
    }
    &-icon-arrow-down::before {
        transform: translate(-50%, -75%) rotate(225deg);
    }
    &-icon-arrow-right::before {
        transform: translate(-75%, -50%) rotate(135deg);
    }
    &-icon-arrow-up::before {
        transform: translate(-50%, -25%) rotate(45deg);
    }
    &-icon-menu::before {
        background: $dark;
        box-shadow: 0 -.35em, 0 .35em;
        content: "";
        height: .1rem;
        width: 100%;
    }
    &-dropdown {
        display: inline-block;
        position: relative;
        .ngx-menu {
            animation: slide-down .15s ease 1;
            display: none;
            left: 0;
            max-height: 50vh;
            overflow-y: auto;
            position: absolute;
            top: 100%;
        }
        &.ngx-dropdown-right .ngx-menu {
            left: auto;
            right: 0;
        }
        &.ngx-active .ngx-menu,
        .ngx-menu:hover {
            display: block;
        }
    }
    &-btn-group {
        display: inline;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * @swimlane/ngx-dnd v"5.0.3" (https://github.com/swimlane/ngx-dnd)
 * Copyright 2018
 * Licensed under MIT
 */

.ngx-dnd-container {}

.ngx-dnd-container .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
}

.no-select {
    user-select: none;
}

.ngx-dnd-item {
    transition: opacity 0.4s ease-in-out;
}

.ngx-dnd-item:not(.has-handle):not(.move-disabled),
.ngx-dnd-item.has-handle [ngxdraghandle],
.ngx-dnd-item.has-handle [ngxDragHandle] {
    cursor: grab;
    cursor: -webkit-grab;
}

.ngx-dnd-item .ngx-dnd-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ngx-dnd-item:hover {}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.9;
    width: 100%;
    background-color: #f8f8f8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=90);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

/********************
* Geovistory-specific adaptions
*/

.ngx {
    &-table {
        font-family: $font-family-base;
        label {
          margin-bottom: 0;
        } 
    }
    &-pagination {
        li {
            margin-top: .4rem;
        }
        font-family: $font-family-base;
    }
    &-container {
        padding-left: 0;
        padding-right: 0;
    }
    &-global-search:empty {
        display: none;
    }
}

/* End of adaptions 
*********************/