.template-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.template-header {
  color: blue;
}

.template-wrapper {
  margin: .5rem 0 1rem 0;
  padding: 1.5rem;
  border: 1px solid hsl(1, 1, 1);
}