<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <i class="fa fa-home"></i> Home
    </li>
  </ol>
</gv-navbar>

<div *ngIf="!(account)" class="container mt-5 mat-typography">
  <div class="row">
    <div class="col text-center">
      <h1>
        <div class="gv-icon gv-icon-geovistory-logo text-primary"></div>
        Geovistory Toolbox
      </h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <p>
        Store, visualize and share historical and geographical data.
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <a mat-flat-button color="primary" class="mr-2" routerLink="/login">Login</a>
      <a mat-button routerLink="/registration">Register</a>
    </div>
  </div>
  <div class="row powered-by">
    <div class="col text-center mat-text-secondary">
      <ng-container *ngTemplateOutlet="poweredBy"></ng-container>
    </div>
  </div>
</div>

<div *ngIf="account" class="container mt-5 mat-typography">
  <div id="userDashboard" class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <mat-icon svgIcon="account-circle"></mat-icon>
        <i id="userImage" class="d-none d-sm-none d-md-block fa fa-user-circle pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-md-9">
        <h2>Welcome to Geovistory Toolbox {{account.username}}</h2>
        <p class="mat-text-secondary">{{account.email}}</p>
      </div>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-6">
        <button mat-stroked-button color="primary" class="mr-2" routerLink="/projects">Your Projects</button>
        <button mat-stroked-button color="secondary" [disabled]="true" routerLink="/account">Personal Settings</button>
      </div>
    </div>
    <div class="row powered-by justify-content-center">
      <div class="col-md-6 mat-text-secondary">
        <ng-container *ngTemplateOutlet="poweredBy"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #poweredBy>
  Powered by <a href="https://kleiolab.ch" title="KleioLab GmbH – Company website" target="_blank">KleioLab</a> for <a
    href="https://www.geovistory.org" title="Geovistory.org website" target="_blank">Geovistory</a>
</ng-template>