.wrap{
  display: block;
}

gv-quill-edit{
  width: 70%;
  display: block;
  float: left;
}

.lang{
  position: relative;
  display: block;
  float: right;
  width: 30%;
}

.lang-helper-text{
  pointer-events: none;
  position: fixed;
  color: rgba(0, 0, 0, 0.54);
}

gv-ctrl-language {
  height: 23px;
  display: block;
}
