table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.mat-column-expand {
  width: 60px;
  padding-left: 10px !important;
}
.mat-column-deactivate,
.mat-column-update {
  width: 120px;
}
.mat-column-expandedDetail {
  padding-left: 61px !important;
}

.loc-filter {
  max-width: 280px;
}
