<!-- Background behind row -->
<svg:rect class="row-bg" [attr.width]="xAxis.containerWidth" [attr.height]="timeline.options.rowHeight"></svg:rect>
<!-- Line bottom -->
<!-- <svg:line class="row-line-bottom" x1="0" [attr.y1]="timeline.options.rowHeight" [attr.x2]="xAxis.containerWidth" [attr.y2]="timeline.options.rowHeight" /> -->

<svg:g [existenceTimeVisual]="{existenceTime:teEnt.existenceTime, timeline:timeline}" ></svg:g>

<!-- Background behind label -->
<svg:rect class="row-bg" [attr.width]="xAxis.marginLeft" [attr.height]="timeline.options.rowHeight"></svg:rect>

<svg:g>
    <svg:text [attr.transform]="'translate(3,'+ (timeline.options.rowHeight - timeline.options.rowPaddingBottom) +')'" [wrapText]="{text: teEnt.label ,width:xAxis.marginLeft, padding:6}"> 
    </svg:text>
</svg:g>