<h1 *ngIf="!activating && !activated && !error" mat-dialog-title>Activate Profile '{{data.profileLabel}}'?</h1>

<h1 mat-dialog-title *ngIf="activating"> Activating Profile ...</h1>

<h1 mat-dialog-title *ngIf="activated">Profile '{{data.profileLabel}}' activated !</h1>

<h1 mat-dialog-title *ngIf="error">Crap, something went wrong...</h1>


<mat-dialog-content class="pb-1 mat-typography">
  <gv-ontome-profile-activation-report [hidden]="activating || error || activated" #c [profileId]="data.profileId"
    [pkProject]="data.pkProject">
  </gv-ontome-profile-activation-report>


  <div *ngIf="activating">
    <div class="w-100 d-flex align-items-center justify-content-center" style="height: 200px;">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button [disabled]="c.loading || activating || error || activated" color="primary"
    (click)="activate()">Activate Profile</button>
  <button mat-button [disabled]="activating" [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
