<mat-menu #classTypeMenu="matMenu" class="px-3">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <button mat-button (click)="onSelect(node)">{{node.label}}</button>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.label">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <button mat-button (click)="onSelect(node)">{{node.label}}</button>
    </mat-tree-node>
  </mat-tree>

</mat-menu>

<button mat-flat-button color="primary" [matMenuTriggerFor]="classTypeMenu">
  <mat-icon>add</mat-icon> add
</button>
