<gv-hbf-panel>

  <div header class="gv-fw">

    <!-- Search input & Project entities only -->
    <div class="gv-row-space-between gv-fw">
      <mat-form-field appearance="outline" class="grow-mr-24">
        <mat-label>Search</mat-label>
        <input matInput type="text" autocomplete="off" [ngModel]="searchString$|async"
          (keyup)="searchStringChange($any($event).target.value)">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-160">
        <mat-label>Where</mat-label>
        <mat-select (selectionChange)="changeScope($event.value)" [value]="scope$|async">
          <!-- Options has to match SearchScope enum defined in component.ts -->
          <mat-option value="everywhere">everywhere</mat-option>
          <mat-option value="in project">in your project</mat-option>
          <mat-option value="out of project">out of project</mat-option>
          <!-- <mat-option value="outside project">outside your project</mat-option> -->
        </mat-select>
      </mat-form-field>

    </div>
  </div>

  <div body class="gv-ovf-auto">

    <!-- List -->
    <div class="gv-fw gv-row-center gv-ovf-auto">
      <!--  style="height:calc(100% - 89px)" 193px: 42px footer + 60px header + 89px mat input-->

      <!-- List is empty-->
      <h5 *ngIf="!(loading$ | async) && (collectionSize$ | async)===0" class="mat-text-secondary mt-3">
        Nothing there.
      </h5>

      <!-- List is searching -->
      <div *ngIf="(loading$ | async)"><i class="fa fa-pulse fa-spinner"></i> Searching...</div>

      <!-- List is not empty -->
      <div *ngIf="!(loading$ | async) && (collectionSize$ | async)!==0" class="gv-fw">
        <mat-list>
          <mat-list-item *ngFor="let hit of (hits$ | async)" class="gv-height-auto">
            <gv-entity-add-existing-hit [pkEntity]="hit.pkEntity" [title]="hit.title" [description]="hit.description"
              [isInProject]="hit.isInProject" [numberOfProject]="hit.numberOfProject" [selected]="hit.selected"
              [confirmBtnText]="hit.confirmBtnText" [confirmBtnDisabled]="hit.confirmBtnDisabled"
              [confirmBtnTooltip]="hit.confirmBtnTooltip" style="width:100%" (showDetailsOfEntity)="onMoreClick(hit)"
              (hideDetailsOfEntity)="onBackClick()" (confirm)="onConfirmClick(hit.pkEntity,hit.isInProject)">
            </gv-entity-add-existing-hit>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>

  <ng-container footer>

    <!-- Back button -->
    <button mat-button [ngStyle]="{'visibility': mode=='mode2' ? 'inherit' : 'hidden'}" (click)="onBackClick()">
      <mat-icon svgIcon="arrow-left"></mat-icon>
      Back
    </button>

    <!-- Paginator -->
    <mat-paginator *ngIf="(collectionSize$ | async) > limit" class="gv-row-center" [length]="(collectionSize$ | async)"
      [pageSize]="limit" aria-label="Select page" [hidePageSize]="true" (page)="pageChange($event)">
    </mat-paginator>
  </ng-container>

</gv-hbf-panel>
