<div class="card-body gv-name-part" *ngIf="isNamePartToken">
  <div class="d-flex">
    <div class="gv-label">
      <div class="gv-name-part-token">
        <div class="gv-token-top">
          {{token.string}}
        </div>
        <div class="gv-token-bottom">
          <select class="custom-select d-block" aria-describedby="NamePartType" [(ngModel)]="token.type" name="type">
            <option value="undefined">-- no type --</option>
            <option *ngFor="let type of namePartTypes" [ngValue]="type">{{type.label}}</option>
          </select>
        </div>
      </div>
    </div>
    <div ngbDropdown placement="bottom-right" class="ml-auto d-inline-block gv-name-dropdown">
      <button class="btn btn-outline-secondary" id="dropdown" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
        <button class="dropdown-item" (click)="focusOnNamePartInput()">Edit Name Part</button>
        <button class="dropdown-item" (click)="edit()">Edit Type of Name Part</button>
        <button class="dropdown-item" (click)="appellation.deleteToken(token)">Remove Name Part</button>
      </div>
    </div>
  </div>
  <div class="d-flex gv-revisions">
    <div class="ml-auto text-success">
    </div>
  </div>
</div>