<form [formGroup]="formGroup" *ngIf="formGroup">

  <div class="form-group" *ngIf="formGroup.get('_typeCtrl')">
    <label class="gv-field-header-label">Type</label>
    <gv-type-ctrl formControlName="_typeCtrl" [basePath]="basePath.concat('_type').concat('_typeCtrl')">
    </gv-type-ctrl>
  </div>

  <div class="form-group" *ngFor="let item of (_fields$ | async) | keys; trackBy:getKey">

    <span *ngIf="item.value.type === 'TextPropertyField'">
      <gv-text-property-field [basePath]="basePath.concat('_fields').concat(item.key)" *ngIf="formGroup.get(item.key)" [formControlName]="item.key" (touched)="markAsTouched()">

      </gv-text-property-field>
    </span>

    <span *ngIf="item.value.type === 'PropertyField'">
      <gv-pe-it-property-field-create-ctrl *ngIf="formGroup.get(item.key)" [parentPath]="basePath" [index]="item.key"
        [formControlName]="item.key" (touched)="markAsTouched()"></gv-pe-it-property-field-create-ctrl>
    </span>

  </div>
</form>