<a class="gv-back-btn btn btn-link" routerLink="../../search"  queryParamsHandling="merge">
  <i class="fa fa-arrow-left"></i>  Search
</a>
<gv-loading-spinner [loading]="loading"></gv-loading-spinner>
<div class="gv-edit-panel-header" *ngIf="!loading">
  <section class="row">
    <div class="col-md-8">
      <h2>
         <small class="text-muted">Person</small>
      </h2>
    </div>
    <div class="col-md-4">
      <div class="btn-group float-right mt-2" role="group">
        <button class="btn btn-sm btn-secondary">
          <i class="fa fa-quote-left" aria-hidden="true"></i> Show Annotations
        </button>
      </div>
    </div>
  </section>
</div>
<div class="gv-edit-panel-body" *ngIf="!loading">
  <gv-naming [appellationUsages]="appellationUsages"></gv-naming>
</div>