<div [ngClass]="{'dev-view': entityEditor.devView}">



  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item">
      <a class="gv-back-btn btn btn-link" routerLink="../../search" queryParamsHandling="merge">
        <i class="gv-icon gv-icon-information-simple text-primary"></i> Data Units
      </a>
    </li>
  </ol>

  <div *ngIf="initialized">
    <gv-pe-it-editable class="gv-flex-grow-1  d-flex flex-column" [basePath]="basePath.concat('_peIt_editable')"></gv-pe-it-editable>
  </div>
</div>