<gv-view-field-item-container>
  <span class="loc-left mat-typography">
    <gv-class-info class="loc-class-info" [showOntoInfo$]="itemComponent.showOntoInfo$"
      [pkClass]="itemComponent.item.targetClass"
      [classLabel]="field.targets[itemComponent.item.targetClass]?.targetClassLabel" [isFavorite]="ordNum===1">
    </gv-class-info>

    <div class="ellipsis" [matMenuTriggerFor]="appMenu" *ngIf="urls.length != 0">
      <mat-menu #appMenu="matMenu">
        <a *ngFor="let url of urls" mat-menu-item href="{{url}}" target="_blank">
          <mat-icon style="margin-bottom: 0;">open_in_new</mat-icon>
          Open {{url}} in new Browser Tab
        </a>
      </mat-menu>
      {{itemComponent.item.targetLabel}}
    </div>

    <div class="ellipsis" *ngIf="urls.length == 0">
      {{itemComponent.item.targetLabel}}
    </div>
  </span>

  <span class="loc-right" *ngIf="editMode.value$|async">
    <mat-menu #appMenu="matMenu">
      <ng-container *ngIf="itemComponent.item.target.langString">
        <button mat-menu-item (click)="itemComponent.openEditValueDialog(itemComponent.item)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container *ngIf="itemComponent.item.target.langString">
        <button mat-menu-item
          (click)="itemComponent.openPopup(itemComponent.item.target.langString?.langString?.string)">
          <mat-icon svgIcon="arrow-expand-all"></mat-icon>
          <span>Open in popup</span>
        </button>
        <mat-divider></mat-divider>
      </ng-container>

      <div class="dropdown-header">Danger Zone</div>
      <button mat-menu-item (click)="itemComponent. remove()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Remove</span>
      </button>

    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
      <mat-icon>more_vert</mat-icon>
    </button>

  </span>
</gv-view-field-item-container>