<div class="loc-row mat-bg-accent-50-on-hover" [ngClass]="{'mat-bg-primary-50':highlight$|async}"
  (mouseenter)="onMousenter()" (mouseleave)="onMouseleave()">
  <div class="loc-row-left">

    <div class="loc-col">
      <div class="loc-col-header mat-caption mat-text-secondary">annotated text</div>
      <div class="loc-col-val mat-body" *ngFor="let s of itemData.hasSpot">
        {{s.target.appellation.string}}
      </div>
    </div>
    <div class="loc-col">
      <div class="loc-col-header mat-caption mat-text-secondary">refers to</div>
      <div class="loc-col-val mat-body" *ngFor="let r of itemData.refersTo">
        <gv-entity-preview [pkEntity]="r.target.entity.entityPreview.pk_entity"></gv-entity-preview>
      </div>
    </div>
  </div>
  <div class="loc-actions">
    <button mat-icon-button [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item (click)="openEntity()">
        <mat-icon>tab</mat-icon>
        Open entity in new tab
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="openAnnotation()">
        <mat-icon>tab</mat-icon>
        Open annotation in new tab
      </button>
      <mat-divider></mat-divider>
      <div class="dropdown-header">Danger Zone</div>
      <button mat-menu-item (click)="removeAnnotation()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Remove</span>
      </button>
    </mat-menu>

  </div>
</div>
<mat-divider></mat-divider>
