<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource$">
  <!-- Empty Column -->
  <ng-container matColumnDef="_empty_">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> </td>
  </ng-container>

  <!-- Onto Class Info about the whole Column -->
  <ng-container matColumnDef="_classInfo_">
    <th mat-header-cell *matHeaderCellDef> {{subfield.targetClassLabel}} </th>
    <td mat-cell class="class-info-col pr-4" *matCellDef="let element">
      <gv-onto-class-info *ngIf="showOntoInfo$ | async" class="mr-2" [pkClass]="subfield.targetClass">
      </gv-onto-class-info>
      <span class="font-xs text-muted" [matTooltip]="'Temporal Entity ' + element.pkEntity">
        <i *ngIf="element.ordNum!==0" class="gv-entity-color fa fa-star-o"></i>
        <i *ngIf="element.ordNum===0" class="gv-entity-color fa fa-star"></i>
        {{subfield.targetClassLabel}}
      </span>
      <span *ngIf="showOntoInfo$ | async" class="font-xs text-muted ml-2"> {{element.pkEntity}}</span>
    </td>
  </ng-container>


  <!-- Generic Cell Column -->
  <ng-container *ngFor="let column of (dataColumns$ | async)" [matColumnDef]="column.id">
    <th mat-header-cell *matHeaderCellDef>
      <gv-onto-property-info class="mr-2" [pkProperty]="column.pkProperty" *ngIf="showOntoInfo$ | async">
      </gv-onto-property-info>
      {{column.name}}
    </th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="!column.subfieldType.entityPreview">
        {{row.cells[column.id]?.statements[0]?.targetLabel}}
      </span>
      <span *ngIf="column.subfieldType.entityPreview">
        <gv-entity-preview [dragEnabled]="false" [openTabOnClick]="true"
          [preview]="row.cells[column.id]?.statements[0]?.target.entityPreview"></gv-entity-preview>
        <!-- <button mat-button *ngIf="(row.cells[column.id]?.count > 1)" (click)="openList(row.cells[column.id])">
          {{row.cells[column.id]?.count}} items
        </button> -->
      </span>
      <!-- <span class="text-muted small"
        *ngIf="row.cells[column.id]?.count > 1 && !column.subfieldType.timeSpan && !column.subfieldType.entityPreview"
        (click)="openList(row.cells[column.id])">
        + {{row.cells[column.id]?.count - 1}}
      </span> -->
      <a href *ngIf="row.cells[column.id]?.count > 1 && !column.subfieldType.timeSpan" class="gv-passive-link small"
        (click)="openList(row.cells[column.id])">
        ({{row.cells[column.id]?.count }})
      </a>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="_actions_" stickyEnd>
    <th mat-header-cell *matHeaderCellDef class="action-cell">
      <mat-menu #appMenu="matMenu">

        <div class="dropdown-header">Columns</div>

        <button *ngFor="let column of (dataColumns$ | async)" mat-menu-item
          (click)="toggleCol(column.id); $event.stopPropagation(); ">
          <mat-checkbox color="accent" [checked]="((dataColumnsMap$ | async ) || {})[column.id]">
            {{column.name}}
          </mat-checkbox>
        </button>

      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element" class="action-cell">
      <mat-menu #teEnMenu="matMenu">

        <button mat-menu-item *ngIf="element.teEnProjRel?.is_in_project" (click)="openInNewTab(element)">
          <mat-icon>tab</mat-icon>
          Open {{subfield.targetClassLabel}} in new Tab
        </button>
        <button mat-menu-item *ngIf="!element.teEnProjRel?.is_in_project" (click)="addAndOpenInNewTab(element)">
          <mat-icon>add</mat-icon>
          Add {{subfield.targetClassLabel}} to project and open
        </button>

        <button mat-menu-item (click)="markAsFavorite(element)">
          <mat-icon>star</mat-icon>
          Mark As Favorite
        </button>

        <mat-divider></mat-divider>
        <div class="dropdown-header">Danger Zone</div>
        <button mat-menu-item (click)="remove(element)">
          <mat-icon color="warn">delete</mat-icon>
          <span>Remove</span>
        </button>

      </mat-menu>
      <button mat-icon-button aria-label="Actions on table row" [matMenuTriggerFor]="teEnMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="(displayedColumns$ | async)"></tr>
  <tr mat-row *matRowDef="let row; columns: (displayedColumns$ | async);"></tr>
</table>
