
<div *ngIf="(helpMode$ | async) === 'long'">
  <div class="modal-header">
    <h2 class="modal-title">
      Edit temporal information
      <small class="text-muted">(Help)</small>
    </h2>

    <button type="button" class="close" aria-label="Back" (click)="setHelpMode('short')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <gv-existence-time-help></gv-existence-time-help>
  </div>

</div>



<!-- Main content -->
<div *ngIf="(helpMode$ | async) !== 'long'">
  <div class="modal-header">
    <h2 class="modal-title">
      Edit temporal existence
    </h2>

    <button type="button" class="close" aria-label="Close" (click)="stopEditing.emit()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- <ng2-slim-loading-bar color="inherit"></ng2-slim-loading-bar> -->

  <!-- Navigate to help and back -->
  <div class="modal-body d-flex justify-content-end">
    <button class="btn btn-link" *ngIf="(mode$ | async) !== 'advanced'" (click)="showAdvancedMode()">Advanced mode</button>
    <button class="btn btn-link" *ngIf="(mode$ | async) === 'advanced' && (helpMode$ | async) === 'hidden' " (click)="setHelpMode('short')">Help</button>
    <button class="btn btn-link" *ngIf="(helpMode$ | async) === 'short'" (click)="setHelpMode('hidden')">
      <i class="fa fa-close"></i>
    </button>
  </div>


  <div class="modal-body d-flex flex-column" *ngIf="(helpMode$ | async) === 'short'">


    <img src="/assets/images/time-span.png" alt="Time Span Structure" class="img-fluid border mt-3 mb-2 align-self-center" style="max-width: 430px;">

    <i class="align-self-center mb-5">
      Components defining the temporal existence of phenomena.
      <a href="" class="gv-passive-link" (click)="setHelpMode('long')">Read more...</a>
    </i>
  </div>

  <form [formGroup]="formGroup">


    <!-- At some time within -->
    <div class="border-bottom border-top" *ngIf="(mode$ | async) !== 'begin-end'">

      <button class="btn btn-link" type="button" *ngIf="!((_fields$ | async)?._72_outgoing)" (click)="addRoleSet(72, ['_152_outgoing', '_153_outgoing'], ['_152_outgoing', '_153_outgoing'])">+ At some time within</button>

      <div class="modal-body" *ngIf="((_fields$ | async)?._72_outgoing) && formGroup.get('_72_outgoing')">

        <span *ngIf="(mode$ | async) !== 'one-date'">
          <ng-container *ngTemplateOutlet="header; context:{key:'_72_outgoing', label: 'At some time within'}"></ng-container>
        </span>

        <gv-ex-time-role-set-create-ctrl [parentPath]="basePath" [parentTeEntStatePath]="parentTeEntPath" formControlName="_72_outgoing"
          [index]="'_72_outgoing'"></gv-ex-time-role-set-create-ctrl>

        <gv-control-messages class="d-flex ml-2" [control]="formGroup?.get('_72_outgoing')"></gv-control-messages>
      </div>

    </div>




    <!-- Begin of Begin -->
    <div class="border-bottom pl-3" *ngIf="(mode$ | async) === 'advanced'">

      <button class="btn btn-link" type="button" *ngIf="!((_fields$ | async)?._152_outgoing)" (click)="addRoleSet(152, ['_72_outgoing', '_153_outgoing'], ['_72_outgoing'])">+ Earliest possible begin</button>

      <div class="modal-body" *ngIf="((_fields$ | async)?._152_outgoing) && formGroup.get('_152_outgoing')">

        <ng-container *ngTemplateOutlet="header; context:{key:'_152_outgoing', label: 'Earliest possible begin'}"></ng-container>

        <gv-ex-time-role-set-create-ctrl [parentPath]="basePath" [parentTeEntStatePath]="parentTeEntPath" formControlName="_152_outgoing"
          [index]="'_152_outgoing'"></gv-ex-time-role-set-create-ctrl>

        <gv-control-messages class="d-flex ml-2" [control]="formGroup?.get('_152_outgoing')"></gv-control-messages>

      </div>

    </div>


    <!-- End of End -->
    <div class="border-bottom pl-3" *ngIf="(mode$ | async) === 'advanced'">

      <button class="btn btn-link" type="button" *ngIf="!((_fields$ | async)?._153_outgoing)" (click)="addRoleSet(153, ['_72_outgoing', '_152_outgoing'], ['_72_outgoing'])">+ Latest possible end</button>

      <div class="modal-body" *ngIf="((_fields$ | async)?._153_outgoing) && formGroup.get('_153_outgoing')">

        <ng-container *ngTemplateOutlet="header; context:{key:'_153_outgoing', label: 'Latest possible end'}"></ng-container>

        <gv-ex-time-role-set-create-ctrl [parentPath]="basePath" [parentTeEntStatePath]="parentTeEntPath" formControlName="_153_outgoing"
          [index]="'_153_outgoing'"></gv-ex-time-role-set-create-ctrl>

        <gv-control-messages class="d-flex ml-2" [control]="formGroup?.get('_153_outgoing')"></gv-control-messages>

      </div>

    </div>

    <!-- Ongoing throughout -->
    <div class="border-bottom border-top mt-5" *ngIf="(mode$ | async) === 'advanced'">

      <button class="btn btn-link" type="button" *ngIf="!((_fields$ | async)?._71_outgoing)" (click)="addRoleSet(71, ['_150_outgoing', '_151_outgoing'], ['_150_outgoing', '_151_outgoing'])">+ Ongoing throughout</button>

      <div class="modal-body" *ngIf="((_fields$ | async)?._71_outgoing) && formGroup.get('_71_outgoing')">

        <ng-container *ngTemplateOutlet="header; context:{key:'_71_outgoing', label: 'Ongoing throughout'}"></ng-container>

        <gv-ex-time-role-set-create-ctrl [parentPath]="basePath" [parentTeEntStatePath]="parentTeEntPath" formControlName="_71_outgoing"
          [index]="'_71_outgoing'"></gv-ex-time-role-set-create-ctrl>

        <gv-control-messages class="d-flex ml-2" [control]="formGroup?.get('_71_outgoing')"></gv-control-messages>

      </div>
    </div>


    <!-- End of begin -->
    <div class="border-bottom pl-3" *ngIf="(mode$ | async) !== 'one-date'">

      <button class="btn btn-link" type="button" *ngIf="!((_fields$ | async)?._150_outgoing)" (click)="addRoleSet(150, ['_71_outgoing', '_151_outgoing'], ['_71_outgoing'])">+ Begin</button>

      <div class="modal-body" *ngIf="((_fields$ | async)?._150_outgoing) && formGroup.get('_150_outgoing')">

        <ng-container *ngTemplateOutlet="header; context:{key:'_150_outgoing', label: 'Begin'}"></ng-container>

        <gv-ex-time-role-set-create-ctrl [parentPath]="basePath" [parentTeEntStatePath]="parentTeEntPath" formControlName="_150_outgoing"
          [index]="'_150_outgoing'"></gv-ex-time-role-set-create-ctrl>

        <gv-control-messages class="d-flex ml-2" [control]="formGroup?.get('_150_outgoing')"></gv-control-messages>

      </div>

    </div>


    <!-- Begin of end -->
    <div class="border-bottom pl-3" *ngIf="(mode$ | async) !== 'one-date'">

      <button class="btn btn-link" type="button" *ngIf="!((_fields$ | async)?._151_outgoing)" (click)="addRoleSet(151, ['_71_outgoing', '_150_outgoing'], ['_71_outgoing'])">+ End</button>

      <div class="modal-body" *ngIf="((_fields$ | async)?._151_outgoing) && formGroup.get('_151_outgoing')">

        <ng-container *ngTemplateOutlet="header; context:{key:'_151_outgoing', label: 'End'}"></ng-container>

        <gv-ex-time-role-set-create-ctrl [parentPath]="basePath" [parentTeEntStatePath]="parentTeEntPath" formControlName="_151_outgoing"
          [index]="'_151_outgoing'"></gv-ex-time-role-set-create-ctrl>

        <gv-control-messages class="d-flex ml-2" [control]="formGroup?.get('_151_outgoing')"></gv-control-messages>

      </div>

    </div>



  </form>

  <div class="modal-footer border-top-0">
    <button type="submit" class="btn btn-primary" [disabled]="(formGroup.invalid || formGroup.pristine) && submitClicked" (click)="onSubmitExistenceTime()">
      <span *ngIf="mode=='create'">Ok</span>
      <span *ngIf="mode=='editable'">Save</span>
    </button>
    <button class="btn btn-link" (click)="stopEditing.emit()">Cancel</button>
  </div>
</div>


<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header let-key="key" let-label="label">

  <div class="d-flex ">
    <div class="gv-grow-1">{{label}}</div>
    <div class="gv-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="(showOntoInfo$|async)">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/property/{{(property$|async).dfh_pk_property}}"
          target="_blank">
          {{(property$|async).dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>

    <button type="button" class="btn btn-sm btn-link align-self-center" (click)="removeRoleSet(key)" title="Remove">
      <i class="fa fa-trash"></i>
    </button>
  </div>

</ng-template>