<h1>Configure {{classLabel$|async}} labels</h1>

<mat-dialog-content class="pb-1 mat-typography">




  <div *ngIf="loading" class="gv-flex-fh justify-content-center align-items-center">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <span [hidden]="loading">

    <p>
      Geovistroy generates the labels of your {{classLabel$|async}} entities according to this configuration.
    </p>
    <p>
      Define here, which fields Geovistory should use to create the labels and how many items it may maximally take from
      a field.
    </p>

    <p class="mat-h3 mt-3" *ngIf="!defaultConfig && !editing">
      No configuration available
    </p>

    <p class="mat-h3 mt-3" *ngIf="defaultConfig && !editing">
      Default Geovistory configuration:
    </p>

    <p class="mat-h3 mt-3" *ngIf="editing">
      Your configuration:
    </p>


    <form [formGroup]="form">
      <div *ngFor="let group of labelParts.controls; index as i">

        <span>
          #{{i+1}}
        </span>
        <mat-form-field appearance="outline" class="ml-3">
          <mat-label>Field</mat-label>
          <mat-select [formControl]="$any(group).get('fieldId')">
            <mat-option *ngFor="let field of fields$|async" [value]="field.id">
              {{field.label}}
              <i class="mat-text-secondary" *ngIf="field.removedFromAllProfiles">Deprecated</i>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="group.get('fieldId').invalid">
            Please select a field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="ml-3">
          <mat-label>Max. considered elements per field</mat-label>
          <input matInput placeholder="Add number" type="number" [formControl]="$any(group).get('nrOfStmts')" />
          <mat-error *ngIf="$any(group).get('nrOfStmts').invalid">Value must be between 1 and 5.</mat-error>
        </mat-form-field>


        <button mat-icon-button *ngIf="editing" class="ml-3">
          <mat-icon svgIcon="delete" (click)="removeLabelPartFg(i)"></mat-icon>
        </button>
      </div>
      <mat-error *ngIf="labelParts.hasError('required')">You must add at least one field.</mat-error>
    </form>

    <button mat-flat-button color="primary" [disabled]="labelParts.controls.length >= maxLabelFieldNumber"
      *ngIf="editing" (click)="addLabelPartFg()">
      Add a field
    </button>

    <div *ngIf="editing && defaultConfig" class="mt-5">

      There is a default Geovistory configuration available.
      <button mat-button (click)="restoreDefault()" color="primary" *ngIf="editing">
        Restore default
      </button>
    </div>

    <div class="mt-5" *ngIf="!editing">
      You can create your own configuration
      <button mat-button (click)="createOwn()" color="primary">
        Create own configuration
      </button>
    </div>
  </span>

</mat-dialog-content>


<mat-dialog-actions align="end" [hidden]="loading">
  <button mat-button [disabled]="form.invalid && form.touched" (click)="saveConfig()">Save Changes</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
