<!-- *ngIf="!isCircular && (property!==undefined)"  -->
<div [ngClass]="{'dev-view': entityEditor.devView}">
  <span *ngIf="entityEditor.devView">
    [(state$ | async): {{(state$ | async)}}] [readyToCreate: {{isReadyToCreate}}] [readyToAdd: {{rolesToAdd?.length}}] [communityStatsVisible
    {{communityStatsVisible}}]
  </span>


  <span *ngIf="isOutgoing === true && entityEditor.devView">
    [dom: {{property.dfh_has_domain}} – prop: {{property.dfh_pk_property}} – range: {{property.dfh_has_range}}]
  </span>

  <span *ngIf="isOutgoing === false && entityEditor.devView">
    [range: {{property.dfh_has_range}} – prop: {{property.dfh_pk_property}} – dom: {{property.dfh_has_domain}}]
  </span>


  <!--
  ************************* Editable State && Create State ************************* -->

  <span *ngIf="(state$ | async) === 'editable' || (state$ | async) === 'create'">


    <ng-container *ngTemplateOutlet="header"></ng-container>

    <div [@slideInOut]="(toggle$|async)">

      <!-- The roles in project -->

      <gv-te-ent-role *ngFor="let entry of (roleStatesInProject$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key"
        (readyToAdd)="onRoleReadyToAdd($event)" (appeChange)="emitAppeChange($event)" (roleRemoved)="onRoleRemoved($event)"
        (roleCreated)="onRoleCreated($event)" (onRequestStandard)="changeStandardRole($event)"></gv-te-ent-role>

      <!-- If no roles in Project, show a big add button -->
      <div class="card-body" *ngIf=" (roleStatesInProject$ | async)?.length === 0 && addButtonVisible">
        <button class="btn btn-primary" (click)="startAddingRole()">
          Add {{(label$ | async).default}}
        </button>
        <button class="btn btn-link" (click)="removePropertySection()">
          cancel
        </button>
      </div>


      <!-- Roles currently being created -->

      <div class="border-top border-gray-500" *ngIf="((roleStatesToCreate$|async)?.roleStateToCreate)">
        <div class="card-body">
          Add a {{(label$ | async).sg}}
        </div>
        <gv-te-ent-role *ngFor="let entry of (roleStatesToCreate$ | async) | keys; trackBy:getKey" [parentPath]="basePath" intermediatePathSegment="roleStatesToCreate"
          [index]="entry.key" (roleCreationCanceled)="onRoleCreationCanceled($event)" (roleCreated)="onRoleCreated($event)"></gv-te-ent-role>
      </div>




      <!-- Spinner for when loading roles not in project -->

      <div class="card-body" *ngIf="(rolesNotInProjectLoading$|async)">
        <i class="fa fa-spinner fa-pulse"></i> Searching for existing {{(label$ | async).sg}}…
      </div>



      <!-- Roles that are added to at least one other project -->

      <span *ngIf="(roleStatesInOtherProjectsVisible$|async)">
        <div class="card-body gv-property-section-header">
          {{(roleStatesInOtherProjects$|async)?.length ? (roleStatesInOtherProjects$|async)?.length : 0 }} {{(roleStatesInOtherProjects$|async)?.length
          === 1 ? (label$ | async).sg : (label$ | async).pl}} found in other projects
        </div>

        <!-- <div class="card-body" *ngIf="(roleStatesInOtherProjects$|async)?.length">
          <div class="gv-label gv-flex-grow-1"> Add an existing {{(label$ | async).sg}} from below or
            <a href="" class="gv-passive-link" (click)="startCreateNewRole()">create a new name</a>.</div>
        </div> -->

        <!-- <div class="card-body" *ngIf="!(roleStatesInOtherProjects$|async)?.length && !(roleStatesInNoProjectVisible$|async)">
          <div class="gv-label gv-flex-grow-1">
            <a href="" class="btn btn-primary gv-passive-link" (click)="startCreateNewRole()">Create a new {{(label$ | async).sg}}</a>
            <a href="" class="btn btn-link gv-passive-link" (click)="showRolesInNoProject()">
              Show {{(roleStatesInNoProject$|async)?.length}} {{(roleStatesInOtherProjects$|async)?.length === 1 ? (label$ | async).sg : (label$
              | async).pl}} used by no Projects
            </a>
          </div>
        </div> -->

        <div class="card-body" *ngIf="(roleStatesInOtherProjects$|async)?.length">
          <gv-te-ent-role *ngFor="let entry of (roleStatesInOtherProjects$ | async) | keys; trackBy:getKey" [parentPath]="basePath"
            intermediatePathSegment="roleStatesInOtherProjects" [index]="entry.key"></gv-te-ent-role>
        </div>
      </span>

      <!-- Roles that are in no project -->

      <span *ngIf="(roleStatesInNoProject$|async)?.length">

        <div class="card-body pt-0">
          <small>
            <a href="" class="gv-passive-link text-light" (click)="showRolesInNoProject()" *ngIf="!(roleStatesInNoProjectVisible$|async)">
              Show {{(roleStatesInNoProject$|async)?.length}} {{(roleStatesInOtherProjects$|async)?.length === 1 ? (label$ | async).sg
              : (label$ | async).pl}} used by no Projects.
            </a>
            <a href="" class="gv-passive-link text-light" (click)="hideRolesInNoProject()" *ngIf="(roleStatesInNoProjectVisible$|async)">
              Hide
            </a>
          </small>

          <div class="card-body" *ngIf="(roleStatesInNoProjectVisible$|async)">
            <!-- <gv-te-ent-role *ngFor="let role of (roleStatesInNoProject$|async)" [role]="role" [parentProperty]="property" [isOutgoing]="isOutgoing"
                [pointTo]="'TeEnt'" [roleState]="'add'" (readyToAdd)="onRoleReadyToAdd($event)"></gv-te-ent-role> -->
          </div>
        </div>
      </span>

      <div class="card-body" *ngIf="(roleStatesInNoProjectVisible$|async) || (roleStatesInOtherProjects$|async)?.length">
        <button type="button" class="btn btn-primary" [ngClass]="{disabled:(!isReadyToAddRoles)}" (click)="addSelectedRolesToProject()">Add selected</button>
        <button type="button" class="btn btn-link" (click)="cancelSelectRoles()">Cancel</button>
      </div>


    </div>
  </span>



  <!--
  ************************* Add-Pe-It State ************************* -->

  <span *ngIf="(state$ | async) === 'add-pe-it'">

    <ng-container *ngTemplateOutlet="header"></ng-container>

    <div [@slideInOut]="(toggle$|async)">
      <div class="card-body">
        <gv-te-ent-role *ngFor="let entry of (roleStatesInOtherProjects$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key" intermediatePathSegment="roleStatesInOtherProjects"></gv-te-ent-role>
      </div>
    </div>

  </span>


  <!--
  ************************* Add State ************************* -->

  <span *ngIf="(state$ | async) === 'add'">

    <div class="card-body gv-property-section-header d-flex flex-row gv-to-pe-it">
      <div class="gv-label gv-flex-grow-1"> {{(label$ | async).default}} </div>
    </div>


    <div class="card-body">
      <gv-te-ent-role *ngFor="let entry of (roleStatesInProject$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key"></gv-te-ent-role>
    </div>

  </span>


  <!--
  ************************* Create State ************************* -->

  <!-- <span *ngIf="(state$ | async) === 'create'">

    <div class="btn-group d-flex flex-row gv-h5">
      <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
        <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': ((toggle$|async)==='expanded')}"></i>
        {{(label$ | async)?.default}}
      </button>
      <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="(ontoInfoVisible$|async)">
        <div class="align-self-center">
          <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{(property$|async).dfh_pk_property}}" target="_blank">
            {{(property$|async)?.dfh_identifier_in_namespace}}
          </a>
        </div>
      </div>
    </div>

    
    <div [@slideInOut]="(toggle$|async)">


      
      <gv-te-ent-role [role]="roleToCreate" [pointTo]="'PeIt'" [pkTargetClass]="pkTargetClass" [fkProperty]="fkProperty" [roleState]="'create-te-ent'"
        (readyToCreate)="roleReadyToCreate($event)" (notReadyToCreate)="roleNotReadyToCreate()" (roleCreated)="onRoleCreated($event)"
        (roleCreationCanceled)="onRoleCreationCanceled()"></gv-te-ent-role>
    </div>
    <div class="card-body">
      <button [ngClass]="{disabled:(!isReadyToCreate)}" type="button" class="btn btn-primary" (click)="persistEntitiesToCreate(parentPeIt.pk_entity)">Ok</button>
      <button type="button" class="btn btn-link" (click)="removeRoleSet()">Cancel</button>
    </div>
  </span> -->


  <!--
  ************************* View State ************************* -->

  <span *ngIf="(state$ | async) === 'view'">

    <ng-container *ngTemplateOutlet="header"></ng-container>

    <div [@slideInOut]="(toggle$|async)">

      <gv-te-ent-role *ngFor="let entry of (roleStatesInProject$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key"></gv-te-ent-role>

    </div>

  </span>

</div>




<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <div class="btn-group d-flex flex-row gv-h5">
    <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': ((toggle$|async)==='expanded')}"></i>
      <span *ngIf="(roles$ | async) && (roles$ | async).length">{{(roles$ | async)?.length}}</span>
      {{(label$ | async)?.default}}
    </button>
    <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="(ontoInfoVisible$|async)">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{(property$|async).dfh_pk_property}}" target="_blank">
          {{(property$|async).dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>
    <div class="btn btn-link btn-sm" (click)="startAddingRole()" *ngIf="addButtonVisible">
      <i class="fa fa-plus"></i>
    </div>
  </div>
</ng-template>