.gv-full-with {
  flex-wrap: wrap;
}

.left-col {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
  flex-direction: column;
}

.right-col {
  margin-left: 1rem;
  display: flex;
  flex: 0 0 40px;
  align-items: flex-start;
  justify-content: center;
}

.is-field + .is-field {
  margin-top: 0.5rem;
}

// .is-field {
//   padding: 0.5rem;
// }

.is-control {
  margin-top: 0.5rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  display: flex; 
  flex-direction:column; 
  justify-content: center;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.inside-width-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}