<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item">Register</li>
  </ol>
</gv-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6" *ngIf="!confirm">
      <h1>Join Geovistory</h1>
      <p>Create your personal account.</p>
      <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required minlength="3" maxlength="30"/>
          <div *ngIf="f.submitted && username?.errors?.required" class="help-block form-text text-danger">
            Username is required
          </div>
          <div *ngIf="f.submitted && username?.errors?.minlength" class="help-block form-text text-danger">
            Username must be at least 3 characters long.
          </div>
          <div *ngFor="let message of errorMessages?.username" class="help-block form-text text-danger">{{message}}</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="firstName">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required email/>
          <div *ngIf="f.submitted && email?.errors?.required" class="help-block form-text text-danger">Email is required</div>
          <div *ngIf="f.submitted && email?.errors?.email && !email?.errors?.required" class="help-block form-text text-danger">Email is invalid</div>
          <div *ngFor="let message of errorMessages?.email" class="help-block form-text text-danger">{{message}}</div>
          <small id="emailHelp" class="form-text text-muted">You will receive account related emails.</small>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required pattern="(?=.*[\d])(?=.*[A-Za-z]).*" minlength="6" maxlength="20" validateEqual="password2" reverse="true"/>
          <div *ngIf="f.submitted && password?.errors?.required" class="help-block form-text text-danger">
            Password is required
          </div>
          <div *ngIf="f.submitted && (password?.errors?.pattern || password?.errors?.minlength || password?.errors?.maxlength)" class="help-block form-text text-danger">
            Password needs 6-20 characters, one alphabet and one number.
          </div>
          <div *ngFor="let message of errorMessages?.password" class="help-block form-text text-danger">{{message}}</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Confirm password</label>
          <input type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required  validateEqual="password" reverse="false"/>
          <div *ngIf="f.submitted && !password2.valid" class="help-block form-text text-danger">Password mismatch</div>
          <div *ngFor="let message of errorMessages?.password2" class="help-block form-text text-danger">{{message}}</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Register</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a routerLink="/" class="btn btn-link">Cancel</a>

        </div>
      </form>
    </div>
    <div class="col-6" *ngIf="confirm">
      <h1>Thanks for registering</h1>
      <p class="lead mt-5">A verification email has been sent to <strong>{{account.email}}</strong></p>
      <p>Please open the email and click on the verication link to verify your email address.</p>
      <small class="text-muted">
        No email received? Check your spam folder.
        <!-- first then try to <a href class="gv-passive-link" (click)="register()">resend</a> the verification email. -->
      </small>
    </div>
  </div>
</div>



