<div [ngClass]="{'gv-flex-fh':!(showRemoveVerification$ | async)}" [hidden]="(showRemoveVerification$ | async)">
  <!-- Header -->
  <div class="gv-flex-shrink-0" *ngIf="(showHeader$ | async)">
    <gv-editor-header>
      <span typeLabel *ngIf="(_type$ | async)?.label">{{(_type$ | async)?.label}}:</span>
      <gv-pe-it-label labels [children]="(_fields$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit"
        (onLabelChange)="onLabelChange.emit($event)"></gv-pe-it-label>
      <div type *ngIf="(_type$ | async)">
        <gv-type [basePath]="basePath.concat('_type')"></gv-type>
      </div>
      <gv-class-info classInfo [classConfig]="classConfig" iconPrimary="true"></gv-class-info>
      <div settings>
        <div class="btn-group" ngbDropdown placement="bottom-right" [autoClose]="'outside'">
          <button class="btn btn-link no-caret" ngbDropdownToggle>
            <i class="fa fa-cogs"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">

            <!-- Left Column Toggles -->

            <div class="dropdown-header">View (left column)</div>

            <button class="dropdown-item" (click)="toggle('showProperties')" *ngIf="(showPropertiesToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showProperties$|async)}"></i>
              Properties
            </button>

            <button class="dropdown-item" (click)="toggle('showSectionList')" *ngIf="(showSectionListToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showSectionList$|async)}"></i>
              Sections & Digital Reproductions
            </button>

            <button class="dropdown-item" (click)="toggle('showRepros')" *ngIf="(showReprosToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showRepros$|async)}"></i>
              Digital Reproductions
            </button>

            <!-- Rigth Column Toggles -->

            <div class="dropdown-header">View (right column)</div>

            <button class="dropdown-item" (click)="toggle('showMentionedEntities')"
              *ngIf="(showMentionedEntitiesToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showMentionedEntities$|async)}"></i>
              Mentioned Entities
            </button>

            <button class="dropdown-item" (click)="toggle('showAssertions')" *ngIf="(showAssertionsToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showAssertions$|async)}"></i>
              Assertions
            </button>

            <button class="dropdown-item" (click)="toggle('showSources')" *ngIf="(showSourcesToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showSources$|async)}"></i>
              Sources & Annotations
            </button>

            <button class="dropdown-item" (click)="toggle('showMap')" *ngIf="(showMapToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showMap$|async)}"></i>
              Map
            </button>

            <button class="dropdown-item" (click)="toggle('showTimeline')" *ngIf="(showTimelineToggle$|async)">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showTimeline$|async)}"></i>
              Timeline
            </button>

            <!-- Info Toggles -->

            <div class="dropdown-header">Info</div>

            <button class="dropdown-item" (click)="toggle('showOntoInfo')">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showOntoInfo$|async)}"></i>
              Ontology Info
            </button>

            <!-- Remove Button -->

            <div class="dropdown-divider" *ngIf="!(isViewMode$ | async)"></div>
            <div class="dropdown-header" *ngIf="!(isViewMode$ | async)">Danger Zone</div>

            <button class="dropdown-item text-danger" (click)="toggleRemoveVerification()"
              *ngIf="!(isViewMode$ | async)">
              <i class="fa fa-trash"></i>
              Remove
            </button>
            <!-- <button class="dropdown-item" (click)="toggleCommunityStats()">
              <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (showCommunityStats$|async)}"></i>
              Community Statistics
            </button> -->
          </div>
        </div>
      </div>
    </gv-editor-header>
  </div>

  <!-- Tools to edit PeIt  -->
  <div class="gv-canvas" [ngClass]="{'d-flex flex-row gv-grow-1': !(sectionList$ | async)?.create}"
    style="flex-basis:100%" [hidden]="(sectionList$ | async)?.create">

    <!-- Left Panel -->
    <div class="gv-panel" *ngIf="(showLeftPanel$ | async)">

      <!-- Property Tile -->
      <span class="gv-tile" *ngIf="(showProperties$ | async)">

        <gv-tile-header *ngIf="(showPropertiesHeader$ | async)" (close)="toggle('showProperties')">
          <span title>
            Properties
          </span>
          <span buttons>
            <button class="btn btn-sm btn-link" (click)="startSelectProperty()"
              *ngIf="!(isViewMode$ | async) && (selectPropState$ | async) === 'init' && (showAddAPropertyButton$ | async)"
              [ngClass]="{'invisible' : isolatedChild}">
              <i class="fa fa-plus"></i> Add
            </button>
          </span>
        </gv-tile-header>

        <!-- Tile Body -->
        <div class="gv-tile-body">

          <!-- Add a property UI -->
          <div *ngIf="(!isolatedChild)">
            <!-- Step 2 for adding new Property section -->
            <gv-add-info-pe-it *ngIf="(selectPropState$ | async) === 'selectProp'" [uiElements]="uiElementsForAddInfo"
              [classConfig]="classConfig" [addedChildren$]="_fields$" (addOptionSelected)="addOptionSelected($event)"
              (cancel)="stopSelectProperty()"></gv-add-info-pe-it>
          </div>

          <!-- List of Fields -->
          <div *ngFor="let item of (_fields$ | async) | keys | filterByKey:isolatedChild; trackBy:getKey">

            <gv-text-property-field *ngIf="item.value.type === 'TextPropertyField'"
              [basePath]="basePath.concat('_fields').concat(item.key)"></gv-text-property-field>

            <gv-pe-it-property-field-editable *ngIf="item.value.type === 'PropertyField'" [parentPath]="basePath"
              [index]="item.key" (onRemovePropertyField)="removePropertyField(item.key)">
            </gv-pe-it-property-field-editable>

          </div>
        </div>

      </span>

      <!-- Section List. Sections of a source -->
      <!-- <gv-section-list class="gv-tile" *ngIf="(showSectionList$ | async) && !isolatedChild"
        [basePath]="basePath.concat('sectionList')" [loadListOnInit]="true" (close)="toggle('showSectionList')">
      </gv-section-list> -->

      <!-- Section List. Sections of a source -->
      <gv-expression class="gv-tile" [pkEntity$]="pkEntity$" [fkClass$]="fkClass$" *ngIf="(showSectionList$ | async) && !isolatedChild"
        (close)="toggle('showSectionList')">
      </gv-expression>

      <!-- Repros. Reproductions of a section -->
      <gv-repros class="gv-flex-fh" class="gv-tile" *ngIf="(showRepros$ | async) && !isolatedChild"
        [basePath]="basePath.concat('repros')" (annotate)="onAnnotate()" (close)="toggle('showRepros')"></gv-repros>

    </div>

    <!-- Right Panel -->
    <div class="gv-panel" [ngClass]="{'ml-2':(showLeftPanel$ | async)}" *ngIf="(showRightPanel$ | async)">

      <!-- <gv-mentioning-list class="gv-tile" *ngIf="(showMentionedEntities$ | async)"
        [basePath]="basePath.concat('mentionedEntities')" (close)="toggle('showMentionedEntities')">
      </gv-mentioning-list>

      <gv-mentioning-list class="gv-tile" *ngIf="(showSources$ | async)" [basePath]="basePath.concat('sources')"
        (close)="toggle('showSources')"></gv-mentioning-list> -->

      <gv-map class="gv-tile" *ngIf="(showMap$ | async)" [path]="basePath" (close)="toggle('showMap')"></gv-map>

      <gv-pe-it-timeline class="gv-tile" [basePath]="basePath.concat('peItTimeline')" *ngIf="(showTimeline$ | async)"
        (close)="toggle('showTimeline')"></gv-pe-it-timeline>

    </div>
  </div>

  <!-- ********************** Isolated Create Section ***************************
       * - If 'create' is truthy, show a form with SourceCreateFormComponent
       *     listening to ok and cancel Outputs
       -->
  <div *ngIf="(showSectionList$ | async)" [hidden]="!(sectionList$ | async)?.create"
    [ngClass]="{'gv-flex-fh': (sectionList$ | async)?.create}">
    <gv-section-list [basePath]="basePath.concat('sectionList')" [loadListOnInit]="false"></gv-section-list>
  </div>
</div>

<div class="d-flex flex-row justify-content-center" *ngIf="(showRemoveVerification$ | async)">
  <div>
    <div class="my-3">
      <h2>
        Remove <gv-pe-it-label class="d-inline-block mr-1" labels [children]="(_fields$ | async)"
          [classConfig]="classConfig" [labelInEdit]="labelInEdit"></gv-pe-it-label>
      </h2>

      <gv-class-info class="mb-5" classInfo [classConfig]="classConfig" iconPrimary="true"></gv-class-info>

      <p> Are you sure?</p>
    </div>
    <button class="btn btn-outline-danger" (click)="onRemove()">Remove</button>
    <button class="btn btn-outline-secondary ml-2" (click)="toggleRemoveVerification()">Cancel</button>
  </div>
</div>
