<h2>
  Properties
</h2>
<p>
  All Properties. (Gui labels are in english)
</p>
<table class="table table-striped gv-table-scroll-y border-bottom border-secondary">
  <thead>
    <tr>
      <th scope="col">dfh_has_domain</th>
      <th scope="col">dfh_standard_label</th>
      <th scope="col">dfh_has_range</th>
      <th scope="col">gui label sg</th>
      <th scope="col">gui label pl</th>
      <th scope="col">gui label sg inv</th>
      <th scope="col">gui label pl inv</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (items$ | async) | keys; trackBy:getKey;">
      <td>
        <a href routerLink="../classes/{{item.value.dfh_has_domain}}">{{item?.value?.domain_class?.dfh_identifier_in_namespace}}
          {{item?.value?.domain_class?.dfh_standard_label}}</a>
        <small class="text-muted ml-2">{{item.value.dfh_has_domain}}</small>
      </td>
      <td>
        {{item.value.dfh_identifier_in_namespace}} {{item.value.dfh_standard_label}}
        <small class="text-muted">{{item.value.dfh_pk_property}}</small>
      </td>
      <td>
        <a href routerLink="../classes/{{item.value.dfh_has_range}}">{{item?.value?.range_class?.dfh_identifier_in_namespace}}
          {{item?.value?.range_class?.dfh_standard_label}}</a>
        <small class="text-muted ml-2">{{item.value.dfh_has_range}}</small>
      </td>
      <td>
          <gv-dfh-label-list-edit [basePath]="['admin','propertiesList','items', item.key, 'label_sg']" [dfhFkProperty]="item.value.dfh_pk_property"></gv-dfh-label-list-edit>
      </td>
      <td>
          <gv-dfh-label-list-edit [basePath]="['admin','propertiesList','items', item.key, 'label_pl']" [dfhFkProperty]="item.value.dfh_pk_property"></gv-dfh-label-list-edit>
      </td>
      <td>
          <gv-dfh-label-list-edit [basePath]="['admin','propertiesList','items', item.key, 'label_inversed_sg']" [dfhFkProperty]="item.value.dfh_pk_property"></gv-dfh-label-list-edit>
      </td>
      <td>
          <gv-dfh-label-list-edit [basePath]="['admin','propertiesList','items', item.key, 'label_inversed_pl']" [dfhFkProperty]="item.value.dfh_pk_property"></gv-dfh-label-list-edit>
      </td>
    </tr>
  </tbody>
</table>