<div class="gv-search-hit">
  <div class="gv-search-hit-header">
    <div class="d-flex">
      <div class="gv-grow-1">
        <gv-entity-preview [preview]="entityPreview" [dragEnabled]="false" [showId]="true"></gv-entity-preview>
      </div>
      <div class="d-flex">
        <div class="gv-search-hit-is-in-project" *ngIf="isInProject">
          Already in your project
        </div>
        <div class="gv-search-hit-project-count text-right">
          <i class="fa fa-check"></i> {{projectsCount}} {{projectsCount === 1 ? 'project' : 'projects'}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="gv-grow-1">
      <div class="gv-search-hit-body text-muted">
        <i class="gv-search-hit-property" [innerHtml]="hit.full_text_headline">
        </i>
      </div>
    </div>
    <div [matTooltip]="hit.btnTooltip">
      <button type="button" name="button" (click)="open()" mat-flat-button color="primary" [disabled]="hit.btnDisabled"
        [matTooltip]="hit.btnTooltip" *ngIf="isInProject">{{alreadyInProjectBtnText}}</button>
      <button type="button" name="button" (click)="add()" mat-flat-button color="primary" [disabled]="hit.btnDisabled"
        [matTooltip]="hit.btnTooltip" *ngIf="!isInProject">{{notInProjectBtnText}}</button>
    </div>
  </div>
</div>
