<div class="d-flex cursor-text" (click)="openModal(); $event.stopPropagation();">
  <!-- <span *ngIf="!shouldLabelFloat" class="gv-mat-text-input-placeholder">{{placeholder}}</span> -->
  <div *ngIf="shouldLabelFloat" class="d-flex align-items-center ">
    {{timeSpan | timeSpan}}
  </div>

  <input type="text" matInput placeholder="{{placeholder}}" disabled *ngIf="!shouldLabelFloat" autocomplete="off">

  <!-- <div class="ml-auto">
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </div> -->
</div>
