.gv-rl-footer-bar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.gv-rl-footer-bar-spacer {
  flex: 1 1 auto;
}
.gv-rl-footer-bar-filter-btn {
  flex: 1 0 auto;
}

.col-action {
  padding: 0 !important;
}
.row-highlight {
  background: #d9dcdc !important;
}

.action-menu {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
