<div *ngIf="!(create$ |async)" class="gv-tile-header">
  <div class="gv-grow-1">
    Sections and Reproductions
  </div>
  <!-- Step 1 for adding a new property -->
  <gv-class-and-type-selector *ngIf="(pkProject$ |async) && (crm$ | async)" [pkClasses]="pkClassesOfAddBtn" [pkProject]="(pkProject$ |async)"
    [basePath]="basePath.concat('classAndTypeSelector')" (select)="onAdd($event, pkUiContextCreate)" buttonText="+ Add"
    buttonClass="btn-link btn-sm no-caret mr-0" placement="right"></gv-class-and-type-selector>

</div>

<div *ngIf="!(create$ |async)">

  <ngx-table [configuration]="tableConfiguration" [data]="data" [columns]="columns">
    <ng-template let-row let-index="index">
      <td>
        {{row?.type_label}}
      </td>
      <td>
        {{row?.entity_label}}
      </td>
      <td>
        <button class="btn btn-link" (click)="openSection(row.pk_entity)">
          Open
        </button>
      </td>
    </ng-template>
  </ngx-table>

</div>

<gv-entity-association-create-or-add *ngIf="(create$ |async)" class="gv-flex-fh" [basePath]="basePath.concat('create')"
  (done)="openSectionFromEntityAssociation($event)" (cancel)="stopCreate()"></gv-entity-association-create-or-add>