<!-- <gv-list-header class="mat-tree-node  align-items-baseline" [listDefinition]="listDefinition"
  [treeControl]="treeControl" [readonly$]="readonly$" [itemsCount$]="itemsCount$"></gv-list-header> -->

<div FxFlex>
  <ul cdkDropList class="drop-list" (cdkDropListDropped)="t.updateOrder($event, items$)">
    <li *ngFor="let item of (items$ | async)" class="drag-box">
      <gv-onto-class-info class="mr-2" [pkClass]="listDefinition.targetClass" *ngIf="showOntoInfo$ | async">
      </gv-onto-class-info>
      {{item.label}}
    </li>
  </ul>
</div>
