gv-entity-matcher: {{pkEntity$|async}}

<!-- *ngIf="pkEntity$|async" -->

<!-- <span *ngIf="entityMappings[i] ? entityMappings[i][j] : false" class="col-6 text-center align-self-center">
  <gv-entity-preview [pkEntity]="entityMappings[i][j]" [openTabOnClick]="true" [editAllowed]="true">
  </gv-entity-preview>
</span> -->
<!-- *ngIf="!(pkEntity$|async)" -->

<!-- <span *ngIf="(!entityMappings[i] || (entityMappings[i] && !entityMappings[i][j])) && headers[j].mapping"
  class="col-6 text-center align-self-center">
  <mat-form-field class="w-50" appearance="outline">
    <gv-ctrl-entity [pkClass]="headers[j].mapping.fkClass" placeholder="Map to an entity" name="controlName"
      [(ngModel)]="model" #m="ngModel" [showAddList]="true" (blur)="mappingChanged($event, i, j)">
    </gv-ctrl-entity>
    <mat-error *ngIf="m.invalid">You must enter a value</mat-error>
    <mat-icon matSuffix svgIcon="pencil"></mat-icon>
  </mat-form-field>
</span> -->


<!-- 3-dots Menu -->
