<div class="gv-choose-class">
  <div class="row">
    <div class="col-8">
      <div class="text-muted">
        Choose the class of the entity you want to add.
      </div>
    </div>
    <div class="col-4">
      <input type="text" name="filterClasses" class="form-control" aria-describedby="search"  autocomplete="off" placeholder="Filter classes…">
    </div>
  </div>
  <div class="my-3">
    <div *ngFor="let class of classes" class="card">
      <div class="card-body gv-pointer" (click)="selectClass(class)">
        <h4 class="card-title">
          {{class.label}}
        </h4>
        <p class="card-text">
          {{class.scope_note}}
        </p>
      </div>
      <div class="card-footer d-flex align-items-center">
        <a target="_blank" href="http://ontologies.dataforhistory.org/class/{{class.dataForHistoryId}}" class="gv-flex-grow-1">Class info</a>
        <small class="text-muted">CRM: {{class.pk_class}}</small>
      </div>
    </div>
  </div>
</div>