<div *ngIf="!isCircular && (property!==undefined)" [ngClass]="{'dev-view': entityEditor.devView}">
  <span *ngIf="entityEditor.devView">
    [state: {{propState}}]
    [readyToCreate: {{isReadyToCreate}}]
    [readyToAdd: {{rolesToAdd?.length}}]
    [communityStatsVisible {{communityStatsVisible}}]
  </span>


  <span *ngIf="isOutgoing === true && entityEditor.devView">
    [dom: {{property.dfh_has_domain}} – prop: {{property.dfh_pk_property}} – range: {{property.dfh_has_range}}]
  </span>

  <span *ngIf="isOutgoing === false && entityEditor.devView">
    [range: {{property.dfh_has_range}} – prop: {{property.dfh_pk_property}} – dom: {{property.dfh_has_domain}}]
  </span>



  <!--
  ************************* Edit State ************************* -->

  <span *ngIf="propState === 'edit'">



    <div class="btn-group d-flex flex-row gv-h5">
      <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
        <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
        {{roleLabel}}
        ({{roles.length}})
      </button>
      <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="ontoInfoVisible">
        <div class="align-self-center">
          <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{property.dfh_pk_property}}" target="_blank" >
            {{property.dfh_identifier_in_namespace}}
          </a>
        </div>
      </div>
      <div class="btn btn-link btn-sm" (click)="startAddingRole()" *ngIf="addButtonVisible">
        <i class="fa fa-plus"></i>
      </div>
    </div>


    <div [@slideInOut]="cardState">

      <!-- The roles that are added -->

      <gv-role-of-te-ent *ngFor="let role of roles"
      [role]="role"
      [parentProperty]="property"
      [isOutgoing]="isOutgoing"
      [pointTo]="pointTo"
      [roleState]="'edit'"
      (readyToAdd)="onRoleReadyToAdd($event)"
      (appeChange)="emitAppeChange($event)"
      (roleRemoved)="onRoleRemoved($event)"
      (onRequestStandard)="changeStandardRole($event)"></gv-role-of-te-ent>

      <div class="card-body" *ngIf="roles.length === 0 && addButtonVisible">
        <button class="btn btn-primary" (click)="startAddingRole()">
          Add {{roleLabel}}
        </button>
        <button class="btn btn-link" (click)="removePropertySection()">
          cancel
        </button>
      </div>

      <!-- Select existing Roles -->

      <div class="border-top border-gray-500" *ngIf="addRoleState=== 'selectExisting'" >


        <div class="card-body" *ngIf="rolesNotInProjectLoading">
          <i class="fa fa-spinner fa-pulse"></i>  Searching for existing {{roleLabelObj.sg}}…
        </div>

        <span *ngIf="!rolesNotInProjectLoading">
          <div class="card-body gv-property-section-header">
            {{rolesInOtherProjects.length}} {{rolesInOtherProjects.length === 1 ? roleLabelObj.sg : roleLabelObj.pl}} found in other projects
          </div>

          <div class="card-body" *ngIf="rolesInOtherProjects.length">
            <div class="gv-label gv-flex-grow-1"> Add an existing {{roleLabelObj.sg}} from below or <a href="" class="gv-passive-link" (click)="startCreateNewRole()">create a new name</a>.</div>
          </div>

          <div class="card-body" *ngIf="!rolesInOtherProjects.length && !rolesInNoProjectVisible">
            <div class="gv-label gv-flex-grow-1">
              <a href="" class="btn btn-primary gv-passive-link" (click)="startCreateNewRole()">Create a new {{roleLabelObj.sg}}</a>
              <a href="" class="btn btn-link gv-passive-link" (click)="rolesInNoProjectVisible=true">
                Show {{rolesInNoProject.length}} {{rolesInOtherProjects.length === 1 ? roleLabelObj.sg : roleLabelObj.pl}} used by no Projects
              </a>
            </div>
          </div>

          <div class="card-body" *ngIf="rolesInOtherProjects.length">

            <gv-role-of-te-ent *ngFor="let role of rolesInOtherProjects"
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="'TeEnt'"
            [roleState]="'add'"
            (readyToAdd)="onRoleReadyToAdd($event)"
            ></gv-role-of-te-ent>
          </div>

          <div class="card-body pt-0" *ngIf="rolesInNoProject && rolesInOtherProjects.length">
            <small>
              <a href="" class="gv-passive-link text-light" (click)="rolesInNoProjectVisible=true" *ngIf="!rolesInNoProjectVisible">
                Show {{rolesInNoProject.length}} {{rolesInOtherProjects.length === 1 ? roleLabelObj.sg : roleLabelObj.pl}} used by no Projects.
              </a>
              <a href="" class="gv-passive-link text-light" (click)="rolesInNoProjectVisible=false" *ngIf="rolesInNoProjectVisible">
                Hide
              </a>
            </small>
          </div>

          <div class="card-body" *ngIf="rolesInNoProject && rolesInNoProjectVisible">

            <gv-role-of-te-ent *ngFor="let role of rolesInNoProject"
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="'TeEnt'"
            [roleState]="'add'"
            (readyToAdd)="onRoleReadyToAdd($event)"
            ></gv-role-of-te-ent>
          </div>

          <div class="card-body" *ngIf="rolesInNoProjectVisible || rolesInOtherProjects.length">
            <button type="button" class="btn btn-primary"
            [ngClass]="{disabled:(!isReadyToAddRoles)}"
            (click)="addSelectedRolesToProject()"
            >Add selected</button>

            <button type="button" class="btn btn-link"
            (click)="cancelSelectRoles()">Cancel</button>
          </div>
        </span>

      </div>

      <!-- Create a new Role -->
      <div class="border-top border-gray-500" *ngIf="addRoleState=== 'createNew'">

        <gv-role-of-te-ent
        [role]="roleToCreate"
        [pointTo]="'PeIt'"
        [pkTargetClass]="pkTargetClass"
        [fkProperty]="fkProperty"
        [fkTeEnt]="parentTeEnt.pk_entity"
        [roleState]="'create'"
        (roleCreated)="onRoleCreated($event)"
        (roleCreationCanceled)="onRoleCreationCanceled()"
        ></gv-role-of-te-ent>

      </div>

    </div>
  </span>



  <!--
  ************************* Add-Pe-It State ************************* -->

  <span *ngIf="propState === 'add-pe-it'">

    <div class="card-body gv-property-section-header d-flex flex-row gv-to-pe-it">
      <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
      <button type="button" class="gv-edit-btn btn btn-link btn-sm" name="button" *ngIf="addButtonVisible">
        <i class="fa fa-plus"></i>
      </button>
    </div>


    <div class="card-body">
      <div *ngFor="let role of roles">
        <gv-role-of-te-ent
        [role]="role"
        [parentProperty]="property"
        [isOutgoing]="isOutgoing"
        [pointTo]="pointTo"
        [roleState]="propState"
        (appeChange)="emitAppeChange($event)"
        (readyToAdd)="onRoleReadyToAdd($event)"
        (onRequestStandard)="changeStandardRole($event)"></gv-role-of-te-ent>
      </div>
    </div>

  </span>


  <!--
  ************************* Add State ************************* -->

  <span *ngIf="propState === 'add'">

    <div class="card-body gv-property-section-header d-flex flex-row gv-to-pe-it">
      <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
    </div>


    <div class="card-body">
      <div *ngFor="let role of roles">
        <gv-role-of-te-ent
        [role]="role"
        [parentProperty]="property"
        [isOutgoing]="isOutgoing"
        [pointTo]="pointTo"
        [roleState]="propState"
        (appeChange)="emitAppeChange($event)"
        (readyToAdd)="onRoleReadyToAdd($event)"
        (onRequestStandard)="changeStandardRole($event)"></gv-role-of-te-ent>
      </div>
    </div>

  </span>


  <!--
  ************************* Create State ************************* -->

  <span *ngIf="propState === 'create'">

    <div class="btn-group d-flex flex-row gv-h5">
      <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
        <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
        {{roleLabel}}
      </button>
      <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="ontoInfoVisible">
        <div class="align-self-center">
          <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{property.dfh_pk_property}}" target="_blank" >
            {{property.dfh_identifier_in_namespace}}
          </a>
        </div>
      </div>
      <button type="button" class="btn btn-link btn-sm" name="button">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div [@slideInOut]="cardState">
      <!-- <div  class="card-body">
        <gv-role-of-te-ent *ngFor="let role of roles"
        [role]="roleToCreate"
        [pointTo]="'PeIt'"
        [pkTargetClass]="pkTargetClass"
        [fkProperty]="fkProperty"
        [roleState]="'create'"
        (readyToCreate)="roleReadyToCreate($event)"
        (notReadyToCreate)="roleNotReadyToCreate()"></gv-role-of-te-ent>
      </div> -->


      <gv-role-of-te-ent
      [role]="roleToCreate"
      [pointTo]="'PeIt'"
      [pkTargetClass]="pkTargetClass"
      [fkProperty]="fkProperty"
      [roleState]="'create-te-ent'"
      (readyToCreate)="roleReadyToCreate($event)"
      (notReadyToCreate)="roleNotReadyToCreate()"
      (roleCreated)="onRoleCreated($event)"
      (roleCreationCanceled)="onRoleCreationCanceled()"
      ></gv-role-of-te-ent>

    </div>
  </span>


  <!--
  ************************* View State ************************* -->

  <span *ngIf="propState === 'view'">

    <div class="card-body gv-property-section-header d-flex flex-row gv-to-pe-it">
      <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
    </div>


    <div class="card-body">
      <div *ngFor="let role of roles">
        <gv-role-of-te-ent
        [role]="role"
        [parentProperty]="property"
        [isOutgoing]="isOutgoing"
        [pointTo]="pointTo"
        [roleState]="propState"
        [communityStatsVisible]="communityStatsVisible"
        [ontoInfoVisible]="ontoInfoVisible"
        (appeChange)="emitAppeChange($event)"
        ></gv-role-of-te-ent>
      </div>
    </div>

  </span>

</div>