<div class="card border-success">
  <div class="card-body p-3">

    <!-- Header -->
    <div class="d-flex w-100 justify-content-between">

      <!-- Title (Class name) -->
      <h4 class="mb-0">
        <i *ngIf="cla.dataUnitType=='peIt'" class="gv-icon gv-icon-entity">&nbsp;</i>
        <i *ngIf="cla.dataUnitType=='teEnt'" class="fa fa-star-o">&nbsp;</i>
        <span [innerHtml]="cla.title"></span>
      </h4>

      <!-- Status (enabled / disabled) -->
      <small class="text-success">enabled</small>
    </div>

    <!-- Profile List -->
    <div class="mb-2">
      <small class="text-muted">Class of profiles: <i>{{cla.profileLabels}}</i></small>
    </div>

    <!-- Scope Note -->
    <gv-read-more>
      <span [innerHtml]="cla.scopeNote"></span>
    </gv-read-more>

    <!-- Buttons -->
    <div class="d-flex w-100 mt-2 justify-content-end">
      <button class="btn btn-sm btn-outline-secondary mr-2">Disable</button>
      <button class="btn btn-sm btn-primary">Configure...</button>
    </div>
  </div>
</div>