<div class="card">
  <div class="card-body">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><i class="gv-icon gv-icon-entity"></i> Geographical Place</h5>
      <small class="text-success">enabled</small>
    </div>
    <div>
      <small class="text-muted">Class of profile Basic</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <div class="d-flex w-100 justify-content-before">
      <button class="btn btn-outline-secondary">Disable</button>
      <button class="btn btn-primary">Configure...</button>
    </div>
  </div>
</div>