<as-split class="gv-split-style" [direction]="'horizontal'" gutterSize="1" [useTransition]="true" (dragEnd)="resizedArea($event)">


  <!-------------------------------------------------------------------
       Text Editor
    -------------------------------------------------------------------->
  <as-split-area [size]="((showRightArea$ | async) ? 62 : 100)" class="d-flex flex-column">

    <gv-detail-top-bar [openRightAreaBtn]="!(showRightArea$ | async)" (openRight)="setShowRightArea(true)">

      <!--  *ngIf="(readOnly$|async)" -->
      <gv-version-picker class="d-inline-block" [versionList]="(versions$ | async)"
        [selectedVersion]="(digital$ | async)?.entity_version" (versionChange)="changeVersion($event)">
      </gv-version-picker>

      <span class="ml-auto">

        <button class="btn btn-sm btn-link" (click)="annotate()" *ngIf="(showAnnotateBtn$|async)">
          <i class="fa fa-plus" aria-hidden="true"></i> Annotate…
        </button>
        <!-- <button class="btn btn-link btn-sm" (click)="startEdit()" *ngIf="(readOnly$|async)">
          <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </button>
        <button class="btn btn-link-gray btn-sm" (click)="cancel()" *ngIf="!(readOnly$|async)">
          Cancel
        </button> -->
        <!-- *ngIf="!(readOnly$|async)" -->
        <button class="btn btn-link btn-sm ml-2" (click)="save()" >
          <i class="fa fa-save" aria-hidden="true"></i> Save
        </button>
      </span>
    </gv-detail-top-bar>
    <gv-detail-content>

      <gv-quill-edit class="gv-grow-1 d-flex flex-column gv-quill-borderless" [quillDoc]="(digital$ | async)?.quill_doc"
        [readOnly]="(readOnly$ | async)" [annotationsVisible$]="annotationsVisible$" [annotatedNodes$]="annotatedNodes$"
        [entitiesToHighlight$]="mentioningsFocusedInTable$" [creatingAnnotation]="false"
        (selectedDeltaChange)="selectedDeltaChange($event)" (nodeClick)="onNodeClick($event)"></gv-quill-edit>

    </gv-detail-content>
  </as-split-area>

  <!-------------------------------------------------------------------
      Annotations
    -------------------------------------------------------------------->
  <as-split-area *ngIf="(showRightArea$ | async)" [size]="38" class="d-flex flex-column">

    <gv-detail-top-bar closeRightAreaBtn="true" (closeRight)="setShowRightArea(false)">
      Annotations
    </gv-detail-top-bar>
    <gv-detail-content>
      <gv-mentioning-list class="gv-tile" [create$]="createAnnotation$" [chunk$]="chunk$"
        [basePath]="basePath.concat('mentionedEntities')" (close)="toggle('showMentionedEntities')">
      </gv-mentioning-list>
    </gv-detail-content>


  </as-split-area>
</as-split>
