<as-split class="gv-split-style" [direction]="'horizontal'" gutterSize="1" [useTransition]="t.useTransition"
  (dragEnd)="t.onResizeArea($event)">

  <!-------------------------------------------------------------------
       Text Editor
    -------------------------------------------------------------------->
  <as-split-area [size]="t.splitSizeLeft" class="gv-flex-fh">

    <gv-detail-top-bar [openRightAreaBtn]="!t.showRightArea"
      (openRight)="t.setShowRightArea(true); annotationsVisible$.next(true);">

      <!--  *ngIf="(readOnly$|async)" -->
      <gv-version-picker class="d-inline-block" [versionList]="(versions$ | async)"
        [selectedVersion]="(digital$ | async)?.entity_version" (versionChange)="changeVersion($event)">
      </gv-version-picker>

      <span class="ml-auto">
        <button class="btn btn-sm btn-link" (click)="annotate()" *ngIf="(showAnnotateBtn$|async)">
          <i class="fa fa-plus" aria-hidden="true"></i> Annotate…
        </button>
        <button class="btn btn-sm btn-link" (click)="t.setShowRightArea(true); annotationsVisible$.next(true)"
          *ngIf="!(annotationsVisible$|async)">
          Show Annotations
        </button>
        <button class="btn btn-sm btn-link" (click)="annotationsVisible$.next(false)"
          *ngIf="(annotationsVisible$|async)">
          Hide Annotations
        </button>
        <!-- <button class="btn btn-link btn-sm" (click)="startEdit()" *ngIf="(readOnly$|async)">
          <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </button>
        <button class="btn btn-link-gray btn-sm" (click)="cancel()" *ngIf="!(readOnly$|async)">
          Cancel
        </button> -->
        <!-- *ngIf="!(readOnly$|async)" -->
        <button class="btn btn-link btn-sm ml-2" (click)="save()">
          <i class="fa fa-save" aria-hidden="true"></i> Save
        </button>
      </span>
    </gv-detail-top-bar>
    <gv-detail-content>

      <gv-quill-edit class="gv-flex-fh gv-quill-borderless" [quillDoc]="quillDoc$ | async"
        [readOnly]="(readOnly$ | async)" [annotationsVisible$]="annotationsVisible$" [annotatedNodes$]="annotatedNodes$"
        [accentuatedNodes$]="accentuatedNodes$" [creatingAnnotation]="false"
        (selectedDeltaChange)="selectedDeltaChange($event)" (nodeMouseenter)="textNodeMouseenter($event)"
        (nodeMouseleave)="textNodeMouseleave($event)"></gv-quill-edit>

    </gv-detail-content>
  </as-split-area>

  <!-------------------------------------------------------------------
      Annotations
    -------------------------------------------------------------------->
  <as-split-area [size]="t.splitSizeRight" class="gv-flex-fh">
    <gv-detail-top-bar closeRightAreaBtn="true" (closeRight)="t.setShowRightArea(false)">
      Annotations
      <span class="ml-auto">
        <button class="btn btn-link btn-sm ml-2" (click)="createAnnotation$.next(true)">
          <i class="fa fa-plus" aria-hidden="true"></i> Add
        </button>
      </span>
    </gv-detail-top-bar>
    <gv-detail-content>
      <gv-mentioning-list class="gv-tile" [create$]="createAnnotation$" [chunk$]="chunk$"
        [chunksToHighligt$]="chunksToHighlightInList$" [listOf]="listOf"
        (rowMouseenter)="mentioningRowMousenter($event)" (rowMouseleave)="mentioningRowMouseleave($event)"
        (dataChange)="mentioningListChange($event)">
      </gv-mentioning-list>
    </gv-detail-content>


  </as-split-area>
</as-split>
