<div *ngIf="isCircular && ! (leafPeItLoading$ |async)">
    <gv-te-ent-label [children]="(_children$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit"></gv-te-ent-label>

    <small class="text-muted">{{peItState?.dfhClass?.dfh_standard_label}} (self)</small>
</div>
<a *ngIf="!isCircular" href="" class="gv-passive-link" (click)=open()>
    <gv-te-ent-label [children]="(_children$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit"></gv-te-ent-label>

    <small class="text-muted">{{peItState?.dfhClass?.dfh_standard_label}}</small>
</a>

<div *ngIf="(leafPeItLoading$ |async)">
    <i class="fa fa-spinner fa-pulse"></i> Loading
</div>