<div class="card mb-3">


  <div class="btn-group d-flex rounded-bottom-0 bg-light" style="flex-shrink:0;">
    <div class="gv-grow-1 rounded-left gv-card-spacer-x align-self-stretch d-flex">
      <div class="align-self-center">
        <!-- title -->
        <gv-chunk-view [chunk]="annotation.chunk"></gv-chunk-view>
      </div>
    </div>

    <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
      <button class="btn btn-link" ngbDropdownToggle>
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
        <button class="dropdown-item" (click)="edit.emit()">Edit</button>
        <button class="dropdown-item" (click)="remove.emit()">Remove</button>
      </div>
    </div>

  </div>

  <!-- entities -->
  <gv-mentioned-entities-view [mentionedEntities]="annotation.mentionedEntities"></gv-mentioned-entities-view>

</div>