<div *ngIf="hitsFound">
  <div class="card">
    <div class="card-body">
      <!-- <div class="row">
        <div class="col-7"> -->
      <h5 *ngIf="!(loading$ | async) && (collectionSize$ | async) > 0">Are you looking for one of those?</h5>
      <h5 *ngIf="!(loading$ | async) && (collectionSize$ | async) === 0 && searchString.length >= minSearchStringLength"
        class="text-muted">
        Nothing there.
      </h5>

      <div *ngIf="(loading$ | async)"><i class="fa fa-pulse fa-spinner"></i> Searching...</div>

      <div *ngIf="!(loading$ | async)">
        <div class="row mt-3">
          <div class="col">
            <div class="gv-search-hits">
              <gv-entity-add-existing-hit *ngFor="let hit of (persistentItems$ | async)"
                [alreadyInProjectBtnText]="alreadyInProjectBtnText" [notInProjectBtnText]="notInProjectBtnText"
                [hit]="hit" (onAdd)="onAdd($event)" (onOpen)="onOpen($event)">
              </gv-entity-add-existing-hit>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <ngb-pagination *ngIf="(collectionSize$ | async) > limit" [maxSize]="3"
              [collectionSize]="(collectionSize$ | async)" [(page)]="page" (pageChange)="pageChange()"
              [pageSize]="limit" aria-label="Default pagination"></ngb-pagination>
            <span class="gv-search-hits-count mt-2" *ngIf="!(loading$ | async) && (collectionSize$ | async) > 0">
              <span *ngIf="(collectionSize$ | async) > limit">
                {{hitsFrom()}}-{{hitsTo$|async}} of
              </span>
              {{(collectionSize$ | async)}} {{((collectionSize$ | async) == 1 ? 'suggestion' : 'suggestions')}}
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
