<mat-card>
  <form [formGroup]="formGroup">

    <h3>
      Add {{listDefinition.targetClassLabel}}
    </h3>
    <div *ngFor="let formPart of (formDef$ | async)?.formParts" class="w-100">

      <!-- <h5> {{formPart.title}}</h5> -->


      <div class="mb-2 w-100" *ngFor="let item of formPart.items; let i = index;">
        <!-- <small class="mat-caption"> form item {{item?.formControlDef?.listDefinition?.listType}}</small> -->
        <!-- {{item?.required}} -->
        <div *ngIf="item.classSelect" class="w-100">
          <mat-form-field>
            <mat-label> {{formPart.title}}</mat-label>
            <mat-select (selectionChange)="formPart.classSelected(item, $event.value); formPart.classSelect = false;"
              [disabled]="item.classSelect === 'disabled'" [disabled]="item?.fixed">
              <mat-option *ngFor="let listDefinition of formPart.listDefinitions;" [value]="listDefinition">
                {{listDefinition.targetClassLabel}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button class="ml-auto" mat-icon-button *ngIf="item.classSelect === 'disabled'"
            (click)="formPart.removeItem(i)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>

        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'appellation'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-appellation [formControlName]="item?.formControlDef?.formControlName" name="a"
            [required]="item.required">
          </gv-ctrl-appellation>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')"> Please enter a
            value
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'place'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-place [formControlName]="item?.formControlDef?.formControlName" [required]="item.required">
          </gv-ctrl-place>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')"> Please enter lat
            and long
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'language'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-language [formControlName]="item?.formControlDef?.formControlName" [required]="item.required">
          </gv-ctrl-language>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')"> Please select a
            language
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'has-type'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-type [formControlName]="item?.formControlDef?.formControlName" [required]="item.required"
            [autoopen]="false" [pkTypedClass]="item?.formControlDef?.listDefinition.sourceClass"
            [pkTypeClass]="item?.formControlDef?.listDefinition.targetClass">
          </gv-ctrl-type>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')"> Please select a
            type
          </mat-error>
        </mat-form-field>


        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'text-property'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-text-property [formControlName]="item?.formControlDef?.formControlName" [required]="item.required">
          </gv-ctrl-text-property>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')"> Please enter
            text
            and select a
            language
          </mat-error>
        </mat-form-field>


        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'lang-string'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-lang-string [formControlName]="item?.formControlDef?.formControlName" [required]="item.required">
          </gv-ctrl-lang-string>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')"> Please enter
            text
            and select a
            language
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="item?.formControlDef?.listDefinition.listType === 'time-span'" class="w-100"
          appearance="legacy">
          <mat-label>{{item?.formControlDef?.listDefinition.label}}</mat-label>
          <gv-ctrl-time-span [formControlName]="item?.formControlDef?.formControlName" [required]="item.required">
          </gv-ctrl-time-span>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')">
            Please add a time span
          </mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="((item?.formControlDef?.listDefinition.listType === 'entity-preview') || (item?.formControlDef?.listDefinition.listType === 'temporal-entity'))"
          class="w-100" appearance="legacy"
          [ngStyle]="{'margin-top.px': (item.classSelect && formGroup.get(item?.formControlDef?.formControlName).value) ? -40 : 0}">
          <mat-label *ngIf="!item.classSelect"> {{item?.formControlDef?.listDefinition.label}}</mat-label>

          <mat-label *ngIf="item.classSelect && !formGroup.get(item?.formControlDef?.formControlName).value">
            Select {{item?.formControlDef?.listDefinition.targetClassLabel}}
          </mat-label>

          <gv-ctrl-entity [pkClass]="item?.formControlDef?.listDefinition.targetClass" [required]="item.required"
            [formControlName]="item?.formControlDef?.formControlName" [disabled]="item?.fixed">
          </gv-ctrl-entity>
          <mat-error *ngIf="formGroup.get(item?.formControlDef?.formControlName).hasError('required')">
            Please select or create an entity
          </mat-error>
        </mat-form-field>

      </div>



    </div>

    <button mat-flat-button color="primary" [disabled]="submitted && formGroup.invalid" (click)=submit()>Ok
    </button>

    <button mat-button type="button" class="btn btn-link"
      (click)="t.showControl$.next(null); t.showCreateRole$.next(null)">Cancel</button>

  </form>
</mat-card>
