<mat-form-field *ngIf="config?.data.ctrlClasses" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-class-and-type-select [formControl]="formControlFactory.control" [disabled]="config?.disabled$ | async"
    [pkClasses$]="config?.data.ctrlClasses.pkClasses$" [required]="config?.required">
  </gv-class-and-type-select>
  <mat-error *ngIf="formControlFactory.control.hasError('classOrTypeRequired')">
    Please select
  </mat-error>
</mat-form-field>


<mat-form-field *ngIf="config?.data.ctrlCondition" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>

  <mat-select [formControl]="formControlFactory.control" [required]="config?.required">
    <mat-option *ngFor="let o of config?.data.ctrlCondition.options" [value]="o.value">{{o.label}}</mat-option>
  </mat-select>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please enter a value
  </mat-error>
</mat-form-field>



<mat-form-field *ngIf="config?.data.ctrlProperties" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-property-select [formControl]="formControlFactory.control" [required]="config?.required"
    [rootFormGroup]="rootFormGroup" [options$]="config?.data.ctrlProperties.options$">
  </gv-property-select>
  <mat-error *ngIf="formControlFactory.control.hasError('propertiesRequired')">
    Please select
  </mat-error>
</mat-form-field>


<mat-form-field *ngIf="config?.data.ctrlSearchTerm" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <input matInput autocomplete="off" [formControl]="formControlFactory.control" [required]="config?.required" />
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please enter a value
  </mat-error>
</mat-form-field>



<!-- Subgroup Operation -->
<mat-select *ngIf="config?.data.ctrlOperator" [formControl]="formControlFactory.control"
  class="subgroup-operation-select">
  <mat-option value="AND">and</mat-option>
  <mat-option value="OR">or</mat-option>
</mat-select>
