<div class="chart" gvDimensionChange (onDimensionsChange)="onDimensionsChange($event)">

  <svg [attr.width]="width" [attr.height]="height" draggableXAxis (onDrag)="onDrag($event)"
    *ngIf="chartLine?.config?.data" #referenceEl>
    <g class="x-axis x-axis-julian" [xAxisVisual]="xAxisJulian"></g>
    <g class="x-axis x-axis-gregorian" [xAxisVisual]="xAxisGreg"></g>
    <g [yAxisVisual]="yAxis"></g>
    <g [chartLineVisual]="chartLine"></g>
    <!-- <rect [attr.width]="width" [attr.height]="20" [rangeEmitterOnMouseDown]="referenceEl"
      [attr.transform]="'translate(0,'+ (height-marginTop) +')'" [attr.fill]="'blue'" opacity="0"
      (onRangeChange)="onChangeCursorPosition($event)"></rect> -->

  </svg>

  <div class="toolbar-menu" *ngIf="width < 450 && chartLine?.config?.data">
    <button mat-icon-button [matMenuTriggerFor]="toolbar">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #toolbar="matMenu" xPosition="after" yPosition="below">
      <mat-form-field class="px-3 pt-2 w-100" (click)="$event.stopPropagation();">
        <mat-label>Active Line</mat-label>
        <mat-select (click)="$event.stopPropagation();" [value]="chartLine?.config?.data.activeLine"
          [compareWith]="compareWith" [ngClass]="{'empty-select': !chartLine?.config?.data.activeLine}"
          (selectionChange)="chartLine.activateLine($event.value)">
          <mat-option [value]="-1" class="empty-select"><span class="mat-text-secondary">-- None --</span>
          </mat-option>
          <mat-option *ngFor="let item of chartLine?.config?.data?.chartLines; let i = index;" [value]="i">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <gv-zoom-slider class="px-3 pt-2 d-flex" [zoomer]="zoomer" (change)="redraw()"
        (click)="$event.stopPropagation();">
      </gv-zoom-slider>
    </mat-menu>
  </div>

</div>

<div class="toolbar" *ngIf="width >= 450 && chartLine?.config?.data">

  <gv-zoom-slider class="d-flex" [zoomer]="zoomer" (change)="redraw()"></gv-zoom-slider>
  <mat-divider class="h-100 mx-2" [vertical]="true"></mat-divider>
  <span class="mat-body mx-2">
    Active:
  </span>
  <!-- <mat-form-field> -->
  <mat-select [value]="chartLine?.config?.data.activeLine" [compareWith]="compareWith"
    [ngClass]="{'empty-select': !chartLine?.config?.data.activeLine}"
    (selectionChange)="chartLine.activateLine($event.value)">
    <mat-option [value]="-1" class="empty-select"><span class="mat-text-secondary">-- None --</span></mat-option>
    <mat-option *ngFor="let item of chartLine?.config?.data?.chartLines; let i = index;" [value]="i">
      {{item.label}}
    </mat-option>
  </mat-select>
  <!-- </mat-form-field> -->
  <mat-divider class="h-100 ml-2" [vertical]="true"></mat-divider>
</div>
