<div class="d-flex align-items-baseline mb-2">
  <div>{{widget.name}} <small class="text-success" *ngIf="widget?.propertyField?.property?.identity_defining">Identity
      defining!</small></div>
  <div class="d-flex align-items-baseline ml-auto">
    <div *ngIf="widget.propertyField" class="font-sm "><a target="_blank" [attr.href]="'http://ontologies.dataforhistory.org/property/' + widget.propertyField?.property?.dfh_pk_property">
        <i class="fa fa-external-link"></i> OntoMe
      </a>
    </div>

    <button class="btn btn-sm btn-link" (click)="isExpanded = !isExpanded"><i class="fa" [ngClass]="{'fa-compress': isExpanded, 'fa-expand': !isExpanded}"></i></button>

  </div>
</div>

<div class="d-flex" *ngIf="isExpanded">

  <div class="gv-grow-1 pr-2">
    <div class="text-muted font-xs">
      key
    </div>
    <div class="font-sm">
      {{widget.metaInfo}}
    </div>
  </div>

  <div class="gv-grow-1 pr-2">
    <div class="text-muted font-xs">
      target
    </div>
    <div class="font-sm">
      {{widget?.propertyField?.targetClassPk}}
      <!-- <a *ngIf="widget?.propertyField?.targetClassPk" href [routerLink]="['../../../', widget.propertyField.targetClassPk]">{{widget?.propertyField?.targetClassPk}}</a> -->
    </div>
  </div>

  <div class="gv-grow-1 pr-2">
    <div class="text-muted font-xs">
      pk_ui_context_conf
    </div>
    <div>
      {{widget?.uiContextConfig?.pk_entity}}
    </div>
  </div>


  <div class="gv-grow-1 pr-2">
    <div class="text-muted font-xs">
      ord_num
    </div>
    <div>
      {{widget?.uiContextConfig?.ord_num}}
    </div>
  </div>

  <div class="gv-grow-1 text-right">
    <div class="text-muted font-xs">
      OntoMe Profiles
    </div>
    <div class="font-sm pb-3" *ngFor="let profile of widget.profiles">
      {{profile?.dfh_profile_label}}
      <div class="text-danger" *ngIf="profile?.removed_from_api">Removed from API</div>
    </div>
  </div>
</div>