<div class="gv-flex-grow-1 gv-card-spacer-x gv-card-spacer-y align-self-stretch d-flex">

  <form [formGroup]="formGroup" *ngIf="formGroup && roleState && formControlName" class="align-self-center gv-flex-grow-1">

    <gv-appellation-ctrl *ngIf="roleState._appe" class="gv-flex-grow-1" [formControlName]="formControlName" (touched)="markAsTouched()"></gv-appellation-ctrl>

    <gv-language-ctrl *ngIf="roleState._lang" class="gv-flex-grow-1" [formControlName]="formControlName" (touched)="markAsTouched()"></gv-language-ctrl>

    <gv-leaf-pe-it-view *ngIf="(isCircular$|async)" [pkEntity]="roleState.role.fk_entity" [basePath]="(basePath.concat('_leaf_peIt'))"
      [isCircular]="true"></gv-leaf-pe-it-view>

    <!-- <div *ngIf="(leafPeItLoading$ |async)">
      <i class="fa fa-spinner fa-pulse"></i> Loading</div>
    <gv-leaf-pe-it-view *ngIf="(peItState$ |async) && !(leafPeItLoading$ |async)" [parentPath]="basePath" [isCircular]="(isCircular$|async)"
      [formControlName]="formControlName" (touched)="markAsTouched()"></gv-leaf-pe-it-view>


    <gv-time-primitive *ngIf="roleState.timePrimitiveState" class="gv-flex-grow-1" [parentPath]="basePath" [formControlName]="formControlName"
      (touched)="markAsTouched()"></gv-time-primitive>
    <div>

      <gv-control-messages *ngIf="formGroup.get(formControlName)" [control]="formGroup.get(formControlName)"></gv-control-messages> 
    </div>-->

  </form>
</div>