<ng-container *ngTemplateOutlet="header"></ng-container>

<div [@slideInOut]="(toggle$|async)">

  <!-- The roles in project -->

  <gv-te-ent-role-editable *ngFor="let entry of (_role_list$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key"
    (stopEditing)="stopEditing(entry.key)" (startUpdating)="startUpdatingRole(entry.key, $event)">
    <div headerRight class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">

      <button class="btn btn-link" ngbDropdownToggle>
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">

        <!-- <button class="dropdown-item" (click)="startEditing(entry.key)">Edit</button> -->

        <button class="dropdown-item" (click)="removeFromProject(entry.key)">Remove</button>

      </div>
    </div>
  </gv-te-ent-role-editable>

  <!-- If no roles in Project, show a big add button -->
  <div class="card-body" *ngIf="!(_role_list$ | async) && !(_role_set_form$ | async) && addButtonVisible">
    <button class="btn btn-primary" (click)="startAddingRole()">
      Add {{(label$ | async).default}}
    </button>
    <button class="btn btn-link" (click)="removeRoleSet()">
      Cancel
    </button>
  </div>

  <gv-te-ent-role-set-form *ngIf="(_role_set_form$ | async)" [parentPath]="basePath" [parentTeEntPath]="parentTeEntStatePath"
    (createRoles)="createRoles($event)"></gv-te-ent-role-set-form>


  <!-- Spinner for when loading roles not in project -->

  <div class="card-body" *ngIf="(rolesNotInProjectLoading$|async)">
    <i class="fa fa-spinner fa-pulse"></i> Searching for existing {{(label$ | async).sg}}…
  </div>

<!-- 
  <div class="card-body" *ngIf="(roleStatesInNoProjectVisible$|async) || (roleStatesInOtherProjects$|async)?.length">
    <button type="button" class="btn btn-primary" [ngClass]="{disabled:(!isReadyToAddRoles)}" (click)="addSelectedRolesToProject()">Add selected</button>
    <button type="button" class="btn btn-link" (click)="cancelSelectRoles()">Cancel</button>
  </div> -->


</div>



<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header let-hideAddButton="hideAddButton">
  <div class="btn-group d-flex flex-row gv-h5">
    <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': ((toggle$|async)==='expanded')}"></i>
      <span *ngIf="(roles$ | async) && (roles$ | async).length">{{(roles$ | async)?.length}}</span>
      {{(label$ | async)?.default}}
    </button>
    <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="(ontoInfoVisible$|async)">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{(property$|async).dfh_pk_property}}" target="_blank">
          {{(property$|async).dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>
    <div class="btn btn-link btn-sm" (click)="startAddingRole()" *ngIf="addButtonVisible && !hideAddButton">
      <i class="fa fa-plus"></i>
    </div>
  </div>
</ng-template>