<!-- Title / Standard Appellations of PeIt -->

<div class="gv-edit-panel-header">
  <ng-container *ngTemplateOutlet="header"></ng-container>
</div>

<!-- Tools to edit PeIt  -->

<div class="d-flex flex-row gv-flex-grow-1 m-3" style="flex-basis:100%">
  <div class="d-flex flex-column gv-flex-grow-1" style="flex-basis:35%;">

    <ng-container *ngTemplateOutlet="propertiesHeader"></ng-container>

    <div class="gv-body gv-flex-grow-1" style="overflow-y:auto">

      <div *ngFor="let el of uiContext.uiElements">
        <gv-pe-it-role-set-editable *ngIf="(_roleSet_list$ | async)[el.roleSetKey]" [parentPath]="basePath" [index]="el.roleSetKey"
          (onRemoveRoleSet)="removeRoleSet(el.roleSetKey)"></gv-pe-it-role-set-editable>
      </div>
    </div>

    <div class="gv-footer mt-3">

      <!-- Step 1 for adding a new property -->

      <button class="btn btn-secondary btn-block bg-gray-700" (click)="startSelectProperty()" *ngIf="(selectPropState$ | async) === 'init'">
        <i class="fa fa-plus"></i> Add a property ...
      </button>

      <!-- Step 2 for adding new Property section -->

      <div class="card gv-naming bg-gray-700" *ngIf="(selectPropState$ | async) === 'selectProp'">

        <div class="card-header bt-1">
          <div class="d-flex">
            <div class="gv-h4 text-white gv-flex-grow-1 align-self-center">
              What do you want to add?
            </div>
            <button type="button" name="button" class="btn btn-link text-white align-self-center btn-sm" (click)="stopSelectProperty()">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="input-group">
            <select [(ngModel)]="roleSetToAdd" class="custom-select">
              <option [ngValue]="null">Select…</option>

              <option *ngFor="let el of uiContext.uiElements" [disabled]="roleSetAdded(el.roleSetKey)"  [ngValue]="classConfig?.roleSets[el.roleSetKey]">
                {{classConfig?.roleSets[el.roleSetKey]?.label.sg}} {{roleSetAdded(el.roleSetKey) ? '(already added)':''}}
              </option>

            </select>
            <button type="button" name="button" class="btn btn-primary input-group-append" *ngIf="roleSetToAdd" (click)="addRoleSet(roleSetToAdd)">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex ml-3" style="flex-basis:65%; overflow:hidden">
    <div class="d-flex flex-column gv-flex-grow-1" style="overflow:hidden">

      <div class="btn-group d-flex mb-3" role="group" aria-label="Basic example">
        <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
          <div class="align-self-center">
            <i class="fa fa-compass"></i> Map
          </div>
        </div>
        <button class="btn btn-gray-700">
          <i class="fa fa-ellipsis-v"></i>
        </button>
      </div>

      <div class="card gv-flex-grow-1 mb-3">
        <div class="card-body">



        </div>
      </div>

      <gv-pe-it-timeline [path]="basePath"></gv-pe-it-timeline>

    </div>
  </div>
</div>



<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <section class="row">
    <div class="col-md-8">
      <h2>
        <span *ngIf="labelInEdit">{{labelInEdit}}</span>
        <span *ngIf="label && !labelInEdit">{{label}}</span>
        <small class="text-muted">{{(dfhClass$|async)?.dfh_standard_label}}</small>
      </h2>
    </div>
    <!-- <gv-entity-editor-settings class="col-md-4 text-right"></gv-entity-editor-settings> -->
  </section>
</ng-template>

<ng-template #propertiesHeader>
  <div class="btn-group gv-flex-shrink-0 d-flex mb-3" role="group" aria-label="Basic example">
    <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
      <div class="align-self-center">
        <i class="fa fa-lightbulb-o"></i> Properties
      </div>
    </div>
    <div class="btn-group" ngbDropdown placement="bottom-right">
      <button class="btn btn-gray-700" ngbDropdownToggle>
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
        <button class="dropdown-item" (click)="showCommunityStats()" *ngIf="!communityStatsVisible">Show Community Statistics</button>
        <button class="dropdown-item" (click)="hideCommunityStats()" *ngIf="communityStatsVisible">Hide Community Statistics</button>
        <button class="dropdown-item" (click)="showOntoInfo()" *ngIf="!ontoInfoVisible">Show Ontology Info</button>
        <button class="dropdown-item" (click)="hideOntoInfo()" *ngIf="ontoInfoVisible">Hide Ontology Info</button>

      </div>
    </div>
  </div>
</ng-template>