<h1 mat-dialog-title style="display: flex; flex-wrap:wrap">
  <div class="mat-body py-2" style="flex: 0 1 auto;">
    <gv-entity-preview [pkEntity]="data.pkEntity" [dragEnabled]="false" [openTabOnClick]="false"></gv-entity-preview>
  </div>
  <div style="flex: 0 0 auto;">
    <mat-divider class="h-100 mx-3" [vertical]="true"></mat-divider>
  </div>
  <div class="d-flex align-items-center" style="flex: 0 1 auto; overflow:hidden; text-overflow: ellipsis;">
    Add item to field&nbsp;
  </div>
  <div class="d-flex align-items-center" style="flex: 1 1 auto; overflow:hidden; text-overflow: ellipsis;">
    '{{data.listDefinition.label}}'
    <mat-icon class="mat-text-secondary">arrow_right_alt</mat-icon>
    <span class="mat-text-secondary">{{data.listDefinition.targetClassLabel}}</span>
  </div>
  <mat-divider class="w-100"></mat-divider>

  <div *ngIf="(activeElement$ | async) === 'create-or-add'" class="gv-aoc-container mt-2">
    <div class="gv-aoc-left">
      Define a new {{data.listDefinition.targetClassLabel}}
    </div>
    <div class="gv-aoc-center">
      or
    </div>
    <div class="gv-aoc-right">
      Choose an existing {{data.listDefinition.targetClassLabel}}
    </div>
  </div>

</h1>
<div mat-dialog-content class="mat-typography gv-flex-fh">
  <div *ngIf="loading$|async" class="gv-table-spinner">
    <mat-spinner diameter=20></mat-spinner>
  </div>
  <ng-container *ngIf="(activeElement$ | async) === 'add-existing-statements'">
    <gv-temporal-entity-add-list *ngIf="data.listDefinition.listType.temporalEntity"
      [listDefinition]="data.listDefinition" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="data.pkEntity" (close)="onClose()" (next)="onNext()" class="gv-flex-fh">
    </gv-temporal-entity-add-list>

    <!-- <gv-leaf-item-add-list *ngIf="isLeafItemList" xLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="data.listDefinition" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="data.pkEntity" (close)="onClose()" (next)="onNext()">
    </gv-leaf-item-add-list> -->
    <gv-subfield #s *ngIf="(notInProjectCount$|async)>0" [pkEntity]="data.pkEntity" [subfield]="data.listDefinition"
      [scope]="scope$|async" [showOntoInfo$]="showOntoInfo$" [addMode$]="addMode$" (close)="onClose()"
      (next)="onNext()"></gv-subfield>
  </ng-container>


  <ng-container *ngIf="(activeElement$ | async) === 'create-form'">
    <gv-form-create-entity [listDefinition]="data.listDefinition" [pkSourceEntity]="data.pkEntity" (cancel)="onClose()"
      (saved)="onClose()">
    </gv-form-create-entity>
  </ng-container>


  <ng-container *ngIf="(activeElement$ | async) === 'create-or-add'">

    <div class="gv-aoc-container">
      <div class="gv-aoc-left gv-flex-fh">
        <gv-form-create-entity class="gv-flex-fh gv-aoc-scroll my-2" [listDefinition]="data.listDefinition"
          [pkSourceEntity]="data.pkEntity" (cancel)="onClose()" (saved)="onClose()"
          (searchString)="searchStringChange($event)" [hideTitle]="true">
        </gv-form-create-entity>
      </div>
      <div class="gv-aoc-center">
        <mat-divider [vertical]="true"></mat-divider>
      </div>
      <div class="gv-aoc-right gv-flex-fh">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" autocomplete="off" [ngModel]="searchString$|async"
            (keyup)="searchStringChange($event.target.value)">
        </mat-form-field>
        <gv-search-existing-entity class="gv-flex-fh gv-aoc-scroll" [alreadyInProjectBtnText]="alreadyInProjectBtnText"
          [pkClass]="classAndTypePk.pkClass" [notInProjectBtnText]="notInProjectBtnText" [searchString$]="searchString$"
          [disableIfHasStatement]="data.disableIfHasStatement" (onAddExisting)="onSelected($event, false)"
          (onOpenExisting)="onSelected($event, true)">
        </gv-search-existing-entity>
      </div>

    </div>

  </ng-container>

</div>
