<ng-container *ngFor="let statementWT of item.refersTo">
  <div class="loc-left">
    <ng-container *ngIf="statementWT.target.entity; else timePrimitive">
      <gv-entity-preview [dragEnabled]="false" [openTabOnClick]="true"
        [pkEntity]="statementWT.target.entity.resource.pk_entity"
        [matTooltip]="statementWT.target.entity.entityPreview.entity_label">
      </gv-entity-preview>
    </ng-container>
    <ng-template #timePrimitive>
      <ng-container *ngIf="statementWT.target.timePrimitive; else default">
        {{statementWT.target.timePrimitive.timePrimitive|timePrimitive}}
      </ng-container>
    </ng-template>
    <ng-template #default>
      <span [matTooltip]="statementWT?.targetLabel">
        {{statementWT?.targetLabel}}
      </span>
    </ng-template>
  </div>

  <button class="loc-right" mat-icon-button [matMenuTriggerFor]="options" *ngIf="!(table.component.readmode$|async)">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #options="matMenu" xPosition="before">

    <button mat-menu-item (click)="edit(statementWT)">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <mat-divider></mat-divider>
    <div class="dropdown-header">Danger Zone</div>
    <button mat-menu-item (click)="remove()">
      <mat-icon color="warn">delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
</ng-container>