<h1 mat-dialog-title>Add a table</h1>
<div mat-dialog-content class="gv-flex-fh">

  <!-- Drag and drop -->
  <div class="gv-f-1-0-auto" *ngIf="mode=='drag-and-drop'">
    <!-- <file-upload class="gv-f-1-0-auto" [control]="fileUploadControl">
            <ng-template #placeholder>
                <b>Drag and drop Files, or click here to browse</b> <br>
                Accepted format are .csv and any Excel files (.xls)
            </ng-template>
        </file-upload> -->
    <ngx-file-drop class="gv-flex-fh" dropZoneClassName="gv-drop-zone" contentClassName="gv-drop-zone-content"
      dropZoneLabel="Drop files here" (onFileDrop)="onFileDrop($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <p>Drag and drop Files, or
          <button mat-raised-button color="primary" type="button" (click)="openFileSelector()">Browse</button>
        </p>
        <p>Accepted format are .csv and any Excel files (.xls)
          Optional custom content that replaces the the entire default content.
        </p>
      </ng-template>
    </ngx-file-drop>
  </div>

  <!-- Load file -->
  <div class="d-flex flex-direction-column load-file"
    *ngIf="mode=='load' || mode == 'parsing' || mode == 'uploading' || mode == 'preview'">

    <mat-form-field appearance="outline">
      <mat-icon matPrefix>folder</mat-icon>
      <input matInput placeholder="Selected file" [value]="file?.name" [readonly]="true">
      <mat-icon matSuffix (click)="reset()" *ngIf="mode!='load' && mode != 'parsing' && mode != 'uploading'">close
      </mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="type=='csv'">
      <mat-label>Separator in CSV</mat-label>
      <mat-select [(value)]="separator" (selectionChange)="parseCSV()"
        [disabled]="mode=='load' || mode == 'parsing' || mode == 'uploading'">
        <mat-option *ngFor="let s of separators" [value]="s">{{s}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="type=='csv'">
      <mat-label>Comma in numbers</mat-label>
      <mat-select [(value)]="comma" (selectionChange)="parseCSV()"
        [disabled]="mode=='load' || mode == 'parsing' || mode == 'uploading'">
        <mat-option *ngFor="let c of commas" [value]="c">{{c}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="type=='xls'">
      <mat-label>Excel sheet</mat-label>
      <mat-select [(value)]="sheetName" (selectionChange)="parseXLS()"
        [disabled]="mode=='load' || mode == 'parsing' || mode == 'uploading'">
        <mat-option *ngFor="let s of sheetsNames" [value]="s">{{s}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Headers are in</mat-label>
      <mat-select [(value)]="columnsOption" (selectionChange)="parseHeaders()"
        [disabled]="mode=='load' || mode == 'parsing' || mode == 'uploading'">
        <mat-option *ngFor="let opt of columnsOptions" [value]="opt">{{opt}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rows to preview</mat-label>
      <mat-select [(value)]="rowsNb" (selectionChange)="parseTable()"
        [disabled]="mode=='load' || mode == 'parsing' || mode == 'uploading'">
        <mat-option *ngFor="let nb of rowsNbs" [value]="nb">{{nb}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Encoding</mat-label>
      <mat-select [(value)]="encoding" (selectionChange)="selectFile(this.file)"
        [disabled]="mode=='load' || mode == 'parsing' || mode == 'uploading'">
        <mat-option *ngFor="let enc of encodings" [value]="enc">{{enc}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="mode=='load'"></mat-progress-bar>

  <!-- [columnComments$]="dataTypes$" -->
  <gv-table [headers$]="headers$" [table$]="previewTable$" [loading]="mode=='parsing'" [origin]='"importer"'
    [sortingEnabled]="true" [filteringEnabled]="true" class="gv-overflow-hidden"
    *ngIf="mode=='parsing' || mode=='preview' || mode == 'uploading'" (sortDemanded)="sort($event)"
    (filterDemanded)="filter($event)">
  </gv-table>
</div>

<div mat-dialog-actions>
  <form [formGroup]="tableForm">

    <mat-form-field appearance="outline" style="margin-right: 10px" *ngIf="mode=='preview'">
      <mat-label>Table name</mat-label>
      <input matInput placeholder="Table name" [formControl]="tableNameCtrl">
      <mat-error *ngIf="tableNameCtrl.getError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-right: 10px" *ngIf="mode=='preview'">
      <mat-label>Folder</mat-label>
      <mat-select [(value)]="namespace" [formControl]="namespaceCtrl">
        <mat-option *ngFor="let name of namespaces" [value]="name.pk_entity">{{name.standard_label}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tableNameCtrl.getError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-right: 10px" *ngIf="mode=='preview'">
      <mat-label>Language</mat-label>
      <gv-ctrl-language [required]="true" [formControl]="languageCtrl"></gv-ctrl-language>
      <mat-error *ngIf="tableNameCtrl.getError('required')">Required</mat-error>
    </mat-form-field>

    <button mat-button (click)="load()" *ngIf="mode=='preview'">Load</button>
    <button mat-button cdkFocusInitial [mat-dialog-close]=""
      *ngIf="mode != 'parsing' && mode != 'uploading'">Cancel</button>
  </form>

  <mat-progress-bar mode="indeterminate" *ngIf="mode == 'uploading'"></mat-progress-bar>
  <div *ngIf="mode == 'uploading'">{{socketMessage$ | async}}</div>
</div>
