<div [ngClass]="{'alt-pressed': keyboard.altPressed}">
{{peItAppeState}}

  <div class="d-flex flex-row" *ngIf="peItAppeState === 'view'">

    <div class="gv-flex-grow-1" >
      <gv-name-parts-view [appellation]="appellation"></gv-name-parts-view>
    </div>

    <button class="btn btn-link btn-sm" (click)="startEdit()">
      <i class="fa fa-edit"></i>
    </button>

  </div>


  <div class="d-flex flex-row" *ngIf="peItAppeState === 'edit'">

    <div class="gv-flex-grow-1" >
      edit
    </div>

    <button class="btn btn-link btn-sm" (click)="cancelEdit()">
     cancel
    </button>

  </div>


  <div class="d-flex flex-row" *ngIf="peItAppeState==='create'">

    [Create AppellationLabel]

  </div>

</div>
