<div *ngIf="loading$|async" class="gv-flex-fh justify-content-center align-items-center">
  <mat-spinner diameter="20"></mat-spinner>
</div>
<div *ngIf="!(loading$|async)" class="gv-ram-list mat-typography gv-flex-fh">
  <p-table #tt [value]="items$ | async" [columns]="cols" [scrollable]="true" [resizableColumns]="true"
    class="gv-ui-table-border-cells gv-ui-table-full-height" [rowTrackBy]="rowTrackByFn">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [style.width]="col.width">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>

      <tr>
        <th *ngFor="let col of cols; let i = index" pResizableColumn [pResizableColumnDisabled]="i == (cols.length - 2)"
          [ngClass]="{'col-action':col.field =='action'}">
          <ng-container *ngIf="col.field == 'path'">Path</ng-container>
          <ng-container *ngIf="col.field == 'location'">References</ng-container>
          <ng-container *ngIf="col.field == 'annotatedText'">Annotated Text</ng-container>
          <ng-container *ngIf="col.field == 'action'">
            <button mat-icon-button color=primary (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </ng-container>
        </th>
      </tr>
      <tr *ngIf="filtersVisible">
        <th *ngFor="let col of cols; let i = index" pResizableColumn
          [pResizableColumnDisabled]="i == (cols.length - 2)">
          <mat-form-field *ngIf="col.hasFilter" class="gv-form-field-slim w-100" appearance="outline">
            <input matInput placeholder="Filter"
              (input)="tt.filter($event.target.value, col.filterCol, col.filterMatchMode)" autocomplete="off">
          </mat-form-field>

          <ng-container *ngIf="col.field == 'action'">
            <button mat-icon-button (click)="filtersVisible=false">
              <mat-icon svgIcon="close"></mat-icon>
            </button>
          </ng-container>
        </th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of cols; let i = index" [ngClass]="{'col-action' : col.field=='action'}">


          <div *ngIf="col.field == 'path'" class="d-flex align-items-center" [matTooltip]="rowData.path.tooltip">

            <gv-graph-path [data]="rowData.path.segments" [mode]="viewMode">
            </gv-graph-path>


          </div>

          <div *ngIf="col.field == 'location'" class="d-flex align-items-center"
            [ngClass]="{'gv-one-liner gv-fade-out-right': (viewMode != 'full')}"
            [matTooltip]="rowData?.location?.label">
            <!-- <mat-icon class="mat-text-secondary mr-2">
                            {{rowData.location.icon}}
                        </mat-icon>-->
            {{rowData?.location?.label}}
          </div>

          <div *ngIf="col.field == 'annotatedText'" class="d-flex align-items-center"
            [ngClass]="{'gv-one-liner gv-fade-out-right': (viewMode != 'full')}"
            [matTooltip]="rowData?.annotatedText?.label">
            {{rowData?.annotatedText?.label}}
          </div>

          <div *ngIf="col.field == 'action'" class="d-flex align-items-center col-action">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="rowData?.actions?.open" mat-menu-item>
                <mat-icon>tab</mat-icon>
                Open item in new tab
              </button>
              <button *ngIf="rowData?.actions?.edit" mat-menu-item (click)="onEdit(rowData.statement)">
                <mat-icon>edit</mat-icon>
                Edit
              </button>
              <mat-divider></mat-divider>
              <div class="dropdown-header">Danger Zone</div>
              <button mat-menu-item (click)="onRemove(rowData.statement)">
                <mat-icon color="warn">delete</mat-icon>
                Remove
              </button>
            </mat-menu>
          </div>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="4">
          <div class="gv-rl-footer-bar">

            <button mat-button *ngIf="!filtersVisible" class="gv-cursor-pointer gv-rl-footer-bar-filter-btn"
              (click)="filtersVisible=true">
              Show filters
            </button>
            <button mat-button *ngIf="filtersVisible" class="gv-cursor-pointer gv-rl-footer-bar-filter-btn"
              (click)="filtersVisible=false">
              Hide filters
            </button>
            <div class="gv-rl-footer-bar-spacer"></div>
            <div class="mat-body mat-text-secondary mr-2">Display:</div>
            <mat-radio-group aria-labelledby="view-mode" [(ngModel)]="viewMode">
              <mat-radio-button value="mini" class="mat-caption">
                Mini
              </mat-radio-button>
              <mat-radio-button value="small" class="mat-caption">
                Small
              </mat-radio-button>
              <mat-radio-button value="full" class="mat-caption">
                Full
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          <p class="my-2"> No records found</p>
          <div *ngIf="fkProperty == 117 && (this.rootEntity$ | async)" class="pt-1 mat-caption">
            <mat-divider class="pb-3"></mat-divider>
            <p>
              Records in this list are sources (e.g book, manuscript) or sections (e.g chapter of a book)
              that are about the '{{(this.rootEntity$ | async).class_label}} – {{(this.rootEntity$ |
                async).entity_label | truncate:[30]}}'.

            </p>
            <p>
              In other words '{{(this.rootEntity$ | async).class_label}} – {{(this.rootEntity$ |
              async).entity_label | truncate:[30]}}' is the topic of the records in this list.
            </p>
            <p>
              In this sense this list is different from 'Is mentioned in'.
            </p>
          </div>
          <div *ngIf="fkProperty == 1218 && (this.rootEntity$ | async)" class="pt-1 mat-caption">
            <mat-divider class="pb-3"></mat-divider>
            <p>
              Records in this list are sources (e.g books, manuscripts) or sections (e.g pages of books)
              that mention '{{(this.rootEntity$ | async).class_label}} – {{(this.rootEntity$ |
                async).entity_label | truncate:[30]}}' somewhere in the text.

            </p>
            <p>
              In other words '{{(this.rootEntity$ | async).class_label}} – {{(this.rootEntity$ |
              async).entity_label | truncate:[30]}}' is mentioned somwhere by the text of the records in this list.
            </p>
            <p>
              For each item in the list you can optionally add exact references to the place
              in the text (e.g. 'page 8' or 'chapter 4') that mentions '{{(this.rootEntity$ | async).class_label}} – {{(this.rootEntity$ |
                async).entity_label | truncate:[30]}}'.
            </p>
            <p>
              In this sense this list is different from 'Is topic of'.
            </p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
