<div class="loc-container" gvOpenCloseContainer [isOpen$]="showBody$">
  <div gvOpenCloseChild>

    <ng-container *ngIf="(items$|async)?.length">
      <div [ngClass]="{'gv-fh': (addMode$|async)}">
        <span class="mat-bg-grey-50">
          <mat-paginator [length]="itemsCount$ | async" [pageSize]="limit$ | async" [pageIndex]="pageIndex$ | async"
            [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]=true [hidden]="(itemsCount$ | async) <= 5"
            (page)="onPageChange($event)">
          </mat-paginator>
        </span>
        <mat-divider [hidden]="(itemsCount$ | async) <= 5"></mat-divider>
        <div *ngFor="let item of (items$ | async); let i = index;" class="literal-item"
          [ngClass]="{'mb-3': (addMode$|async), 'mt-3': (addMode$|async)}">
          <gv-view-field-item [item]=item [readonly$]=readonly$ [showOntoInfo$]=showOntoInfo$ [addMode$]=addMode$
            [field]=field [scope]=scope [checked]="selection.isSelected(item.statement.pk_entity)"
            [allowMultiSelect]=allowMultiSelect (selectionChange)="toggleSelection($event)"></gv-view-field-item>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div *ngIf="addMode$|async" class="gv-row-space-between">
        <div class="gv-row-center">
          <button [disabled]="(selectedCount$ | async) < 1 || (adding$|async)" type="submit" mat-flat-button
            color="primary" class="mr-2" (click)="add()">
            <ng-container *ngIf="!(adding$|async)">
              Add selected ({{selectedCount$|async}})
            </ng-container>
            <div *ngIf="(adding$|async)" style="margin: 6px;">
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
          </button>
          <button [disabled]="targetIsUnique" type="submit" mat-flat-button color="primary" class="mr-2"
            (click)="next.emit()">Create new</button>
        </div>
        <button type="button" mat-button (click)="close.emit()">Cancel</button>
      </div>


    </ng-container>

    <div *ngIf="!((itemsCount$ |async) > 0)" class="loc-no-items mat-caption mat-text-secondary">No items</div>

    <div *ngIf="!(items$|async)" class="gv-flex-fh justify-content-center align-items-center">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
  </div>
</div>
