<gv-tile-header (close)="close.emit()">
  <span title>
    <i class="fa fa-compass"></i> Map
  </span>
  <span buttons>
    <button class="btn btn-sm" (click)="flyToPeItLayerEntities()" title="Zoom map to extent">
      <i class="fa fa-arrows-alt"></i>
    </button>
  </span>
</gv-tile-header>

<div class="gv-grow-1 d-flex justify-content-center" *ngIf="isLoading">
  <i class="fa fa-3x fa-pulse fa-spinner text-muted  align-self-center"></i>
</div>

<div [ngClass]="{ 'd-none': isLoading, 'd-flex': (!isLoading) }" class="gv-tile-body">

  <ac-map class="gv-grow-1 d-flex flex-column">

    <ac-map-layer-provider [provider]="urlTemplateProvider" [options]="{
      subdomains: 'abc',
      url : cartoUrl
    }">
    </ac-map-layer-provider>

    <!-- <ac-map-layer-provider [provider]="urlTemplateProvider" [options]="{
      url : asterUrl
    }" [alpha]="0.3"> </ac-map-layer-provider> -->

    <gv-pe-it-layer [path]="path" [acMap]="acMap" (readyToShow)="isLoading = false"></gv-pe-it-layer>

    <!-- <gv-polygons-editor-layer></gv-polygons-editor-layer> -->
  </ac-map>
</div>