.slider-wrapper {
    // border: 1px solid red;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none;
}

.slider {
    width: 10px;
    height: 100%;
    // border: 1px solid blue;
    cursor: col-resize;
    pointer-events: all;
}