<div class="form-group d-flex flex-row">
  <span *ngFor="let token of appellationLabel.tokens; let i = index;">
    <gv-appellation-label-token
    [appellationLabel]="appellationLabel" [token]="token"
    (insertTokenAfterRequest)="insertTokenAfter($event)"
    (insertTokenBeforeRequest)="insertTokenBefore($event)"
    (updateTokenStringRequest)="updateTokenString($event)"
    (updateTokenIsSeparatorRequest)="updateTokenIsSeparator($event)"
    (deleteTokenRequest)="deleteToken($event)"
    (focusOnPreviousTokenRequest)="focusOnPreviousToken($event)"
    (focusOnNextTokenRequest)="focusOnNextToken($event)"
    ></gv-appellation-label-token>
  </span>
</div>