<mat-menu #classTypeMenu="matMenu">
  <div class="loc-filter">

    <div class="loc-tools" (click)="$event.stopPropagation();">
      <div class="loc-toggle mat-text-secondary">
        <button mat-icon-button (click)="$event.stopPropagation(); expandAll$.next(!expandAll$.value)"
          [matTooltip]="(expandAll$|async)?'Collapse all [&uparrow;]':'Expand all [&downarrow;]'">
          <mat-icon *ngIf="!(expandAll$|async)">chevron_right</mat-icon>
          <mat-icon *ngIf="expandAll$|async">expand_more</mat-icon>
        </button>
      </div>

      <input type="text" class="loc-filter-input mat-text-secondary" [placeholder]="'Filter'" autofocus="true"
        autocomplete="off" (keyup)="onFilter($event)" [value]="filter$|async">

    </div>
    <mat-divider class="w-100"></mat-divider>
  </div>
  <ng-container *ngFor="let classItem of data$|async">
    <gv-add-entity-menu-class-item [item]="classItem">
    </gv-add-entity-menu-class-item>

  </ng-container>


</mat-menu>

<button mat-flat-button color="primary" [matMenuTriggerFor]="classTypeMenu">
  <mat-icon>add</mat-icon> add
</button>
