<!-- Header -->
<section class="m-3 row gv-flex-shrink-0">
  <div class="col">
    <h2>Add a {{(targetClassConfig$ | async)?.label}}</h2>
  </div>
</section>

<!-- Body -->
<div class="d-flex gv-fh m-3 px-3 gv-scroll-y-auto">
  <div class="d-flex flex-row gv-grow-1 pb-1" style="flex-basis:100%">

    <div class="gv-grow-1" style="flex-basis:50%;">
      <!-- <h4 class="mb-3">Create a new {{(targetClassConfig$ | async)?.label}}</h4> -->

      <form #f="ngForm" (ngSubmit)="submitCreateForm()">
        <gv-entity-association-create-ctrl [basePath]="basePath" name="ea" [(ngModel)]="ea" #val="ngModel" required></gv-entity-association-create-ctrl>
        <button class="btn btn-primary mt-3 mr-2" type="submit" [disabled]="f.invalid && f.submitted">
          Create {{(targetClassConfig$ | async)?.label}}
        </button>

        <button class="btn btn-secondary mt-3" type="button" (click)="cancel.emit()">
          Cancel
        </button>
      </form>

    </div>


    <div class="ml-5 mt-5 pl-5 gv-grow-1" style="flex-basis:50%;">
      <!-- <h4 class="mb-3" *ngIf="((existingNotInProject$ | async) | keys).length">
        ...or add an existing
        {{(targetClassConfig$ | async)?.label}}
      </h4> -->
      <div *ngFor="let item of (existingNotInProject$ | async) | keys; trackBy:getKey;">
        <div class="d-flex py-2">
          <!-- <gv-leaf-pe-it-view [isCircular]="true" [pkEntity]="item.value._peIt?.pkEntity"></gv-leaf-pe-it-view> -->
          <gv-leaf-pe-it-label [children]="item.value._peIt._fields" [classConfig]="(targetClassConfig$ | async)"></gv-leaf-pe-it-label>
          <button class="btn btn-sm btn-primary ml-auto" (click)="onAdd(item.value)">add</button>
        </div>
      </div>
    </div>

  </div>
</div>