<div [ngClass]="{'dev-view': entityEditor.devView}">

  <span *ngIf="entityEditor.devView">
    [state: {{peItState}}]
  </span>

  <!-- The big editor view -->

  <!-- <gv-pe-it-entity
  *ngIf="showEntityUI && !childOfTeEnt"
  [pkEntity]="pkEntity"
  [fkClass]="fkClass"
  [peItEntityState]="peItState"
  (readyToCreate)="emitPeItReadyToCreate($event)"
  (notReadyToCreate)="emitPeItNotReadyToCreate()"
  (created)="created(peit)"
  (readyToAdd)="onPeItReadyToAdd($event)"
  (notReadyToAdd)="onPeItNotReadyToAdd()"
  ></gv-pe-it-entity> -->

  <!-- The small view nested inside a temporal entity component -->

  <div *ngIf="childOfTeEnt">

    <div class="btn-group gv-flex-shrink-0 d-flex">

      <ng-content select="[headerLeft]"></ng-content>

      <div class="gv-flex-grow-1 gv-card-spacer-x gv-card-spacer-y align-self-stretch d-flex">
        <div class="align-self-center gv-flex-grow-1 d-flex">

          <!-- if (fk_class == 'R64') => PeItAppellation (pass appellation) -->
          <gv-pe-it-appellation
          *ngIf="showAppellationUI"
          class="gv-flex-grow-1"
          [appellation]="appellation"
          [peItAppeState]="peItState"
          (readyToCreate)=emitReadyToCreate($event)
          (notReadyToCreate)=emitNotReadyToCreate()
          (readyToAdd)="onAppeReadyToAdd($event)"
          (appeChange)="emitAppeChange($event)"
          (cancelEdit)="onCancelEdit()"
          ></gv-pe-it-appellation>

          <gv-pe-it-language
          *ngIf="showLanguageUI"
          class="gv-flex-grow-1"
          [language]="language"
          [peItLangState]="peItState"
          (readyToCreate)=emitReadyToCreate($event)
          (notReadyToCreate)=emitNotReadyToCreate()
          (readyToAdd)="onLangReadyToAdd($event)"
          (cancelEdit)="onCancelEdit()"
          ></gv-pe-it-language>

          <!-- <gv-pe-it-entity-preview
          *ngIf="showEntityUI && childOfTeEnt && (valueEntitiesState==='view' || valueEntitiesState==='add')"
          [pkEntity]="pkEntity"
          ></gv-pe-it-entity-preview> -->

          <!-- <gv-pe-it-entity-add
          class="gv-flex-grow-1 mt-2"
          *ngIf="showEntityUI && childOfTeEnt && valueEntitiesState==='create'"
          (selected)=peItSelected($event)
          [fkClass]="fkClass"
          ></gv-pe-it-entity-add> -->

        </div>
      </div>

      <!-- <div class="d-flex align-items-center" *ngIf="valueEntitiesState==='view' && peItState !== 'view'">

        <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
          <button class="btn btn-link" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">

            <!-- dropdown of appe & lang 
            <button *ngIf="!showEntityUI" class="dropdown-item" (click)="edit()">Edit</button>

            <!-- dropdown of enitiy preview 
            <button *ngIf="showEntityUI && childOfTeEnt" class="dropdown-item" (click)="open()">Open...</button>

            <ng-content select="[dropdownItems]"></ng-content>

          </div>
        </div>

      </div> -->


    </div>

    <ng-content select="[belowHeader]"></ng-content>

  </div>




</div>
