<div class="card gv-name">
  <ng-container *ngTemplateOutlet="header"></ng-container>

  <div [@slideInOut]="(toggle$|async)">

    <div *ngFor="let el of uiContext.uiElements">
      <gv-te-ent-role-set-editable *ngIf="(_children$ | async)[el.roleSetKey]" [parentPath]="basePath" [parentTeEntStatePath]="basePath"
        [index]="el.roleSetKey" (onRemoveRoleSet)="removeRoleSet(el.roleSetKey)"></gv-te-ent-role-set-editable>

      <gv-existence-time-editable *ngIf="el.fk_property_set === comConfig.PK_PROPERTY_SET_EXISTENCE_TIME && (_children$ | async)?._existenceTime"
        [basePath]="basePath.concat('_children').concat('_existenceTime')" (onRemovePropSet)="removePropSet(el.fk_property_set)"></gv-existence-time-editable>
    </div>


    <div class="gv-footer border-top border-white">

      <!-- Step 1 for adding a new property -->

      <button class="btn btn-light btn-sm btn-block text-secondary rounded-top-0" (click)="startSelectProperty()" *ngIf="(selectPropState$ | async) === 'init'">
        <i class="fa fa-plus"></i> Add a property ...
      </button>

      <!-- Step 2 for adding new Property section -->

      <div class="d-flex flex-column gv-flex-grow-1 bg-light border-top border-gray" *ngIf="(selectPropState$ | async) === 'selectProp'">

        <div class="card-header bt-1">
          <div class="d-flex">
            <div class="gv-flex-grow-1 align-self-center">
              What do you want to add?
            </div>
            <button type="button" name="button" class="btn btn-link align-self-center btn-sm" (click)="stopSelectProperty()">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>

        <ng-template #rt let-r="result" let-t="term">
          <div [ngStyle]="{'width.px': typeaheadWitdh}">{{r.label}}</div>
        </ng-template>

        <div class="card-body">
          <div gvDimensionChange (onDimensionsChange)="typeaheadWitdh=($event.dimensions.width - 60)">
            <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="selectedAddOption" [ngbTypeahead]="search" [resultTemplate]="rt"
              (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)" (selectItem)="addOptionSelected($event)"
              placeholder="Select..." gvAutofocus #instance="ngbTypeahead" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <div class="card-header gv-name-header d-flex flex-row">
    <ng-content select="[headerLeft]"></ng-content>
    <div class="gv-flex-grow-1 gv-pointer" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': ((toggle$|async)==='expanded')}"></i>
      <span *ngIf="labelInEdit">{{labelInEdit}}</span>
      <span *ngIf="label && !labelInEdit">{{label}}</span>
      <span *ngIf="!label && !labelInEdit">{{(dfhClass$|async)?.dfh_standard_label}}</span>
    </div>
    <div class="gv-card-spacer-x align-self-stretch d-flex" *ngIf="(ontoInfoVisible$|async)">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{(dfhClass$|async)?.dfh_pk_class}}" target="_blank">
          {{(dfhClass$|async)?.dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>
    <ng-content select="[headerRight]"></ng-content>
  </div>
  <ng-content select="[belowHeader]"></ng-content>
</ng-template>