<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <p>
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name" [required]=true>
        <mat-error *ngIf="formGroup.get('name').hasError('required')">Please enter a name.</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Description"></textarea>
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-actions>


  <button mat-flat-button color="primary" (click)="onSaveClick()">{{data.okBtnText}}</button>
  <button mat-flat-button (click)="onNoClick()">Cancel</button>
</div>
