<div class="full-width">

  <gv-value-preview *ngIf="statement" [vot]="vot" [value]="value" [pkProject]="pkProject" class="left-col">
  </gv-value-preview>
  <span *ngIf="!statement" class="left-col gv-fade">No value matched</span>

  <button mat-icon-button [matMenuTriggerFor]="options" class="right-col">
    <mat-icon>more_vert</mat-icon>
  </button>

  <!-- Normal classes -->
  <mat-menu #options="matMenu" xPosition="before">

    <button mat-menu-item *ngIf="!statement" (click)="changeMatching('create')">
      <mat-icon>add</mat-icon>
      Enter a value
    </button>
    <button mat-menu-item *ngIf="statement" (click)="changeMatching('edit')">
      <mat-icon>edit</mat-icon>
      Edit the value
    </button>
    <mat-divider></mat-divider>
    <div class="dropdown-header" *ngIf="statement">Danger Zone</div>
    <button mat-menu-item *ngIf="statement" (click)="changeMatching('delete')">
      <mat-icon color="warn">delete</mat-icon>
      <span>Remove the value</span>
    </button>
  </mat-menu>

</div>