mat-tree {
  background: none;
}
.subheader {
  padding: 12px 24px;
  margin: 0; //24px 0;

  &.second-subheader {
    // margin-top: 60px;
  }
  background: #ececec;

  > h3 {
    margin: 0;
  }
}

.show-empty-toggle {
  margin-left: auto;
}
