<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item">Your Account</li>
  </ol>
</gv-navbar>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Personal Settings</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" routerLink="profile" routerLinkActive="active">
            Profile
          </li>
          <li class="list-group-item" routerLink="password" routerLinkActive="active">
            Password
          </li>
          <li class="list-group-item" routerLink="email" routerLinkActive="active">
            Email
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-lg-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
