<div class="gv-flex-fh mat-typography">
  <as-split class="gv-split-style" [ngClass]="{'gv-hide-split-gutter': !t.showRightArea}" [direction]="'horizontal'"
    gutterSize="1" [useTransition]="t.useTransition" (dragEnd)="t.onResizeArea($event)">

    <!-------------------------------------------------------------------
       Left area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeLeft" class="d-flex flex-column">

      <gv-detail-top-bar height="82px" [openRightAreaBtn]="!t.showRightArea" (openRight)="t.setShowRightArea(true);"
        *ngIf="(showHeader$ | async)">



        <div class="summary">
          <div class="summary-icon">

            <mat-icon *ngIf="(iconType$ | async)==='expression-portion'" class="gv-source-color">folder
            </mat-icon>

            <span *ngIf="(iconType$ | async)==='source'"
              class="icon gv-icon gv-icon-source gv-source-color align-self-center gv-icon-preview"></span>

            <span *ngIf="(iconType$ | async)==='persistent-entity'"
              class="icon gv-icon gv-entity-color gv-icon-persistent-entity align-self-center gv-icon-preview"></span>

          </div>
          <div class="summary-texts">
            <div class="ellipsis">
              <h2 class="summary-entity-label ellipsis">
                <span [matTooltip]="'Persistent Item ' + pkEntity">{{(preview$|async).entity_label}}</span>
                <span class="ml-1 mat-caption" *ngIf="showOntoInfo$|async">{{pkEntity}}</span>
              </h2>
              <div class="summary-entity-label ellipsis">

                <span class="mat-text-secondary">Class:</span>
                <gv-onto-class-info class="mx-2" *ngIf="showOntoInfo$ | async" [pkClass]="fkClass$ | async">
                </gv-onto-class-info>
                <span> {{classLabel$ | async}}</span>
                <span *ngIf="(preview$|async).fk_type" class="mat-text-secondary">, Type: </span>
                <span *ngIf="(preview$|async).fk_type"> {{(preview$|async).type_label}} </span>
              </div>
            </div>
          </div>
          <div class="summary-button">
            <div fxFlex fxLayout="row" fxLayoutAlign="end center">
              <button mat-icon-button [matMenuTriggerFor]="mainMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #mainMenu="matMenu" xPosition="before">

                <!-- toggle onto info -->
                <button mat-menu-item (click)="$event.stopPropagation();">
                  <mat-slide-toggle color="accent" [checked]="(showOntoInfo$|async)" (change)="toggle('showOntoInfo');">
                    Ontology Info
                  </mat-slide-toggle>
                </button>


                <!-- remove -->
                <mat-divider *ngIf="!(isViewMode$ | async)"></mat-divider>
                <div class="dropdown-header" *ngIf="!(isViewMode$ | async)">Danger Zone</div>
                <button mat-menu-item (click)="openRemoveDialog();" *ngIf="!(isViewMode$ | async)">
                  <mat-icon color="warn">delete</mat-icon>
                  <span>Remove</span>
                </button>

              </mat-menu>
            </div>

          </div>
        </div>


      </gv-detail-top-bar>
      <gv-detail-content>



        <span class="gv-tile" *ngIf="(showProperties$ | async)">
          <!-- <div class="gv-one-liner mx-2 mt-3">
            <h2>
              <span [matTooltip]="'Persistent Item ' + pkEntity">{{title$ | async | truncate:240}}</span>
              <span class="ml-1 mat-caption" *ngIf="showOntoInfo$|async">{{pkEntity}}</span>
            </h2>
          </div> -->

          <div class="gv-tile-body">

            <gv-properties-tree [pkEntity$]="pkEntity$" [pkClass$]="fkClass$" [showOntoInfo$]="showOntoInfo$">
            </gv-properties-tree>

          </div>

        </span>




        <!-- Repros. Reproductions of a section -->
        <!-- <gv-repros class="gv-flex-fh" class="gv-tile" *ngIf="(showRepros$ | async) && !isolatedChild"
          [basePath]="basePath.concat('repros')" (annotate)="onAnnotate()" (close)="toggle('showRepros')">
        </gv-repros> -->


      </gv-detail-content>
    </as-split-area>

    <!-------------------------------------------------------------------
      Right area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeRight" [ngClass]="{
        'd-flex flex-column': t.showRightArea,
        'd-none': !t.showRightArea
      }">
      <gv-detail-top-bar closeRightAreaBtn="true" (closeRight)="t.setShowRightArea(false)">

        <mat-tab-group animationDuration="0ms" [selectedIndex]="activeTabIndex$ | async"
          (selectedIndexChange)="rightTabIndexChange($event)">
          <mat-tab *ngIf="(showMapToggle$ | async)" label="Map and Timeline"> </mat-tab>
          <mat-tab *ngIf="(showSectionListToggle$ | async)" label="Sections & Digital Reproductions"
            (click)="show('showSectionList')"> </mat-tab>
          <mat-tab *ngIf="(showSourcesToggle$ | async)" label="Sources"> </mat-tab>


          <mat-tab label="Is Topic Of"> </mat-tab>



        </mat-tab-group>
      </gv-detail-top-bar>
      <gv-detail-content>

        <div class="gv-tile" *ngIf="(activeTab$ | async) == 'showMap'">
          <div class="gv-tile-body">
            <!-- <gv-map [pkEntity]="pkEntity$|async"></gv-map> -->
            <!-- <gv-pe-it-timeline [pkEntity]="pkEntity$|async"></gv-pe-it-timeline> -->
          </div>
        </div>

        <!-- Section List. Sections of a source -->
        <gv-content-tree *ngIf="(activeTab$ | async) == 'showSectionList'" class="gv-tile gv-flex-fh"
          [pkEntity$]="pkEntity$" [fkClass$]="fkClass$">
        </gv-content-tree>


        <!-- Show Sources (where this PeIt is annotated) -->
        <!-- <gv-mentioning-list *ngIf="(showSources$ | async)" class="gv-tile"
          [basePath]="basePath.concat('mentionedEntities')" [listOf]="listOf">
        </gv-mentioning-list> -->


        <gv-ram-list *ngIf="(showSources$ | async)">
        </gv-ram-list>



      </gv-detail-content>
    </as-split-area>
  </as-split>
</div>
