<div [ngClass]="{'gv-flex-fh':!(showRemoveVerification$ | async)}" [hidden]="(showRemoveVerification$ | async)">
  <as-split class="gv-split-style" [ngClass]="{'gv-hide-split-gutter': !t.showRightArea}" [direction]="'horizontal'"
    gutterSize="1" [useTransition]="t.useTransition" (dragEnd)="t.onResizeArea($event)">

    <!-------------------------------------------------------------------
       Left area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeLeft" class="d-flex flex-column">

      <gv-detail-top-bar [openRightAreaBtn]="!t.showRightArea" (openRight)="t.setShowRightArea(true);"
        *ngIf="(showHeader$ | async)">

        <!-- <span typeLabel *ngIf="(_type$ | async)?.label">{{(_type$ | async)?.label}}:</span> -->


        <!-- <gv-pe-it-label labels [children]="(_fields$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit"
          (onLabelChange)="onLabelChange.emit($event)"></gv-pe-it-label> -->


        <gv-class-info class="text-muted small ml-2" [classConfig]="classConfig" iconPrimary="true">
        </gv-class-info>

        <div class="ml-3 small text-muted" *ngIf="(_type$ | async)">
          <gv-type [basePath]="basePath.concat('_type')"></gv-type>
        </div>


        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button [matMenuTriggerFor]="mainMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #mainMenu="matMenu" xPosition="before">

            <!-- toggle onto info -->
            <button mat-menu-item (click)="$event.stopPropagation();">
              <mat-slide-toggle color="accent" [checked]="(showOntoInfo$|async)" (change)="toggle('showOntoInfo');">
                Ontology Info
              </mat-slide-toggle>
            </button>


            <!-- remove -->
            <mat-divider *ngIf="!(isViewMode$ | async)"></mat-divider>
            <div class="dropdown-header" *ngIf="!(isViewMode$ | async)">Danger Zone</div>
            <button mat-menu-item (click)="toggleRemoveVerification();" *ngIf="!(isViewMode$ | async)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Remove</span>
            </button>

          </mat-menu>
        </div>


      </gv-detail-top-bar>
      <gv-detail-content>



        <!-- Property Tile -->
        <span class="gv-tile" *ngIf="(showProperties$ | async)">

          <div class="gv-pe-it-title mx-2 mt-3">

            <div class="gv-one-liner">
              <h2>{{title$ | async}}</h2>
            </div>

            <div class="ml-auto">
              <button class="btn btn-sm btn-link-gray" (click)="startSelectProperty()"
                *ngIf="!(isViewMode$ | async) && (selectPropState$ | async) === 'init' && (showAddAPropertyButton$ | async)"
                [ngClass]="{'invisible' : isolatedChild}">
                <i class="fa fa-plus"></i> Add a field
              </button>
            </div>
          </div>

          <!-- Tile Body -->
          <div class="gv-tile-body p-2">

            <!-- Add a property UI -->
            <div *ngIf="(!isolatedChild)">
              <!-- Step 2 for adding new Property section -->
              <gv-add-info-pe-it *ngIf="(selectPropState$ | async) === 'selectProp'" [uiElements]="uiElementsForAddInfo"
                [classConfig]="classConfig" [addedChildren$]="_fields$" (addOptionSelected)="addOptionSelected($event)"
                (cancel)="stopSelectProperty()"></gv-add-info-pe-it>
            </div>

            <!-- List of Fields -->
            <div *ngFor="let item of (_fields$ | async) | keys | filterByKey:isolatedChild; trackBy:getKey">

              <gv-text-property-field *ngIf="item.value.type === 'TextPropertyField'"
                [basePath]="basePath.concat('_fields').concat(item.key)"></gv-text-property-field>

              <gv-pe-it-property-field-editable *ngIf="item.value.type === 'PropertyField'" [parentPath]="basePath"
                [index]="item.key" (onRemovePropertyField)="removePropertyField(item.key)">
              </gv-pe-it-property-field-editable>

            </div>
          </div>


          <div class="gv-tile">

            <gv-tile-header *ngIf="(showPropertiesHeader$ | async)" (close)="toggle('showProperties')">
              <span title>
                New Properties
              </span>
            </gv-tile-header>

            <div class="gv-tile-body">
              <gv-properties-tree [pkEntity$]="pkEntity$" [pkClass$]="fkClass$" [showOntoInfo$]="showOntoInfo$"></gv-properties-tree>
            </div>
          </div>

        </span>




        <!-- Repros. Reproductions of a section -->
        <!-- <gv-repros class="gv-flex-fh" class="gv-tile" *ngIf="(showRepros$ | async) && !isolatedChild"
          [basePath]="basePath.concat('repros')" (annotate)="onAnnotate()" (close)="toggle('showRepros')">
        </gv-repros> -->


      </gv-detail-content>
    </as-split-area>

    <!-------------------------------------------------------------------
      Right area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeRight" [ngClass]="{
        'd-flex flex-column': t.showRightArea,
        'd-none': !t.showRightArea
      }">
      <gv-detail-top-bar closeRightAreaBtn="true" (closeRight)="t.setShowRightArea(false)">

        <mat-tab-group animationDuration="0ms" [selectedIndex]="activeTabIndex$ | async" (selectedIndexChange)="rightTabIndexChange($event)">
          <mat-tab *ngIf="(showMapToggle$ | async)" label="Map and Timeline"> </mat-tab>
          <mat-tab *ngIf="(showSectionListToggle$ | async)" label="Sections & Digital Reproductions"
            (click)="show('showSectionList')"> </mat-tab>
          <mat-tab *ngIf="(showSourcesToggle$ | async)" label="Sources"> </mat-tab>
        </mat-tab-group>
      </gv-detail-top-bar>
      <gv-detail-content>

        <div class="gv-tile" *ngIf="(activeTab$ | async) == 'showMap'">
          <div class="gv-tile-body">
            <gv-map [path]="basePath"></gv-map>
            <gv-pe-it-timeline [basePath]="basePath.concat('peItTimeline')"></gv-pe-it-timeline>
          </div>
        </div>

        <!-- Section List. Sections of a source -->
        <div class="gv-tile" *ngIf="(activeTab$ | async) == 'showSectionList'">

          <div class="gv-tile-body">
            <gv-content-tree class="gv-tile" [pkEntity$]="pkEntity$" [fkClass$]="fkClass$">
            </gv-content-tree>
          </div>
        </div>

        <!-- Show Sources (where this PeIt is annotated) -->
        <div class="gv-tile" *ngIf="(showSources$ | async)">

          <div class="gv-tile-body">
            <gv-mentioning-list class="gv-tile" [basePath]="basePath.concat('mentionedEntities')" [listOf]="listOf">
            </gv-mentioning-list>
          </div>
        </div>



      </gv-detail-content>
    </as-split-area>
  </as-split>
</div>

<div class="d-flex flex-row justify-content-center" *ngIf="(showRemoveVerification$ | async)">
  <div>
    <div class="my-3">
      <h2>
        Remove <gv-pe-it-label class="d-inline-block mr-1" labels [children]="(_fields$ | async)"
          [classConfig]="classConfig" [labelInEdit]="labelInEdit"></gv-pe-it-label>
      </h2>

      <gv-class-info class="mb-5" classInfo [classConfig]="classConfig" iconPrimary="true"></gv-class-info>

      <p> Are you sure?</p>
    </div>
    <button class="btn btn-outline-danger" (click)="onRemove()">Remove</button>
    <button class="btn btn-outline-secondary ml-2" (click)="toggleRemoveVerification()">Cancel</button>
  </div>
</div>
