<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/projects">Your Projects</a></li>
    <li class="breadcrumb-item">{{(projectLabel$|async)}}</li>
  </ol>

  <div buttons>
    <a *ngIf="btn1Label$|async" class="gv-nv-item mr-2" mat-stroked-button href="{{btn1Url$|async}}" [color]="'primary'"
      target="_blank">{{btn1Label$|async}}</a>
    <a *ngIf="btn2Label$|async" class="gv-nv-item mr-2" mat-stroked-button href="{{btn2Url$|async}}" [color]="'primary'"
      target="_blank">{{btn2Label$|async}}</a>
  </div>
</gv-navbar>
<mat-drawer-container class="gv-flex-fh">

  <!-- Main Categories (Sources, Entities …) -->
  <mat-drawer class="mat-bg-grey-200 gv-main-drawer" mode="side" [opened]=true [disableClose]="true"
    style="width: 80px">

    <div class="h-100 d-flex flex-column">

      <div class="rounded-0 d-block">
        <button class="gv-nav-btn mat-typography d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(state.ui.activeProject.listType$ | async)==='sources'}" (click)="setList('sources')">
          <div class="fa-2x gv-icon gv-icon-source gv-sources-primary-color"></div>
          <div>Sources</div>
        </button>
        <button class="gv-nav-btn mat-typography d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(state.ui.activeProject.listType$ | async)==='entities'}" (click)="setList('entities')">
          <div class="fa-2x gv-icon gv-icon-entity gv-entities-primary-color"></div>
          <div>Entities</div>
        </button>
        <button class="gv-nav-btn mat-typography d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(state.ui.activeProject.listType$ | async)==='digitals'}" (click)="setList('digitals')">
          <mat-icon [svgIcon]="'gv:outlined-gv-digitals'" class="gv-digitals-primary-color"></mat-icon>
          <div>Digitals</div>
        </button>
        <button class="gv-nav-btn mat-typography d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(state.ui.activeProject.listType$ | async)==='analysis'}" (click)="setList('analysis')">
          <div class="fa-2x gv-icon gv-icon-visual gv-analysis-primary-color"></div> Analysis
        </button>
      </div>


      <div class="rounded-0 d-block mt-auto">
        <button class="gv-nav-btn mat-typography d-flex flex-column align-items-center justify-content-center"
          [ngClass]="{active:(state.ui.activeProject.listType$ | async)==='settings'}" (click)="setList('settings')">
          <div class="fa fa-2x fa-cogs mat-text-secondary"></div> Settings
        </button>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content style="display:flex; flex-direction:column">
    <mat-drawer-container style="flex-grow: 1; flex-basis:100%;" [hasBackdrop]="false">

      <!-- List of Sources, Entities … -->
      <mat-drawer class="gv-drawer-list" #list mode="side" [opened]="(state.ui.activeProject.listType$ | async) !== ''"
        style="width: 300px;">
        <button mat-icon-button style="position:absolute; right: 0; top: 50%; z-index: 2000" (click)="list.close()"
          (positionChanged)="setList('')">
          <mat-icon class="mat-text-secondary" svgIcon="chevron-left"></mat-icon>
        </button>
        <gv-digitals-list [hidden]="(state.ui.activeProject.listType$ | async) !== 'digitals'"></gv-digitals-list>
        <gv-source-list [hidden]="(state.ui.activeProject.listType$ | async) !== 'sources'"></gv-source-list>
        <gv-entity-list [hidden]="(state.ui.activeProject.listType$ | async) !== 'entities'"></gv-entity-list>
        <gv-analysis-list *ngIf="(state.ui.activeProject.listType$ | async) === 'analysis'"
          class="h-100 gv-flex-fh"></gv-analysis-list>
        <gv-settings-list [hidden]="(state.ui.activeProject.listType$ | async) !== 'settings'"></gv-settings-list>
      </mat-drawer>

      <!-- Container for Tabs … -->
      <mat-drawer-content class="gv-pe-tab-container d-flex" cdkDropListGroup>
        <div class="gv-pe-upper">

          <div *ngIf="(state.ui.activeProject.panels$ | async)?.length === 0"
            class="no-panels gv-flex-fh justify-content-center align-items-center p-3">
            <div class="mat-headline-4 mb-1 mat-text-grey-400">
              Your Project
            </div>
            <div class="mat-headline-2 mb-2 mat-text-grey-400">
              {{(projectLabel$|async)}}
            </div>
            <div class="mat-text-grey-400">
              Find your Entities and Sources to the left.
            </div>

          </div>

          <!-- Tab Handles -->
          <as-split class="gv-split-style" [direction]="'horizontal'" [gutterSize]="1"
            *ngIf="(state.ui.activeProject.panels$ | async)?.length > 0">
            <as-split-area [size]="(100 / (state.ui.activeProject.panels$ | async)?.length )"
              *ngFor="let panel of (state.ui.activeProject.panels$ | async); let i = index; trackBy:trackByFn"
              class="gv-panel-for-tabs gv-grow-1 gv-flex-fh" style="overflow: hidden;"
              (mousedown)="state.ui.activeProject.focusPanel(i)"
              [ngClass]="{'focus': ((state.ui.activeProject.focusedPanel$|async ) === i) }">

              <div>
                <div cdkDropList [cdkDropListData]="i" cdkDropListOrientation="horizontal"
                  (cdkDropListDropped)="dropTab($event)" class="tab-list">

                  <gv-tab-handle *ngFor="let tab of panel.tabs; let j=index;" cdkDrag
                    [cdkDragData]="{'panelIndex': i, 'tabIndex': j}" [ngClass]="{'active': tab.active }"
                    (cdkDragEnded)="tabDragEnded()" (cdkDragStarted)="tabDragStarted()" [tab]="tab"
                    (activateTab)="state.ui.activeProject.setActiveTab(i,j)"
                    (closeTab)="state.ui.activeProject.closeTab(i,j)"></gv-tab-handle>

                </div>
                <!-- <button (click)="state.ui.activeProject.addTab()">Split</button> -->
              </div>

              <div class="panel-body gv-flex-fh mat-bg-gray-100">
                <div gvPanelBody [gvPanelId]="panel.id">
                  <!-- Tab body will be placed dynamically via Cdk Portal -->
                </div>

                <div class="split-panel-drop-zone"
                  [ngClass]="{'active': highlightPanel[i] === 'full', 'enabled': tabDragging}">

                  <div class="highlight left" [ngClass]="{'active': highlightPanel[i] === 'left'}"></div>
                  <div class="highlight right" [ngClass]="{'active': highlightPanel[i] === 'right'}"></div>

                  <div class="split left" [ngClass]="{'enabled': tabDragging}" cdkDropList
                    (cdkDropListEntered)="setHighlightPanel(i, 'left')"
                    (cdkDropListExited)="unsetHighlightPanel(i, 'left')" (cdkDropListDropped)="splitPanel(i, $event)">
                  </div>
                  <div class="split center" cdkDropList (cdkDropListEntered)="setHighlightPanel(i, 'full')"
                    (cdkDropListExited)="unsetHighlightPanel(i, 'full')"> </div>
                  <div class="split right" cdkDropList (cdkDropListEntered)="setHighlightPanel(i, 'right')"
                    (cdkDropListExited)="unsetHighlightPanel(i, 'right')"
                    (cdkDropListDropped)="splitPanel(i+1, $event)">
                  </div>

                </div>
              </div>

            </as-split-area>
          </as-split>

          <!-- Tab Bodies. The body is placed to gvPanelBody via Cdk Portal -->
          <gv-tab-body [tab]="tab" [active]="tab.active" [panelId]="tab.panelId" [panelBodies$]="panelBodies$"
            *ngFor="let tab of (allTabs$ | async); let j=index; trackBy:trackByPath;">

            <gv-text-detail class="gv-flex-fh" *ngIf="tab.component==='text'" [tab]="tab" #c [onActivateTab]="c">
            </gv-text-detail>


            <gv-table-detail class="gv-flex-fh" *ngIf="tab.component==='table'" [tab]="tab" #c [onActivateTab]="c">
            </gv-table-detail>


            <gv-entity-detail class="gv-flex-fh" *ngIf="tab.component==='entity'" [tab]="tab"
              (close)="state.ui.activeProject.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
            </gv-entity-detail>

            <gv-analysis-detail class="gv-flex-fh" *ngIf="tab.component==='analysis'"
              [fkAnalysisType]="tab.data?.fkAnalysisType" [pkEntity]="tab.data?.pkEntity"
              (close)="state.ui.activeProject.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
            </gv-analysis-detail>

            <gv-project-settings-data class="gv-flex-fh" *ngIf="tab.component==='classes-settings'"
              (close)="state.ui.activeProject.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
            </gv-project-settings-data>

            <gv-ontome-profiles-settings class="gv-flex-fh" *ngIf="tab.component==='ontome-profiles-settings'"
              (close)="state.ui.activeProject.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c">
            </gv-ontome-profiles-settings>

            <gv-types class="gv-flex-fh" *ngIf="tab.component==='contr-vocab-settings'" [pkClass]="tab.data.pkClass"
              (close)="state.ui.activeProject.closeTab(tab.panelIndex,tab.tabIndex)" #c [onActivateTab]="c"></gv-types>

          </gv-tab-body>
        </div>
        <gv-ram-form class="gv-pe-lower mat-border-top" *ngIf="p.ramOpen$|async"></gv-ram-form>

      </mat-drawer-content>
    </mat-drawer-container>


  </mat-drawer-content>
</mat-drawer-container>