<div [ngClass]="{'alt-pressed': keyboard.altPressed}">

  <div class="card gv-naming">
    <div class="card-header gv-naming d-flex flex-row">
      <div class="gv-label gv-pointer" (click)="toggleCardBody()">
        <i class="fa fa-lightbulb-o"></i> Additionl Information
        <!-- TODO remove the following line -->
        [{{addInfoState}}]
      </div>
    </div>

    <div class="gv-card-body-wrapper" [@slideInOut]="cardState">

      <gv-property *ngFor="let property of directedRolesPerProperty"
      [isOutgoing]="property.isOutgoing"
      [roles]="property.roles"
      [fkProperty]="property.fkProperty"
      [pointTo]="'TeEnt'"
      [parentEntityPk]="pkEntity"
      [parentPeIt]="parentPeIt"
      [propState]="propState"
      (appeChange)="emitAppeChange($event)"
      ></gv-property>

      <!-- Select Property, Add or Create Roles -->

      <div class="card-body" *ngIf="selectPropState === 'selectProp'">

        <div class="d-flex flex-row  gv-h4">
          <div class="gv-flex-grow-1">
            What is your info about?
          </div>
          <div>
            <button type="button" name="button" class="btn btn-link"
            (click)="stopSelectProperty()"
            ><i class="fa fa-close"></i></button>
          </div>
        </div>

        <select [(ngModel)]="propertyToAdd" (change)="startSelectRoles()" class="custom-select">
          <option [ngValue]="null">Please Select…</option>

          <option *ngFor="let propertyToAdd of ingoingDirectionAwareProperties" [ngValue]="propertyToAdd">
            {{propertyToAdd.property.label_inversed.sg}}
          </option>
          <option *ngFor="let propertyToAdd of outgoingDirectionAwareProperties" [ngValue]="propertyToAdd">
            {{propertyToAdd.property.label.sg}}
          </option>
        </select>

      </div>


      <div class="card-body" *ngIf="selectPropState === 'selectRoles'">

        <div class="d-flex flex-row gv-h4">
          <div class="gv-flex-grow-1">
            Select roles
          </div>
          <div>
            <button type="button" name="button" class="btn btn-link"
            (click)="stopSelectRoles()"
            ><i class="fa fa-close"></i></button>
          </div>
        </div>

        <gv-property
        [fkProperty]="propertyToAdd.property.pk_property"
        [isOutgoing]="propertyToAdd.isOutgoing"
        [propState]="'add'"
        [pointTo]="'TeEnt'"
        [parentPeIt]="parentPeIt"
        [parentEntityPk]="pkEntity"
        (propStateChange)="onPropStateChange($event)"
        (rolesAdded)="onRolesAdded($event)"
        ></gv-property>


      

      </div>

      <div class="card-body" *ngIf="selectPropState === 'createRole'">

        <gv-property
        [fkProperty]="propertyToAdd.property.pk_property"
        [isOutgoing]="propertyToAdd.isOutgoing"
        [propState]="'create'"
        [pointTo]="'TeEnt'"
        [parentPeIt]="parentPeIt"
        [parentEntityPk]="pkEntity"
        (readyToCreate)="emitReadyToCreate($event)"
        (notReadyToCreate)="emitNotReadyToCreate()"
        (propStateChange)="onPropStateChange($event)"
        (rolesAdded)="onRolesAdded($event)"
        ></gv-property>

      </div>

    </div>

    <div class="card-footer gv-naming" *ngIf="selectPropState === 'init'">
      <div class="btn btn-block btn-secondary" (click)="startSelectProperty()">
        Add additional information …
      </div>
    </div>

  </div>

</div>




