<div class="gv-td-menu-container">

  <div class="gv-td-menu-item gv-td-col-toggler orange">
    <div class="gv-td-menu-label mat-text-secondary">
      Columns:
    </div>
    <!-- Column Toggler -->
    <mat-select-autocomplete [placeholder]="'Columns'" [options]="colToggleOptions$ | async" [multiple]='true'
      [formControl]="colToggleCtrl" ngDefaultControl name="colToggleCtrl">
    </mat-select-autocomplete>

  </div>
  <div class="gv-td-menu-item gv-td-col-checkbox orange">

    <!-- Filter Toggler -->
    <mat-checkbox [(ngModel)]="colFiltersEnabled">Filters</mat-checkbox>

    <!-- Metadata Toggler -->
    <mat-checkbox [(ngModel)]="lineBrakeInCells">Text break</mat-checkbox>
  </div>
  <div class="gv-td-menu-item gv-td-paginator orange">

    <!-- Paginator -->
    <mat-paginator [length]="length$ | async" [pageSize]="pageSize$ | async" [pageIndex]="pageIndex$ | async"
      [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="onPageChange($event)">
    </mat-paginator>

  </div>
</div>
<mat-divider></mat-divider>

<!--  [columnComments$]="" [loading]="" -->
<gv-table [headers$]="headers$" [table$]="table$" [loading]="loading" [sortingEnabled]="true"
  [filteringEnabled]="colFiltersEnabled" [lineBreak]="lineBrakeInCells" class="gv-overflow-hidden"
  (sortDemanded)="onSortChangesort($event)" (filterDemanded)="onFilterChange($event)" (cellClicked)="click($event)">
</gv-table>