<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item">Your Projects</li>
  </ol>
</gv-navbar>

<div class="container mt-5">
  <!-- TEMP 2020-03-10 -->
  <!-- {{temp | json}} <br>
  {{tempProjectLabel | json}} <br>
  {{tempProjectLabel$ | async | json }} <br>
  {{tempProjects$ | async | json}} <br>
  {{ tempProjectPreview$ | async | json }} -->

  <div class="row justify-content-center">
    <div class="col-6">
      <div *ngIf="projects.length > 0">

        <h2 class="clearfix">Your Projects
          <span class="pull-right">
            <a routerLink="create" class="btn btn-link">Create a new project</a>
          </span>
        </h2>
        <img *ngIf="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

        <div *ngFor="let project of projects" class="card mt-2" [ngClass]="{
          'bg-info': (project.pk_project == config.PK_PROJECT_OF_TEMPLATE_PROJECT),
          'bg-success': (project.pk_project == config.PK_PROJECT_OF_DEFAULT_CONFIG_PROJECT),
          'bg-warning': (project.pk_project) == config.PK_PROJECT_OF_SANDBOX_PROJECT
        }">
          <div class="card-body">
            <h4 class="card-title">{{project?.label}}
              <span class="gv-project-language text-muted pull-right">
                {{project?.default_language?.notes}}
              </span>
            </h4>
            <p class="card-text">{{project?.description}}</p>

            <button class="btn btn-primary" routerLink="{{project.pk_project}}/edit">Open</button>
          </div>
        </div>
      </div>

      <div *ngIf="projects.length === 0 && loadingComplete">
        <a routerLink="create" class="btn btn-primary">Create your first project</a>
      </div>
    </div>
  </div>
</div>