

<div *ngIf="!isCircular && (property!==undefined)" [ngClass]="{'alt-pressed': keyboard.altPressed}">

  <span *ngIf="keyboard.altPressed">
    [ready: {{isReadyToCreate}}]
  </span>

  <span *ngIf="isOutgoing === true && keyboard.altPressed">
    d:[{{property.fk_domain_class}}] – p: [{{property.pk_property}}] – r: [{{property.fk_range_class}}]
  </span>

  <span *ngIf="isOutgoing === false && keyboard.altPressed">
    r:[{{property.fk_range_class}}] – p: [{{property.pk_property}}] – d: [{{property.fk_domain_class}}]
  </span>


  <!--
  *********************** Point to TeEnt  ***********************
  ***************************************************************
                          (upper level)
  ***************************************************************
  ***************************************************************  -->

  <span *ngIf="pointTo === 'TeEnt'">


    <!--
    ************************* Edit State ************************* -->

    <span *ngIf="propState === 'edit'">

      <div class="card gv-naming">
        <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
          <div class="gv-label gv-flex-grow-1 gv-pointer" (click)="toggleCardBody()">
            <i class="fa fa-chevron-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i> {{roleLabel}} ({{roles.length}})
          </div>
          <small class="align-self-center">{{fkProperty}}</small>
        </div>


        <div class="card-body" [@slideInOut]="cardState">
          <div *ngFor="let role of roles">
            <gv-role
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="pointTo"
            [roleState]="'edit'"
            (appeChange)="emitAppeChange($event)"
            (onRequestStandard)="changeStandardRole($event)"></gv-role>
          </div>
        </div>


        <div class="card-footer gv-naming" *ngIf="selectPropState === 'init'">
          <div class="btn btn-block btn-secondary" (click)="startSelectProperty()">
            Add other kind of information …
          </div>
        </div>
      </div>

    </span>


    <!--
    ************************* Add-Pe-It State ************************* -->

    <span *ngIf="propState === 'add-pe-it'">
      <div class="card gv-naming">
        <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
          <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
          <small class="align-self-center">{{fkProperty}}</small>
        </div>


        <div class="card-body">
          <div *ngFor="let role of roles">
            <gv-role
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="pointTo"
            [roleState]="propState"
            (readyToAdd)="onRoleReadyToAdd($event)"
            (appeChange)="emitAppeChange($event)"
            (onRequestStandard)="changeStandardRole($event)"></gv-role>
          </div>
        </div>
      </div>
    </span>

    <!--
    ************************* Add State ************************* -->

    <span *ngIf="propState === 'add'">

      <div class="card gv-naming">

        <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
          <div class="gv-label gv-flex-grow-1"> Add a {{roleLabelObj.sg}} </div>
          <small class="align-self-center">{{fkProperty}}</small>
        </div>

        <div class="card-body text-white">
          Select {{roleLabelObj.pl}} provided by the community from the list below and click "Add Selected" to add them to your project. Click on "Create new" to create a new {{roleLabelObj.sg}}.
        </div>

        <div class="card-body">
          <label for="">
            <input type="checkbox" name="" value=""> Option 1
          </label>
        </div>

        <div class="card-body" *ngIf="propState === 'add'">
          <button type="button" class="btn btn-primary">Add selected</button>
          <button type="button" class="btn btn-primary"
          (click)="startCreateNewRole()">Create new</button>
          <button type="button" class="btn btn-link"
          (click)="cancelSelectRoles()">Cancel</button>
        </div>
      </div>
    </span>

    <!--
    ************************* Create State ************************* -->

    <span *ngIf="propState === 'create'">

      <div class="card gv-naming">

        <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
          <div class="gv-label gv-flex-grow-1"> Create a {{roleLabelObj.sg}} </div>
          <small class="align-self-center">{{fkProperty}}</small>
        </div>

        <div class="card-body text-white">
          Please fill all fields below and click "Ok".
        </div>

        <div class="card-body">
          <gv-role
          [role]="roleToCreate"
          [pointTo]="'TeEnt'"
          [pkTargetClass]="pkTargetClass"
          [fkProperty]="fkProperty"
          [roleState]="'create'"
          (readyToCreate)="roleReadyToCreate($event)"
          (notReadyToCreate)="roleNotReadyToCreate()"
          ></gv-role>
        </div>

        <div class="card-body">
          <button
          [ngClass]="{disabled:(!isReadyToCreate)}"
          type="button" class="btn btn-primary"
          (click)="persistEntitiesToCreate()"
          >Ok</button>
          <button type="button" class="btn btn-link"
          (click)="cancelCreateNewRole()">Cancel</button>
        </div>

      </div>
    </span>



        <!--
        ************************* Create PeIt State ******************* -->

        <span *ngIf="propState === 'create-pe-it'">

          <div class="card gv-naming">

            <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
              <div class="gv-label gv-flex-grow-1"> Create a {{roleLabelObj.sg}} </div>
              <small class="align-self-center">{{fkProperty}}</small>
            </div>

            <div class="card-body text-white">
              Please fill all fields below and click "Ok".
            </div>

            <div class="card-body">
              <gv-role
              [role]="roleToCreate"
              [pointTo]="'TeEnt'"
              [pkTargetClass]="pkTargetClass"
              [fkProperty]="fkProperty"
              [roleState]="'create'"
              (readyToCreate)="roleReadyToCreate($event)"
              (notReadyToCreate)="roleNotReadyToCreate()"
              ></gv-role>
            </div>

          </div>
        </span>

  </span>






  <!--
  ********************* Point to PeIt  **************************
  ***************************************************************
                        (lower level)
  ***************************************************************
  *************************************************************** -->

  <span *ngIf="pointTo === 'PeIt'">

    <!--
    ************************* Edit State ************************* -->

    <span *ngIf="propState === 'edit'">

      <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
        <div class="gv-label gv-flex-grow-1 gv-pointer" (click)="toggleCardBody()">
          <i class="fa fa-chevron-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i> {{roleLabel}} ({{roles.length}})
        </div>
        <small class="align-self-center">{{fkProperty}}</small>
        <button type="button" class="gv-edit-btn btn btn-link btn-sm" name="button" *ngIf="addButtonVisible">
          <i class="fa fa-plus"></i>
        </button>
      </div>


      <div class="card-body" [@slideInOut]="cardState">
        <div *ngFor="let role of roles">
          <gv-role
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="'edit'"
          (appeChange)="emitAppeChange($event)"
          (onRequestStandard)="changeStandardRole($event)"></gv-role>
        </div>
      </div>
    </span>



    <!--
    ************************* Add-Pe-It State ************************* -->

    <span *ngIf="propState === 'add-pe-it'">

      <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
        <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
        <small class="align-self-center">{{fkProperty}}</small>
        <button type="button" class="gv-edit-btn btn btn-link btn-sm" name="button" *ngIf="addButtonVisible">
          <i class="fa fa-plus"></i>
        </button>
      </div>


      <div class="card-body">
        <div *ngFor="let role of roles">
          <gv-role
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="propState"
          (appeChange)="emitAppeChange($event)"
          (readyToAdd)="onRoleReadyToAdd($event)"
          (onRequestStandard)="changeStandardRole($event)"></gv-role>
        </div>
      </div>

    </span>


    <!--
    ************************* Add State ************************* -->

    <span *ngIf="propState === 'add'">

      <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
        <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
        <small class="align-self-center">{{fkProperty}}</small>
      </div>

      <div class="card-body">
        Add a {{roleLabelObj.sg}} provided by the community
        or create a new {{roleLabelObj.sg}}.
      </div>

      <div class="card-body">
        <label for="">
          <input type="checkbox" name="" value=""> Option 1
        </label>
      </div>

      <div class="card-body" *ngIf="propState === 'add'">
        <button type="button" class="btn btn-primary">Add selected</button>
        <button type="button" class="btn btn-primary"
        (click)="startCreateNewRole()">Create new</button>
        <button type="button" class="btn btn-link"
        (click)="cancelSelectRoles()">Cancel</button>
      </div>

    </span>


    <!--
    ************************* Create State ************************* -->

    <span *ngIf="propState === 'create'">
      <div class="card-body gv-property-section-header gv-to-pe-it d-flex flex-row">
        <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
        <small class="align-self-center">{{fkProperty}}</small>
      </div>

      <div class="card-body">
        <gv-role
        [role]="roleToCreate"
        [pointTo]="'PeIt'"
        [pkTargetClass]="pkTargetClass"
        [fkProperty]="fkProperty"
        [roleState]="'create'"
        (readyToCreate)="roleReadyToCreate($event)"
        (notReadyToCreate)="roleNotReadyToCreate()"></gv-role>
      </div>
    </span>

  </span>

</div>

