

<div *ngIf="!isCircular && (property!==undefined)" [ngClass]="{'dev-view': entityEditor.devView}">

  <span *ngIf="entityEditor.devView">
    readyToCreate: {{isReadyToCreate}}  <br>
    readyToAdd: {{rolesToAdd?.length}}
  </span>

  <span *ngIf="isOutgoing === true && entityEditor.devView">
    d:[{{property.dfh_has_domain}}] – p: [{{property.dfh_pk_property}}] – r: [{{property.dfh_has_range}}]
  </span>

  <span *ngIf="isOutgoing === false && entityEditor.devView">
    r:[{{property.dfh_has_range}}] – p: [{{property.dfh_pk_property}}] – d: [{{property.dfh_has_domain}}]
  </span>


  <!--
  *********************** Point to TeEnt  ***********************
  ***************************************************************
  (upper level)
  ***************************************************************
  ***************************************************************  -->

  <span *ngIf="pointTo === 'TeEnt'">


    <!--
    ************************* Edit State ************************* -->

    <span *ngIf="propState === 'edit'">

      <div class="card gv-naming">
        <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
          <div class="gv-label gv-flex-grow-1 gv-pointer" (click)="toggleCardBody()">
            <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
            {{roleLabel}}
            ({{roles.length}})
            <small class="align-self-center">
              <gv-dfh-id [property]="property"></gv-dfh-id>
            </small>
          </div>
        </div>


        <div [@slideInOut]="cardState">
          <div class="card-body">
            <gv-role  *ngFor="let role of roles"
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="pointTo"
            [roleState]="'edit'"
            (appeChange)="emitAppeChange($event)"
            (onRequestStandard)="changeStandardRole($event)"
            (readyToAdd)="onRoleReadyToAdd($event)"
            (roleRemoved)="onRoleRemoved($event)"
            ></gv-role>
          </div>

          <div class="card-footer gv-naming">
            <div class="btn btn-block btn-secondary"          (click)="startAddingRole()"    *ngIf="addRoleState=== 'init'">
              Add a {{roleLabelObj.sg}}
            </div>

            <!-- Select existing Roles -->

            <div *ngIf="addRoleState=== 'selectExisting'">



              <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
                <div class="gv-label gv-flex-grow-1"> Add a {{roleLabelObj.sg}} </div>
              </div>

              <div class="card-body text-white">
                Those {{roleLabelObj.pl}} already exist outside of your project:
              </div>

              <div class="card-body">

                <gv-role *ngFor="let role of rolesNotInProject"
                [role]="role"
                [parentProperty]="property"
                [isOutgoing]="isOutgoing"
                [pointTo]="'TeEnt'"
                [roleState]="'add'"
                (readyToAdd)="onRoleReadyToAdd($event)"
                ></gv-role>
              </div>

              <div class="card-body text-white">
                Select an existing {{roleLabelObj.sg}} or create a new {{roleLabelObj.sg}}.
              </div>

              <div class="card-body">
                <button type="button" class="btn btn-primary"
                [ngClass]="{disabled:(!isReadyToAddRoles)}"
                (click)="addSelectedRolesToProject()"
                >Add selected</button>
                <button type="button" class="btn btn-primary"
                (click)="startCreateNewRole()">Create new</button>
                <button type="button" class="btn btn-link"
                (click)="cancelSelectRoles()">Cancel</button>
              </div>

            </div>



            <!-- Create a new Role -->
            <div *ngIf="addRoleState=== 'createNew'">

              <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
                <div class="gv-label gv-flex-grow-1"> Create a {{roleLabelObj.sg}} </div>
              </div>

              <gv-role
              [role]="roleToCreate"
              [pointTo]="'TeEnt'"
              [pkTargetClass]="pkTargetClass"
              [fkProperty]="fkProperty"
              [roleState]="'create'"
              (roleCreated)="onRoleCreated($event)"
              (roleCreationCanceled)="onRoleCreationCanceled()"
              ></gv-role>

            </div>

          </div>
        </div>
      </div>

    </span>


    <!--
    ************************* Add-Pe-It State ************************* -->

    <span *ngIf="propState === 'add-pe-it'">
      <div class="card gv-naming">
        <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
          <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
        </div>


        <div class="card-body">
          <div *ngFor="let role of roles">
            <gv-role
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="pointTo"
            [roleState]="propState"
            (readyToAdd)="onRoleReadyToAdd($event)"
            (appeChange)="emitAppeChange($event)"
            (onRequestStandard)="changeStandardRole($event)"></gv-role>
          </div>
        </div>
      </div>
    </span>



    <!--
    ************************* Create State ************************* -->

    <span *ngIf="propState === 'create'">

      <div class="card gv-naming">

        <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
          <div class="gv-label gv-flex-grow-1"> Create a {{roleLabelObj.sg}} </div>
        </div>

        <div class="card-body text-white">
          Please fill all fields below and click "Ok".
        </div>

        <div class="card-body">
          <gv-role
          [role]="roleToCreate"
          [pointTo]="'TeEnt'"
          [pkTargetClass]="pkTargetClass"
          [fkProperty]="fkProperty"
          [roleState]="'create'"
          (readyToCreate)="roleReadyToCreate($event)"
          (notReadyToCreate)="roleNotReadyToCreate()"
          ></gv-role>
        </div>

        <div class="card-body">
          <button
          [ngClass]="{disabled:(!isReadyToCreate)}"
          type="button" class="btn btn-primary"
          (click)="persistEntitiesToCreate()"
          >Ok</button>
          <button type="button" class="btn btn-link"
          (click)="cancelCreateNewRole()">Cancel</button>
        </div>

      </div>
    </span>



    <!--
    ************************* Create PeIt State ******************* -->

    <span *ngIf="propState === 'create-pe-it'">

      <div class="card gv-naming">

        <div class="card-body gv-property-section-header gv-to-te-ent d-flex flex-row">
          <div class="gv-label gv-flex-grow-1"> Create a {{roleLabelObj.sg}} </div>
        </div>

        <div class="card-body text-white">
          Please fill all fields below and click "Ok".
        </div>

        <div class="card-body">
          <gv-role
          [role]="roleToCreate"
          [pointTo]="'TeEnt'"
          [pkTargetClass]="pkTargetClass"
          [fkProperty]="fkProperty"
          [roleState]="'create'"
          (readyToCreate)="roleReadyToCreate($event)"
          (notReadyToCreate)="roleNotReadyToCreate()"
          ></gv-role>
        </div>

      </div>
    </span>

  </span>






  <!--
  ********************* Point to PeIt  **************************
  ***************************************************************
  (lower level)
  ***************************************************************
  *************************************************************** -->

  <span *ngIf="pointTo === 'PeIt'">

    <!--
    ************************* Edit State ************************* -->

    <span *ngIf="propState === 'edit'">

      <div class="card-body gv-property-section-header d-flex flex-row" [ngClass]="{'gv-to-te-ent': (pointTo==='TeEnt'), 'gv-to-pe-it': (pointTo==='PeIt')}">
        <div class="gv-label gv-flex-grow-1 gv-pointer" (click)="toggleCardBody()">
          <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
          {{roleLabel}}
          ({{roles.length}})
          <small class="align-self-center">
            <gv-dfh-id [property]="property"></gv-dfh-id>
          </small>
        </div>
        <button type="button" class="gv-edit-btn btn btn-link btn-sm" name="button" *ngIf="addButtonVisible">
          <i class="fa fa-plus"></i>
        </button>
      </div>


      <div [@slideInOut]="cardState">
        <div class="card-body" >
          <gv-role *ngFor="let role of roles"
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="'edit'"
          (readyToAdd)="onRoleReadyToAdd($event)"
          (appeChange)="emitAppeChange($event)"
          (onRequestStandard)="changeStandardRole($event)"></gv-role>
        </div>
      </div>
    </span>



    <!--
    ************************* Add-Pe-It State ************************* -->

    <span *ngIf="propState === 'add-pe-it'">

      <div class="card-body gv-property-section-header d-flex flex-row gv-to-pe-it">
        <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
        <button type="button" class="gv-edit-btn btn btn-link btn-sm" name="button" *ngIf="addButtonVisible">
          <i class="fa fa-plus"></i>
        </button>
      </div>


      <div class="card-body">
        <div *ngFor="let role of roles">
          <gv-role
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="propState"
          (appeChange)="emitAppeChange($event)"
          (readyToAdd)="onRoleReadyToAdd($event)"
          (onRequestStandard)="changeStandardRole($event)"></gv-role>
        </div>
      </div>

    </span>


    <!--
    ************************* Add State ************************* -->

    <span *ngIf="propState === 'add'">

      <div class="card-body gv-property-section-header d-flex flex-row gv-to-pe-it">
        <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
      </div>


      <div class="card-body">
        <div *ngFor="let role of roles">
          <gv-role
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="propState"
          (appeChange)="emitAppeChange($event)"
          (readyToAdd)="onRoleReadyToAdd($event)"
          (onRequestStandard)="changeStandardRole($event)"></gv-role>
        </div>
      </div>

    </span>


    <!--
    ************************* Create State ************************* -->

    <span *ngIf="propState === 'create'">
      <div class="card-body gv-property-section-header gv-to-pe-it d-flex flex-row">
        <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
      </div>

      <div class="card-body">
        <gv-role
        [role]="roleToCreate"
        [pointTo]="'PeIt'"
        [pkTargetClass]="pkTargetClass"
        [fkProperty]="fkProperty"
        [roleState]="'create'"
        (readyToCreate)="roleReadyToCreate($event)"
        (notReadyToCreate)="roleNotReadyToCreate()"></gv-role>
      </div>
    </span>

  </span>

</div>

