<form [formGroup]="formGroup" class="wrapper">

    <!-- Root segment (not part of the form value, only for display reasons) -->
    <div class="gv-query-path-segment">
        <mat-form-field>
            <mat-label>Classes</mat-label>
            <gv-class-and-type-select [formControl]="preselectedClasses"
                [disabled]="true" [pkClasses$]="pkClasses$"></gv-class-and-type-select>
            <mat-hint>Defined by row filter</mat-hint>
        </mat-form-field>
    </div>

    <div class="gv-query-path-segment" *ngFor="let segment of dynamicFormControls; let i = index; trackBy:getKey">
        <mat-icon>arrow_right_alt</mat-icon>
        <mat-form-field *ngIf="segment.type === 'properties'">
            <mat-label>Properties</mat-label>
            <gv-property-path-segment [index]="i" class="gv-grow-1 d-flex flex-column" [formControl]="segment.ctrl"
                [propertyOptions$]="segment.behaviorSubject" [disabled]="i < (dynamicFormControls.length-1)"
                (focus)="onFocus()" (blur)="onBlur()">
            </gv-property-path-segment>
            <mat-error *ngIf="segment.ctrl.invalid && segment.ctrl.touched">Select or remove.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="segment.type === 'classes'">
            <mat-label>Classes</mat-label>
            <gv-class-and-type-path-segment [index]="i" class="gv-grow-1 d-flex flex-column"
                [formControl]="segment.ctrl" [pkClasses$]="segment.behaviorSubject"
                [disabled]="i < (dynamicFormControls.length-1)" (focus)="onFocus()" (blur)="onBlur()">
            </gv-class-and-type-path-segment>
            <mat-error *ngIf="segment.ctrl.invalid && segment.ctrl.touched">Select or remove.</mat-error>
        </mat-form-field>

        <button class="gv-remove-query-path-segment" mat-icon-button (click)="removeSegmentByIndex(i)" color="warn"
            *ngIf="i > 0 && i === (dynamicFormControls?.length - 1)" matTooltip="Remove path segment">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <button class="my-3" mat-icon-button (click)="addSegment()" *ngIf="showAddBtn" matTooltip="Add path segment">
        <mat-icon>add</mat-icon>
    </button>

    <gv-geo-col-signal *ngIf="isGeo$ | async"></gv-geo-col-signal>

    <gv-time-col-signal *ngIf="isTemporal$ | async"></gv-time-col-signal>

    <!-- <div *ngIf="isE93Presence" matTooltip="Useful for visualisation on a Map">
        <mat-icon class="text-success">check</mat-icon> Geo-Column

    </div> -->

</form>