.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .gv-query-path-segment {
        display: flex;
        padding-right: .3rem;
        align-items: center;
    }
    .gv-remove-query-path-segment {
        margin-left: -10px !important;
        margin-top: 0px !important;
    }
}