<!-- 
<div>
    <input type="text" [value]="model?.foo" (input)="newFoo($event.target.value)" (blur)="onTouched()">


</div>     -->

<div class="wrapper">



    <div class="gv-query-path-segment" *ngFor="let segment of model; let i = index">
        <mat-icon>arrow_right_alt</mat-icon>

        <gv-property-path-segment [index]="i" class="d-flex flex-column" *ngIf="segment.type === 'properties'"
            [(ngModel)]="model[i]" [propertyOptions$]="getPropertyOptionsObservable(i)"
            [disabled]="i < (model.length-1)"></gv-property-path-segment>
        <gv-class-and-type-path-segment [index]="i" class="d-flex flex-column" *ngIf="segment.type === 'classes'"
            [(ngModel)]="model[i]" [pkClasses$]="getPkClassesObservable(i)"></gv-class-and-type-path-segment>

        <button class="gv-remove-query-path-segment" mat-icon-button (click)="removeSegmentByIndex(i)" color="warn"
            *ngIf="i > 0" matTooltip="Remove path segment">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <button class="gv-add-query-path-segment my-3" mat-icon-button (click)="addSegment()" matTooltip="Add path segment">
        <mat-icon>add</mat-icon>
    </button>

</div>
