<div class="loc-container" [ngClass]="{
  'mat-bg-primary-50':selected,
  'mat-bg-grey-100-on-hover':!selected
}">
  <div class="loc-first-line">
    <div class="loc-title mat-body-2">
      {{title}}
    </div>
    <mat-chip-listbox class="loc-meta" [matTooltip]="metaTooltipText">
      <mat-chip-option color="{{isInProject ? 'accent' : 'secondary'}}"
        [highlighted]="true">{{numberOfProject}}</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div class="loc-description mat-caption mat-text-secondary" [innerHTML]="composedDescription">
  </div>
  <div class="loc-footer">
    <button class="loc-footer-item" mat-button color=primary (click)="onToggleDetailsOfEntity(selected)">
      {{selected?'Hide':'Show'}} details
    </button>
    <div class="loc-footer-item" [matTooltip]="confirmBtnTooltip">
      <button mat-stroked-button color=primary [disabled]="confirmBtnDisabled"
        (click)="onConfirm()">{{confirmBtnText}}</button>
    </div>
  </div>
</div>