<as-split class="gv-split-style" [ngClass]="{'gv-hide-split-gutter': t.layoutMode!=='both'}" [direction]="'horizontal'"
  [gutterSize]="1" [useTransition]="t.useTransition" (dragEnd)="t.onResizeArea($event)">

  <!-------------------------------------------------------------------
       Left
    -------------------------------------------------------------------->
  <as-split-area [size]="t.splitSizeLeft" class="gv-flex-fh">

    <gv-detail-top-bar height="5rem" [openRightAreaBtn]="t.layoutMode=='left-only'"
      [closeLeftAreaBtn]="t.layoutMode=='both'" (closeLeft)="t.setLayoutMode('right-only')"
      (openRight)="t.setLayoutMode('both');">

      <gv-entity-card-header (removed)="closeTab()" [readmode$]="readmode$" [showOntoInfo$]="showOntoInfo$"
        [fkClass$]="fkClass$" [pkEntity]="pkEntity">
      </gv-entity-card-header>
    </gv-detail-top-bar>
    <gv-detail-content>

      <gv-view-field-has-value-version class="gv-flex-fh" *ngIf="(scope$|async) && (hasValueVersionField$|async)"
        [field]="hasValueVersionField$|async" [scope]="scope$|async" [source]="source" [showOntoInfo$]="showOntoInfo$"
        [readmode$]="readmode$">
      </gv-view-field-has-value-version>

    </gv-detail-content>
  </as-split-area>

  <!-------------------------------------------------------------------
      Right
    -------------------------------------------------------------------->
  <as-split-area [size]="t.splitSizeRight" class="gv-flex-fh">
    <gv-right-panel-btn (click)="t.onRightBtnClick()"> </gv-right-panel-btn>

    <mat-tab-group mat-stretch-tabs class="loc-tabs-right gv-flex-fh">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="loc-tab">
            <mat-icon [svgIcon]="'comment-quote-outline'"></mat-icon>
            Annotations
          </div>
        </ng-template>
        <div class="gv-flex-fh">
          <div class="mat-typography mat-bg-grey-100 gv-section-header">
            Annotations
          </div>
          <mat-divider></mat-divider>
          <div class="gv-scroll-y-auto">
            <gv-view-field-annotations *ngIf="(scope$|async) && (fkClass$|async)" [scope]="scope$|async"
              [pkClass]="fkClass$|async" [showOntoInfo$]="showOntoInfo$" [readmode$]="readmode$" [source]="source">
            </gv-view-field-annotations>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="loc-tab">
            <mat-icon>view_list</mat-icon>
            Fields
          </div>
        </ng-template>
        <gv-view-sections *ngIf="scope$|async" [scope]="scope$|async" [source]="source" [pkClass$]="fkClass$"
          [showOntoInfo$]="showOntoInfo$" [readmode$]="readmode$">
        </gv-view-sections>
      </mat-tab>

    </mat-tab-group>

  </as-split-area>
</as-split>
