<gv-slider class="gv-fh" [slide]="selectedPkEntity ? 'right' : 'left'">

  <!-- Slide 1: header -->
  <div left-header class="mat-h2 loc-slider-header">
    Create a new {{classLabel$|async}}
  </div>

  <!-- Slide 1: body -->
  <div left-body class="gv-flex-fh gv-ovf-auto">
    <gv-form-create-entity [pkClass]="classAndTypePk.pkClass" [hideTitle]="true" [hideButtons]="true"
      (cancel)="closeAddForm()" (saved)="onCreated($event)" (searchString)="searchStringChange($event)" #f>
    </gv-form-create-entity>
  </div>

  <!-- Slide 1: footer -->
  <div left-footer class="loc-slider-footer mt-3">
    <div class="gv-col-space-between">
      <button mat-flat-button color="primary"
        [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="f?.submit()">
        <span *ngIf="!f?.saving">Create</span>
        <div *ngIf="f?.saving" style="margin: 6px;">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
      </button>
    </div>
    <div class="gv-col-space-between">
      <button mat-button type="button" class="ml-2 mr-2" (click)="closeAddForm()">Cancel</button>
    </div>
  </div>

  <!-- Slide 2: header -->
  <div center-header class="loc-slider-header mat-h2">
    ... or choose an existing {{classLabel$|async}}
  </div>

  <!-- Slide 2: body -->
  <div center-body class="gv-fh gv-col-start">
    <gv-search-existing-entity [pkClass]="classAndTypePk.pkClass" [searchString$]="searchString$"
      [mode]="selectedPkEntity ? 'searchAndBack' : 'filtered'" (onMore)="onMoreClick($event)" (onBack)="onBackClick()">
    </gv-search-existing-entity>
  </div>

</gv-slider>

<!-- <h1 mat-dialog-title class="gv-aoc-container">
  <div class="gv-aoc-left">
    Create a new {{classLabel$|async}}
  </div>
</h1>
<div mat-dialog-content class="gv-aoc-container">
  <div class="gv-aoc-left gv-flex-fh">
    <gv-form-create-entity class="gv-flex-fh gv-aoc-scroll" [pkClass]="classAndTypePk.pkClass" [hideTitle]="true"
      [hideButtons]="true" (cancel)="closeAddForm()" (saved)="onCreated($event)"
      (searchString)="searchStringChange($event)" #f>
    </gv-form-create-entity>
    <mat-divider></mat-divider>
  </div>
  <div class="gv-aoc-center">
    <mat-divider [vertical]="true"></mat-divider>
  </div>
  <div class="gv-aoc-right gv-flex-fh">
    <gv-search-existing-entity class="gv-flex-fh gv-aoc-scroll" [pkClass]="classAndTypePk.pkClass"
      [searchString$]="searchString$" (onMore)="onMoreClick($event)">
    </gv-search-existing-entity>
    <mat-divider></mat-divider>
  </div>

</div>
<div mat-dialog-actions class="gv-aoc-container">
  <div class="gv-aoc-left">

    <button mat-flat-button color="primary"
      [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="f?.submit()">
      <span *ngIf="!f?.saving">Create</span>
      <div *ngIf="f?.saving" style="margin: 6px;">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </button>

    <button mat-button type="button" class="ml-2" (click)="f?.cancel.emit()">Cancel</button>
  </div>
  <div class="gv-aoc-center">

  </div>
  <div class="gv-aoc-right">

  </div>
</div> -->