.loc-slider-header {
  flex: 0 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loc-slider-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loc-slider-footer {
  flex: 0 0 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}