<div class="gv-edit-panel-header">

  <section class="row">
    <div class="col-md-8">
      <h2><i class="gv-icon-information-simple text-primary"></i> Data Units</h2>
    </div>
    <div class="col-md-4">
      <div class="btn-group float-right mt-2" role="group">
        <button class="btn btn-link btn-md" (click)="openEntityModal()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add an entity
        </button>
      </div>
    </div>
  </section>
</div>

<div class="gv-edit-panel-body">
  <div class="row mt-1">
    <div class="col">
      <div class="gv-search">
        <form (ngSubmit)="searchStringChange()">
          <div class="input-group">
            <input type="text" name="searchString" class="form-control" aria-describedby="search"  autocomplete="off" placeholder="Search …" [(ngModel)]="searchString">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
        <ul class="nav gv-search-filter">
          <li class="nav-item">
            <button class="btn btn-sm btn-link nav-link">[All]</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-link nav-link active">Entities</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-link nav-link">[Phenomena]</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col">
      <div class="gv-search-hits-count mt-2">
        <span  *ngIf="collectionSize > limit">
          {{hitsFrom()}}-{{hitsTo()}} of
        </span>
        {{collectionSize | number}} {{(collectionSize == 1 ? 'result' : 'results')}}
      </div>
    </div>
  </div>

  <gv-loading-spinner [loading]="loading"></gv-loading-spinner>

  <div class="row mt-2"  *ngIf="!loading">
    <div class="col">
      <div class="gv-search-hits">
        <gv-entity-search-hit *ngFor="let hit of persistentItems" [persistentItem]="hit" (onOpen)=openEntity($event)></gv-entity-search-hit>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <ngb-pagination *ngIf="collectionSize > limit" [maxSize]="5"
        [collectionSize]="collectionSize" [(page)]="page"
        [pageSize]="limit" (pageChange)="pageChange()"
        aria-label="Default pagination"></ngb-pagination>
      </div>
    </div>
  </div>

