<span *ngIf="!isCircular">

  <div class="card-body gv-name-section-header d-flex flex-row">
    <div class="gv-label gv-flex-grow-1"> {{roleLabel}} </div>
    <small>{{fkProperty}}</small>
    <button type="button" class="gv-edit-btn btn btn-link btn-sm" name="button" (click)="editLanguage()" *ngIf="editBtnVisible">
      <i class="fa fa-edit"></i> Edit
    </button>
  </div>


  <div class="card-body">
    <div *ngFor="let role of roles">
      <gv-role [role]="role" [pointTo]="pointTo" [parentComponent]="thisComponent"></gv-role>
    </div>
  </div>

  <div class="card-footer gv-naming" *ngIf="addButtonVisible">
    <div class="btn btn-block btn-secondary" (click)="addRole()">
      Add a {{roleLabelSingular}}…
    </div>
  </div>

</span>

