:host {
  width: 100%;
}
.ctrl-text {
  flex: 1 1 auto;
}

.second-line {
  display: flex;
  flex-direction: row;

  mat-form-field ~ mat-form-field {
    margin: 0 0 0 1rem;
  } 
  mat-form-field {
    ::ng-deep .mat-form-field-infix {
      width: unset;
    }
  }


  .ctrl-lang,  .ctrl-type {
    display: inline;
  }

  
  mat-form-field {
    ::ng-deep .mat-form-field-infix {
      width: unset;
    }
    flex: 1 1 0%;
  }
}

.ctrl-language {
  flex: 0 0 80px;
}