<!-- <div class="btn-group d-flex flex-row">
    <h5 class="bg-transparent d-flex py-2 align-items-center gv-grow-1">
        When
    </h5>
    <div class="gv-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="(showOntoInfo$|async)">
        <div class="align-self-center">
            <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/50" target="_blank">
                E52
            </a>
        </div>
    </div>
</div> -->

<gv-field-header [label$]="label$" [showOntoInfo$]="showOntoInfo$" [toggle$]="toggle$"
[removePropertyFieldBtnVisible]="false" [addButtonVisible]="false"
(toggleCardBody)="toggleCardBody()"></gv-field-header>


<div [@slideInOut]="(toggle$|async)">

    <!-- Empty existence time -->
    <div class="d-flex" *ngIf="isEmpty">


        <div class="btn-toolbar mb-2 gv-grow-1" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2 mt-2" role="group" aria-label="Add one date">
                <button class="btn btn-primary " (click)="openModal('one-date')">Add one date</button>
            </div>
            <div class="btn-group mr-2 mt-2" role="group" aria-label="Add begin and end">
                <button class="btn btn-primary " (click)="openModal('begin-end')">Add begin and end</button>
            </div>
            <div class="btn-group mt-2" role="group" aria-label="Advanced mode">
                <button class="btn btn-outline-primary" (click)="openModal('advanced')">Advanced</button>
            </div>
        </div>

        <button class="btn btn-sm btn-link" (click)="doRemovePropSet()">
            <i class="fa fa-trash"></i>
        </button>
    </div>

    <!-- Hase some value -->
    <div class="list-group-item pr-0 d-flex" *ngIf="!isEmpty">
        <div class="gv-grow-1">
            <!-- At some time within -->
            <div class="d-flex align-items-center" *ngIf="(_fields?._72_outgoing)">
                <div *ngIf="(_fields | keys).length > 1">At some time within:</div>

                <gv-ex-time-property-field-editable [parentPath]="basePath" [index]="'_72_outgoing'"></gv-ex-time-property-field-editable>

            </div>

            <!-- Begin of begin -->
            <div class="d-flex align-items-center" *ngIf="(_fields?._152_outgoing)">
                <div>Earliest possible begin:</div>

                <gv-ex-time-property-field-editable [parentPath]="basePath" [index]="'_152_outgoing'"></gv-ex-time-property-field-editable>

            </div>

            <!-- End of end -->
            <div class="d-flex align-items-center" *ngIf="(_fields?._153_outgoing)">
                <div>Latest possible end:</div>

                <gv-ex-time-property-field-editable [parentPath]="basePath" [index]="'_153_outgoing'"></gv-ex-time-property-field-editable>

            </div>

            <!-- Ongoing throughout -->
            <div class="d-flex align-items-center" *ngIf="(_fields?._71_outgoing)">
                <div>Ongoing throughout:</div>

                <gv-ex-time-property-field-editable [parentPath]="basePath" [index]="'_71_outgoing'"></gv-ex-time-property-field-editable>

            </div>

            <!-- End of begin -->
            <div class="d-flex align-items-center" *ngIf="(_fields?._150_outgoing)">

                <div>Begin:</div>

                <gv-ex-time-property-field-editable [parentPath]="basePath" [index]="'_150_outgoing'"></gv-ex-time-property-field-editable>

            </div>


            <!-- Begin of end -->
            <div class="d-flex align-items-center" *ngIf="(_fields?._151_outgoing)">

                <div>End:</div>

                <gv-ex-time-property-field-editable [parentPath]="basePath" [index]="'_151_outgoing'"></gv-ex-time-property-field-editable>

            </div>

        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
                <button class="btn btn-link no-caret" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
                    <button class="dropdown-item" (click)="openModal()">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>