<div class="gv-flex-fh mat-typography">
  <as-split class="gv-split-style" [ngClass]="{'gv-hide-split-gutter': t.layoutMode!=='both'}"
    [direction]="'horizontal'" [gutterSize]="1" [useTransition]="t.useTransition" (dragEnd)="t.onResizeArea($event)">

    <!-------------------------------------------------------------------
       Left area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeLeft" class="d-flex flex-column">

      <gv-detail-top-bar height="5rem" [openRightAreaBtn]="t.layoutMode=='left-only'"
        (openRight)="t.setLayoutMode('both')" *ngIf="(showHeader$ | async)">


        <gv-entity-card-header (removed)="close.emit()" [readonly$]="readonly$" [showOntoInfo$]="showOntoInfo$"
          [fkClass$]="fkClass$" [pkEntity]="pkEntity">
        </gv-entity-card-header>
      </gv-detail-top-bar>
      <gv-detail-content>



        <span class="gv-tile" *ngIf="(showProperties$ | async)">

          <div class="gv-tile-body">

            <gv-view-sections *ngIf="scope$|async" [scope]="scope$|async" [source]="source" [pkClass$]="fkClass$"
              [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$">
            </gv-view-sections>

          </div>

        </span>


      </gv-detail-content>
    </as-split-area>

    <!-------------------------------------------------------------------
      Right area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeRight" class="gv-split-area" [ngClass]="{
        'd-flex flex-column': t.layoutMode!=='left-only',
        'd-none': t.layoutMode=='left-only'
      }">
      <button matRipple class="gv-split-area-toggle-button align-left mat-border-right mat-border-bottom"
        (click)="rightArrowClick()">
        <mat-icon aria-label="Close right area">chevron_right</mat-icon>
        <div class="gv-focus-overlay"></div>
      </button>

      <mat-tab-group class="gv-panel-top-bar-tabs gv-flex-fh" [selectedIndex]="rightPanelActiveTab$|async">
        <ng-container *ngFor="let tab of rightPanelTabs$|async">
          <mat-tab *ngIf="tab == 'content-tree'" label="Sections & Digital Reproductions">
            <ng-template matTabContent>
              <gv-content-tree class="gv-tile gv-flex-fh" [pkEntity$]="pkEntity$" [fkClass$]="fkClass$">
              </gv-content-tree>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="tab == 'linked-sources'">
            <ng-template mat-tab-label>
              <i style="font-size: 22px; margin-right: 6px;"
                class="entity-icon gv-icon gv-icon-source gv-source-color"></i>
              Linked Sources
            </ng-template>

            <mat-tab-group class="gv-slim-tabs gv-flex-fh">
              <mat-tab label="Is mentioned in">
                <gv-ram-list [pkEntity]="pkEntity$|async" [fkProperty]="1218" [annotatedIn]="'sources'">
                </gv-ram-list>
              </mat-tab>

              <mat-tab label="Is topic of">
                <gv-ram-list [pkEntity]="pkEntity$|async" [fkProperty]="117" [annotatedIn]="'sources'">
                </gv-ram-list>
              </mat-tab>
            </mat-tab-group>

          </mat-tab>
          <mat-tab *ngIf="tab == 'linked-digitals'">
            <ng-template mat-tab-label>
              <mat-icon svgIcon="file" class="gv-digital-color"></mat-icon>
              Annotated Digitals
            </ng-template>
            <mat-tab-group class="gv-slim-tabs gv-mat-tabs-shrink gv-flex-fh">
              <mat-tab label="Texts">
                <gv-ram-list [pkEntity]="pkEntity$|async" [fkProperty]="1334" [annotatedIn]="'digital-text'">
                </gv-ram-list>
              </mat-tab>
              <mat-tab label="Tables">
                <gv-ram-list [pkEntity]="pkEntity$|async" [fkProperty]="1334" [annotatedIn]="'digital-tables'"
                  [disableAddBtn]="true">
                </gv-ram-list>
              </mat-tab>
              <mat-tab label="Images">
                <p class="p-3">
                  Coming soon...
                </p>
              </mat-tab>
            </mat-tab-group>

          </mat-tab>

          <mat-tab *ngIf="tab == 'linked-digitals'">
            <ng-template mat-tab-label>
              <mat-icon svgIcon="alpha-f-box-outline" class="gv-digital-color"></mat-icon>
              Factoids
            </ng-template>

            <gv-factoid-list [pkEntity]="pkEntity$|async"></gv-factoid-list>

          </mat-tab>
        </ng-container>

      </mat-tab-group>


    </as-split-area>
  </as-split>
</div>
