.gv-pe-it-title {
  background-color: unset;
  height: 3rem;
  border-bottom: 0px solid !important;
  display: flex;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}