.gv-pe-it-title {
  background-color: unset;
  height: 3rem;
  border-bottom: 0px solid !important;
  display: flex;
}

.summary {
  display: flex;
  padding: 1rem;
  width: 100%;
}
.summary  {
  .summary-icon {
    display: flex;
    flex: 0 0 70px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 60px;
    opacity: 0.3;
    > mat-icon {
      font-size: 60px;
    }
  }
  .summary-texts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 0;
    overflow: hidden;
    .summary-entity-label {
      margin: 0 0 4px;
    }
  }
  .summary-button {
    margin-right: -1rem;
    margin-top: -1rem;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
