<gv-tab-layout class="gv-flex-fh">

  <gv-entity-card-header layout-top class="gv-flex-fh" (removed)="closeTab()" [showOntoInfo$]="showOntoInfo$"
    [fkClass$]="fkClass$" [pkEntity]="pkEntity">
  </gv-entity-card-header>

  <div layout-left class="gv-flex-fh">
    <div class="loc-white-spacer mat-bg-white"></div>
    <mat-divider></mat-divider>
    <gv-view-sections class="gv-scroll-y-auto" *ngIf="scope$|async" [scope]="scope$|async" [source]="source"
      [pkClass$]="fkClass$" [showOntoInfo$]="showOntoInfo$">
    </gv-view-sections>
  </div>

  <div layout-right class="gv-flex-fh">

    <mat-tab-group [disablePagination]="true" mat-stretch-tabs class="gv-flex-fh gv-tab-group-sm mat-bg-white">

      <mat-tab *ngIf="tab.data.showContentTree">
        <ng-template mat-tab-label>
          <mat-icon [svgIcon]="'file-tree'"></mat-icon>
          has content
        </ng-template>
        <gv-content class="gv-flex-fh" *ngIf="(scope$|async)" [scope]="scope$|async" [source]="source"
          [pkClass$]="fkClass$" [showOntoInfo$]="showOntoInfo$" [section]=linkedSources [showEmptyFieldsOnInit]="true">
        </gv-content>
      </mat-tab>

      <mat-tab *ngIf="tab.data.showFactoids">
        <ng-template mat-tab-label>
          <mat-icon svgIcon="alpha-f-box-outline" class="gv-entities-primary-color"></mat-icon>
          has factoids
        </ng-template>
        <gv-factoid-list [pkEntity]="pkEntity$|async"></gv-factoid-list>
      </mat-tab>


      <mat-tab *ngIf="tab.data.showLinkedEntities">
        <ng-template mat-tab-label>
          <mat-icon [svgIcon]="'link'" [color]="'primary'"></mat-icon>
          linked entities
        </ng-template>
        <gv-view-section *ngIf="(scope$|async)" [scope]="scope$|async" [source]="source" [pkClass$]="fkClass$"
          [showOntoInfo$]="showOntoInfo$" [section]=linkedEntities [showEmptyFieldsOnInit]="true"
          [hideEmptySectionInReadmode]="false">
          <span title>Linked entities</span>
        </gv-view-section>
      </mat-tab>

    </mat-tab-group>
  </div>
</gv-tab-layout>
<!-- <div class="gv-flex-fh mat-typography">
  <as-split class="gv-split-style" [ngClass]="{'gv-hide-split-gutter': t.layoutMode!=='both'}"
    [direction]="'horizontal'" [gutterSize]="1" [useTransition]="t.useTransition"
    (dragEnd)="onSplitAreaDragEnd($event)">

    <as-split-area [size]="t.splitSizeLeft" class="d-flex flex-column">

      <gv-detail-top-bar height="5rem" [openRightAreaBtn]="t.layoutMode=='left-only'"
        [closeLeftAreaBtn]="t.layoutMode=='both'" (closeLeft)="t.setLayoutMode('right-only')"
        (openRight)="t.setLayoutMode('both')">


        <gv-entity-card-header (removed)="closeTab()" [showOntoInfo$]="showOntoInfo$" [fkClass$]="fkClass$"
          [pkEntity]="pkEntity">
        </gv-entity-card-header>
      </gv-detail-top-bar>
      <gv-detail-content>



        <span class="gv-tile">

          <div class="gv-tile-body">
            <gv-view-sections *ngIf="scope$|async" [scope]="scope$|async" [source]="source" [pkClass$]="fkClass$"
              [showOntoInfo$]="showOntoInfo$">
            </gv-view-sections>

          </div>

        </span>


      </gv-detail-content>
    </as-split-area>

    <as-split-area [size]="t.splitSizeRight" class="gv-split-area" [ngClass]="{
        'd-flex flex-column': t.layoutMode!=='left-only'
      }">
      <gv-right-panel-btn (click)="t.onRightBtnClick()"> </gv-right-panel-btn>
      <mat-tab-group mat-stretch-tabs class="loc-tabs-right gv-flex-fh">

        <mat-tab *ngIf="tab.data.showContentTree">
          <ng-template mat-tab-label>
            <div class="loc-tab">
              <mat-icon [svgIcon]="'file-tree'"></mat-icon>
              has content
            </div>
          </ng-template>
          <gv-content class="gv-flex-fh" *ngIf="(scope$|async)" [scope]="scope$|async" [source]="source"
            [pkClass$]="fkClass$" [showOntoInfo$]="showOntoInfo$" [section]=linkedSources
            [showEmptyFieldsOnInit]="true">
          </gv-content>
        </mat-tab>

        <mat-tab *ngIf="tab.data.showFactoids">
          <ng-template mat-tab-label>
            <div class="loc-tab">
              <mat-icon svgIcon="alpha-f-box-outline" class="gv-entities-primary-color"></mat-icon>
              has factoids
            </div>
          </ng-template>
          <gv-factoid-list [pkEntity]="pkEntity$|async"></gv-factoid-list>
        </mat-tab>


        <mat-tab *ngIf="tab.data.showLinkedEntities">
          <ng-template mat-tab-label>
            <div class="loc-tab">
              <mat-icon [svgIcon]="'link'" [color]="'primary'"></mat-icon>
              linked entities
            </div>
          </ng-template>
          <gv-view-section *ngIf="(scope$|async)" [scope]="scope$|async" [source]="source" [pkClass$]="fkClass$"
            [showOntoInfo$]="showOntoInfo$" [section]=linkedEntities [showEmptyFieldsOnInit]="true"
            [hideEmptySectionInReadmode]="false">
            <span title>Linked entities</span>
          </gv-view-section>

        </mat-tab>

      </mat-tab-group>


    </as-split-area>
  </as-split>
</div> -->
