<h2>
  Classes
</h2>
<p>
  All Classes.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">dfh_pk_class</th>
      <th scope="col">dfh_standard_label</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (items$ | async) | keys">
      <td>{{item.value.dfh_pk_class}}</td>
      <td>{{item.value.dfh_standard_label}}</td>
      <td>
        <a class="nav-link" routerLink="/admin/classes/{{item.value.dfh_pk_class}}" routerLinkActive="active">Details</a>
      </td>
    </tr>
  </tbody>
</table>