<!-- Header -->

<gv-tile-header (close)="close.emit()">
  <span title>

    <div *ngIf="(mentioningListType$|async) === 'ofSource' || (mentioningListType$|async) === 'ofSection'" class="gv-grow-1">
      <!-- <i class="fa fa-fw gv-icon gv-icon-information-simple"></i> -->
      <span>Mentioned Entities</span>
    </div>

    <div *ngIf="(mentioningListType$|async) === 'ofEntity'" class="gv-grow-1">
      <!-- <i class="fa fa-fw gv-icon gv-icon-source"></i> -->
      <span>Sources & Annotations</span>
    </div>

  </span>
  <span buttons>
    <button class="btn btn-sm btn-link" (click)="startCreate()">
      <i class="fa fa-plus"></i> Add
    </button>
  </span>
</gv-tile-header>


<!-- List -->

<div class="gv-tile-body" *ngIf="!(create$ |async)">
  <ngx-table *ngIf="data.length" class="sticky-header" [configuration]="tableConfiguration" [data]="data" [columns]="columns">
    <ng-template let-row let-index="index">
      <td *ngIf="checkedCols.has('mentionedEntityString')" [ngClass]="{'gv-bg-highlight': row.isFocusedInText, 'gv-bg-highlight-2': row.isFocusedInTable}"
        [ngStyle]="{'flex-basis': checkedCols.get('mentionedEntityString').width}" (click)="onRowClicked(row)">
        <gv-leaf-pe-it-view *ngIf="row.mentionedEntity?.pk_entity" [pkEntity]="row.mentionedEntity.pk_entity"></gv-leaf-pe-it-view>
      </td>

      <td *ngIf="checkedCols.has('sourceEntityString')" [ngClass]="{'gv-bg-highlight': row.isFocusedInText, 'gv-bg-highlight-2': row.isFocusedInTable}"
        [ngStyle]="{'flex-basis': checkedCols.get('sourceEntityString').width}" (click)="onRowClicked(row)">
        <gv-leaf-pe-it-view *ngIf="row.sourceEntity?.pk_entity" [pkEntity]="row.sourceEntity.pk_entity" [openIn]="'source'"></gv-leaf-pe-it-view>
      </td>

      <td *ngIf="checkedCols.has('sectionEntityString')" [ngClass]="{'gv-bg-highlight': row.isFocusedInText, 'gv-bg-highlight-2': row.isFocusedInTable}"
        [ngStyle]="{'flex-basis': checkedCols.get('sectionEntityString').width}" (click)="onRowClicked(row)">
        <gv-leaf-pe-it-view *ngIf="row.sourceEntity?.pk_entity && row.sectionEntity?.pk_entity" [pkEntity]="row.sectionEntity.pk_entity"
          [sectionParentPk]="row.sourceEntity.pk_entity" [openIn]="'section'"></gv-leaf-pe-it-view>
      </td>

      <td *ngIf="checkedCols.has('chunkEntityString')" [ngClass]="{'gv-bg-highlight': row.isFocusedInText, 'gv-bg-highlight-2': row.isFocusedInTable}"
        [ngStyle]="{'flex-basis': checkedCols.get('chunkEntityString').width}" (click)="onRowClicked(row)">
        <i>"{{row.chunkEntityString}}"</i>
      </td>
    </ng-template>
  </ngx-table>

  <i class="alert alert-light" *ngIf="!data.length && (mentioningListType$|async) === 'ofSource'">
    <p>Add links between this Source and Entities (right side panel).</p>
    <p>By creating such links, you state what Entities are mentioned in this Source.</p>
    <p>To add links to more specific sections of this source (e.g. a page or even words in a transctiption), use
      «Sections and digital reproductions».</p>

  </i>

  <i class="alert alert-light" *ngIf="!data.length && (mentioningListType$|async) === 'ofSection'">
    <p>Add links between this Section and Entities (right side panel).</p>
    <p>By creating such links, you state what Entities are mentioned in this Section.</p>

    To annotate an Entity in a transcription of this section:
    <ol>
      <li>Go to «Digital reproductions -> Text»</li>
      <li>Select some word(s) </li>
      <li>click on annotate.</li>
    </ol>

    Soon you will be able to link Entities with:
    <ul>
      <li>Cells of tables.</li>
      <li>Spots in images.</li>
    </ul>
  </i>
  <i class="alert alert-light" *ngIf="!data.length && (mentioningListType$|async) === 'ofEntity'">
    Link this Entity with
    <ul>
      <li>Sources (Books, Articles, Manuscripts, etc.), or</li>
      <li>Sections (Pages, Chapters, Sheets, etc.).</li>
    </ul>
    By creating such links, you state in where the Entity is mentioned.
  </i>
</div>

<!-- Create -->

<div class="gv-tile-body" *ngIf="(create$ |async)">

  <form [formGroup]="formGroup" class="gv-grow-1">

    <gv-mentioning-create-ctrl formControlName="mentioningCreateCtrl" [mentionedEntity]="(mentionedEntity$|async)"
      [sourceEntity]="(sourceEntity$|async)" [sectionEntity]="(sectionEntity$|async)" [chunkEntity]="(chunkEntity$|async)"></gv-mentioning-create-ctrl>

    <button class="btn btn-primary mt-3 mr-2" type="submit" [disabled]="formGroup.invalid" (click)="submit()">
      Create
    </button>

    <button class="btn btn-secondary mt-3" type="button" (click)="stopCreate()">
      Cancel
    </button>

  </form>

</div>