.gv-search-hit{
  margin-bottom: 1.5rem;
  .gv-search-hit-is-in-project{
    font-size: $font-size-sm;
    margin-left: 1rem;
    color: theme-color("success");
  }
  .gv-search-hit-project-count{
    font-size: $font-size-sm;
    margin-left: 1rem;
    color: theme-color("secondary");
  }
  .gv-search-hit-header{
  }
  .gv-search-hit-body{
    font-size: $font-size-sm;
    .gv-search-hit-property b {
      color: theme-color("success");
    }
    .gv-search-hit-property:not(:first-child){

    }
    .gv-search-hit-property:not(:first-child)::before{
      content: "•";
      margin-left: .4rem;
      margin-right: .4rem;
    }
  }
}