.gv-nv-spacer {
  flex: 1 1 auto;
}

#userIconBig {
  font-size: 3rem;
  margin-top: 1rem;
}

.gv-nv-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0.25rem;
  clear: both;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.mat-toolbar-row {
  padding-right: 40px;
}

.gv-nv-item {
  margin-right: 0.3rem;
}

.gv-nv-feedback-btn {
  margin-right: 2.4rem;
}

.account-email {
  padding: 0.5rem 0.5rem;
}
