<div class="mb-3">
  <gv-property-field-header [property$]="property$" [label$]="label$" (startAddingRole)="startCreateRole()"
    [showOntoInfo$]="showOntoInfo$" [removePropertyFieldBtnVisible]="removePropertyFieldBtnVisible"></gv-property-field-header>

  <!-- If no roles in Project, show a big add button -->
  <div *ngIf="!((_role_list$ | async) | keys).length && addButtonVisible">
    <button class="btn btn-outline-primary" (click)="startCreateRole()">
      Add a {{(label$ | async)?.sg}}
    </button>
    <button class="btn btn-link pull-right" (click)="removePropertyField()">
      Cancel
    </button>
  </div>


  <form [formGroup]="formGroup" *ngIf="formGroup">

    <div *ngFor="let entry of (_role_list$ | async) | keys; trackBy:getKey" class="d-flex">

      <gv-te-ent-role-create-ctrl class="gv-grow-1 align-self-center" *ngIf="formGroup.get(entry.key)" [parentPath]="basePath"
        [index]="entry.key" intermediatePathSegment="_role_list" [formControlName]="entry.key" (touched)="markAsTouched()"></gv-te-ent-role-create-ctrl>

      <!-- No not show button if not a identifiable Role. (Identity Rules) -->
      <button type="button" class="btn btn-sm btn-link align-self-center" (click)="cancelCreateRole(entry.key)" *ngIf="!entry.value.isCircular && !(property$ | async)?.identity_defining">
        <i class="fa fa-trash"></i>
      </button>

    </div>
  </form>

</div>