.gv-edit{
  min-width: 64rem;
  gv-project-edit-panel{
    position: 'relative';
    gv-proxy-route,
    gv-entity-editor,
    gv-entity-editor > div,
    gv-entity-editor > div > div,
    gv-entity-editor gv-pe-it,
    gv-entity-editor gv-pe-it > div,
    gv-entity-editor gv-pe-it > div > div,
    gv-entity-editor gv-pe-it > div > div > div,
    gv-entity-editor gv-pe-it-entity,
    gv-entity-editor gv-pe-it-entity > div,
    gv-entity-editor gv-pe-it-entity > div > div,
    gv-project-entities,
    gv-source,
    gv-project-sources,
    div[body] {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  .gv-edit-panel{
    height: calc(100vh - 56px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;

    position: relative;
    width: 100%;
    min-height: 1px;

    .gv-back-btn {
      position: absolute;
    }
    .gv-edit-panel-header {
      flex-grow: 0;
      margin: 3rem 0 1.5rem 0;
      padding-right: 15px;
      padding-left: 15px;
    }
    .gv-edit-panel-body {
      overflow-y: auto;
      padding-right: 15px;
      // margin-right: 10px;
      padding-left: 15px;
      .card.gv-naming,
      .card.gv-role-set-list {
        margin-bottom: .5rem;
      }
    }
  }
  .gv-edit-panel-expand-btn {
    height: calc(100vh - 56px);
    padding: .3rem;
    i {
      font-size: 1.5rem;
    }
    .gv-rotate-text-90 {
      transform: rotate(90deg);
      position: absolute;
      transform-origin: left;
      /* left: 1.1rem; */
      margin: -0.8rem 0.8rem;
    }
  }

  #sources{
    .gv-edit-panel-close {
      position: absolute;
      right: 0;
      top: 0;
    }
    left:0;
  }
  #sources{
    .gv-edit-panel[gv-state="s50"]{
      border-right: 1px solid theme-color("secondary");
    }
    .gv-edit-panel[gv-state="s100"]{
      padding-right: 2rem;
    }
    .gv-edit-panel-expand-btn {
      border-right: 1px solid theme-color("secondary");
    }
  }

  #information{
    .gv-edit-panel-close {
      position: absolute;
      right: 0;
      top: 0;
    }
    right:0;
    .gv-edit-panel[gv-state="s100"]{
      padding-left: 2rem;
    }
    .gv-edit-panel-expand-btn {
      border-left: 1px solid theme-color("secondary");
    }
  }
}