// List item representing one Name Part or one Property Alternative
.gv-name-part {
  .gv-label {
    flex-grow: 1;
    .gv-edit-btn {
      display: none;
    }
    .gv-separator-token{
      display: inline-block;
      float: left;
      min-width: 0.9rem;
      margin-right: 0.3rem;
      .gv-token-top {
        text-align: center;
        border: 1px dashed theme-color("secondary");
      }
    }
    .gv-name-part-token {
      display: inline-block;
      margin-right: 0.3rem;
      .gv-token-top {
        margin-bottom: 0.3rem;
        word-break: break-all;
      }
      .gv-token-bottom {
        font-size: $font-size-sm;
        font-style: italic;
        color: theme-color("secondary");
      }

    }
  }

  .gv-revisions{
    font-size: $font-size-sm;
  }
}
