<div class="gv-search-hit">
  <div class="gv-search-hit-header">
    <div class="d-flex">
      <div class="gv-grow-1">
        <gv-entity-preview [preview]="entityPreview" [dragEnabled]="false"></gv-entity-preview>
      </div>
      <div class="d-flex">
        <div class="gv-search-hit-is-in-project" *ngIf="isInProject">
          Already in your project
        </div>
        <div class="gv-search-hit-project-count text-right">
          <i class="fa fa-check"></i> {{projectsCount}} {{projectsCount === 1 ? 'project' : 'projects'}}
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="gv-grow-1">
      <div class="gv-search-hit-body text-muted">
        <i class="gv-search-hit-property" [innerHtml]="hit.full_text_headline">
        </i>
      </div>
    </div>
    <div *ngIf="!selectRoleRange">
      <button type="button" name="button" (click)="open()" class="btn btn-primary btn-sm" *ngIf="isInProject">Open</button>
      <button type="button" name="button" (click)="add()" class="btn btn-primary btn-sm" *ngIf="!isInProject">Add ...</button>
    </div>
    <div *ngIf="selectRoleRange">
      <button type="button" name="button" (click)="open()" class="btn btn-primary btn-sm" *ngIf="isInProject">Select</button>
      <button type="button" name="button" (click)="add()" class="btn btn-primary btn-sm" *ngIf="!isInProject">Select</button>
    </div>
  </div>
</div>