<h1 mat-dialog-title *ngIf="!updating && !updated && !error">Update Profile '{{data.profileLabel}}'</h1>

<h1 mat-dialog-title *ngIf="updating">Updating Profile ...</h1>

<h1 mat-dialog-title *ngIf="updated">Profile '{{data.profileLabel}}' updated !</h1>

<h1 mat-dialog-title *ngIf="error">Crap, something went wrong...</h1>

<mat-dialog-content class="pb-1 mat-typography">

  <div *ngIf="!updating && !updated && !error">
    <p>
      Get the latest profile data from OntoMe.
    </p>

    <p>
      The update considers any changes made on the model (classes and properties) <br>
      as well as added, deleted or modfied labels and descriptions for classes, properties and the profile.
    </p>

    <p>
      For labels and descriptions, each update considers only one language (by default english, 'en').
    </p>
    <p>
      If you want to update labels and descriptions of another languages, enter a language code below.
    </p>
    <mat-form-field appearance="standard" class="w-100">
      <mat-label>Language of labels to update (optional)</mat-label>
      <input matInput name="language" [(ngModel)]="language">
      <mat-hint>Enter a language code like 'it', 'fr', 'de', etc.</mat-hint>
    </mat-form-field>
    <br>
    <br>

  </div>
  <div *ngIf="updating">

    <div class="w-100 d-flex align-items-center justify-content-center" style="height: 200px;">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>
  <div *ngIf="updated">
    The profile is now up to date.
  </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button [disabled]="updating || error || updated" color="primary" (click)="update()">Get
    latest Profile data from OntoMe</button>
  <button mat-button [disabled]="updating" [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
