<div class="gv-h-100-vh gv-flex-fh">
  <nav id="nav" class="navbar navbar-expand-md navbar-dark bg-dark gv-flex-shrink-0">
    <a class="navbar-brand" routerLink="/backoffice" routerLinkActive="active">Backoffice</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="/backoffice/namespaces" routerLinkActive="active">Namespaces</a>
        <a class="nav-link" routerLink="/backoffice/system-types" routerLinkActive="active">System Types</a>
        <a class="nav-link" routerLink="/backoffice/accounts" routerLinkActive="active">Accounts</a>
        <a class="nav-link" routerLink="/backoffice/warehouse" routerLinkActive="active">Warehouse</a>
        <a class="nav-link" routerLink="/backoffice/community-visibility" routerLinkActive="active">Community
          Visibility</a>
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Geovistory Home</a>
      </ul>
    </div>

  </nav>


  <!-- <ng2-slim-loading-bar color="inherit"></ng2-slim-loading-bar> -->

  <div class="gv-flex-fh" style="overflow: hidden">
    <router-outlet></router-outlet>
  </div>
</div>
