<div class="editor-header border-bottom boder-gray-300 bg-white d-flex flex-row gv-grow-1 px-2 mb-3 align-items-center">
  <div class="gv-grow-1 d-flex align-items-baseline">
    <div class="m-0 gv-header-text">
      <!-- <span class="d-inline-block">
        <ng-content select="[typeLabel]"></ng-content>
      </span> -->
      <!-- <span class="d-inline-block">
        <ng-content select="[labels]"></ng-content>
      </span> -->
      <small class="text-muted ml-2">
        <ng-content select="[classInfo]"></ng-content>
      </small>
    </div>
    <div class="ml-3 small text-muted">
      <ng-content select="[type]"></ng-content>
    </div>
  </div>
  <div class="ml-auto">
    <ng-content select="[settings]"></ng-content>
  </div>
</div>