<div class="editor-header bg-white border-top border-bottom d-flex flex-row gv-grow-1 px-3 py-2 align-items-center">
  <div class="gv-grow-1 d-flex align-items-baseline">
    <div class="h2 m-0">
      <span class="d-inline-block">
        <ng-content select="[typeLabel]"></ng-content>
      </span>:
      <span class="d-inline-block">
        <ng-content select="[labels]"></ng-content>
      </span>
    </div>
    <div class="ml-3 font-lg">
      <ng-content select="[classInfo]"></ng-content>
    </div>
    <div class="ml-3">
      <ng-content select="[type]"></ng-content>
    </div>
  </div>
  <div class="ml-4">
    <ng-content select="[settings]"></ng-content>
  </div>
</div>