<cdk-virtual-scroll-viewport coreTableVirtualScroll>
	<mat-table matSort [dataSource]="dataSource" [trackBy]="id">
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox
          (change)="$event && toggleAll()"
          [checked]="selectedAll"
          [indeterminate]="indeterminate">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event && toggle(row)"
          [checked]="isSelected(row)">
				</mat-checkbox>
			</mat-cell>
		</ng-container>
		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef>
				<core-table-filter (change)="filter('id', $event)">
					<div mat-sort-header>ID</div>
				</core-table-filter>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>
        <core-table-filter (change)="filter('name', $event)">
          <div mat-sort-header>Name</div>
        </core-table-filter>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef>
				<core-table-menu (clear)="clearFilters()"></core-table-menu>
			</mat-header-cell>
			<mat-cell *matCellDef="let row"></mat-cell>
		</ng-container>
		<ng-container matColumnDef="progress">
			<mat-header-cell *matHeaderCellDef [attr.colspan]="columns.length">
				<mat-progress-bar mode="indeterminate" [class.show]="pending">
        </mat-progress-bar>
			</mat-header-cell>
		</ng-container>
		<mat-header-row
      *matHeaderRowDef="columns; sticky: sticky"
      [style.top.px]="offset$ | async">
    </mat-header-row>
		<mat-header-row
      class="core-table-progress"
      *matHeaderRowDef="['progress']; sticky: sticky"
      [style.top.px]="(offset$ | async) + 56">
    </mat-header-row>
		<mat-row *matRowDef="let row; columns: columns"></mat-row>
	</mat-table>
</cdk-virtual-scroll-viewport>
