<!-- {{formArrayFactory.config.data.type}} -->



<div *ngFor="let child of formArrayFactory.children; let i=index" class="d-flex flex-column">
  <mat-list *ngIf="formArrayFactory.config.data.type==='lineArray'" [ngClass]="{'mt-5': (i>0)}">
    <mat-list-item class="p-0 headline">
      <span class="mat-headline-5" mat-line> Line #{{i+1}}</span>
      <button mat-icon-button *ngIf="formArrayFactory.config.data.type==='lineArray' && i > 0" (click)="removeLine(i)"
        matTooltip="Remove line">
        <mat-icon color="warn" svgIcon="delete"></mat-icon>
      </button>
    </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
  </mat-list>

  <div *ngIf="child?.controlFactory?.config.data.type==='lineLabel'" class="mat-headline-6 pt-3">
    Display Settings
  </div>
  <div *ngIf="child?.childFactory?.config.data.type ==='queryFilter'" class="mat-headline-6 pt-3">
    Data Settings
  </div>

  <div class="gv-full-with">

    <gv-time-chart-cont-form-array *ngIf="child.arrayFactory" [formArrayFactory]="child.arrayFactory" class="left-col">
    </gv-time-chart-cont-form-array>

    <gv-time-chart-cont-form-control *ngIf="child.controlFactory" [formControlFactory]="child.controlFactory"
      class="left-col">
    </gv-time-chart-cont-form-control>

    <ng-template *ngIf="child.childFactory" [cdkPortalOutlet]="child.childFactory.portal" #outlet
      (attached)="child.childFactory.attached($any($event), $any(outlet))"></ng-template>

  </div>
</div>

<div *ngIf="formArrayFactory.config.data.type==='lineArray'" class="mb-3 mt-5">
  <ng-content></ng-content>
  <button class="ml-3" mat-stroked-button (click)="addLine()">Add a
    Line</button>
</div>
