<div [ngClass]="{'dev-view': entityEditor.devView}">

  <span *ngIf="entityEditor.devView">
    <ng-container *ngTemplateOutlet="dev"></ng-container>
  </span>

  <!-- Not View or Create State -->
  <div class="card gv-name" *ngIf="(state$ | async) !== 'create' && (state$ | async) !== 'view'">


    <ng-container *ngTemplateOutlet="header"></ng-container>

    <div [@slideInOut]="cardBodyState">

      <gv-te-ent-role-set *ngFor="let entry of (roleSets$ | async) | keys; trackBy:getKey" [parentPath]="basePath" [index]="entry.key"
        (appeChange)="emitAppeChange($event)" (readyToAdd)="onPropertyReadyToAdd($event)" (notReadyToAdd)="onPropertyNotReadyToAdd()"
        (removePropertySectionReq)="onRemovePropertySectionReq($event)"></gv-te-ent-role-set>

      <ng-container *ngTemplateOutlet="dating"></ng-container>

      <div class="gv-footer border-top border-white">

        <!-- Step 1 for adding a new property -->

        <button class="btn btn-light btn-sm btn-block text-secondary rounded-top-0" (click)="selectPropState = 'selectProp'" *ngIf="selectPropState === 'init'">
          <i class="fa fa-plus"></i> Add a property ...
        </button>


        <!-- Step 2 for adding new Property section -->

        <div class="d-flex flex-column gv-flex-grow-1 bg-light border-top border-gray" *ngIf="selectPropState === 'selectProp'">

          <div class="card-header bt-1">
            <div class="d-flex">
              <div class="gv-flex-grow-1 align-self-center">
                What do you want to add?
              </div>
              <button type="button" name="button" class="btn btn-link align-self-center btn-sm" (click)="selectPropState = 'init'">
                <i class="fa fa-close"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <div class="input-group">
              <select [(ngModel)]="propertyToAdd" class="custom-select">
                <option [ngValue]="null">Select…</option>

                <option [disabled]="propSectionAdded(propertyToAdd)" *ngFor="let propertyToAdd of ingoingDirectionAwareProperties" [ngValue]="propertyToAdd">

                  {{propertyToAdd?.labelSg}} {{propSectionAdded(propertyToAdd) ? '(already added)':''}}

                </option>
                <option [disabled]="propSectionAdded(propertyToAdd)" *ngFor="let propertyToAdd of outgoingDirectionAwareProperties" [ngValue]="propertyToAdd">

                  {{propertyToAdd?.labelSg}} {{propSectionAdded(propertyToAdd) ? '(already added)':''}}

                </option>
              </select>
              <button type="button" name="button" class="btn btn-primary input-group-append" *ngIf="propertyToAdd" (click)="startSelectRoles()">Ok</button>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>


  <!-- Create State -->

  <div class="card gv-name" *ngIf="(state$ | async) === 'create'">


    <gv-te-ent-role-set *ngFor="let property of outgoingProperties" [roles]="property.roles" [parentRole]="parentRole" [fkProperty]="property.dfh_pk_property"
      [pointTo]="'PeIt'" [state]="'create'" [isOutgoing]="true" (readyToCreate)="propertyReadyToCreate($event)" (notReadyToCreate)="propertyNotReadyToCreate()"></gv-te-ent-role-set>

    <gv-te-ent-role-set *ngFor="let property of ingoingProperties" [roles]="property.roles" [parentRole]="parentRole" [fkProperty]="property.dfh_pk_property"
      [pointTo]="'PeIt'" [state]="'create'" [isOutgoing]="false" (readyToCreate)="propertyReadyToCreate($event)" (notReadyToCreate)="propertyNotReadyToCreate()"></gv-te-ent-role-set>

    <ng-container *ngTemplateOutlet="dating"></ng-container>

  </div>

  <!-- View State -->

  <div class="card gv-name" *ngIf="(state$ | async) === 'view'">

    <ng-container *ngTemplateOutlet="header"></ng-container>

    <div [@slideInOut]="cardBodyState">

      <gv-te-ent-role-set *ngFor="let property of roleSets" [propertySection]="property" [isOutgoing]="property.isOutgoing" [roles]="property.roles"
        [fkProperty]="property.fkProperty" [pointTo]="'PeIt'" [parentEntityPk]="parentRole.fk_entity" [parentTeEnt]="teEnt"
        [state]="(state$ | async)" [parentRole]="parentRole" [communityStatsVisible]="communityStatsVisible" [ontoInfoVisible]="ontoInfoVisible"
        (appeChange)="emitAppeChange($event)"></gv-te-ent-role-set>

      <ng-container *ngTemplateOutlet="dating"></ng-container>

    </div>

  </div>

</div>


<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <div class="card-header gv-name-header d-flex flex-row">
    <ng-content select="[headerLeft]"></ng-content>
    <div class="gv-flex-grow-1 gv-pointer" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardBodyState==='expanded')}"></i>
      <span *ngIf="displayLabel">{{displayLabel}}</span>
      <span *ngIf="!displayLabel">{{dfhClass?.dfh_standard_label}}</span>
    </div>
    <ng-content select="[headerRight]"></ng-content>
  </div>
  <ng-content select="[belowHeader]"></ng-content>
</ng-template>

<ng-template #dating>
  <!-- <gv-te-ent-existence-time
  [teEnt]="teEnt"
  [state]="'editable'"
  ></gv-te-ent-existence-time> -->
</ng-template>

<ng-template #dev>
  <span>
    [state: {{(state$ | async)}}] [fkClass {{teEnt.fk_class}}] [readyToCreate: {{isReadyToCreate}}]
  </span>
</ng-template>