.loc-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.loc-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 13px 16px 0 16px;
  .loc-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .loc-meta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    .mat-icon {
      padding-top: 2px;
    }
  }
}

.loc-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 16px 0 16px;
  height: 46px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.loc-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 16px 8px;

  .loc-footer-item ~ .loc-footer-item {
    margin-left: 8px;
  }
}
