<div class="loc-container" [ngClass]="{'loc-selected': selected}" (click)="more()">

  <!-- Already in project icon -->
  <div class="loc-left gv-col-center" matTooltip="{{isInProject ? 'Already in your project' : 'Not in your project'}}">
    <mat-icon class="gv-settings-color" color="accent" *ngIf="isInProject" svgIcon="check-circle-outline"></mat-icon>
    <mat-icon class="gv-settings-color mat-text-disabled" *ngIf="!isInProject" svgIcon="circle-outline"></mat-icon>
  </div>

  <!-- Entity description -->
  <div class="loc-center loc-ellipsis">
    <div class="mat-body-1 gv-one-liner loc-no-margin">{{entityPreview.entity_label}}</div>
    <div class="mat-caption mat-text-secondary loc-text loc-ellipsis" style="height: 40px" [innerHTML]="text">
    </div>
  </div>

  <!-- Options -->
  <button class="loc-right" mat-icon-button matTooltip="{{moreDetails && !selected ? 'See more details' : ''}}"
    [ngStyle]="{'visibility': (moreDetails && !selected) ? 'inherit' : 'hidden'}">
    <mat-icon class="mat-text-secondary" svgIcon="chevron-right"></mat-icon>
  </button>
</div>