.loc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75px;

    cursor: pointer;
    padding: 0 24px;
    margin-bottom: 10px;
}

.loc-left{
    margin-right: 10px;
}
  
.loc-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.loc-right{
    margin-left: 10px;
}

.loc-no-margin {
    margin: 0 0 0 0
}

.loc-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.loc-selected {
    background-color: rgba(0, 125, 255, 0.08)
}

::ng-deep .mat-list-item-content {
    display:block !important;
}
  