<h2>
  Accounts
</h2>

<table>
  <thead>
    <tr>
      <th>account id</th>
      <th>username</th>
      <th>email</th>
      <th>email is verified</th>
      <th>roles</th>
      <th>projects</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of (accounts$|async)">
      <td>
        {{row.id}}
      </td>
      <td>
        {{row.username}}
      </td>
      <td>
        {{row.email}}
      </td>
      <td>
        {{row.emailverified}}
      </td>
      <td>
        <span *ngFor="let role of row.roles" class="badge badge-info mr-1">{{role.name}}</span>
      </td>
      <td>
        <div *ngFor="let projectrel of row.projectrels" class="badge badge-success mr-1">
          {{projectrel.fk_project}}: {{projectrel.role}}
        </div>
      </td>
    </tr>
  </tbody>
</table>
