<div *ngIf="(loading$ | async)" class="align-self-center gv-flex-fh justify-content-center text-muted"><i class="fa fa-3x fa-pulse fa-spinner"></i></div>


<gv-pe-it-editable *ngIf="(editSection$ | async)" class="gv-flex-fh" [basePath]="basePath.concat('editSection')"
  (remove)="onRemoveSection($event)" (onLabelChange)="onPeItLabelChange($event)"></gv-pe-it-editable>


<gv-create-or-add-entity *ngIf="(add$ | async)" class="gv-flex-fh" [basePath]="basePath.concat('add')" (done)="initEntity($event.pk_entity)"
  (cancel)="stopCreate(); close.emit()"></gv-create-or-add-entity>