.loc-left {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
}

.loc-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc-toggle-btn {
  margin-left: 8px;
}
h3 {
  margin-bottom: 0;
  margin-right: auto;
  height: 48px;
  display: flex;
  align-items: center;
}
