<div class="gv-row-space-between loc-bg">

    <!-- List number-->
    <span class="mat-text-secondary gv-col-center px-2" style="width:5%">#{{listNumber}}</span>

    <!-- Factoid mapping class -->
    <gv-class-dropdown class="loc-my-auto gv-row-left loc-panel" [pkClass]="fm?.pkClass"
        (onChange)="fmChange('pkClass', $event)" style="width:20%"></gv-class-dropdown>

    <!-- Factoid mapping title -->
    <mat-form-field appearance="outline" class="px-2 loc-fm-head" style="width:50%">
        <mat-label>Factoid mapping title</mat-label>
        <input matInput [(ngModel)]="fm.title">
    </mat-form-field>

    <div class="gv-row-space-around" style="width:25%">
        <!-- Fatoid mapping comment -->
        <gv-comment-menu class="gv-col-center" [title]="'Comment about this factoid mapping'" [content]="fm?.comment"
            (onChange)="fmChange('comment', $event)">
        </gv-comment-menu>

        <!-- Delete factoid mapping -->
        <div class="gv-col-center">
            <mat-icon class="mx-2" class="loc-pointer" style="color: inherit" (click)="deleteFactoid()">delete
            </mat-icon>
        </div>

        <!-- collapse factoid mapping -->
        <div class="gv-col-center" style="cursor:pointer">
            <mat-icon (click)="toggleCollapseBody()">
                {{collapsed ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
            </mat-icon>
        </div>
    </div>

</div>