.loc-bg {
    background-color: rgba(0, 125, 255, 0.08)
}

.loc-pointer {
    cursor: pointer
}

.loc-my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .loc-fm-head {
    .mat-form-field-wrapper {
        padding: 0 !important;
        margin:0 !important;
    }
}