<!-- HEADER -->
<h1 mat-dialog-title>
  Enter a {{c.pipeClassLabel(data.pkClass) | async}}
</h1>

<!-- CONTENT -->
<div mat-dialog-content style="display: flex; align-items: center;">
  <!-- PLACE -->
  <gv-fg-place #place *ngIf="data.vot.place" [initVal$]="data.initVal$" [appearance]="'outline'">
  </gv-fg-place>
  <!-- LANG STRING -->
  <gv-fg-lang-string #langString *ngIf="data.vot.langString" [initVal$]="data.initVal$" [appearance]="'outline'">
  </gv-fg-lang-string>
  <!-- DIMENSION -->
  <gv-fg-dimension #dimension *ngIf="data.vot.dimension" [initVal$]="data.initVal$"
    [pkClassOfDimension]="data.vot.dimension.measurementUnitClass" [appearance]="'outline'">
  </gv-fg-dimension>
  <!-- APPELLATION -->
  <mat-form-field *ngIf="data.vot.appellation" class="ctrl-text" [appearance]="'outline'">
    <gv-ctrl-appellation [formControl]="appellation">
    </gv-ctrl-appellation>
  </mat-form-field>
  <!-- TIME PRIMITIVE -->
  <mat-form-field *ngIf="data.vot.timePrimitive" class="ctrl-text" [appearance]="'outline'">
    <gv-ctrl-time-primitive [formControl]="timeprimitive">
    </gv-ctrl-time-primitive>
  </mat-form-field>
  <!-- LANGUAGE -->
  <mat-form-field *ngIf="data.vot.language" class="ctrl-text" [appearance]="'outline'">
    <gv-ctrl-language placeholder="Placeholder" [formControl]="language">
    </gv-ctrl-language>
  </mat-form-field>

</div>

<!-- FOOTER -->
<div mat-dialog-actions>
  <div class="gv-aoc-left">
    <button mat-flat-button color="primary" [mat-dialog-close]="" (click)="validate()"> Save </button>
    <button mat-button type="button" class="ml-2" [mat-dialog-close]="">Cancel</button>
  </div>
</div>