:host {
  width: 100%;
}

.gv-fg-place-container {
  // display: flex;
  // flex-direction: row;
  mat-form-field ~ mat-form-field {
    margin: 0 0 0 1rem;
  }
  mat-form-field {
    width: 40%;
  }
}
