<h1 mat-dialog-title>
  Visibility Information
</h1>
<div mat-dialog-content>

  <img src="/assets/images/visibility-status.png" alt="Symbols of visibility status" class="mt-1 mb-3"
    style="max-width: 60px;">

  <h4>a) Toolbox</h4>
  <table>
    <tr>
      <td><mat-icon class="mat-text-secondary" [svgIcon]="'lock-open-outline'"></mat-icon></td>
      <td>If the first lock is open, the entity can be found and added by another project in the toolbox <br />
        (via the " + Add" menu under Entities/Sources/Digitals).</td>
    </tr>
    <tr>
      <td><mat-icon class="mat-text-secondary" [svgIcon]="'lock-outline'"></mat-icon></td>
      <td>If the first lock is closed, the entity is invisible to other projects and cannot be added to them.</td>
    </tr>
  </table>

  <h4>b) Public</h4>
  <table>
    <tr>
      <td><mat-icon class=" mat-text-secondary" [svgIcon]="'lock-open-outline'"></mat-icon></td>
      <td>If the second lock is open, the entity has a URI and a website on https://www.geovistory.org. <br>
        Its properties are published as RDF on the public community
        SPARQL endpoint (at https://www.geovistory.org/sparql).</td>
    </tr>
    <tr>
      <td><mat-icon class="mat-text-secondary" [svgIcon]="'lock-outline'"></mat-icon></td>
      <td>If the second lock is closed, the entity has no URI and no website. <br /> Its properties are not visible in
        the
        public community SPARQL endpoint.</td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)=" onClose()" cdkFocusInitial>Close</button>
</div>
