<div class="card mt-2" [ngClass]="{
  'bg-info': (project.pk_entity == PK_PROJECT_OF_TEMPLATE_PROJECT),
  'mat-bg-accent-300': (project.pk_entity == PK_PROJECT_OF_DEFAULT_CONFIG_PROJECT),
  'bg-warning': (project.pk_entity) == PK_PROJECT_OF_SANDBOX_PROJECT
}">
  <div class="card-body">
    <h4 class="card-title">{{projectLabel$|async}}
      <span class="gv-project-language mat-text-secondary pull-right">
        {{projectLanugageLabel$|async}}
      </span>
    </h4>
    <p class="card-text">{{projectDescription$|async}}</p>

    <button mat-flat-button color="primary" routerLink="{{project.pk_entity}}/edit">Open</button>
  </div>
</div>
