<div [ngClass]="{'gv-flex-fh': listVisible}" [hidden]="!listVisible">
  <!-- Header -->
  <section class="m-3 mt-5 row gv-flex-shrink-0">
    <div class="col-md-8">
      <h2>
        <i class="gv-icon gv-icon-information-simple text-primary"></i> Data Units</h2>
    </div>
    <div class="col-md-4">
      <div class="btn-group float-right mt-2" role="group">

        <gv-class-and-type-selector *ngIf="pkClassesInProject != undefined && (pkProject$ |async)" [pkClasses]="pkClassesInProject"
          [pkProject]="(pkProject$ |async)" [basePath]="basePath.concat('classAndTypeSelector')" (select)="startCreate($event, pkUiContextCreate)"
          buttonText="+ Add an entity" placement="right" hasFilter="true"></gv-class-and-type-selector>

        <!-- <button class="btn btn-link btn-md" (click)="openEntityModal()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add an entity
        </button> -->
      </div>
    </div>
  </section>
  <gv-list class="gv-flex-fh" [showTeEnPeItFilter]="true" [basePath]="basePath.concat('items')" (onOpen)="openEntity($event)"></gv-list>
</div>

<div *ngIf="(_peIt_add$ | async)" class="gv-flex-fh">
  <gv-create-or-add-entity class="gv-flex-fh" [basePath]="basePath.concat('_peIt_add')" (done)="openEntity($event.pk_entity)"
    (cancel)="stopCreate()"></gv-create-or-add-entity>
</div>


<div *ngIf="(_peIt_editable$ | async) || (_teEnt_editable$ | async) " class="gv-flex-fh">

  <div class="d-flex gv-flex-shrink-0">
    <ol class="breadcrumb bg-transparent mb-0 py-2">
      <li class="breadcrumb-item">
        <a href class="gv-passive-link" routerLink="../../search" queryParamsHandling="merge">
          <i class="gv-icon gv-icon-information-simple text-primary"></i> Data Units
        </a>
      </li>
    </ol>
  </div>

  <!-- <div *ngIf="(loading$ | async)" class="w-100 m-5 text-muted"><i class="fa fa-3x fa-pulse fa-spinner"></i></div> -->
  <gv-pe-it-editable *ngIf="!(loading$ | async) && (_peIt_editable$ | async)" class="gv-flex-fh" [basePath]="basePath.concat('_peIt_editable')"
    (remove)="onRemovePeIt($event)"></gv-pe-it-editable>

  <!-- <div *ngIf="(loading$ | async)" class="w-100 m-5 text-muted"><i class="fa fa-3x fa-pulse fa-spinner"></i></div> -->
  <gv-te-ent-editable *ngIf="!(loading$ | async) && (_teEnt_editable$ | async)" class="gv-flex-fh" [basePath]="basePath.concat('_teEnt_editable')"></gv-te-ent-editable>

</div>