<div class="gv-flex-fh">

  <h3 class="m-3 gv-flex-shrink-0">
    Your Entities
  </h3>

  <gv-list class="gv-flex-fh" [showTeEnPeItFilter]="true" [basePath]="basePath.concat('items')" (onOpen)="openEntity($event)">
    <gv-class-and-type-selector addBtn buttonClass="btn-primary no-caret mr-0" class="ml-2" *ngIf="pkClassesInProject != undefined && (p.pkProject$ |async)"
      [pkClasses]="pkClassesInProject" [pkProject]="(p.pkProject$ |async)" [basePath]="basePath.concat('classAndTypeSelector')"
      (select)="startCreate($event)" buttonText="+ Add" placement="right" hasFilter="true"></gv-class-and-type-selector>
  </gv-list>
</div>