<div class="d-flex flex-row" *ngIf="state === 'view' || state === 'add-pe-it' || state === 'add' || state === 'editable' || state === 'exist-time'">

  <div class="gv-flex-grow-1">
    <gv-time-primitive-view [timePrimitive]="timePrimitive" [calendar]="calendar" show="duration"></gv-time-primitive-view>
  </div>

</div>

<form [formGroup]="formGroup" class="d-flex flex-row" *ngIf="state === 'edit' || state === 'create' || state === 'create-pe-it' || state === 'create-pe-it-role' || state === 'create-te-ent-role'">

  <gv-time-primitive-ctrl formControlName="timePrimitiveCtrl" (touched)="markAsTouched()"></gv-time-primitive-ctrl>

</form>