:host {
  width: 100%;
}

.gv-fg-text-property-container {
  display: flex;
  flex-direction: row;
  mat-form-field ~ mat-form-field {
    margin: 0 0 0 1rem;
  }
  mat-form-field {
    ::ng-deep .mat-form-field-infix {
      width: unset;
    }
  }
  .ctrl-language {
    flex: 0 0 80px;
  }
  .ctrl-text {
    flex: 1 1 auto;
  }
}
