.loc-container {
  display: flex;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
}
.loc-buttons-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.loc-toggle-btn {
  margin-left: 8px;
}
h3 {
  margin-bottom: 0;
}
