<!-- <div class="card-body gv-community-statistics d-flex justify-content-end small" *ngIf="communityStatisticsVisible">
  <ul class="gv-ul-sm">
    <li class="gv-li-inline">
      <a href (click)="openVersionHistoryModal()">
        <span>version {{appellation?.entity_version}} of {{versionCount}}</span>
      </a>
    </li>
    <li class="gv-li-inline" *ngIf="newUpdateAppellationVisible">
      <a href (click)="openVersionHistoryModal()">
        <span class="text-success">new version</span>
      </a>
    </li>
  </ul>
</div> -->