<div class="wrapper-block gv-fade-out-right gv-white-space-nowrap" *ngIf="mode =='mini'">
  <span *ngIf="data.length > 1">
    ...
    <span class="slash-forward mat-text-secondary">/</span>
  </span>

  <ng-container *ngTemplateOutlet="entitySegment;context:{entity:data[data.length-1].entity, showLabel: true}">
  </ng-container>

</div>

<span class="wrapper-block gv-fade-out-right gv-white-space-nowrap" *ngIf="mode =='small'">
  <ng-container *ngFor="let item of data; let i = index">
    <ng-container *ngIf="item.entity">
      <ng-container
        *ngTemplateOutlet="entitySegment;context:{entity:item.entity, showLabel: (mode =='full' || i == data.length-1)}">
      </ng-container>

    </ng-container>

    <ng-container *ngIf="item.property">
      <span class="slash-forward mat-text-secondary">/</span>
    </ng-container>
  </ng-container>
</span>


<span class="wrapper-inline" *ngIf="mode =='full'">
  <ng-container *ngFor="let item of data; let i = index">
    <ng-container *ngIf="item.entity">
      <ng-container
        *ngTemplateOutlet="entitySegment;context:{entity:item.entity, showLabel: (mode =='full' || i == data.length-1)}">
      </ng-container>

    </ng-container>

    <ng-container *ngIf="item.property">
      <span class="prop-label mat-caption">
        {{item.property.label}} :
      </span>
    </ng-container>
  </ng-container>
</span>

<ng-template #entitySegment let-entity="entity" let-showLabel="showLabel">

  <mat-icon *ngIf="entity.icon =='table'" class="gv-pointer entity-icon gv-digital-color" svgIcon="file-table"
    [matTooltip]="entity.tooltip" [matMenuTriggerFor]="appMenu">
  </mat-icon>
  <mat-icon *ngIf="entity.icon =='cell'" class="gv-pointer entity-icon gv-digital-color" svgIcon="google-spreadsheet"
    [matTooltip]="entity.tooltip" [matMenuTriggerFor]="appMenu">
  </mat-icon>
  <mat-icon *ngIf="entity.icon =='text'" class="gv-pointer entity-icon gv-digital-color" svgIcon="file-document"
    [matTooltip]="entity.tooltip" [matMenuTriggerFor]="appMenu">
  </mat-icon>
  <mat-icon *ngIf="entity.icon =='expression-portion'" class="gv-pointer entity-icon gv-source-color" svgIcon="folder"
    [matTooltip]="entity.tooltip" [matMenuTriggerFor]="appMenu">
  </mat-icon>
  <i *ngIf="entity.icon =='persistent-entity'" style="font-size: 22px"
    class="gv-pointer entity-icon gv-icon gv-icon-persistent-entity gv-entity-color" [matTooltip]="entity.tooltip"
    [matMenuTriggerFor]="appMenu"></i>
  <i *ngIf="entity.icon =='temporal-entity'" style="font-size: 22px"
    class="gv-pointer entity-icon fa fa-star-o  gv-entity-color" [matTooltip]="entity.tooltip"
    [matMenuTriggerFor]="appMenu"></i>
  <!-- <mat-icon *ngIf="entity.icon =='source'" style="font-size: 22px" class="gv-pointer entity-icon gv-source-color"
    svgIcon="book-open-variant" [matTooltip]="entity.tooltip">
  </mat-icon> -->
  <i *ngIf="entity.icon =='source'" style="font-size: 22px"
    class="gv-pointer entity-icon gv-icon gv-icon-source gv-source-color" [matTooltip]="entity.tooltip"
    [matMenuTriggerFor]="appMenu"></i>

  <ng-container *ngIf="showLabel" class="gv-pointer entity-icon entity-label">{{entity.label}}</ng-container>


  <mat-menu #appMenu="matMenu">
    <button *ngIf="entity.preview" mat-menu-item (click)="openEntityInNewTab(entity.preview)">
      <mat-icon>tab</mat-icon>
      Open '{{entity.preview?.entity_label | truncate:[10]}}' in new tab
    </button>
    <button *ngIf="entity.isDigitalText" mat-menu-item (click)="openTextInNewTab(entity.pkEntity)">
      <mat-icon>tab</mat-icon>
      Open text in new tab
    </button>
    <button *ngIf="entity.isDigitalTable" mat-menu-item (click)="openTableInNewTab(entity.pkEntity)">
      <mat-icon>tab</mat-icon>
      Open table in new tab
    </button>

    <button *ngIf="entity.fkRow" mat-menu-item (click)="openCellInNewTab(entity.fkDigital, entity.fkRow)">
      <mat-icon>tab</mat-icon>
      Open Cell in new tab
    </button>

  </mat-menu>

</ng-template>