<!-- MENU FOR CLASS INFO -->
<mat-menu #classInfoMenu="matMenu">
  <button mat-menu-item *ngIf="isInProject" (click)="itemComponent.openInNewTabFromEntity(resource)">
    <mat-icon>tab</mat-icon>
    Open {{classLabel}} in new Tab
  </button>
  <button mat-menu-item *ngIf="!isInProject" (click)="itemComponent.addAndOpenInNewTabFromEntity(resource)">
    <mat-icon>add</mat-icon>
    Add {{classLabel}} to project and open
  </button>
</mat-menu>

<!-- CLASS INFO -->

<span class="loc-class-info">
  <span *ngIf="!(readonly$|async)" [matMenuTriggerFor]="classInfoMenu">
    <gv-class-info [showOntoInfo$]="showOntoInfo$" [pkClass]="resource.fk_class" [classLabel]="classLabel"
      [isFavorite]="isFavorite">
    </gv-class-info>
  </span>
  <span *ngIf="(readonly$|async)">
    <gv-class-info [showOntoInfo$]="showOntoInfo$" [pkClass]="resource.fk_class" [classLabel]="classLabel"
      [isFavorite]="isFavorite">
    </gv-class-info>
  </span>
</span>
