.loc-ci-container {
  display: flex;
  flex-direction: row;
  max-height: 48px;
  overflow: hidden;
}
.loc-ci-left {
  flex-basis: 12px;
  flex-shrink: 0;
  flex-grow: 0;
}
.loc-ci-right {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-grow: 1;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
