

<!-- Text Editor -->
<div class="p-3 gv-grow-1 d-flex flex-row">
  <div class="gv-grow-1 d-flex flex-column">

    <!-- View -->
    <div class="gv-grow-1 d-flex flex-row" *ngIf="!((edit$ | async) || (annotate$ | async)) && (view$ | async)">
      <gv-quill-edit *ngIf="!(annotationPanel$ | async)" class="gv-grow-1 d-flex flex-column" [quillDoc]="(view$ | async).js_quill_data"
        [readOnly]="true"></gv-quill-edit>

      <gv-quill-edit *ngIf="(annotationPanel$ | async)" class="gv-grow-1 d-flex flex-column" [quillDoc]="(view$ | async).js_quill_data"
        [readOnly]="true" [annotationsVisible]="true" [annotatedNodes]="annotatedNodes" (selectedDeltaChange)="onSelectedDeltaChange($event)"></gv-quill-edit>

    </div>

    <!-- Edit -->
    <div class="gv-grow-1 d-flex flex-column" *ngIf="(edit$ | async)">
      <gv-quill-edit *ngIf="!(annotationPanel$ | async)" class="gv-grow-1 d-flex flex-column" [quillDoc]="(edit$ | async).js_quill_data"
        [readOnly]="false" (quillDocChange)="onQuillDocChange($event)"></gv-quill-edit>

      <gv-quill-edit *ngIf="(annotationPanel$ | async)" class="gv-grow-1 d-flex flex-column" [quillDoc]="(edit$ | async).js_quill_data"
        [annotationsVisible]="true" [annotatedNodes]="annotatedNodes" (quillDocChange)="onQuillDocChange($event)"></gv-quill-edit>

    </div>

    <!-- Annotate -->
    <div class="gv-grow-1 d-flex flex-column" *ngIf="(annotate$ | async)">
      <gv-quill-edit *ngIf="(annotationPanel$ | async)" class="gv-grow-1 d-flex flex-column" [quillDoc]="(annotate$ | async).js_quill_data"
        [creatingAnnotation]="true" (selectedDeltaChange)="onSelectedDeltaChange($event)"></gv-quill-edit>
    </div>


  </div>

  <div class="ml-3 d-flex " *ngIf="(annotationPanel$ | async) ">
    <gv-annotation-panel class="d-flex flex-column gv-grow-1 " [path]="annotationPanelPath"></gv-annotation-panel>
  </div>


</div>