<div class="gv-full-with" *ngIf="showTitle">
  <div class="left-col">
    <span class="mat-h3">
      {{formArrayFactory?.config.placeholder}}
      <!-- <span matTooltip="Required" *ngIf="??"> * </span> -->
      <span class="ml-1 mat-caption mat-text-secondary">
        ({{formArrayFactory?.children.length}})
      </span>
    </span>
  </div>
  <div class="right-col" *ngIf="showAddBtn">
    <button mat-button (click)="add()">
      <mat-icon>add_circle_outline</mat-icon> Add
    </button>
  </div>
</div>



<div *ngFor="let child of formArrayFactory.children; let i=index" class="gv-full-with">

  <span class="w-100 m-2" *ngIf="wrapInCard(child); else noWrap">

    <mat-card class="w-100 mat-elevation-z5">
      <mat-card-content class="gv-full-with">
        <gv-form-array *ngIf="isFormArray(child)" [formArrayFactory]="child" class="left-col"></gv-form-array>
        <gv-form-control *ngIf="isFormControl(child)" [formControlFactory]="child" class="left-col">
        </gv-form-control>

      </mat-card-content>
      <mat-card-actions class="d-flex">
        <button mat-button class="ml-auto" *ngIf="showRemoveBtn" (click)="remove(i)">
          Remove
        </button>
      </mat-card-actions>
    </mat-card>

  </span>

  <ng-template #noWrap>
    <gv-form-array *ngIf="isFormArray(child)" [formArrayFactory]="child" class="left-col"></gv-form-array>
    <gv-form-control *ngIf="isFormControl(child)" [formControlFactory]="child" class="left-col">
    </gv-form-control>


    <div *ngIf="isCtrlTargetClass(child)" class="gv-full-with w-100 mb-3">
      <div class="left-col">
        <span class="gv-ellipsis upper-case gv-field-header-label">
          {{child?.config.placeholder}}
        </span>
      </div>
      <div class="right-col">
        <button mat-button [matMenuTriggerFor]="beforeMenu"
          [disabled]="ctrlTargetClassIsDisabled(child.config.data?.nodeConfigs)">
          <mat-icon>arrow_drop_down_circle</mat-icon> Select
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button *ngFor="let nodeConfig of child.config.data?.nodeConfigs; let j = index;" mat-menu-item
            (click)="addSpecific(i, child.config.data, j)" [disabled]="nodeConfig.disabled">
            {{nodeConfig?.array.data.customCtrlLabel}}
          </button>
        </mat-menu>
      </div>
    </div>


    <button mat-button class="right-col" *ngIf="showRemoveBtn" (click)="remove(i)">
      <mat-icon>remove</mat-icon>
    </button>
  </ng-template>


</div>

<div *ngIf="showTitle" class="mb-3"></div>
