<ng-container *ngIf="formArrayFactory.config.data.arrayContains =='lists'">
  <div class="gv-full-with">
    <ng-container *ngTemplateOutlet="title; context:{
      'placeholder':formArrayFactory?.config.placeholder,
      'count': formArrayFactory?.children.length,
      'required': formArrayFactory.config.required
      }"></ng-container>
    <!-- <div class="right-col" *ngIf="showAddBtn">
      <button mat-icon-button (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="right-col">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lDef of formArrayFactory?.config?.data?.fieldDefinition?.listDefinitions"
        (click)="addItemInChildListDef(formArrayFactory?.config?.data?.fieldDefinition, lDef)">
        {{lDef.targetClassLabel}}
      </button>
    </mat-menu>
  </div>
</ng-container>



<div *ngFor="let child of formArrayFactory.children; let i=index" class="gv-full-with " [ngClass]="{
    'is-list-item':formArrayFactory.config.isList,
    'is-list': child?.config.isList,
    'hide-field-title': child.config.data.hideFieldTitle,
    'is-ctrl-target-class': isCtrlTargetClass(child)
}">



  <mat-card class="left-col mat-elevation-z5" *ngIf="wrapInCard(child); else noWrap">
    <mat-card-content class="gv-full-with">
      <span class="card–class-info mat-caption mat-text-secondary">
        <i class="gv-entity-color fa fa-star-o"></i>
        {{child.config.data.listDefinition.targetClassLabel}}
      </span>
      <ng-container *ngTemplateOutlet="noWrap"></ng-container>
    </mat-card-content>
  </mat-card>


  <ng-template #noWrap>
    <!-- <div style="flex: 1 0 100%;" *ngIf="isCtrlTargetClass(child)">
      <div class="gv-full-with">
        <ng-container *ngTemplateOutlet="title; context:{
        'placeholder':child?.config.placeholder,
        'count': child?.children?.length || 0,
        'showAddBtn': showAddBtn,
        'required': child.config.required
      }"></ng-container>


      </div>
    </div>
 -->



    <gv-form-array class="left-col" *ngIf="isFormArray(child)" [formArrayFactory]="child">
    </gv-form-array>
    <gv-form-control class="left-col" *ngIf="isFormControl(child)" [formControlFactory]="child">
    </gv-form-control>
    <div class="left-col" *ngIf="child.factoryType ==='childFactory'">
      <ng-template [cdkPortalOutlet]="child.portal" #outlet (attached)="child.attached($event, outlet)"></ng-template>
    </div>

  </ng-template>

  <div class="right-col" *ngIf="showRemoveBtn">
    <button mat-icon-button (click)="remove(i)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>


<ng-template #title let-placeholder="placeholder" let-count="count" let-required="required">
  <div class="left-col">
    <span class="mat-h3 mb-0">
      {{placeholder}}
      <span matTooltip="Required" *ngIf="required"> * </span>
      <span class="ml-1 mat-caption mat-text-secondary">
        ({{count}})
      </span>
    </span>
  </div>
</ng-template>
