<div FxFlex *ngIf="itemsCount$ | async">
  <ul cdkDropList class="drop-list" (cdkDropListDropped)="t.updateOrder($event, items$)">
    <li *ngFor="let item of (items$ | async)" class="drag-box">
      <gv-onto-class-info class="mr-2" [pkClass]="listDefinition.targetClass" *ngIf="showOntoInfo$ | async">
      </gv-onto-class-info>

      <gv-entity-preview *ngIf="listDefinition.listType === 'entity-preview'" [preview]="item?.preview"
        [dragEnabled]="false"></gv-entity-preview>
      <span *ngIf="listDefinition.listType === 'text-property'">
        {{item.label}} <span class="mat-caption text-muted">{{item?.language.notes}}</span>
      </span>
      <span *ngIf="['appellation', 'language', 'place'].includes(listDefinition.listType)">
        {{item.label}}
      </span>

      <mat-menu #appMenu="matMenu">
        <button mat-menu-item *ngIf="listDefinition.listType === 'entity-preview'" (click)="openInNewTab(item)">
          <mat-icon>tab</mat-icon>
          Open in new Tap
        </button>

        <button mat-menu-item (click)="remove(item)">
          <mat-icon>delete</mat-icon>
          Remove
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
        <mat-icon>more_vert</mat-icon>
      </button>

    </li>
  </ul>
</div>
