<!-- CLASSES -->
<div *ngIf="isArrayClasses" class="qf-arr-classes">
  <div *ngFor="let child of formArrayFactory.children; let i=index" class="gv-full-with">
    <gv-qf-form-array *ngIf="isFormArray(child)" [formArrayFactory]="child" class="left-col"></gv-qf-form-array>
    <gv-qf-form-control *ngIf="isFormControl(child)" [formControlFactory]="child" class="left-col">
    </gv-qf-form-control>
  </div>
  <div class="gv-qf-button-absolute-2">
    <button *ngIf="formArrayFactory.children?.length < 2 && formArrayFactory.control?.valid" mat-icon-button
      (click)="addClassesSubfilter()" matTooltip="Add Sub-Filter">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>

<!-- PROPERTIES -->
<div *ngIf="isArrayProperties" class="qf-arr-properties">
  <div class="qf-prop-controls">
    <div *ngFor="let child of formArrayFactory.children; let i=index" [ngClass]="{'gv-grow-1': i > 0}">
      <gv-qf-form-control *ngIf="isFormControl(child)" [formControlFactory]="child">
      </gv-qf-form-control>
    </div>
  </div>
  <div class="qf-prop-subgroups">
    <div *ngFor="let child of formArrayFactory.children; let i=index">
      <gv-qf-form-array *ngIf="isFormArray(child)" [formArrayFactory]="child" class="left-col"></gv-qf-form-array>
    </div>
  </div>
  <div class="gv-qf-button-absolute-2">
    <button *ngIf="formArrayFactory.children?.length < 3 && formArrayFactory.control?.valid" mat-icon-button
      (click)="addPropertiesSubfilter()" matTooltip="Add Sub-Filter">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>

<!-- SUBGROUP -->
<div *ngIf="isArraySubgroup" class="qf-arr-subgroup">
  <!-- <div class="mat-caption">isArraySubgroup</div> -->
  <div class="zero" [ngClass]="{'line': !parentIsArraySubgroup}">

  </div>
  <div class="first" [ngClass]="{'line': formArrayFactory?.control?.valid}">
    <div class="subgroup-operation-container">

      <!-- Subgroup Operation -->
      <gv-qf-form-control class="subgroup-operation-select" *ngIf="formArrayFactory.children.length > 2"
        [formControlFactory]="formArrayFactory.children[0]">
      </gv-qf-form-control>

    </div>

    <!-- Add a sibling condition -->
    <button *ngIf="formArrayFactory?.control?.valid" class="add-sibling-button gv-mat-icon-button-sm gv-btn-success"
      mat-icon-button (click)="addSubgroupItem()" matTooltip="Add an 'and'/'or' Condition">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="second">
    <div class="sub-query-item" *ngFor="let child of formArrayFactory.children; let i=index">
      <div class="subquery-left">
        <div class="horizontal-line" [ngClass]="{'is-subgroup': childIsArraySubgroup(child)}"></div>
        <!-- Split button to create Subgruop -->
        <!-- <button class="add-subgroup-button gv-mat-icon-button-sm gv-btn-success" mat-icon-button
          (click)="addSubgroup(i)" matTooltip="Add a Sub-Condition"
          *ngIf="dynamicFormControls?.length > 1 && !childIsArraySubgroup(child)">
          <mat-icon class="rotate-90">call_split</mat-icon>
        </button> -->
      </div>
      <gv-qf-form-array *ngIf="isFormArray(child)" [formArrayFactory]="child"
        [ngClass]="{'is-subgroup': childIsArraySubgroup(child)}"></gv-qf-form-array>

      <div *ngIf="isFormArray(child) && !childIsArraySubgroup(child)" class="gv-qf-button-absolute-1">
        <button mat-icon-button (click)="removeSubfilter(i)" matTooltip="Remove">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
      <div *ngIf="isFormArray(child) &&
      formArrayFactory.children.length > 2 &&
      formArrayFactory?.control?.valid &&
      !childIsArraySubgroup(child)" class="gv-qf-button-absolute-3">
        <button mat-icon-button (click)="splitSubfilter(i)" matTooltip="Split">
          <mat-icon class="rotate-90">call_split</mat-icon>
        </button>
        <!-- l: {{formArrayFactory.children.length}}  -->
        <!-- p: {{parentIsArraySubgroup}} -->
        <!-- valid: {{formArrayFactory?.control?.valid}} -->
      </div>
    </div>
  </div>

</div>
