<div FxFlex *ngIf="itemsCount$ | async">

    <div *ngFor="let item of (items$ | async)" class="drag-box">
      <mat-checkbox [checked]="selection.isSelected(item.role)"  (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item.role) : null">
        <gv-onto-class-info class="mr-2" [pkClass]="listDefinition.targetClass" *ngIf="showOntoInfo$ | async">
        </gv-onto-class-info>
        <gv-entity-preview [preview]="item.preview" [dragEnabled]="false"></gv-entity-preview>
      </mat-checkbox>
    </div>
</div>

{{selection.selected | json}}
<div class="my-3">
  <button [disabled]="!selection.selected.length" type="submit" class="btn btn-primary mr-2" (click)="addRoles(selected)">Add selected</button>
  <button type="submit" class="btn btn-primary mr-2" (click)="startCreateNewRole()">Create new</button>
  <button type="button" class="btn btn-link" (click)="t.showControl$.next(null)">Cancel</button>
</div>
