<div class="gv-detail-top-bar border-bottom boder-gray-300 bg-white" fxLayout="row" fxLayoutAlign="space-between center"
  [ngStyle]="{height: height}">

  <button fxFlex="24px" mat-stroked-button class="close-right-area-btn mr-3 text-muted" *ngIf="closeRightAreaBtn"
    (click)="closeRight.emit()">
    <mat-icon aria-label="Close right area">chevron_right</mat-icon>
  </button>

  <div fxFlex fxLayout="row" fxLayoutAlign="start baseline">
    <ng-content></ng-content>
  </div>

  <button fxFlex="24px" mat-stroked-button class="open-right-area-btn ml-3 text-muted" *ngIf="openRightAreaBtn"
    (click)="openRight.emit()">
    <mat-icon aria-label="Open left area">chevron_left</mat-icon>
  </button>

</div>
