<h1 mat-dialog-title>
  Edit References of

  <div style="display: flex; flex-wrap:wrap; padding: 1rem;" class="mat-bg-accent-300 mat-body mt-3">
    <div style="flex: 0 1 auto; overflow:auto">
      <gv-entity-preview [pkEntity]="data.statement.fk_subject_info"></gv-entity-preview>
    </div>
    <div style="flex: 1 1 auto"></div>
    <div style="flex: 1 1 auto;overflow:auto;display: flex;align-items: center;justify-content: space-around;">
      <mat-icon class="mat-text-secondary">arrow_right_alt</mat-icon>
      <div>
        {{data.propertyLabel}}
      </div>
      <mat-icon class="mat-text-secondary">arrow_right_alt</mat-icon>
    </div>
    <div style=" flex: 1 1 auto"></div>
    <div style="flex: 0 1 auto; overflow:auto">
      <gv-entity-preview [pkEntity]="data.statement.fk_object_info"></gv-entity-preview>
    </div>
  </div>
</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <gv-view-field [showBodyOnInit]=true [field]="field" [showOntoInfo$]="showOntoInfo$"
    [source]="{fkInfo:data.statement.pk_entity}" [scope]="data.scope">
  </gv-view-field>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>
