<div class="gv-ctrl-container" (click)="onContainerClick()">

  <gv-quill-edit [hidden]="!shouldLabelFloat" #quillEdit class="gv-mat-control" [quillDoc]="quillDoc"
    [matInputLike]="true" (quillDocChange)="valueChange($event)" (blur)="onBlur()"
    (click)="onFocus(); $event.stopPropagation()" [maxLength]="250"></gv-quill-edit>

  <input type="text" matInput placeholder="{{placeholder}}" (focus)="onContainerClick()" *ngIf="!shouldLabelFloat">
</div>

<input style="display: none;" (focus)="onContainerClick()">
