<div class="container">
  <h1 class="mat-headline-1">
    Backoffice
  </h1>

  <p class="lead">
    The backoffice allows to configure parts of geovistory, affecting all "normal" geovistory users. This area
    has restricted access for geovistory administrators only.
  </p>

  <div class="card text-white bg-info mt-5">
    <div class="card-body">
      <h5 class="card-title text-white">Info</h5>
      <p class="card-text">Choose one of the configuration components in the navigation on top of this page.</p>
    </div>
  </div>
</div>
