<div class="gv-flex-shrink-0 d-flex border-bottom border-secondary align-items-baseline">
  <div class="mr-1">
    Text
  </div>

  <!-- Version Picker -->
  <gv-version-picker class="d-inline-block" *ngIf="(readOnly$|async)" [versionList]="(versionList$ | async)"
    [selectedVersion]="(digitalObject$ | async)?.entity_version" (versionChange)="onVersionChange($event)"></gv-version-picker>

  <span class="ml-auto">

    <button class="btn btn-sm btn-link" (click)="onAnnotate()" *ngIf="(showAnnotateBtn$|async)">
      <i class="fa fa-plus" aria-hidden="true"></i> Annotate…
    </button>
    <button class="btn btn-link btn-sm" (click)="onStartEdit()" *ngIf="(readOnly$|async)">
      <i class="fa fa-edit" aria-hidden="true"></i> Edit
    </button>
    <button class="btn btn-link-gray btn-sm" (click)="onCancel()" *ngIf="!(readOnly$|async)">
      Cancel
    </button>
    <button class="btn btn-link btn-sm ml-2" (click)="onSave()" *ngIf="!(readOnly$|async)">
      <i class="fa fa-save" aria-hidden="true"></i> Save
    </button>
    <!-- <button class="btn btn-sm btn-link" (click)="showAnnotations()">
    <i class="fa fa-quote-left" aria-hidden="true"></i> Show Annotations
  </button>
  <button class="btn btn-sm btn-link" (click)="hideAnnotations()">
    <i class="fa fa-quote-left" aria-hidden="true"></i> Hide Annotations
  </button> -->
    <span class="switch switch-sm" (click)="toggleAnnotations()">
      <div class="box">
        <input type="checkbox" [checked]="(annotationsVisible$|async)">
        <span class="slider round"></span>
      </div>
      Annotations
    </span>
    <!-- 
    <div class="btn-group ml-2" ngbDropdown placement="bottom-right" [autoClose]="'outside'">
      <button class="btn btn-sm btn-link btn-lg no-caret" ngbDropdownToggle>
        <i class="fa fa-cogs"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
        <div class="dropdown-header">
          Highlight
        </div>
        <button class="dropdown-item" (click)="toggleAnnotations()">
          <i class="fa fa-fw text-muted" [ngClass]="{'fa-check': (annotationsVisible$|async)}"></i> Annotations
        </button>
      </div>
    </div> -->
  </span>

</div>

<!-- Editor -->
<div class="gv-flex-fh mt-2">
  <gv-quill-edit class="gv-grow-1 d-flex flex-column" [quillDoc]="editedQuillDoc" [readOnly]="(readOnly$ | async)"
    [annotationsVisible$]="annotationsVisible$" [annotatedNodes$]="annotatedNodes$" [entitiesToHighlight$]="mentioningsFocusedInTable$"
    [creatingAnnotation]="false" (quillDocChange)="quillDocChange($event)" (selectedDeltaChange)="selectedDeltaChange($event)"
    (nodeClick)="onNodeClick($event)"></gv-quill-edit>
</div>