<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item">Reset your Password</li>
  </ol>
</gv-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6" *ngIf="!confirm">
      <h1>Reset your password</h1>
      <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">New password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required pattern="(?=.*[\d])(?=.*[A-Za-z]).*" minlength="6" maxlength="20" validateEqual="password2" reverse="true"/>
          <div *ngIf="f.submitted && password?.errors?.required" class="help-block form-text text-danger">
            Password is required
          </div>
          <div *ngIf="f.submitted && (password?.errors?.pattern || password?.errors?.minlength || password?.errors?.maxlength)" class="help-block form-text text-danger">
            Password needs 6-20 characters, one alphabet and one number.
          </div>
          <div *ngFor="let message of errorMessages?.password" class="help-block form-text text-danger">{{message}}</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Confirm new password</label>
          <input type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required  validateEqual="password" reverse="false"/>
          <div *ngIf="f.submitted && !password2.valid" class="help-block form-text text-danger">Password mismatch</div>
          <div *ngFor="let message of errorMessages?.password2" class="help-block form-text text-danger">{{message}}</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Reset password</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <div *ngIf="errorMessage" class="help-block form-text text-danger">Something went wrong! Please
            <a [routerLink]="['/request-password-reset']" class="text-muted">request a new email</a> for a password reset.
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="confirm">
      <h1>Your password has been reset</h1>
      <p class="lead mt-5">You can now login</p>
      <button class="btn btn-block btn-primary" routerLink="/login">Login</button>
    </div>
  </div>
</div>



