<div [ngClass]="{'dev-view': entityEditor.devView}">
  <span *ngIf="entityEditor.devView">
    <ng-container *ngTemplateOutlet="dev"></ng-container>
  </span>

  <ng-container *ngTemplateOutlet="header"></ng-container>

  <div [@slideInOut]="'expanded'">

    <div class="card-body">
      
      <div *ngIf="state === 'editable'">
        <button type="button" class="btn btn-block btn-primary" *ngIf="!formHasValue()" (click)="startEditingInitialForm()">
          Add
        </button>

        <div class="d-flex align-items-center" *ngIf="formHasValue()">

          <div class="gv-flex-grow-1">
            <div class="d-flex" *ngIf="existenceTime.p82">
              At some time within&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'duration'" [timePrimitive]="existenceTime.p82"></gv-time-primitive-ctrl>
            </div>

            <div class="d-flex" *ngIf="existenceTime.p81">
              Throughout&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'duration'" [timePrimitive]="existenceTime.p81"></gv-time-primitive-ctrl>
            </div>

            <div class="d-flex" *ngIf="existenceTime.p81a && !existenceTime.p82a">
              Begin&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'duration'" [timePrimitive]="existenceTime.p81a"></gv-time-primitive-ctrl>
            </div>

            <div class="d-flex" *ngIf="existenceTime.p81b && !existenceTime.p82b">
              End&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'duration'" [timePrimitive]="existenceTime.p81b"></gv-time-primitive-ctrl>
            </div>


            <div class="d-flex" *ngIf="existenceTime.p81a && existenceTime.p82a">
              Surely existing from&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'lastSecond'" [timePrimitive]="existenceTime.p81a"></gv-time-primitive-ctrl>
            </div>

            <div class="d-flex" *ngIf="existenceTime.p81b && existenceTime.p82b">
              Surely existing to&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'firstSecond'" [timePrimitive]="existenceTime.p81b"></gv-time-primitive-ctrl>
            </div>

            <div class="d-flex" *ngIf="existenceTime.p82a">
              Not existing before&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'firstSecond'" [timePrimitive]="existenceTime.p82a"></gv-time-primitive-ctrl>
            </div>
            <div class="d-flex" *ngIf="existenceTime.p82b">
              Not existing after&nbsp;
              <gv-time-primitive-ctrl [state]="'view'" [show]="'lastSecond'" [timePrimitive]="existenceTime.p82b"></gv-time-primitive-ctrl>
            </div>
          </div>

          <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
            <button class="btn btn-link" type="button" ngbDropdownToggle>
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
              <button type="button" name="button" class="dropdown-item" (click)="startEditingMainForm()">edit</button>
            </div>
          </div>

        </div>
      </div>



      <!-- This form is initially shown, before any TimePrimitive is defined  -->
      <form [formGroup]="initialForm" (ngSubmit)="startChooseStatement()" *ngIf="initialFormVisible">

        <div class="form-row" *ngIf="initialTimePrimitiveVisible">
          <div class="col mb-3">
            <label class="sr-only">Date</label>
            <gv-time-primitive-ctrl [state]="'edit'" [show]="'firstSecond'" formControlName="timePrimitive" (onSubmit)="startChooseStatement()"></gv-time-primitive-ctrl>
          </div>
        </div>


        <div class="form-row" *ngIf="chooseStatementVisible">
          <div class="col mb-3">
            <label class="mb-3">Please select an option:</label>

            <div class="card mb-3 gv-pointer" (click)="chooseBegins()">
              <div class="card-body">
                Begins {{initTpLabel}}
              </div>
              <div class="card-body">
                <p class="card-text text-muted font-sm">
                  This phenomena begins in {{initTpLabel}}.
                </p>
                <button class="btn btn-link">Select and continue</button>
              </div>
            </div>

            <div class="card mb-3 gv-pointer" (click)="chooseAtSomeTimeWithin()">
              <div class="card-body">
                At some time within {{initTpLabel}}
              </div>
              <div class="card-body">
                <p class="card-text text-muted font-sm">
                  This phenomena was ongoing at some time within {{initTpLabel}} but not before the begin of {{initTpLabel}} and not after
                  the end of {{initTpLabel}}.
                </p>
                <button class="btn btn-link">Select and save</button>
              </div>
            </div>

            <div class="card gv-pointer" (click)="chooseThroughout()">
              <div class="card-body">
                Throughout {{initTpLabel}}
              </div>
              <div class="card-body">
                <p class="card-text text-muted font-sm">
                  This phenomena was ongoing throughout {{initTpLabel}}. It was surely ongoing from the begin of {{initTpLabel}} to the end
                  of {{initTpLabel}}.
                </p>
                <button class="btn btn-link">Select and save</button>
              </div>
            </div>

          </div>
        </div>



        <div class="form-group mt-1">
          <button type="submit" class="btn btn-primary" *ngIf="okBtnVisible">Continue …</button>
          <button type="button" class="btn btn-link" (click)="stopEditingInitialForm()">Cancel</button>
        </div>
      </form>



      <form [formGroup]="mainForm" (ngSubmit)="onSubmitMainForm()" *ngIf="mainFormVisible">

        <!-- Begin Fieldset-->

        <span *ngFor="let fieldset of [fieldsets.begin]">
          <gv-fieldset-begin *ngIf="fieldset.visible" [fieldset]="fieldset" [formGroup]="mainForm" [existenceTime]="existenceTime" (onRemove)="removeValueFromField(fieldset, $event)"
          (onCancel)="cancelEditingField(fieldset, $event)" (onSubmit)="submitEditingField(fieldset, $event)"
          (onEdit)="startEditingField(fieldset, $event)"></gv-fieldset-begin>
        </span>

        <!-- End -->
        <span *ngFor="let fieldset of [fieldsets.end]">
          <gv-fieldset-end *ngIf="fieldset.visible" [fieldset]="fieldset" [formGroup]="mainForm" [existenceTime]="existenceTime">

            <!-- End > Ends -->
            <div class="form-row mb-3" *ngFor="let field of [fieldset.fields.end]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

            <!-- End > BegEnd -->
            <div class="form-row pl-5 mb-3" *ngFor="let field of [fieldset.fields.begEnd]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onEdit)="startEditingField($event.fieldset, $event.field)"
                (onSubmit)="submitEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

            <!-- End > endEnd -->
            <div class="form-row pl-5 mb-3" *ngFor="let field of [fieldset.fields.endEnd]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

          </gv-fieldset-end>
        </span>

        <!-- Inner bounds -->
        <span *ngFor="let fieldset of [fieldsets.inner]">
          <gv-fieldset-inner *ngIf="fieldset.visible" [fieldset]="fieldset" [formGroup]="mainForm" [existenceTime]="existenceTime">

            <!-- Inner Bound -->
            <div class="form-row mb-3" *ngFor="let field of [fieldset.fields.inner]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

            <!-- Left Inner Bound -->
            <div class="form-row pl-5 mb-3" *ngFor="let field of [fieldset.fields.leftInner]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

            <!-- Right Inner Bound -->
            <div class="form-row pl-5 mb-3" *ngFor="let field of [fieldset.fields.rightInner]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

          </gv-fieldset-inner>
        </span>


        <!-- Outer bounds -->
        <span *ngFor="let fieldset of [fieldsets.outer]">
          <gv-fieldset-outer *ngIf="fieldset.visible" [fieldset]="fieldset" [formGroup]="mainForm" [existenceTime]="existenceTime">

            <!-- Outer Bound -->
            <div class="form-row mb-3" *ngFor="let field of [fieldset.fields.outer]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

            <!-- Left Outer -->
            <div class="form-row pl-5 mb-3" *ngFor="let field of [fieldset.fields.leftOuter]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

            <!-- Right Outer -->
            <div class="form-row pl-5 mb-3" *ngFor="let field of [fieldset.fields.rightOuter]">

              <gv-field [field]="field" [fieldset]="fieldset" [formGroup]="mainForm" class="gv-flex-grow-1" (onRemove)="removeValueFromField($event.fieldset, $event.field)"
                (onCancel)="cancelEditingField($event.fieldset, $event.field)" (onSubmit)="submitEditingField($event.fieldset, $event.field)"
                (onEdit)="startEditingField($event.fieldset, $event.field)"></gv-field>

            </div>

          </gv-fieldset-outer>
        </span>



        <div class="form-group mt-3" *ngIf="mainFormBtnsVisible">
          <button [disabled]="mainForm.invalid || mainForm.pristine" type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-link" (click)="stopEditingMainForm()">Cancel</button>
        </div>
      </form>
    </div>


    <!-- <hr>
    <p>Form Status</p>
    <pre>
    {{mainForm.status | json}}
  </pre>
  <p>Existence Time</p>
  <pre>
  {{existenceTime | json}}
</pre>
<p>Form Value</p>
<pre>
{{mainForm.value | json}}
</pre> -->

  </div>
  <!-- ************************** NG TEMPLATES ****************************** -->
  <ng-template #header>
    <div class="btn-group d-flex flex-row gv-h5">
      <button class="btn btn-light btn-sm btn-block text-left rounded-0" (click)="toggleCardBody()">
        <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
        When
      </button>
    </div>
  </ng-template>

  <ng-template #dev>
    <span>
      [state: {{state}}]
    </span>
  </ng-template>



  <ng-template #tpField let-field="field" let-fieldset="fieldset">

    <div class="gv-flex-grow-1 d-flex flex-row align-items-center" *ngIf="field.state ==='editable'">

      <!-- Symbol -->
      <div class="mr-3 text-info gv-time-symbol">
        <i class="fa fa-arrow-right"></i>
      </div>

      <!-- Date preview -->
      <div class="gv-flex-grow-1 font-sm text-info">
        <label class="text-info mb-0">{{field.label}}</label>
        <br>
        <span *ngIf="mainForm.controls[field.ctrlName].value">
          {{field.datePrefix}} {{labelOfTimePrimitive(mainForm.controls[field.ctrlName].value)}}
        </span>
      </div>

      <!-- Dropdown -->
      <div class="">
        <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
          <button class="btn btn-link" type="button" ngbDropdownToggle>
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
            <button type="button" class="dropdown-item" (click)="startEditingField(fieldset, field)">Edit</button>
          </div>
        </div>
      </div>

    </div>


  </ng-template>