:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 8px 0 0;
}

.loc-left {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
}

.loc-right {
  flex: 0 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.loc-field-onto-info {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc-field-label {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;
  white-space: nowrap;
}

.loc-target-class-label {
  flex: 0 2 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: flex-start;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
}
.loc-count {
  padding-right: 8px;
}
