<div class="gv-search-existing" [hidden]="hidden">
  <div class="row">
    <div class="col-7">
      <form>
        <div class="form-group">
          <label class="col-form-label"><h4>Enter basic information</h4></label>
          <input type="text" name="searchString" class="form-control"
          aria-describedby="search"  autocomplete="off" autofocus
          placeholder="Enter a name of {{modalService?.selectedClass?.label}}"
          [value]="searchString" [formControl]="searchFormControl">
        </div>
      </form>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col-7">
      <h4 *ngIf="!loading && collectionSize > 0" >Are you looking for one of those?</h4>
      <h4 *ngIf="!loading && collectionSize === 0 && searchString.length >= minSearchStringLength" class="text-muted">Nothig there.</h4>

      <!-- <gv-loading-spinner [loading]="loading"></gv-loading-spinner> -->

      <div *ngIf="!loading">
        <div class="row mt-3">
          <div class="col">
            <div class="gv-search-hits">
              <gv-entity-search-hit *ngFor="let hit of persistentItems"
              [repositorySearch]="true" [persistentItem]="hit"
              (onAdd)="add($event)" (onOpen)="open($event)"></gv-entity-search-hit>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">

            <ngb-pagination *ngIf="collectionSize > limit" [maxSize]="3"
              [collectionSize]="collectionSize" [(page)]="page"
              (pageChange)="pageChange()" [pageSize]="limit"
              aria-label="Default pagination"></ngb-pagination>

            <span class="gv-search-hits-count mt-2" *ngIf="!loading && collectionSize > 0">
              <span  *ngIf="collectionSize > limit">
                {{hitsFrom()}}-{{hitsTo()}} of
              </span>
              {{collectionSize}} {{(collectionSize == 1 ? 'suggestion' : 'suggestions')}}
            </span>
          </div>

        </div>
      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-4" *ngIf="searchString.length >= minSearchStringLength">
      <h5>Nothing there?</h5>
      <p>
        It is always better to add existing entities than creating new ones. Only create a new {{modalService.selectedClass.label}}, if the one your looking for does not show up here.
      </p>
      <button type="button" name="button" class="btn btn-sm btn-primary" (click)="setEntityModalState('create-new')">Create new {{modalService.selectedClass.label}}</button>
    </div>
  </div>
</div>