<div class="d-flex flex-row align-items-baseline">
  <!-- with toggling  -->
  <h5 *ngIf="toggleButtonVisible" class="gv-pointer bg-transparent d-flex py-2 align-items-center gv-grow-1" (click)="toggleCardBody.emit()">
    <div class="gv-grow-1">
      <i class="fa fa-caret-right fa-fw" [ngClass]="{'fa-rotate-90': ((toggle$|async)==='expanded')}"></i>
      <!-- <span *ngIf="rolesCount">{{rolesCount}}</span> -->
      {{(rolesCount === 1) ? (label$ | async)?.sg : (label$ | async)?.default}}
    </div>
  </h5>
  <!-- without toggling  -->
  <h5 *ngIf="!toggleButtonVisible" class="bg-transparent d-flex py-2 align-items-center gv-grow-1">
    <div class="gv-grow-1">
      <!-- <span *ngIf="rolesCount">{{rolesCount}}</span> -->
      {{(rolesCount === 1) ? (label$ | async)?.sg : (label$ | async)?.default}}
    </div>
  </h5>
  <div *ngIf="(showOntoInfo$|async)" class="gv-grow-1 gv-card-spacer-x align-self-stretch d-flex">
    <div class="align-self-center">
      <a class="badge badge-success" href="http://ontologies.dataforhistory.org/property/{{(property$|async)?.dfh_pk_property}}"
        target="_blank">
        {{(property$|async)?.dfh_identifier_in_namespace}}
      </a>
    </div>
  </div>
  <div *ngIf="addButtonVisible" class="btn btn-sm btn-link-gray" (click)="startAddingRole.emit()">
    <i class="fa fa-plus"></i> Add a {{(label$ | async)?.sg}}
  </div>
  <button *ngIf="removeRoleSetBtnVisible" class="btn btn-light bg-transparent" (click)="removeRoleSet.emit()">
    <i class="fa fa-close"></i>
  </button>
</div>