<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="w-100">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> label </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <ng-container matColumnDef="identifierInNamespace">
      <th mat-header-cell *matHeaderCellDef> short identifier </th>
      <td mat-cell *matCellDef="let element">

        <a *ngIf="category=='property'" class="badge badge-success"
          [attr.href]="'http://ontologies.dataforhistory.org/property/' + element.id" target="_blank">
          {{element.identifierInNamespace}}
        </a>
        <a *ngIf="category=='class'" class="badge badge-success"
          [attr.href]="'http://ontologies.dataforhistory.org/class/' + element.id" target="_blank">
          {{element.identifierInNamespace}}
        </a>

      </td>
    </ng-container>

    <ng-container matColumnDef="numberOfInstances">
      <th mat-header-cell *matHeaderCellDef> Number of {{category=='class' ? 'entities': 'properties'}} </th>
      <td mat-cell *matCellDef="let element">
        {{element.numberOfInstances}} {{category=='class' ? 'entities': 'properties'}}
        <span *ngIf="status==='deactivated'">
          will be hidden
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="status==='deactivated'">
          <mat-icon [svgIcon]="element.numberOfInstances > 0 ? 'alert' : 'check-circle'"
            [color]="element.numberOfInstances > 0 ? 'warn' : 'primary'"></mat-icon>
        </span>
        <span *ngIf="status==='maintained'">
          <mat-icon svgIcon="check-circle" color="primary"></mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [hidden]="dataSource.data.length < paginator.pageSize" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>
</div>
