<div class="card gv-name">
  <ng-container *ngTemplateOutlet="header"></ng-container>
  <div [@slideInOut]="(toggle$|async)">

    <form [formGroup]="formGroup" *ngIf="formGroup">

      <div *ngFor="let item of (_fields$ | async) | keys; trackBy:getKey">
        <span [ngSwitch]="item.key">

          <gv-existence-time-add-ctrl *ngSwitchCase="'_existenceTime'" mode="add" [basePath]="basePath.concat('_fields').concat(item.key)"
            [formControlName]="'_existenceTime'" (touched)="markAsTouched()"></gv-existence-time-add-ctrl>

          <gv-te-ent-role-set-add-ctrl *ngSwitchDefault [parentPath]="basePath" [parentTeEntStatePath]="basePath" [index]="item.key"
            [formControlName]="item.key" (touched)="markAsTouched()"></gv-te-ent-role-set-add-ctrl>

        </span>
      </div>



      <!-- 
      <div *ngFor="let entry of (_fields$ | async) | keys; trackBy:getKey">
        <gv-te-ent-role-set-add-ctrl *ngIf="formGroup.get(entry.key)" [parentPath]="basePath" [parentTeEntStatePath]="basePath" [index]="entry.key"
          [formControlName]="entry.key" (touched)="markAsTouched()"></gv-te-ent-role-set-add-ctrl>
      </div> -->
    </form>

    <ng-container *ngTemplateOutlet="dating"></ng-container>
  </div>
</div>


<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <div class="card-header gv-name-header d-flex flex-row">
    <ng-content select="[headerLeft]"></ng-content>
    <div class="gv-grow-1 gv-pointer" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': ((toggle$|async)==='expanded')}"></i>
      <span *ngIf="labelInEdit">{{labelInEdit}}</span>
      <gv-te-ent-label [children]="(_fields$ | async)" [classConfig]="classConfig" [labelInEdit]="labelInEdit" [childrenPath]="basePath.concat('_fields$')"></gv-te-ent-label>
    </div>
    <div class="gv-card-spacer-x align-self-stretch d-flex" *ngIf="(showOntoInfo$|async)">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{(dfhClass$|async)?.dfh_pk_class}}" target="_blank">
          {{(dfhClass$|async)?.dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>
    <ng-content select="[headerRight]"></ng-content>
  </div>
</ng-template>

<ng-template #dating>
  <!-- <gv-te-ent-existence-time [parentPath]="basePath"></gv-te-ent-existence-time> -->
</ng-template>