<!-- CLASSES -->
<div *ngIf="isArrayClasses" class="qf-arr-classes">
  <div *ngFor="let child of formArrayFactory.children; let i=index" class="gv-full-with">
    <gv-qf-form-array *ngIf="child.arrayFactory" [formArrayFactory]="child.arrayFactory" class="left-col">
    </gv-qf-form-array>
    <gv-qf-form-control *ngIf="child.controlFactory" [formControlFactory]="child.controlFactory"
      class="gv-condition-block left-col">
    </gv-qf-form-control>
  </div>
  <div class="gv-qf-button-absolute-2">
    <button *ngIf="formArrayFactory.children?.length < 2 && formArrayFactory.control?.valid" mat-icon-button
      (click)="addClassesSubfilter()" matTooltip="Add Sub-Filter" class="gv-mat-icon-button-sm gv-btn-success">
      <mat-icon svgIcon="subdirectory-arrow-right"></mat-icon>
    </button>
  </div>
</div>

<!-- CONDITION -->
<div *ngIf="isArrayCondition" class="qf-arr-condition">

  <div class="gv-condition-block">
    <div *ngFor="let child of formArrayFactory.children; let i=index" class="gv-full-with">
      <gv-qf-form-control *ngIf="child.controlFactory" [formControlFactory]="child.controlFactory" class="left-col">
      </gv-qf-form-control>
    </div>
  </div>

  <div class="qf-prop-subgroups">
    <div *ngFor="let child of formArrayFactory.children; let i=index">
      <gv-qf-form-array *ngIf="child.arrayFactory" [formArrayFactory]="child.arrayFactory" class="left-col">
      </gv-qf-form-array>
    </div>
  </div>
  <div class="gv-qf-button-absolute-2">
    <button *ngIf="conditionCanHaveChildren" mat-icon-button (click)="addPropertiesSubfilter()"
      matTooltip="Add Sub-Filter" class="gv-mat-icon-button-sm gv-btn-success">
      <mat-icon svgIcon="subdirectory-arrow-right"></mat-icon>
    </button>
  </div>


</div>


<!-- PROPERTIES and filter on class values -->
<!-- <div *ngIf="isArrayProperties" class="qf-arr-properties">
  <div class="qf-prop-controls">
    <div *ngFor="let child of formArrayFactory.children; let i=index" [ngClass]="{'gv-grow-1': i > 0}">
      <gv-qf-form-control *ngIf="isFormControl(child)" [formControlFactory]="child">
      </gv-qf-form-control>
    </div>
  </div>
  <div class="qf-prop-subgroups">
    <div *ngFor="let child of formArrayFactory.children; let i=index">
      <gv-qf-form-array *ngIf="isFormArray(child)" [formArrayFactory]="child" class="left-col"></gv-qf-form-array>
    </div>
  </div>
  <div class="gv-qf-button-absolute-2">
    <button *ngIf="formArrayFactory.children?.length < 3 && formArrayFactory.control?.valid" mat-icon-button
      (click)="addPropertiesSubfilter()" matTooltip="Add Sub-Filter">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div> -->

<!-- SUBGROUP -->
<div *ngIf="isArraySubgroup" class="qf-arr-subgroup">
  <!-- <div class="mat-caption">isArraySubgroup</div> -->
  <div class="zero" [ngClass]="{'line': parentIsArraySubgroup}"> </div>
  <div class="first" [ngClass]="{'top-cut': parentIsArraySubgroup}">
    <div class="subgroup-operation-container">

      <!-- Subgroup Operation -->
      <gv-qf-form-control class="subgroup-operation-select" *ngIf="formArrayFactory.children.length > 2"
        [formControlFactory]="formArrayFactory.children[0]">
      </gv-qf-form-control>

    </div>

    <!-- Add a sibling condition -->
    <button [disabled]="formArrayFactory?.control?.invalid"
      class="add-sibling-button gv-mat-icon-button-sm gv-btn-success" mat-icon-button (click)="addSubgroupItem()"
      matTooltip="Add an 'and'/'or' Condition">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="second">
    <div class="sub-query-item" *ngFor="let child of formArrayFactory.children; let i=index">
      <div class="subquery-left">
        <!-- <div class="horizontal-line" *ngIf="!parentIsArraySubgroup"></div> -->
        <div class="horizontal-line" *ngIf="child.arrayFactory" [ngClass]="{
          'is-subgroup': childIsArraySubgroup(child.arrayFactory)
        }"></div>
        <!-- Split button to create Subgruop -->
        <!-- <button class="add-subgroup-button gv-mat-icon-button-sm gv-btn-success" mat-icon-button
          (click)="addSubgroup(i)" matTooltip="Add a Sub-Condition"
          *ngIf="dynamicFormControls?.length > 1 && !childIsArraySubgroup(child)">
          <mat-icon class="rotate-90">call_split</mat-icon>
        </button> -->
      </div>
      <gv-qf-form-array *ngIf="child.arrayFactory" [formArrayFactory]="child.arrayFactory"
        [ngClass]="{'is-subgroup': childIsArraySubgroup(child.arrayFactory)}"></gv-qf-form-array>

      <div *ngIf="child.arrayFactory && !childIsArraySubgroup(child.arrayFactory)" class="gv-qf-button-absolute-1">
        <button mat-icon-button (click)="removeSubfilter(i)" matTooltip="Remove"
          class="gv-mat-icon-button-sm gv-btn-danger">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div *ngIf="child.arrayFactory &&
      formArrayFactory.children.length > 2 &&
      formArrayFactory?.control?.valid &&
      !childIsArraySubgroup(child.arrayFactory)" class="gv-qf-button-absolute-3">
        <button mat-icon-button (click)="splitSubfilter(i, child.arrayFactory)" matTooltip="Split"
          class="gv-mat-icon-button-sm gv-btn-success">
          <mat-icon class="rotate-90">call_split</mat-icon>
        </button>
        <!-- l: {{formArrayFactory.children.length}}  -->
        <!-- p: {{parentIsArraySubgroup}} -->
        <!-- valid: {{formArrayFactory?.control?.valid}} -->
      </div>
    </div>
  </div>

</div>
