<span class="gv-flex-fh">

  <as-split class="gv-split-style" [ngClass]="{'gv-hide-split-gutter': !t.showRightArea}" [direction]="'horizontal'"
    gutterSize="1" [useTransition]="t.useTransition" (dragEnd)="t.onResizeArea($event)">

    <!-------------------------------------------------------------------
     Left area
  -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeLeft" class="d-flex flex-column">

      <gv-detail-top-bar [openRightAreaBtn]="!t.showRightArea" (openRight)="t.setShowRightArea(true);"
        *ngIf="(showHeader$ | async)">

        <gv-onto-class-info class="mx-2" *ngIf="showOntoInfo$ | async" [pkClass]="fkClass$ | async">
        </gv-onto-class-info>

        <span class="text-muted small ml-2">{{classLabel$ | async}}</span>

        <!-- <gv-type-item class="ml-3 small text-muted" [pkEntity]="pkEntity$|async"></gv-type-item> -->



        <div fxFlex fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button [matMenuTriggerFor]="mainMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #mainMenu="matMenu" xPosition="before">

            <!-- toggle onto info -->
            <button mat-menu-item (click)="$event.stopPropagation();">
              <mat-slide-toggle color="accent" [checked]="(showOntoInfo$|async)" (change)="toggle('showOntoInfo');">
                Ontology Info
              </mat-slide-toggle>
            </button>

          </mat-menu>
        </div>
      </gv-detail-top-bar>


      <gv-detail-content>

        <div class="gv-tile">

          <div class="gv-one-liner mx-2 mt-3">
            <h2>{{classLabel$ | async}}
              <span [matTooltip]="'Temporal Entity ' + pkEntity">{{title$ | async}}</span>
              <span class="ml-1 mat-caption" *ngIf="showOntoInfo$|async">{{pkEntity}}</span>
            </h2>
          </div>

          <div class="gv-tile-body p-2">
            <gv-properties-tree [pkEntity$]="pkEntity$" [pkClass$]="fkClass$" [showOntoInfo$]="showOntoInfo$">
            </gv-properties-tree>
          </div>
        </div>

      </gv-detail-content>
    </as-split-area>

    <!-------------------------------------------------------------------
      Right area
    -------------------------------------------------------------------->
    <as-split-area [size]="t.splitSizeRight" [ngClass]="{
        'd-flex flex-column': t.showRightArea,
        'd-none': !t.showRightArea
      }">
      <gv-detail-top-bar closeRightAreaBtn="true" (closeRight)="t.setShowRightArea(false)">
        <mat-tab-group animationDuration="0ms" [selectedIndex]="0">
          <mat-tab *ngIf="(showSourcesToggle$ | async)" label="Sources"> </mat-tab>
        </mat-tab-group>
      </gv-detail-top-bar>
      <gv-detail-content>

        <!-- Show Sources (where this TeEn is annotated) -->
        <gv-mentioning-list *ngIf="(showSources$ | async)" class="gv-tile"
          [basePath]="basePath.concat('mentionedEntities')" [listOf]="listOf">
        </gv-mentioning-list>

      </gv-detail-content>
    </as-split-area>
  </as-split>


</span>
