<div class="gv-grow-1 align-self-stretch d-flex">

  <form [formGroup]="formGroup" *ngIf="formGroup && roleState && formControlName" class="align-self-center gv-grow-1">

    <gv-appellation-ctrl *ngIf="roleState._appe" class="gv-grow-1 form-control p-0" [formControlName]="formControlName" (touched)="markAsTouched()"></gv-appellation-ctrl>

    <gv-language-ctrl *ngIf="roleState._lang" class="gv-grow-1 gv-outer-form-control" [formControlName]="formControlName" (touched)="markAsTouched()"></gv-language-ctrl>

    <gv-leaf-pe-it-view *ngIf="(isCircular$|async) && roleState.role.fk_entity" [basePath]="(basePath.concat('_leaf_peIt'))"
      [isCircular]="true"></gv-leaf-pe-it-view>

    <gv-leaf-pe-it-ctrl *ngIf="!(isCircular$|async) && roleState._leaf_peIt" [formControlName]="formControlName" (touched)="markAsTouched()"
      [basePath]="(basePath.concat('_leaf_peIt'))" [pkClass]="roleState.targetClassPk"></gv-leaf-pe-it-ctrl>

    <gv-time-primitive-ctrl *ngIf="roleState._timePrimitive" [formControlName]="formControlName" (touched)="markAsTouched()"></gv-time-primitive-ctrl>

    <gv-place-ctrl *ngIf="roleState._place" [formControlName]="formControlName" (touched)="markAsTouched()"></gv-place-ctrl>

    <!--
      <gv-control-messages *ngIf="formGroup.get(formControlName)" [control]="formGroup.get(formControlName)"></gv-control-messages> 
    </div>-->

  </form>
</div>

