<form [formGroup]="formGroup" class="d-flex flex-column">

  <!-- Column Label -->
  <mat-form-field appearance="outline">
    <mat-label>Name of the column</mat-label>
    <input matInput [formControl]="labelCtrl" name="label" required (focus)="onFocus()" (blur)="onBlur()">
    <mat-error *ngIf="labelCtrl.invalid && labelCtrl.touched">Name required</mat-error>
  </mat-form-field>

  <!-- Column Query Path -->
  <mat-form-field appearance="outline" *ngIf="!model?.defaultType">
    <mat-label>Path to the content of this column</mat-label>
    <gv-query-path-control [formControl]="queryPathFormCtrl" [propertyOptions$]="propertyOptions$" (focus)="onFocus()"
      (blur)="onBlur()" #c [gvNoInvalidChildren]="c.formGroup.controls">
    </gv-query-path-control>
    <mat-hint>Define what this column contains by creating a path from the firts type of entity defined in step 1 to the
      content of the column.</mat-hint>
    <mat-error *ngIf="queryPathFormCtrl.invalid && queryPathFormCtrl.touched">Invalid Path</mat-error>
  </mat-form-field>

  <!-- Hints for default columns -->
  <div *ngIf="model?.defaultType === 'entity_label'">
    This default column shows the label of the entity.
  </div>
  <div *ngIf="model?.defaultType === 'class_label'">
    This default column shows the label of the class of entity.
  </div>
  <div *ngIf="model?.defaultType === 'type_label'">
    This default column shows the label of type of the entity (if there is a type).
  </div>
  <div *ngIf="model?.defaultType === 'entity_preview'">
    This default column shows a compact preview of the entity (a combination of the entity label and the entity
    class/type).
  </div>

</form>