<div class="gv-row-space-between loc-pt">

    <div class="gv-col-center" style="width:5%"></div>

    <!-- Select the right property -->
    <div class="gv-col-center" style="width:25%">
        <gv-factoid-property-display [pkProperty]="fpm?.pkProperty" [pkClass]="fm.pkClass"
            (onChange)="fpmChange('pkProperty', $event.property.fkProperty)">
        </gv-factoid-property-display>
    </div>

    <!-- Select the right column -->
    <gv-column-mapping class="px-2 gv-col-center" style="width:25%" [disabled]="!fpm?.pkProperty"
        [pkColumn]="fpm.pkColumn" [pkTable]="fm?.pkDigital" [pkTargetClasses$]="pkTargetClasses$"
        (onChange)="fpmChange('pkColumn', $event)" (outputClass)="selectedClass($event)">
    </gv-column-mapping>

    <!-- Select the right default -->
    <gv-ctrl-entity-or-value-matcher class="gv-col-center" style="width:20%" [disabled]="!fpm?.pkColumn"
        [pkProject]="pkProject" [klass$]="selectedKlass$" [pkEntity]="this.fpm?.default?.pkEntity"
        [value]="fpm?.default?.value" (newPkEntity)="fpmChange('default', {'pkEntity': $event})">
    </gv-ctrl-entity-or-value-matcher>

    <!-- Options: Comment about the line + remove property -->
    <div class="gv-row-space-around" style="width:25%">

        <!-- Comment -->
        <div class="gv-col-center">
            <gv-comment-menu class="gv-col-center" [title]="'Comment about this property mapping'"
                [content]="fpm?.comment" (onChange)="fpmChange('comment', $event)">
            </gv-comment-menu>
        </div>

        <!-- Remove property -->
        <div class="gv-col-center">
            <mat-icon class="mx-2" class="loc-pointer" style="color: inherit" (click)="deleteRow()">close</mat-icon>
        </div>

        <!-- Placeholder -->
        <div class="gv-col-center">
            <mat-icon></mat-icon>
        </div>
    </div>



</div>