<gv-properties-tree-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$" [section]='basic'>
</gv-properties-tree-section>
<gv-properties-tree-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$" [section]='metadata'>
</gv-properties-tree-section>
<gv-properties-tree-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$" [section]='specific'>
</gv-properties-tree-section>
