<div class="loc-drop-list" #dropList cdkDropList
  [cdkDropListConnectedTo]="viewFieldDropListService.connectedToDropLists$|async"
  [gvViewFieldDropList]="viewFieldDropListService" [dlField]="field" [dlSource]="source" [dlScope]="scope"
  [cdkDropListData]="viewFieldDropListService"
  [id]="'n_'+source.fkInfo+ '_f_'+field.property.fkProperty+'_'+field.isOutgoing"
  (cdkDropListDropped)="viewFieldDropListService.drop($event)"
  [ngClass]="{'loc-dropzone-accepts':viewFieldDropListService.dropZoneAccepts$|async}">

  <!-- DROP HERE -->
  <div *ngFor="let item of []" cdkDrag [cdkDragData]="item"> </div>

</div>
<!-- <div class="loc-container" gvOpenCloseContainer [isOpen$]="showBody$">
  <div gvOpenCloseChild>

    <div [ngClass]="{'gv-fh': (addMode$|async)&&(items$|async)?.length}">
      <span class="mat-bg-grey-50">
        <mat-paginator *ngIf="!noPagination" [length]="itemsCount$ | async" [pageSize]="limit$ | async"
          [pageIndex]="pageIndex$ | async" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]=true
          [hidden]="(itemsCount$ | async) <= limit" (page)="onPageChange($event)">
        </mat-paginator>
      </span>
      <mat-divider [hidden]="(itemsCount$ | async) <= limit"></mat-divider>
    </div>

    <ng-container *ngIf="(items$|async)?.length">
      <div *ngIf="addMode$|async" class="gv-row-space-between">
        <div class="gv-row-center">
          <button [disabled]="(selectedCount$ | async) < 1 || (adding$|async)" type="submit" mat-flat-button
            color="primary" class="mr-2" (click)="add()">
            <ng-container *ngIf="!(adding$|async)">
              Add selected ({{selectedCount$|async}})
            </ng-container>
            <div *ngIf="(adding$|async)" style="margin: 6px;">
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
          </button>
          <button [disabled]="targetIsUnique" type="submit" mat-flat-button color="primary" class="mr-2"
            (click)="next.emit()">Create new</button>
        </div>
        <button type="button" mat-button (click)="close.emit()">Cancel</button>
      </div>


    </ng-container>


    <div *ngIf="!(items$|async)" class="gv-flex-fh justify-content-center align-items-center">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
  </div>
</div> -->
