:host {
  width: 100%;
}
.loc-container {
  background-color: white;
}
.loc-drop-list {
  min-height: 60px;
}
.loc-dropzone-accepts {
  border: 2px dashed blue;
  border-radius: 2px;
}
.cdk-drop-list-dragging {
  background-color: aqua;
}
.loc-no-items {
  display: flex;
  align-items: center;
}

mat-paginator {
  margin-top: -8px;
  // background-color: white;
}
