<h2>
  Properties
</h2>
<p>
  All Properties. (Gui labels are in english)
</p>

<div class="form-inline">
  <div *ngFor="let col of columnsCopy" class="custom-control custom-checkbox" (click)="toggle(col.key)">
    <input type="checkbox" class="custom-control-input" [checked]="checked.has(col.key)">
    <label class="custom-control-label mr-3">
      {{col.title}}
    </label>
  </div>
</div>

<ngx-table [configuration]="tableConfiguration" [data]="data" [columns]="columns"
  [summaryTemplate]="summaryTemplateRef">
  <ng-template let-row let-index="index">
    <td *ngIf="checked.has('dfh_has_domain')">
      {{row.dfh_has_domain}}
    </td>
    <td *ngIf="checked.has('domain_standard_label')">
      <a href routerLink="../classes/{{row.dfh_has_domain}}"> {{row?.domain_standard_label}}</a>
    </td>
    <td *ngIf="checked.has('dfh_pk_property')">
      {{row.dfh_pk_property}}
    </td>
    <td *ngIf="checked.has('property_standard_label')">
      {{row.property_standard_label}}
    </td>
    <td *ngIf="checked.has('dfh_has_range')">
      {{row.dfh_has_range}}
    </td>
    <td *ngIf="checked.has('range_standard_label')">
      <a href routerLink="../classes/{{row.dfh_has_range}}">{{row?.range_standard_label}}</a>
    </td>
    <td *ngIf="checked.has('dfh_domain_instances_max_quantifier')">
      {{row.dfh_domain_instances_max_quantifier}}
    </td>
    <td *ngIf="checked.has('dfh_domain_instances_min_quantifier')">
      {{row.dfh_domain_instances_min_quantifier}}
    </td>
    <td *ngIf="checked.has('dfh_range_instances_max_quantifier')">
      {{row.dfh_range_instances_max_quantifier}}
    </td>
    <td *ngIf="checked.has('dfh_range_instances_min_quantifier')">
      {{row.dfh_range_instances_min_quantifier}}
    </td>
    <td *ngIf="checked.has('gui_label_sg')">
      <gv-dfh-label-list-edit [comFkSystemType]="config.PROPERTY_LABEL_SG" [infFkLanguage]="18889"
        [dfhFkProperty]="row.dfh_pk_property"></gv-dfh-label-list-edit>
    </td>
    <td *ngIf="checked.has('gui_label_pl')">
      <gv-dfh-label-list-edit [comFkSystemType]="config.PROPERTY_LABEL_PL" [infFkLanguage]="18889"
        [dfhFkProperty]="row.dfh_pk_property"></gv-dfh-label-list-edit>
    </td>
    <td *ngIf="checked.has('gui_label_sg_inv')">
      <gv-dfh-label-list-edit [comFkSystemType]="config.PROPERTY_LABEL_INVERSED_SG" [infFkLanguage]="18889"
        [dfhFkProperty]="row.dfh_pk_property"></gv-dfh-label-list-edit>
    </td>
    <td *ngIf="checked.has('gui_label_pl_inv')">
      <gv-dfh-label-list-edit [comFkSystemType]="config.PROPERTY_LABEL_INVERSED_PL" [infFkLanguage]="18889"
        [dfhFkProperty]="row.dfh_pk_property"></gv-dfh-label-list-edit>
    </td>
    <td *ngIf="checked.has('identity_defining')" [ngClass]="{'bg-success': row.identity_defining}">
      <button (click)="changeIdentityDefining(row)">change</button> {{row.identity_defining | json}}
    </td>
    <td *ngIf="checked.has('profiles')">
      {{row.profiles}}
    </td>
    <td *ngIf="checked.has('removed_from_profiles')">
      {{row.removed_from_profiles}}
    </td>
  </ng-template>
</ngx-table>
<ng-template #summaryTemplateRef let-total="total">
  <th>
    Total items: {{ total }}
  </th>
</ng-template>