<h1 class="mb-5">{{(class$|async)?.dfh_standard_label}} <small class="text-muted">Class Configuration for different
        App-Contexts </small></h1>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title m-0">App-Contexts</h3>
                <a href="https://kleiolab.atlassian.net/wiki/spaces/GEOV/pages/796491781/Define+Properties+and+Fields+of+a+Class" target="_blank">Help?</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item lead">Toolbox-wide</li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_ADD}}" routerLinkActive="active">
                    <strong>Add functionality</strong>
                    <div class="font-sm">
                        Define which properties are takeen into account when a instance of
                        {{(class$|async)?.dfh_standard_label}} is added to a project. This
                        settings are Toolbox-wide (independent of the UI-Context), since they are relevant for the
                        backend only and no
                        screen is shown to the user, when adding a class instance.
                    </div>
                </li>
                <li class="list-group-item lead">Within "DataUnits"</li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_DATAUNITS_EDITABLE}}"
                    routerLinkActive="active">
                    <strong>View and Edit screens</strong>
                    <div class="font-sm">
                        Define the subset and order of properties displayed... <br>
                        <ol>
                            <li>
                                ...when a user looks at an instance of {{(class$|async)?.dfh_standard_label}} (roles of
                                disabled properties are excluded). (->View)
                            </li>
                            <li>
                                ...when a user looks at an instance of {{(class$|async)?.dfh_standard_label}} and opens
                                the "add a propery" dropdown. (->Edit)
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_DATAUNITS_CREATE}}"
                    routerLinkActive="active">
                    <strong>Create screen</strong>
                    <div class="font-sm">
                        Define the order and subsets of form-fields, displayed when a user creates a new instance of
                        {{(class$|async)?.dfh_standard_label}} (after clicking on "add an entity").
                    </div>
                </li>
                <li class="list-group-item lead">Within "Sources"</li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_SOURCES_EDITABLE}}"
                    routerLinkActive="active">
                    <strong>View and Edit screens</strong>
                    <div class="font-sm">
                        Define the subset and order of properties displayed... <br>
                        <ol>
                            <li>
                                ...when a user looks at an instance of {{(class$|async)?.dfh_standard_label}} (roles of
                                disabled properties are excluded). (->View)
                            </li>
                            <li>
                                ...when a user looks at an instance of {{(class$|async)?.dfh_standard_label}} and opens
                                the "add a propery" dropdown. (->Edit)
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_SOURCES_CREATE}}"
                    routerLinkActive="active">
                    <strong>Create screen</strong>
                    <div class="font-sm">
                        Define the order and subsets of form-fields, displayed when a user creates a new instance of
                        {{(class$|async)?.dfh_standard_label}} (after clicking on "add an entity").
                    </div>
                </li>
                <li class="list-group-item lead">Within "Data Settings > Types"</li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_DATA_SETTINGS_TYPES_EDITABLE}}"
                    routerLinkActive="active">
                    <strong>View and Edit screens</strong>
                    <div class="font-sm">
                        Define the subset and order of properties displayed... <br>
                        <ol>
                            <li>
                                ...when a user looks at an instance of {{(class$|async)?.dfh_standard_label}} (roles of
                                disabled properties are excluded). (->View)
                            </li>
                            <li>
                                ...when a user looks at an instance of {{(class$|async)?.dfh_standard_label}} and opens
                                the "add a propery" dropdown. (->Edit)
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="list-group-item gv-pointer" routerLink="ui-context/{{PK_UI_CONTEXT_DATA_SETTINGS_TYPES_CREATE}}"
                    routerLinkActive="active">
                    <strong>Create screen</strong>
                    <div class="font-sm">
                        Define the order and subsets of form-fields, displayed when a user creates a new instance of
                        {{(class$|async)?.dfh_standard_label}} (after clicking on "add an entity").
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>