<div class="gv-field" (mouseenter)="enableDrag()" (touchstart)="enableDrag()" *ngIf="!isolateRoleDetail">

  <span [hidden]="(_property_field_form$ | async)">
    <gv-field-header [property$]="property$" [label$]="label$" [toggle$]="toggle$" [showOntoInfo$]="showOntoInfo$"
      [addButtonVisible]="addButtonVisible" [toggleButtonVisible]="true" [removePropertyFieldBtnVisible]="removePropertyFieldBtnVisible"
       (toggleCardBody)="toggleCardBody()" (startAddingRole)="startAddingRole()"
      (removePropertyField)="removePropertyField()"></gv-field-header>
    <div [@slideInOut]="(toggle$|async)">

      <div cdkDropList class="list-group"  [cdkDropListDisabled]="!(dragEnabled$|async)" (cdkDropListDropped)="onChangeOrder($event)">
        <div cdkDrag *ngFor="let entry of roleDetails; trackBy:getKey;"  [cdkDragData]="entry" class="list-group-item p-0">

          <gv-pe-it-role-editable [parentPath]="basePath" intermediatePathSegment="_role_list" [index]="entry.key">
            <button headerRight class="btn btn-link-gray" (click)="removeFromProject(entry.key)" title="Remove from project"
              *ngIf="!(isViewMode$ | async)">
              <i class="fa fa-trash"></i>
            </button>
          </gv-pe-it-role-editable>

        </div>
      </div>



    </div>
  </span>

  <!-- Spinner for when loading roles not in project -->

  <div class="card-body" *ngIf="(rolesNotInProjectLoading$|async)">
    <i class="fa fa-spinner fa-pulse"></i> Searching for existing {{(label$ | async).sg}}…
  </div>

  <gv-pe-it-property-field-form *ngIf="(_property_field_form$ | async)" [parentPath]="basePath" [parentPeItPath]="parentPeItStatePath"
    (createRoles)="createRoles($event)"></gv-pe-it-property-field-form>

</div>

<gv-pe-it-role-editable *ngIf="isolateRoleDetail" [parentPath]="basePath" intermediatePathSegment="_role_list" [index]="isolateRoleDetail"></gv-pe-it-role-editable>