<mat-icon class="loc-pointer hide-text" style="color: inherit" [matMenuTriggerFor]="menu"
    matBadge="{{content.length>0 ? '0': ''}}" matBadgeSize="small">notes
</mat-icon>

<mat-menu #menu="matMenu" class="loc-content">
    <div class="gv-row-center">
        <span class="mat-text-secondary mb-2">{{title}}</span>
    </div>

    <mat-form-field appearance="outline" class="loc-comment">
        <textarea (click)="$event.stopPropagation();" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" [(ngModel)]="content"></textarea>
    </mat-form-field>

    <div class="gv-row-end mt-1">
        <button class="btn btn-primary" (click)="validate()">Save</button>
    </div>
</mat-menu>