<div class="main">
  <!-- small header of field -->
  <div class="mat-caption mat-text-secondary d-flex">
    <gv-onto-property-info class="mr-2" *ngIf="showOntoInfo$|async" [pkProperty]="field.property.fkProperty">
    </gv-onto-property-info>
    <gv-field-label [fkProperty]="field.property.fkProperty" [fkSourceClass]="field.sourceClass"
      [isOutgoing]="field.isOutgoing" [showTooltip]=true></gv-field-label>
    <a href *ngIf="(page$|async)?.count > 1" class="gv-passive-link ml-1" (click)="openList()" matTooltip="Open list">
      ({{(page$|async)?.count }})
    </a>
  </div>
  <!-- value of field -->
  <ng-container *ngFor="let statementWT of (page$|async)?.statements">
    <ng-container *ngIf="statementWT.target.entity; else cell">
      <gv-entity-preview [dragEnabled]="false" [openTabOnClick]="!readonly"
        [pkEntity]="statementWT.target.entity.resource.pk_entity"
        [matTooltip]="statementWT.target.entity?.entityPreview?.entity_label">
      </gv-entity-preview>
    </ng-container>
    <ng-template #cell>
      <div class="loc-cell" *ngIf="statementWT.target.cell; else default">


        <div class="loc-cell-line-one">
          {{statementWT.targetLabel}}
        </div>
        <div class="loc-cell-line-two  mat-caption mat-text-secondary">
          <gv-class-info class="loc-cell-class-info" [size]="12" [showOntoInfo$]="showOntoInfo$"
            [pkClass]="statementWT.targetClass" [classLabel]="field.targets[statementWT.targetClass]?.targetClassLabel"
            [isFavorite]="statementWT.ordNum===1">
          </gv-class-info>
          Cell [{{statementWT.target.cell.fk_column}}:{{statementWT.target.cell.fk_row}}]
        </div>
      </div>
    </ng-template>

    <ng-template #default>
      <span [matTooltip]="statementWT?.targetLabel">
        {{statementWT?.targetLabel}}
      </span>
    </ng-template>
  </ng-container>
</div>
