gv-field-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

// .main:hover {
//   width: auto;
//   min-width: 200px;
// }
