gv-field-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.loc-cell {
  line-height: 1.2;
  white-space: nowrap;

  .loc-cell-line-two {
    display: flex;
    line-height: 1;
    margin-top: 2px;
  }
}
.loc-cell-class-info {
  margin-right: 2px;
}
