<mat-form-field *ngIf="formControlFactory.config?.data.ctrlClasses" class="w-100" appearance="legacy">
  <mat-label>{{formControlFactory.config?.placeholder}}</mat-label>
  <gv-class-and-type-select [formControl]="formControlFactory.control"
    [disabled]="formControlFactory.config?.disabled$ | async"
    [pkClasses$]="formControlFactory.config?.data.ctrlClasses.pkClasses$"
    [required]="formControlFactory.config?.required">
  </gv-class-and-type-select>
  <mat-error *ngIf="formControlFactory.control.hasError('classOrTypeRequired')">
    Please select
  </mat-error>
</mat-form-field>
