<!-- TeEnt Component (passing the temporal entity) -->
<gv-te-ent-editable [parentPath]="basePath">
  <div headerRight class="d-flex">

    <!-- UI for standard in project -->

    <!-- <div class="gv-standard-in-project"> -->

      <!-- If is standard -->

      <!-- <i class="fa fa-eye gv-true text-primary" title="Is standard" *ngIf="(isDisplayRoleInProject$|async)"></i> -->

      <!-- If not standard -->

      <!-- <button type="button" name="button" class="btn btn-link btn-sm" *ngIf="!(isDisplayRoleInProject$|async)" [attr.disabled]="(changingDisplayRole$|async) ? 'disabled' : null"
        (click)="requestStandard()" title="Make standard">
        <i class="fa fa-eye-slash gv-false"></i>
      </button>

    </div> -->

    <!-- dropdown -->

    <ng-content select="[headerRight]"></ng-content>


  </div>


   <!--<div belowHeader>
    <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small" *ngIf="communityStatsVisible">

      <ul class="gv-ul-sm">
        <li class="gv-li-inline">
          <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count === 1 ? 'project':'projects'}}">
            <span>
              <i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
          </a>
        </li>
        <li class="gv-li-inline">
          <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count === 1 ? 'project':'projects'}}">
            <span>
              <i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
          </a>
        </li>
      </ul>
    </div>

  </div> -->
</gv-te-ent-editable>