<div class="gv-ti-container" *ngIf="!editing">
  <span *ngIf="(pkType$ | async)">{{typeLabel$|async}}</span>
  <i *ngIf="!(pkType$ | async)">No Type</i>
  <button *ngIf="!isViewMode" mat-icon-button (click)="editing = true">
    <mat-icon class="md-18">edit</mat-icon>
  </button>
</div>

<form [formGroup]="formGroup" class="d-flex align-items-center" *ngIf="editing">
  <mat-form-field>
    <gv-ctrl-type class="w-100" [pkTypedClass]="pkTypedClass" [pkTypeClass]="pkTypeClass" formControlName="typeCtrl"
      (blur)="editing = false" [autoopen]="true"></gv-ctrl-type>
  </mat-form-field>
</form>
