<div class="card-body" *ngIf="loadingAlternatives$ | async">
  <i class="fa fa-spinner fa-pulse"></i> Searching for existing {{(t.showControl$ | async).label}}…
</div>

{{(t.showControl$ | async).listType}}
{{alternatives$ | async}}

<!-- Step 1: Form for adding existing roles -->

<gv-temporal-entity-add-list *ngIf="(t.showControl$ | async).listType == 'temporal-entity' && (alternatives$|async)" fxLayout="column" fxLayoutAlign="space-between stretch"
  [listDefinition]="t.showControl$ | async" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
  [pkEntity]="pkEntity" [appContext]="appContext"></gv-temporal-entity-add-list>



<!--

<form [formGroup]="addForm" (ngSubmit)="addRoles()" *ngIf="alternatives$">




    <gv-appellation-list *ngIf="is(node, 'appellation')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async"></gv-appellation-list>

    <gv-language-list *ngIf="is(node, 'language')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async"></gv-language-list>

    <gv-place-list *ngIf="is(node, 'place')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async"></gv-place-list>

    <gv-entity-preview-list *ngIf="is(node, 'entity-preview')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async"></gv-entity-preview-list>

    <gv-temporal-entity-list *ngIf="is(node, 'temporal-entity')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async" [appContext]="appContext"></gv-temporal-entity-list>

    <gv-time-span-list *ngIf="is(node, 'time-span')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async"></gv-time-span-list>

    <gv-text-property-list *ngIf="is(node, 'text-property')" fxLayout="column" fxLayoutAlign="space-between stretch"
      [listDefinition]="node" [treeControl]="treeControl" [showOntoInfo$]="showOntoInfo$" [readonly$]="readonly$"
      [pkEntity]="pkEntity$ | async"></gv-text-property-list>

     <div class="list-group-item p-0 d-flex align-items-stretch" *ngFor="let entry of _role_add_list | keys; trackBy:getKey">

      <div class="px-3 border-right d-flex align-items-center">
        <input type="checkbox" [formControlName]="entry.key">
      </div>

      <gv-pe-it-role-editable class="gv-grow-1" [parentPath]="propertyFieldFormPath" intermediatePathSegment="_role_add_list"
        [index]="entry.key">
      </gv-pe-it-role-editable>

    </div>
  </div>


  <div class="my-3">
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary mr-2">Add selected</button>
    <button type="submit" class="btn btn-primary mr-2" (click)="startCreateNewRole()">Create new</button>
    <button type="button" class="btn btn-link" (click)="t.showControl$.next(null)">Cancel</button>
  </div>

</form>
-->

<!-- Step 2: Form for creating new roles -->
<!-- <form [formGroup]="createForm" (ngSubmit)="createRoles()" *ngIf="(_property_field_form$ | async)?._role_create_list">

  <div class="my-3 text-white d-flex">
    <h4 class="gv-grow-1 align-self-center m-0">
      Add a new {{(label$ | async)?.sg}}
    </h4>
  </div>

  <div class="my-3">
    <div *ngFor="let entry of (_property_field_form$ | async)?._role_create_list | keys; trackBy:getKey">
      <gv-pe-it-role-create-ctrl *ngIf="createForm.get(entry.key)" [parentPath]="propertyFieldFormPath" [index]="entry.key"
        intermediatePathSegment="_role_create_list" [formControlName]="entry.key"></gv-pe-it-role-create-ctrl>
    </div>
  </div>


  <div class="my-3">
    <button [disabled]="createForm.invalid" type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-link" (click)="cancelCreateRoles()">Cancel</button>
  </div>
</form> -->

