<div class="card">

  <!-- Header allowing to add a property -->
  <!-- <gv-te-ent-header [showOntoInfo$]="showOntoInfo$" [classConfig]="classConfig" [selectPropState$]="selectPropState$"
    [addButtonVisible]="true" (startSelectProperty)="startSelectProperty()"></gv-te-ent-header> -->

  <!-- What do you want to add? -->
  <gv-add-info-te-ent *ngIf="(selectPropState$ | async) === 'selectProp'" [addOptions$]="addOptionsTeEnt$"
    (addOptionSelected)="addOptionSelected($event)" (cancel)="stopSelectProperty()"></gv-add-info-te-ent>

  <!-- The form itself -->
  <form class="card-body" [formGroup]="formGroup" *ngIf="formGroup">

    <div *ngFor="let item of (_fields$ | async) | keys; trackBy:getKey">
      <span [ngSwitch]="item.key">

        <gv-existence-time-editable *ngSwitchCase="'_existenceTime'" [basePath]="basePath.concat('_fields').concat(item.key)"
          (onRemovePropSet)="removePropSet(item.key)" mode="create" [formControlName]="item.key" (touched)="markAsTouched()"></gv-existence-time-editable>

        <gv-te-ent-property-field-create-ctrl *ngSwitchDefault [parentPath]="basePath" [parentTeEntStatePath]="basePath"
          [index]="item.key" (onRemovePropertyField)="removePropertyField(item.key)" [formControlName]="item.key" (touched)="markAsTouched()"></gv-te-ent-property-field-create-ctrl>

      </span>
    </div>

  </form>

</div>