<div class="card">

  <!-- Header allowing to add -->
  <gv-te-ent-header [ontoInfoVisible$]="ontoInfoVisible$" [classConfig]="classConfig" [selectPropState$]="selectPropState$"
    (startSelectProperty)="startSelectProperty()"></gv-te-ent-header>

  <!-- What do you want to add? -->
  <gv-add-info-te-ent *ngIf="(selectPropState$ | async) === 'selectProp'" [uiElements]="uiElementsForAddInfo"
    [classConfig]="classConfig" [addedChildren$]="_children$" (addOptionSelected)="addOptionSelected($event)"
    [excludeRoleSet]="(parentRoleSet$ | async)" (cancel)="stopSelectProperty()"></gv-add-info-te-ent>

  <!-- The form itself -->
  <form class="card-body" [formGroup]="formGroup" *ngIf="formGroup">

    <div *ngFor="let item of (_children$ | async) | keys; trackBy:getKey">
      <span [ngSwitch]="item.key">

        <gv-existence-time-editable *ngSwitchCase="'_existenceTime'" [basePath]="basePath.concat('_children').concat(item.key)"
          (onRemovePropSet)="removePropSet(item.key)" mode="create" [formControlName]="item.key" (touched)="markAsTouched()"></gv-existence-time-editable>

        <gv-te-ent-role-set-create-ctrl *ngSwitchDefault [parentPath]="basePath" [parentTeEntStatePath]="basePath"
          [index]="item.key" (onRemoveRoleSet)="removeRoleSet(item.key)" [formControlName]="item.key" (touched)="markAsTouched()"></gv-te-ent-role-set-create-ctrl>

      </span>
    </div>

  </form>

</div>