::ng-deep .loc-colum-mapping {
    .mat-option {
        text-align: center !important;
    }
}

::ng-deep .loc-col-map {
    .mat-form-field-wrapper {
        padding: 0 !important;
        margin:0 !important;
    }
}