<mat-form-field class="loc-col-map" appearance="outline" *ngIf="!selected" style="width:95%">
    <mat-label>Select a column</mat-label>
    <mat-select class="loc-colum-mapping" (selectionChange)="select($event.value)" [disabled]="disabled">
        <mat-select-trigger>
            {{selected ? selected.columnName : ''}}
        </mat-select-trigger>

        <ng-container *ngIf="!(noMappings$|async)">
            <mat-option class="gv-text-align-center" [value]="mc" *ngFor="let mc of (mappedCols$|async)">
                <i class="mat-body-1 mr-3">{{mc.columnName}}</i>
                <mat-icon svgIcon="arrow-right" color="primary"></mat-icon>
                <span *ngIf="(mc.icon$|async) === 'PeIt'"
                    class="icon gv-icon gv-entities-primary-color gv-icon-persistent-entity align-self-center gv-icon-preview"></span>
                <span *ngIf="(mc.icon$|async) === 'TeEn'"
                    class="icon fa fa-star-o gv-entities-primary-color align-self-center gv-icon-preview"></span>
                <mat-icon *ngIf="(mc.icon$|async) === 'VOT'" class="gv-entities-primary-color" svgIcon="ruler-square"
                    style="margin-right: 0;"></mat-icon>
                <span class="mat-body-1 ml-1">{{mc.className$|async}}</span>
            </mat-option>
        </ng-container>

        <mat-option *ngIf="(noMappings$|async)" class="gv-text-align-center mat-text-secondary" [disabled]="true">
            There is no column fitting to this property. Map a column to
            <ng-container *ngIf="(targetClassLabels$|async)?.length > 1">
                one of the following classes, and it will appear here: {{(targetClassLabels$|async).join(', ')}}
            </ng-container>
            <ng-container *ngIf="(targetClassLabels$|async)?.length <= 1">
                the class {{(targetClassLabels$|async)?.[0]}}, and it will appear here.
            </ng-container>
        </mat-option>

    </mat-select>
</mat-form-field>


<ng-container *ngIf="!!selected" style="width:95%">
    <div class="gv-row-center mt-1 mb-1">
        <i class="mat-body-1 mr-3 gv-col-center">{{selected.columnName}}</i>
        <mat-icon svgIcon="arrow-right" color="primary" class="mr-3 my-auto gv-col-center"></mat-icon>
        <span *ngIf="(selected.icon$|async) === 'PeIt'"
            class="icon gv-icon gv-entities-primary-color gv-icon-persistent-entity align-self-center gv-icon-preview gv-col-center"></span>
        <span *ngIf="(selected.icon$|async) === 'TeEn'"
            class="icon fa fa-star-o gv-entities-primary-color align-self-center gv-icon-preview gv-col-center"></span>
        <mat-icon *ngIf="(selected.icon$|async) === 'VOT'" class="gv-entities-primary-color gv-col-center"
            svgIcon="ruler-square" style="margin-right: 0;"></mat-icon>
        <span class="mat-body-1 ml-1 gv-col-center">{{selected.className$|async}}</span>
    </div>
</ng-container>