<button (click)="load()">Reload</button>

<div *ngIf="report?.length===0">No Conflicts found!</div>
<div class="gv-scroll-y-container">

  <div class="klass" *ngFor="let item of report">
    <div>entities of class <strong>{{item.classId}}</strong> have <strong>{{item.totalConflicts}}</strong> conflicts
    </div>
    <div class="conflict" *ngFor="let conflict of item.conflicts">
      <strong>{{conflict.conflicts}}</strong> entities have the not allowed value
      <strong> {{conflict.conflicting_value|json}}</strong> in the community visibility for
      <strong>{{conflict.channel}}</strong>
      &nbsp;
      <button [disabled]="updating" (click)="updateVisibility(item.classId, conflict.channel,true,true)">set conflicting
        to true</button>
      <button [disabled]="updating" (click)="updateVisibility(item.classId, conflict.channel,true,false)">set
        conflicting to false</button>
      <button [disabled]="updating" (click)="updateVisibility(item.classId, conflict.channel,false,true)">set all of
        class to true</button>
      <button [disabled]="updating" (click)="updateVisibility(item.classId, conflict.channel,false,false)">set all of
        class to false</button>
    </div>
  </div>
</div>
