<!-- <div class="mat-caption">level {{formControlFactory.level}} {{formControlFactory.factoryType}}
  {{config?.placeholder}}
  {{config?.data?.controlType}}</div>
 -->

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-appellation'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-ctrl-appellation [formControl]="formControlFactory.control" [required]="config?.required">
  </gv-ctrl-appellation>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please enter a value
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-place'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-ctrl-place [formControl]="formControlFactory.control" [required]="config?.required">
  </gv-ctrl-place>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please enter lat and long
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-language'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-ctrl-language [formControl]="formControlFactory.control" [required]="config?.required">
  </gv-ctrl-language>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please select a language
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-text-property'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-ctrl-text-property [formControl]="formControlFactory.control" [required]="config?.required">
  </gv-ctrl-text-property>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please enter text and select a language
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-time-span'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-ctrl-time-span [formControl]="formControlFactory.control" [required]="config?.required">
  </gv-ctrl-time-span>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please add a time span
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-target-class'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <mat-select [formControl]="formControlFactory.control" [required]="config?.required">
    <mat-option *ngFor="let listDefinition of config?.data.fieldDefinition.listDefinitions;" [value]="listDefinition">
      {{listDefinition.targetClassLabel}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please select a target class
  </mat-error>
</mat-form-field>

<mat-form-field *ngIf="config?.data.controlType === 'ctrl-entity'" class="w-100" appearance="legacy">
  <mat-label>{{config?.placeholder}}</mat-label>
  <gv-ctrl-entity [pkClass]="config?.data?.listDefinition.targetClass" [required]="config?.required">
  </gv-ctrl-entity>
  <mat-error *ngIf="formControlFactory.control.hasError('required')">
    Please select or create an entity
  </mat-error>
</mat-form-field>
