<gv-navbar>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item"><a routerLink="../../../">Your Projects</a></li>
    <li class="breadcrumb-item"><a routerLink="../../">{{projectLabel}}</a></li>
    <li class="breadcrumb-item">Settings</li>
    <li class="breadcrumb-item">Profile</li>
  </ol>
</gv-navbar>

<gv-side-nav [projectLabel]="projectLabel" [levelsBelowSettings]="1">
  <h2>Project Profile</h2>
  
  <div>
    <strong>Name</strong>
    {{projectLabel}}
  </div>
  <div>
    <strong>Description</strong>
    {{project?.description}}
  </div>
  <div>
    <strong>Default Language</strong>
    {{project?.default_language_id}}
  </div>
</gv-side-nav>
