@import '../../../../../styles.scss';

::ng-deep .chart-line {
  stroke-width: 1.5;
  stroke: mat-color($app-primary);
}
.chart-line.active {
  stroke: rgb(5, 255, 172);
}
.chart-line:hover {
  stroke-width: 2;
}
