<div [ngClass]="{'dev-view': entityEditor.devView}">
  
  <span *ngIf="entityEditor.devView">
    [state: {{state}}] [pk: {{role.pk_entity_version_concat}}] [ready: {{isReadyToCreate}}] [commStatsVisible: {{communityStatsVisible}}]
  </span>
  
  <!-- Component in Edit State -->

  <div *ngIf="(state$ | async) === 'edit'">


    <!-- TeEnt Component (passing the temporal entity) -->
    <gv-te-ent
    [parentPath]="basePath"
    (appeChange)="emitAppeChange($event)"
    (readyToAdd)="onTeEntReadyToAdd($event)"
    >

    <div headerRight class="d-flex">

      <!-- UI for standard in project -->

      <div class="gv-standard-in-project" *ngIf="standardInProjectVisible">

        <!-- If is standard -->

        <i class="fa fa-eye gv-true text-primary" title="Is standard" *ngIf="isStandardInProject"></i>

        <!-- If not standard -->

        <button type="button" name="button" class="btn btn-link btn-sm"
        *ngIf="!isStandardInProject"
        [attr.disabled]="loadingStdChange ? 'disabled' : null"
        (click)="requestStandard()" title="Make standard"
        ><i class="fa fa-eye-slash gv-false"></i></button>

      </div>

      <!-- dropdown -->


      <div ngbDropdown placement="bottom-right" class="gv-name-dropdown">
        <button class="btn btn-link" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="removeFromProject()">Remove from project</button>
        </div>
      </div>

    </div>


    <div belowHeader >
      <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small" *ngIf="communityStatsVisible">

        <!-- Community data statistics -->
        <ul class="gv-ul-sm">
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count === 1 ? 'project':'projects'}}">
              <span><i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
            </a>
          </li>
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count === 1 ? 'project':'projects'}}">
              <span><i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
            </a>
          </li>
        </ul>
      </div>

    </div> </gv-te-ent>

  </div>


  <!-- Component in Create State -->

  <div *ngIf="(state$ | async) === 'create'">

    <div class="card-body text-white">
      Please fill all fields below and click "Ok".
    </div>

    <div class="card-body">

      <gv-te-ent
      [fkClass]="pkTargetClass"
      [teEntState]="'create'"
      [parentProperty]="parentProperty"
      [parentRole]="role"
      [isOutgoing]="isOutgoing"
      (readyToCreate)="teEntReadyToCreate($event)"
      (notReadyToCreate)="teEntNotReadyToCreate()"
      ></gv-te-ent>
    </div>

    <div class="card-body">
      <button
      [ngClass]="{disabled:(!isReadyToCreate)}"
      type="button" class="btn btn-primary"
      (click)="createRole()"
      >Ok</button>
      <button type="button" class="btn btn-link"
      (click)="cancelCreateRole()">Cancel</button>
    </div>

  </div>


  <!-- Component in Add State -->

  <div *ngIf="(state$ | async) === 'add'">

    <!-- TeEnt Component (passing the temporal entity) -->
    <gv-te-ent
    [teEntState]="state"
    [teEnt]="role.temporal_entity"
    [parentProperty]="parentProperty"
    [parentRole]="role"
    [isOutgoing]="isOutgoing"
    (readyToAdd)="onTeEntReadyToAdd($event)"
    (appeChange)="emitAppeChange($event)"> <div headerLeft>

      <!-- UI for is in project -->

      <div class="gv-in-project">
        <!-- [attr.disabled]="roleToAdd.entity_version_project_rels[0].is_standard_in_project || changeIsInProjectLoading ? 'disabled' : null" -->

        <!-- Is in project -->
        <button type="button" name="button" class="btn btn-link btn-sm"
        *ngIf="roleToAdd.entity_version_project_rels[0].is_in_project"
        (click)="deselect()">
        <i class="fa fa-check-square-o" ></i> </button>

        <!-- Is not in project -->
        <button type="button" name="button" class="btn btn-link btn-sm"
        [attr.disabled]="changeIsInProjectLoading ? 'disabled' : null"
        *ngIf="!roleToAdd.entity_version_project_rels[0].is_in_project"
        (click)="select()">
        <i class="fa fa-square-o"></i></button>

      </div>

    </div>
    <div belowHeader>
      <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small">

        <!-- Community data statistics -->
        <ul class="gv-ul-sm">
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count == 1 ? 'project':'projects'}}">
              <span><i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
            </a>
          </li>
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count == 1 ? 'project':'projects'}}">
              <span><i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
            </a>
          </li>
        </ul>
      </div>

    </div> </gv-te-ent>


  </div>

  <!-- Component in Create PeIt state -->

  <div *ngIf="(state$ | async) === 'create-pe-it'">

    <div class="card-body text-white">
      Please fill all fields below and click "Ok".
    </div>

    <div class="card-body">

      <gv-te-ent
      [fkClass]="pkTargetClass"
      [teEntState]="'create'"
      [parentProperty]="parentProperty"
      [parentRole]="role"
      [isOutgoing]="isOutgoing"
      (readyToCreate)="teEntReadyToCreate($event)"
      (notReadyToCreate)="teEntNotReadyToCreate()"
      ></gv-te-ent>
    </div>

  </div>


  <!-- Component in Add PeIt State -->

  <div *ngIf="(state$ | async) === 'add-pe-it'">


    <!-- TeEnt Component (passing the temporal entity) -->
    <gv-te-ent
    [teEntState]="state"
    [teEnt]="role.temporal_entity"
    [parentProperty]="parentProperty"
    [parentRole]="role"
    [isOutgoing]="isOutgoing"
    (readyToAdd)="onTeEntReadyToAdd($event)"
    (appeChange)="emitAppeChange($event)">


    <div headerRight class="d-flex">

      <!-- UI for standard in project -->

      <div class="gv-standard-in-project">

        <!-- If is standard -->

        <i class="fa fa-eye gv-true text-primary" title="Is standard" *ngIf="isStandardRoleToAdd"></i>


      </div>

    </div>

    <div belowHeader>
      <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small">

        <!-- Community data statistics -->
        <ul class="gv-ul-sm">
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count == 1 ? 'project':'projects'}}">
              <span><i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
            </a>
          </li>
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count == 1 ? 'project':'projects'}}">
              <span><i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
            </a>
          </li>
        </ul>
      </div>

    </div></gv-te-ent>

  </div>



  <!-- Component in view State -->

  <div *ngIf="(state$ | async) === 'view'">

    <!-- TeEnt Component (passing the temporal entity) -->
    <gv-te-ent
    [teEntState]="state"
    [teEnt]="role.temporal_entity"
    [parentProperty]="parentProperty"
    [parentRole]="role"
    [isOutgoing]="isOutgoing"
    [communityStatsVisible]="communityStatsVisible"
    [ontoInfoVisible]="ontoInfoVisible"
    (appeChange)="emitAppeChange($event)">
    <div belowHeader>
      <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small">

        <!-- Community data statistics -->
        <ul class="gv-ul-sm">
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count == 1 ? 'project':'projects'}}">
              <span><i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
            </a>
          </li>
          <li class="gv-li-inline">
            <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count == 1 ? 'project':'projects'}}">
              <span><i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
            </a>
          </li>
        </ul>
      </div>

    </div> </gv-te-ent>


  </div>

</div>
