<mat-list *ngIf="formArrayFactory.config?.data?.columns" class="my-4 mb-5">
  <mat-list-item class="p-0">
    <div class="mat-headline" mat-line> Path </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="p-0">
    <div mat-line> Create a path to a class you want to visualize.</div>
  </mat-list-item>
</mat-list>


<ng-container>
  <div *ngFor="let child of formArrayFactory.children; let i=index" class="d-flex flex-column">

    <mat-list *ngIf="child.config?.data?.filter" class="mb-4">
      <mat-list-item class="p-0">
        <div class="mat-headline" mat-line> Filter
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <mat-list *ngIf="child.config?.data?.ctrlClasses" class="mb-4">
      <mat-list-item class="p-0">
        <div class="mat-headline" mat-line *ngIf="!(child.config.disabled$ | async)">
          Choose type of geographical entities
        </div>
        <div class="mat-headline" mat-line *ngIf="(child.config.disabled$ | async)"
          [ngClass]="{'mat-text-secondary': (child.config.disabled$ | async)}">
          Chosen geographical entities
        </div>
        <button class="ml-3" mat-flat-button *ngIf="(child.config.disabled$ | async)"
          (click)="removeQueryDefinition(child)">Revert</button>

      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- <mat-list-item class="mat-text-secondary" *ngIf="!(child.config.disabled$ | async)">
          <div class="mat-text-secondary">
            Select the classes and types you are interested in.
          </div>
        </mat-list-item> -->
    </mat-list>


    <div class="gv-full-with">


      <gv-map-and-time-cont-form-array *ngIf="child.factoryType ==='array'" [formArrayFactory]="child" class="left-col">
      </gv-map-and-time-cont-form-array>

      <gv-map-and-time-cont-form-control *ngIf="child.factoryType ==='control'" [formControlFactory]="child"
        class="left-col">
      </gv-map-and-time-cont-form-control>

      <ng-template *ngIf="child.factoryType ==='childFactory'" [cdkPortalOutlet]="child.portal" #outlet
        (attached)="child.attached($event, outlet)"></ng-template>

    </div>

    <div *ngIf="child?.config?.data?.ctrlClasses">
      <button mat-flat-button color="primary" *ngIf="!(child?.config?.disabled$|async) && child.control.valid"
        class="mb-4" (click)="addQueryDefinition(child)">
        Continue
      </button>
    </div>
    <mat-list-item class="p-0"
      *ngIf="formArrayFactory.control.hasError('invalidArrayLength') && formArrayFactory.control.touched">
      <mat-error>
        Please continue
      </mat-error>
    </mat-list-item>


  </div>

</ng-container>
