<!-- HEADER -->
<h1 mat-dialog-title>
  Enter a {{getTitle()}}
</h1>

<!-- CONTENT -->
<div mat-dialog-content style="height: 200px">
  <gv-fg-place #place *ngIf="data.vot.type === 'place'" [initVal$]="data.initVal$"></gv-fg-place>
  <gv-fg-lang-string #langString *ngIf="data.vot.type === 'lang_string'" [initVal$]="data.initVal$"></gv-fg-lang-string>
  <gv-fg-dimension #dimension *ngIf="data.vot.type === 'dimension'" [initVal$]="data.initVal$"
    [pkClassOfDimension]="data.vot.dimensionClass">
  </gv-fg-dimension>
  <gv-ctrl-appellation *ngIf="data.vot.type === 'appellation'" [formControl]="appellation">
  </gv-ctrl-appellation>
  <gv-ctrl-time-primitive *ngIf="data.vot.type === 'time_primitive'" [formControl]="timeprimitive">
  </gv-ctrl-time-primitive>
</div>

<!-- FOOTER -->
<div mat-dialog-actions>
  <div class="gv-aoc-left">
    <button mat-flat-button color="primary" [mat-dialog-close]="" (click)="validate()"> Save </button>
    <button mat-button type="button" class="ml-2" [mat-dialog-close]="">Cancel</button>
  </div>
</div>