<gv-view-time-span-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$">
</gv-view-time-span-section>

<gv-view-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$" [section]='basic'> <span title>Basics</span>
</gv-view-section>

<gv-view-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$" [section]='metadata'><span title>Metadata</span>
</gv-view-section>

<gv-view-section [source]="source" [scope]="scope" [pkClass$]="pkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="readonly$" [section]='specific'><span title>Specific fields</span>
</gv-view-section>
