:host {
  display: flex;
  flex-direction: row;
  // padding: 1rem 0 1rem 24px;
  align-items: center;
  width: 100%;
}
.loc-icon {
  display: flex;
  flex: 0 0 48px;
  align-items: center;
  justify-content: center;
}
.loc-texts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex: 1 1 0;
  overflow: hidden;
  // margin-right: 8px;
  .loc-text-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h2.loc-text-item {
    margin: 0;
    flex-shrink: 10;
    flex-grow: 0;
  }
  span.loc-text-item {
    flex-shrink: 1;
    flex-grow: 0;
  }
  span.loc-text-item.loc-id {
    flex-shrink: 0;
  }
  .loc-text-item ~ .loc-text-item {
    margin-left: 6px;
  }
}
.loc-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
}

.loc-edit-toggle {
  margin-left: 8px;
  border: none;
  border-radius: 0;
}
.loc-more-btn {
  margin-left: 8px;
}
.loc-visibility-status {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loc-visibility-status mat-icon {
  margin-right: -6px;
}
