<div *ngIf="(property!==undefined)" [ngClass]="{'dev-view': entityEditor.devView}">
  <span *ngIf="entityEditor.devView">
    <ng-container *ngTemplateOutlet="dev"></ng-container>
  </span>




  <!--
  ************************* Edit State ************************* -->

  <span *ngIf="propState === 'edit'">


    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>

      <div [@slideInOut]="cardState">

        <!-- The roles that are added -->

        <div class="card-body">
          <gv-role-of-pe-it *ngFor="let role of roles"
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="'edit'"
          [communityStatsVisible]="communityStatsVisible"
          [ontoInfoVisible]="ontoInfoVisible"
          (appeChange)="emitAppeChange($event)"
          (onRequestStandard)="changeStandardRole($event)"
          (readyToAdd)="onRoleReadyToAdd($event)"
          (roleRemoved)="onRoleRemoved($event)"
          ></gv-role-of-pe-it>
        </div>

        <div class="border-top border-gray-500">
          <div class="btn btn-block btn-secondary rounded-top-0" (click)="startAddingRole()"    *ngIf="addRoleState=== 'init'">
            Add a {{roleLabelObj.sg}}…
          </div>

          <!-- Select existing Roles -->

          <div *ngIf="addRoleState=== 'selectExisting'" >


            <div class="card-body" *ngIf="rolesNotInProjectLoading">
              <i class="fa fa-spinner fa-pulse"></i>  Searching for existing {{roleLabelObj.sg}}…
            </div>

            <span *ngIf="!rolesNotInProjectLoading">
              <div class="card-body gv-property-section-header">
                {{rolesInOtherProjects.length}} {{rolesInOtherProjects.length === 1 ? roleLabelObj.sg : roleLabelObj.pl}} found in other projects
              </div>

              <div class="card-body" *ngIf="rolesInOtherProjects.length">
                <div class="gv-label gv-flex-grow-1"> Add an existing {{roleLabelObj.sg}} from below or <a href="" class="gv-passive-link" (click)="startCreateNewRole()">create a new name</a>.</div>
              </div>

              <div class="card-body" *ngIf="!rolesInOtherProjects.length && !rolesInNoProjectVisible">
                <div class="gv-label gv-flex-grow-1">
                  <a href="" class="btn btn-primary gv-passive-link" (click)="startCreateNewRole()">Create a new {{roleLabelObj.sg}}</a>
                  <a href="" class="btn btn-link gv-passive-link" (click)="rolesInNoProjectVisible=true">
                    Show {{rolesInNoProject.length}} {{rolesInOtherProjects.length === 1 ? roleLabelObj.sg : roleLabelObj.pl}} used by no Projects
                  </a>
                </div>
              </div>

              <div class="card-body" *ngIf="rolesInOtherProjects.length">

                <gv-role-of-pe-it *ngFor="let role of rolesInOtherProjects"
                [role]="role"
                [parentProperty]="property"
                [isOutgoing]="isOutgoing"
                [pointTo]="'TeEnt'"
                [roleState]="'add'"
                (readyToAdd)="onRoleReadyToAdd($event)"
                ></gv-role-of-pe-it>
              </div>

              <div class="card-body pt-0" *ngIf="rolesInNoProject && rolesInOtherProjects.length">
                <small>
                  <a href="" class="gv-passive-link text-light" (click)="rolesInNoProjectVisible=true" *ngIf="!rolesInNoProjectVisible">
                    Show {{rolesInNoProject.length}} {{rolesInOtherProjects.length === 1 ? roleLabelObj.sg : roleLabelObj.pl}} used by no Projects.
                  </a>
                  <a href="" class="gv-passive-link text-light" (click)="rolesInNoProjectVisible=false" *ngIf="rolesInNoProjectVisible">
                    Hide
                  </a>
                </small>
              </div>

              <div class="card-body" *ngIf="rolesInNoProject && rolesInNoProjectVisible">

                <gv-role-of-pe-it *ngFor="let role of rolesInNoProject"
                [role]="role"
                [parentProperty]="property"
                [isOutgoing]="isOutgoing"
                [pointTo]="'TeEnt'"
                [roleState]="'add'"
                (readyToAdd)="onRoleReadyToAdd($event)"
                ></gv-role-of-pe-it>
              </div>

              <div class="card-body" *ngIf="rolesInNoProjectVisible || rolesInOtherProjects.length">
                <button type="button" class="btn btn-primary"
                [ngClass]="{disabled:(!isReadyToAddRoles)}"
                (click)="addSelectedRolesToProject()"
                >Add selected</button>

                <button type="button" class="btn btn-link"
                (click)="cancelSelectRoles()">Cancel</button>
              </div>
            </span>

          </div>



          <!-- Create a new Role -->
          <div *ngIf="addRoleState=== 'createNew'">

            <gv-role-of-pe-it
            [role]="roleToCreate"
            [pointTo]="'TeEnt'"
            [pkTargetClass]="pkTargetClass"
            [fkProperty]="fkProperty"
            [roleState]="'create'"
            (roleCreated)="onRoleCreated($event)"
            (roleCreationCanceled)="onRoleCreationCanceled()"
            ></gv-role-of-pe-it>

          </div>

        </div>
      </div>
    </div>

  </span>


  <!--
  ************************* Add-Pe-It State ************************* -->

  <span *ngIf="propState === 'add-pe-it'">
    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>
      <div class="card-body">
        <div *ngFor="let role of roles">
          <gv-role-of-pe-it
          [role]="role"
          [parentProperty]="property"
          [isOutgoing]="isOutgoing"
          [pointTo]="pointTo"
          [roleState]="propState"
          [isStandardRoleToAdd]="(role === mostPopularRole)"
          (readyToAdd)="onRoleReadyToAdd($event)"
          (appeChange)="emitAppeChange($event)"
          (onRequestStandard)="changeStandardRole($event)"></gv-role-of-pe-it>
        </div>
      </div>
    </div>
  </span>



  <!--
  ************************* Create State ************************* -->

  <span *ngIf="propState === 'create'">
    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>

      <div class="card-body text-white">
        Please fill all fields below and click "Ok".
      </div>

      <div class="card-body">
        <gv-role-of-pe-it
        [role]="roleToCreate"
        [pointTo]="'TeEnt'"
        [pkTargetClass]="pkTargetClass"
        [fkProperty]="fkProperty"
        [roleState]="'create'"
        (readyToCreate)="roleReadyToCreate($event)"
        (notReadyToCreate)="roleNotReadyToCreate()"
        ></gv-role-of-pe-it>
      </div>

      <div class="card-body">
        <button
        [ngClass]="{disabled:(!isReadyToCreate)}"
        type="button" class="btn btn-primary"
        (click)="persistEntitiesToCreate(parentPeIt.pk_entity)"
        >Ok</button>
        <button type="button" class="btn btn-link"
        (click)="cancelCreateNewRole()">Cancel</button>
      </div>
    </div>

  </span>



  <!--
  ************************* Create PeIt State ******************* -->

  <span *ngIf="propState === 'create-pe-it'">

    <div class="card bg-secondary text-white mb-3">
      <div class="card-body">

        <gv-role-of-pe-it
        [role]="roleToCreate"
        [pointTo]="'TeEnt'"
        [pkTargetClass]="pkTargetClass"
        [fkProperty]="fkProperty"
        [roleState]="'create-pe-it'"
        (readyToCreate)="roleReadyToCreate($event)"
        (notReadyToCreate)="roleNotReadyToCreate()"
        ></gv-role-of-pe-it>
      </div>
    </div>

  </span>


  <!--
  ************************* View State ******************* -->

  <span *ngIf="propState === 'view'">
    <div class="card bg-secondary text-white mb-3">

      <ng-container *ngTemplateOutlet="header"></ng-container>

      <div [@slideInOut]="cardState">
        <div class="card-body">
          <div *ngFor="let role of roles">
            <gv-role-of-pe-it
            [role]="role"
            [parentProperty]="property"
            [isOutgoing]="isOutgoing"
            [pointTo]="pointTo"
            [communityStatsVisible]="communityStatsVisible"
            [ontoInfoVisible]="ontoInfoVisible"
            [roleState]="propState"
            (appeChange)="emitAppeChange($event)"
            ></gv-role-of-pe-it>
          </div>
        </div>
      </div>
    </div>

  </span>


</div>


<!-- ************************** NG TEMPLATES ****************************** -->

<ng-template #header>
  <div class="btn-group d-flex flex-row">
    <button class="btn btn-secondary btn-block text-left rounded-bottom-0" (click)="toggleCardBody()">
      <i class="fa fa-caret-right" [ngClass]="{'fa-rotate-90': (cardState==='expanded')}"></i>
      <span *ngIf="roles && roles.length">{{roles.length}}</span>
      {{roleLabel}}
    </button>
    <div class="gv-flex-grow-1 gv-card-spacer-x align-self-stretch d-flex" *ngIf="ontoInfoVisible">
      <div class="align-self-center">
        <a class="badge badge-success" href="http://ontologies.dataforhistory.org/class/{{property.dfh_pk_property}}" target="_blank" >
          {{property.dfh_identifier_in_namespace}}
        </a>
      </div>
    </div>
    <button class="btn btn-secondary rounded-bottom-0" (click)="removePropertySection()" *ngIf="removeSectionBtnVisible">
      <i class="fa fa-close"></i>
    </button>
  </div>
</ng-template>




<ng-template #dev>
  <span>
    [state: {{propState}}]
    [readyToCreate: {{isReadyToCreate}}]
    [readyToAdd: {{rolesToAdd?.length}}]
    [communityStatsVisible {{communityStatsVisible}}]
  </span>

  <span *ngIf="isOutgoing === true">
    [dom: {{property.dfh_has_domain}} – prop: {{property.dfh_pk_property}} – range: {{property.dfh_has_range}}]
  </span>

  <span *ngIf="isOutgoing === false">
    [range: {{property.dfh_has_range}} – prop: {{property.dfh_pk_property}} – dom: {{property.dfh_has_domain}}]
  </span>
</ng-template>


