<as-split class="gv-split-style" [direction]="'horizontal'" gutterSize="1">


  <!-------------------------------------------------------------------
     Query Definition 
  -------------------------------------------------------------------->
  <as-split-area [size]="((showRightArea$ | async) ? 50 : 100)">

    <gv-detail-top-bar>
      Query
      <button class="ml-auto btn btn-sm btn-primary" (click)="onRun()">Run >></button>
    </gv-detail-top-bar>




    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Define a filter for the resulting rows</ng-template>

          <gv-class-and-type-select [showRemoveBtn]="false" [qtree]="filterQuery"></gv-class-and-type-select>

          <p>
            {{filterQuery | json}}
          </p>
          <div>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Define the resulting columns</ng-template>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-flat-button matStepperPrevious>Back</button>
            <button mat-flat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Save</ng-template>
          <p>Give your query a name and description.</p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="nameCtrl" required>
              <mat-hint>Name of the query.</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="descriptionCtrl" required></textarea>
              <mat-hint>Description of the query.</mat-hint>
            </mat-form-field>
          </p>
          <div>
            <button mat-flat-button matStepperPrevious>Back</button>
            <button mat-flat-button (click)="save()">Save</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>

  </as-split-area>

  <!-------------------------------------------------------------------
    Query Results 
  -------------------------------------------------------------------->
  <as-split-area *ngIf="(showRightArea$ | async)" [size]="50">

    <gv-detail-top-bar>
      Results
      <button class="ml-auto btn btn-sm btn-link-gray" (click)="hideRightArea()"><i class="fa fa-close"></i></button>
    </gv-detail-top-bar>

    <table mat-table [dataSource]="items$" class="w-100">
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> label </th>
        <td mat-cell *matCellDef="let entity"> {{entity.entity_label}} </td>
      </ng-container>

      <ng-container matColumnDef="geburten">
        <th mat-header-cell *matHeaderCellDef> geburten </th>
        <td mat-cell *matCellDef="let entity"> {{entity?.geburten?.length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </as-split-area>
</as-split>