<button type="button" class="btn btn-link" (click)="cancelCreateRoles.emit()">
  <i class="fa fa-close"></i>
</button>

<!-- Step 1: Form for adding existing roles -->
<form [formGroup]="addForm" ngSubmit="addRoles()" *ngIf="_role_add_list">
  <div class="card-body text-white">
    Community data
  </div>

  <div class="card-body">
    <div *ngFor="let entry of _role_add_list | keys; trackBy:getKey">
      <gv-pe-it-role-add-ctrl *ngIf="addForm.get(entry.key)" [parentPath]="roleSetFormPath" [index]="entry.key" intermediatePathSegment="_role_add_list"
        [formControlName]="entry.key"></gv-pe-it-role-add-ctrl>
    </div>
  </div>

  
  <div class="card-body">
    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add selected</button>
    <button type="button" class="btn btn-primary" (click)="startCreateNewRole.emit()">Create new</button>

  </div>

</form>


<!-- Step 2: Form for creating new roles -->
<form [formGroup]="createForm" ngSubmit="createRoles()" *ngIf="_role_create_list">


  <div class="card-body">
    <div *ngFor="let entry of _role_create_list | keys; trackBy:getKey">
      {{entry.key}}
      <gv-pe-it-role-create-ctrl *ngIf="createForm.get(entry.key)" [parentPath]="roleSetFormPath" [index]="entry.key" intermediatePathSegment="_role_create_list"
        [formControlName]="entry.key"></gv-pe-it-role-create-ctrl>
    </div>
  </div>


  <div class="card-body">
    <button [disabled]="createForm.invalid" type="submit" class="btn btn-primary">Ok</button>
    <button type="button" class="btn btn-link" (click)="cancelCreateRoles.emit()">Cancel</button>
  </div>
</form>