<div class="table-and-paginator-container" *ngIf="((table.dataColumns$ | async).length > 0)">
  <div class="table-container">
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="table.dataSource">
      <!-- Empty Column -->
      <ng-container matColumnDef="_empty_">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> </td>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="_checkbox_">
        <th mat-header-cell class="select-col pr-4" *matHeaderCellDef> Select
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox> -->
        </th>
        <td mat-cell class="select-col pr-4" *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row.role.pk_entity) : null"
            [checked]="selection.isSelected(row.role.pk_entity)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Radio Button Column -->
      <ng-container matColumnDef="_radiobutton_">
        <th mat-header-cell class="select-col pr-4" *matHeaderCellDef> Select

        </th>
        <td mat-cell class="select-col pr-4" *matCellDef="let row">
          <mat-radio-button (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row.role.pk_entity) : null"
            [checked]="selection.isSelected(row.role.pk_entity)">
          </mat-radio-button>
        </td>
      </ng-container>

      <!-- Onto Class Info about the whole Column -->
      <ng-container matColumnDef="_classInfo_">
        <th mat-header-cell *matHeaderCellDef> {{listDefinition.targetClassLabel}} </th>
        <td mat-cell class="class-info-col pr-4" *matCellDef="let element">
          <gv-onto-class-info *ngIf="showOntoInfo$ | async" class="mr-2" [pkClass]="listDefinition.targetClass">
          </gv-onto-class-info>
          <span class=" font-xs text-muted" [matTooltip]="'Temporal Entity ' + element.pkEntity">
            <i class="gv-entity-color fa fa-star-o"></i> {{listDefinition.targetClassLabel}}
          </span>
        </td>
      </ng-container>


      <!-- Generic Cell Column -->
      <ng-container *ngFor="let column of (table.dataColumns$ | async)" [matColumnDef]="column.name">
        <th mat-header-cell *matHeaderCellDef>
          <gv-onto-property-info class="mr-2" [pkProperty]="column.fieldDefinition.pkProperty"
            *ngIf="showOntoInfo$ | async">
          </gv-onto-property-info>
          {{column.name}}
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.row[column.name]?.entityPreview">
            {{element.row[column.name]?.label}}
          </span>
          <span *ngIf="element.row[column.name]?.entityPreview">
            <gv-entity-preview [dragEnabled]="false" [preview]="element.row[column.name].entityPreview">
            </gv-entity-preview>
          </span>
          <span class="text-muted small"
            *ngIf="element.row[column.name]?.itemsCount > 1 && !element.row[column.name]?.isTimeSpan">
            + {{element.row[column.name].itemsCount - 1}}
          </span>
        </td>
      </ng-container>

      <!-- project Column -->
      <ng-container matColumnDef="_projects_">
        <th mat-header-cell *matHeaderCellDef> Used By </th>
        <td mat-cell *matCellDef="let item">
          {{item.role.is_in_project_count}} {{item.role.is_in_project_count == 1 ? 'Project' : 'Projects'}}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="_actions_" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="action-cell">
          <mat-menu #appMenu="matMenu">

            <div class="dropdown-header">Columns</div>

            <button *ngFor="let column of (table.dataColumns$ | async)" mat-menu-item
              (click)="table.toggleCol(column.name); $event.stopPropagation(); ">
              <mat-checkbox color="accent" [checked]="((table.dataColumnsMap$ | async ) || {})[column.name]">
                {{column.name}}
              </mat-checkbox>
            </button>

          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element" class="action-cell">
          <!-- <mat-menu #teEnMenu="matMenu">


            <button mat-menu-item (click)="openInNewTab(element)">
              <mat-icon>tab</mat-icon>
              Open {{listDefinition.targetClassLabel}} in new Tab
            </button>

          </mat-menu>
          <button mat-icon-button aria-label="Actions on table row" [matMenuTriggerFor]="teEnMenu">
            <mat-icon>more_vert</mat-icon>
          </button> -->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="(table.displayedColumns$ | async)"></tr>
      <tr mat-row *matRowDef="let row; columns: (table.displayedColumns$ | async);"></tr>
    </table>


  </div>
  <mat-paginator [length]="itemsCount$ | async" [pageSize]="limit$ | async" [pageIndex]="pageIndex$ | async"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidden]="(itemsCount$ | async) <= 5"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="my-3">
  <button [disabled]="(selectedCount$ | async) < 1" type="submit" class="btn btn-primary mr-2" (click)="add()">Add
    selected ({{(selectedCount$ | async) || 0}} )</button>
  <button type="submit" class="btn btn-primary mr-2"
    (click)="t.showControl$.next(null); t.showCreateRole$.next(listDefinition)">Create new</button>
  <button type="button" class="btn btn-link" (click)="t.showControl$.next(null)">Cancel</button>
</div>
