<table class="mat-table w-100" *ngIf="pkRoot">
  <thead>
    <tr class="gv-ct-node-col">
      <th class="mat-header-cell pl-5 gv-ct-node-col gv-ct-label">
        Name
      </th>
      <th class="mat-header-cell gv-ct-node-col gv-ct-type ">
        Type
      </th>
      <th class="mat-header-cell pr-0 gv-ct-node-col gv-ct-button ">
        <gv-content-tree-node-options [isDigital]="false" [pkParent]="pkRoot" [rootIsF2Expression]="rootIsF2Expression"
          [isAdmin]="isAdmin" (clicked)="handleClick_nodeOptions($event)">
        </gv-content-tree-node-options>
      </th>
    </tr>
  </thead>
</table>
<mat-divider></mat-divider>
<div *ngIf="loading" class="gv-flex-fh align-items-center justify-content-center">
  <mat-spinner [diameter]="20"></mat-spinner>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="gv-scroll-y-auto">
  <mat-tree-node *matTreeNodeDef="let node" [ngClass]="{
    'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node && !node.isDigital,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node && !node.isDigital}"
    draggable="true" (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
    (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">


    <!-- if expression portion -> edge of tree -->
    <div class="gv-ct-node">

      <div class="gv-ct-node-col gv-ct-label gv-fade-out-right">
        <button *ngIf="node.expandable" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <button *ngIf="!node.expandable" mat-icon-button [disabled]=true> </button>


        <gv-content-tree-node-label [node]="node" [ngStyle]="{'padding-left.px': 40 * node.level}">
        </gv-content-tree-node-label>
      </div>


      <gv-content-tree-node-type [node]="node" class="gv-ct-node-col gv-ct-type mat-text-secondary">
      </gv-content-tree-node-type>

      <div class="gv-ct-node-col gv-ct-button">
        <gv-content-tree-node-options [node]="node" [isDigital]="node.isDigital"
          [pkParent]="node.statement.fk_subject_info" [isAdmin]="isAdmin" (clicked)="handleClick_nodeOptions($event)">
        </gv-content-tree-node-options>
      </div>
    </div>
  </mat-tree-node>

</mat-tree>

<div #emptyItem>
</div>
<!--

<p-tree [value]="primeNgTree$|async" class="mat-typography">
  <ng-template let-node pTemplate="default">
    <div class="gv-ct-node">

      <div class="gv-ct-node-col gv-ct-label gv-fade-out-right">
        <button *ngIf="node.data.expandable" mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.data.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <button *ngIf="!node.data.expandable" mat-icon-button [disabled]=true> </button>


        <gv-content-tree-node-label [node]="node.data">
        </gv-content-tree-node-label>
      </div>


      <gv-content-tree-node-type [node]="node.data" class="gv-ct-node-col gv-ct-type mat-text-secondary">
      </gv-content-tree-node-type>

      <div class="gv-ct-node-col gv-ct-button">
        <gv-content-tree-node-options [node]="node.data" [isDigital]="node.data.isDigital"
          [pkParent]="node.data.statement.fk_subject_info" [isAdmin]="isAdmin"
          (clicked)="handleClick_nodeOptions($event)">
        </gv-content-tree-node-options>
      </div>
    </div>
  </ng-template>
</p-tree>
{{primeNgTree$|async|json:2}} -->
