:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loc-slider-header {
  flex: 0 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loc-slider-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loc-slider-footer {
  flex: 0 0 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loc-embed-slider {
  height: calc(100% - 42px)
}

.loc-dialog-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-dialog-padding {
  padding-top: 24px; 
}

::ng-deep .mat-tab-body-wrapper {
  height: 100%
}

::ng-deep .mat-tab-body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

gv-form-create-entity {
  padding: 0 24px 0 24px;
}

gv-subfield {
  padding: 24px 24px 24px 24px;
}

mat-tab-group {
  padding: 24px 0 0 0;
}

::ng-deep .loc-body .loc-header  {
  padding-top: 0 !important
}