<span class="mat-h2 loc-dialog-title">
    {{classLabel$ | async}}
    <gv-entity-preview class="gv-col-center ml-2 mr-2" [pkEntity]="pkEntity_source" [dragEnabled]="false"
        [openTabOnClick]="false">
    </gv-entity-preview>
    {{data.field.label}}
</span>

<gv-slider class="gv-fh" [slide]="sliderView">
    <!-- Slide 1: header -->
    <div left-header class="loc-slider-header mat-h2">
        ... a new {{this.fieldTargetClass.targetClassLabel}}
    </div>

    <!-- Slide 1: body -->
    <div left-body class="gv-flex-fh gv-ovf-auto">
        <gv-form-create-entity [field]="data.field" [pkClass]="data.targetClass" [source]="data.source"
            [hideTitle]="true" [hideButtons]="true" (saved)="onSaved()" [hideButtons]="true" #f>
        </gv-form-create-entity>
    </div>

    <!-- Slide 1: footer -->
    <div left-footer class="loc-slider-footer mt-3">
        <div class="gv-col-space-between">
            <button mat-flat-button color="primary"
                [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="f.save()">
                <span *ngIf="!f?.saving">OK</span>
                <div *ngIf="f?.saving" style="margin: 6px;">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>
            </button>
        </div>

        <div class="gv-col-space-between">
            <button mat-button type="button" class="ml-2 mr-2" (click)="dialogRef.close()">Cancel</button>
        </div>
    </div>

    <!-- Slide 2: header -->
    <div center-header class="loc-slider-header mat-h2">
        ... an existing {{this.fieldTargetClass.targetClassLabel}}
    </div>

    <!-- Slide 2: body -->
    <div center-body class="gv-fh gv-col-start">
        <gv-search-existing-entity [pkClass]="(pkClass_target$ | async)" [searchString$]="searchString$"
            [mode]="sliderView == 'right' ? 'searchAndBack' : 'filtered'" (onMore)="onMoreClick($event)"
            (onBack)="onBackClick()">
        </gv-search-existing-entity>
    </div>

    <!-- Slide 3: body -->
    <div right-body class="gv-fh">
        <mat-tab-group mat-align-tabs="center" [selectedIndex]="(selectedInProject$ | async) ? 0 : 1" class="gv-fh">

            <mat-tab label="Your project version" [disabled]="!(selectedInProject$ | async)" class="gv-fh">
                <gv-entity-card *ngIf="(selectedPkEntity$ | async)" [source]="(source$ | async)"
                    [pkClass$]="pkClass_target$" [showOntoInfo$]="showOntoInfo$" [scope]="{ inProject: pkProject }"
                    [readonly$]="entityCardReadOnly$">
                </gv-entity-card>
                <div class="gv-row-space-between mr-3 ml-3">
                    <button mat-button type="button" color="primary" class="ml-2 mr-2" (click)="onSelect()">Add</button>
                    <button mat-button type="button" class="ml-2 mr-2" (click)="onClose()">Cancel</button>
                </div>
            </mat-tab>

            <mat-tab label="Community version" class="gv-fh gv-col-space-between">
                <gv-entity-card *ngIf="(selectedPkEntity$ | async)" [source]="(source$ | async)"
                    [pkClass$]="pkClass_target$" [showOntoInfo$]="showOntoInfo$" [scope]="{ inRepo: true }"
                    [readonly$]="entityCardReadOnly$">
                </gv-entity-card>
                <div class="gv-row-space-between mr-3 ml-3">
                    <button mat-button type="button" color="primary" class="ml-2 mr-2" (click)="onSelect()">
                        Add Entity
                    </button>
                    <button mat-button type="button" class="ml-2 mr-2" (click)="onClose()">Cancel</button>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</gv-slider>