.subgroup-operation-select {
  font-size: 14px;
  border-radius: 0.25rem !important;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  z-index: 1;
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  &::ng-deep .mat-select-arrow {
    margin: 0;
  }
}
