<div [ngClass]="{'alt-pressed': keyboard.altPressed}">

<div class="card gv-naming">
  <div class="card-header gv-naming d-flex flex-row">
    <div class="gv-label gv-pointer" (click)="toggleCardBody()">
      <i class="fa fa-tags"></i> Naming
    </div>
    <!-- <div ngbDropdown placement="bottom-right" class="ml-auto d-inline-block gv-naming-dropdown gv-dropdown-secondary">
      <button class="btn btn-secondary" id="dropdown" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
        <button class="dropdown-item text-white">Minimize</button>
      </div>
    </div> -->
  </div>

  <div class="gv-card-body-wrapper" [@slideInOut]="cardState">


    <gv-property
    [roles]="rolesR63"
    [fkProperty]="'R63'"
    ></gv-property>


  </div>
</div>

</div>
