<div [ngClass]="{'dev-view': entityEditor.devView}">

  <span *ngIf="entityEditor.devView">
    [state: {{(state$|async)}}] [pk: {{role.pk_entity_version_concat}}] [ready: {{isReadyToCreate}}] [commStatsVisible: {{communityStatsVisible}}]
  </span>

  <!-- Component in Create State -->

  <div *ngIf="(state$|async) === 'create'">

    <!-- <div class="card-body">
    Please fill all fields below and click "Ok".
  </div> -->

    <!-- <gv-pe-it [peItState]="'create'" [fkClass]="pkTargetClass" [childOfTeEnt]="true" (readyToCreate)="peItReadyToCreate($event)"
      (notReadyToCreate)="peItNotReadyToCreate()"></gv-pe-it> -->

    <div class="card-body">
      <button [ngClass]="{disabled:(!isReadyToCreate)}" type="button" class="btn btn-primary" (click)="createRole()">Ok</button>
      <button type="button" class="btn btn-link" (click)="cancelCreateRole()">Cancel</button>
    </div>

  </div>

  <!-- Component in Create TeEnt State -->

  <div *ngIf="(state$|async) === 'create-te-ent'">


    <div class="card-body">
      <!-- <gv-pe-it [peItState]="'create'" [fkClass]="pkTargetClass" [childOfTeEnt]="true" (readyToCreate)="peItReadyToCreate($event)"
        (notReadyToCreate)="peItNotReadyToCreate()"></gv-pe-it> -->
    </div>


  </div>

  <!-- Component in Add State -->

  <div *ngIf="(state$|async)=='add'">

    <!-- <gv-pe-it class="gv-flex-grow-1" [peItState]="(state$|async)" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)" (appeReadyToAdd)="onAppeReadyToAdd($event)" (langReadyToAdd)="onLangReadyToAdd($event)"> -->
    <div headerLeft>

      <!-- UI for is in project -->

      <div class="gv-in-project">
        <!-- [attr.disabled]="roleToAdd.entity_version_project_rels[0].is_standard_in_project || changeIsInProjectLoading ? 'disabled' : null" -->

        <!-- Is in project -->
        <button type="button" name="button" class="btn btn-link btn-sm" *ngIf="roleToAdd.entity_version_project_rels[0].is_in_project"
          (click)="deselect()">
          <i class="fa fa-check-square-o"></i>
        </button>

        <!-- Is not in project -->
        <button type="button" name="button" class="btn btn-link btn-sm" [attr.disabled]="changeIsInProjectLoading ? 'disabled' : null"
          *ngIf="!roleToAdd.entity_version_project_rels[0].is_in_project" (click)="select()">
          <i class="fa fa-square-o"></i>
        </button>

      </div>

    </div>
    <!-- </gv-pe-it> -->

  </div>

  <div class="d-flex flex-row" *ngIf="(state$|async) === 'add-pe-it'">

    <!-- include component PeIt (passing the PeIt) -->
    <!-- <gv-pe-it class="gv-flex-grow-1" [peItState]="(state$|async)" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)" (appeReadyToAdd)="onAppeReadyToAdd($event)" (langReadyToAdd)="onLangReadyToAdd($event)"></gv-pe-it> -->

    <!-- <div class="gv-in-project"> -->
    <!-- [attr.disabled]="roleToAdd.entity_version_project_rels[0].is_standard_in_project || changeIsInProjectLoading ? 'disabled' : null" -->

    <!-- Is in project -->
    <!-- <button type="button" name="button" class="btn btn-link btn-sm"
  *ngIf="roleToAdd.entity_version_project_rels[0].is_in_project"
  (click)="deselect()">
  <i class="fa fa-check-square-o" ></i> </button> -->

    <!-- Is not in project -->
    <!-- <button type="button" name="button" class="btn btn-link btn-sm"
  [attr.disabled]="changeIsInProjectLoading ? 'disabled' : null"
  *ngIf="!roleToAdd.entity_version_project_rels[0].is_in_project"
  (click)="select()">
  <i class="fa fa-square-o"></i></button> -->

    <!-- </div> -->

  </div>


  <!-- Editable State -->


  <div *ngIf="(state$|async) === 'edit'">

    <!-- include component PeIt (passing the PeIt) -->
    <!-- <gv-pe-it class="gv-flex-grow-1" [peItState]="(state$|async)" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)" (appeReadyToAdd)="onAppeReadyToAdd($event)" (langReadyToAdd)="onLangReadyToAdd($event)">

      <div belowHeader>
        <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small" *ngIf="communityStatsVisible">

          <ul class="gv-ul-sm">
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
              </a>
            </li>
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </gv-pe-it> -->


    <div class="card-body">
      <button [ngClass]="{disabled:(!isReadyToCreate)}" type="button" class="btn btn-primary" (click)="updateRole()">Ok</button>
      <button type="button" class="btn btn-link" (click)="stopEditing()">Cancel</button>
    </div>

  </div>


  <!-- Component in Edit State -->


  <div class="d-flex" *ngIf="(state$|async) === 'editable'">

    <div class="btn-group gv-flex-grow-1 gv-flex-shrink-0 d-flex">

      <ng-content select="[headerLeft]"></ng-content>

      <div class="gv-flex-grow-1 gv-card-spacer-x gv-card-spacer-y align-self-stretch d-flex">
        <div class="align-self-center gv-flex-grow-1 d-flex">

          <!-- if (fk_class == 'R64') => PeItAppellation (pass appellation) -->
          <gv-pe-it-appellation *ngIf="showAppellationUI" class="gv-flex-grow-1" [appellation]="appellation" [peItAppeState]="(state$|async)"
            (readyToCreate)=emitReadyToCreate($event) (notReadyToCreate)=emitNotReadyToCreate() (readyToAdd)="onAppeReadyToAdd($event)"
            (appeChange)="emitAppeChange($event)" (cancelEdit)="onCancelEdit()"></gv-pe-it-appellation>

          <!-- <gv-pe-it-language
              *ngIf="showLanguageUI"
              class="gv-flex-grow-1"
              [language]="language"
              [peItLangState]="(state$|async)"
              (readyToCreate)=emitReadyToCreate($event)
              (notReadyToCreate)=emitNotReadyToCreate()
              (readyToAdd)="onLangReadyToAdd($event)"
              (cancelEdit)="onCancelEdit()"
              ></gv-pe-it-language> -->

          <!-- <gv-pe-it-entity-preview
              *ngIf="showEntityUI && childOfTeEnt && (valueEntitiesState==='view' || valueEntitiesState==='add')"
              [pkEntity]="pkEntity"
              ></gv-pe-it-entity-preview> -->

          <!-- <gv-pe-it-entity-add
              class="gv-flex-grow-1 mt-2"
              *ngIf="showEntityUI && childOfTeEnt && valueEntitiesState==='create'"
              (selected)=peItSelected($event)
              [fkClass]="fkClass"
              ></gv-pe-it-entity-add> -->

        </div>

      </div>

      <!-- <div class="d-flex align-items-center" *ngIf="valueEntitiesState==='view' && peItState !== 'view'">
    
            <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
              <button class="btn btn-link" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
              <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
    
                <!-- dropdown of appe & lang 
                <button *ngIf="!showEntityUI" class="dropdown-item" (click)="edit()">Edit</button>
    
                <!-- dropdown of enitiy preview 
                <button *ngIf="showEntityUI && childOfTeEnt" class="dropdown-item" (click)="open()">Open...</button>
    
                <ng-content select="[dropdownItems]"></ng-content>
    
              </div>
            </div>
    
          </div> -->

      <div class="d-flex align-items-center">

        <div class="btn-group" ngbDropdown placement="bottom-right" class="gv-name-dropdown">
          <button class="btn btn-link" ngbDropdownToggle>
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">

            <!-- start editing -->
            <button class="dropdown-item" (click)="startEditing()">Edit</button>

            <button class="dropdown-item" (click)="removeFromProject()">Remove</button>

          </div>
        </div>

      </div>

    </div>




  </div>

  <!-- View State -->


  <div *ngIf="(state$|async) === 'view'">

    <!-- include component PeIt (passing the PeIt) -->
    <!-- <gv-pe-it [peItState]="(state$|async)" [appellation]="role?.appellation" [language]="role?.language" [pkEntity]="role.fk_entity"
      [childOfTeEnt]="true" (appeChange)="emitAppeChange($event)">

      <div belowHeader>
        <div class="card-body pt-0 gv-community-statistics d-flex justify-content-start small" *ngIf="communityStatsVisible">

          <ul class="gv-ul-sm">
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openProjectsModal()" title="Added by {{role.is_in_project_count}} {{role.is_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-check"></i> {{role.is_in_project_count}}</span>
              </a>
            </li>
            <li class="gv-li-inline">
              <a href class="gv-passive-link text-secondary" (click)="openVersionHistoryModal()" title="Used as standard by {{role.is_standard_in_project_count}} {{role.is_standard_in_project_count === 1 ? 'project':'projects'}}">
                <span>
                  <i class="fa fa-eye"></i> {{role.is_standard_in_project_count}}</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </gv-pe-it> -->

  </div>



</div>