.loc-no-margin {
  margin: 0;
}

.loc-body {
  flex: 1 1 auto;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.loc-footer {
  padding: 0 24px 24px 24px;
  flex: 0 0 60px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
