<div *ngIf="isCircular && ! (leafPeItLoading$ |async)">
    <gv-data-unit-preview [dragEnabled]="dragEnabled" [preview]="(preview$ | async)"></gv-data-unit-preview>
    <small class="text-muted">(self)</small>
</div>
<gv-data-unit-preview *ngIf="!isCircular" class="gv-pointer" [dragEnabled]="dragEnabled" [preview]="(preview$ | async)" (click)=open()></gv-data-unit-preview>
    <!-- <a *ngIf="!isCircular" href="" class="gv-passive-link" (click)=open()>
</a> -->

<div *ngIf="(!preview$ |async)">
    <i class="fa fa-spinner fa-pulse"></i> Loading
</div>