.close-right-area-btn {
  height: 80px;
  position: fixed;
  z-index: 10;
  background: white;
  button {
    height: 79px;
    min-width: 24px;
    width: 24px;
    border: 0;
    padding: 0;
    border-radius: 0;
  }
}

::ng-deep .gv-detail-top-bar > div > .mat-button-base {
  height: 2.5rem;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
}
