<gv-view-field-item-container>
  <span class="loc-left mat-typography">
    <gv-class-info class="loc-class-info" [showOntoInfo$]="item.component.showOntoInfo$"
      [pkClass]="item.component.item.targetClass"
      [classLabel]="field.targets[item.component.item.targetClass]?.targetClassLabel" [isFavorite]="ordNum===1">
    </gv-class-info>

    <div class="ellipsis">
      Version ID: {{item.component.item.statement.pk_entity}}
    </div>
  </span>

  <span class="loc-right" *ngIf="editMode.value$|async">
    <mat-menu #appMenu="matMenu">

      <ng-container *ngIf="item.component.item.target.appellation">
        <button mat-menu-item (click)="item.component.openPopup(item.component.item.target?.appellation?.string)">
          <mat-icon svgIcon="arrow-expand-all"></mat-icon>
          <span>Open in popup</span>
        </button>
      </ng-container>

      <button mat-menu-item (click)="switchToStatement()">
        <mat-icon>circle</mat-icon>
        <span>Switch to this version</span>
      </button>

    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
      <mat-icon>more_vert</mat-icon>
    </button>

  </span>
</gv-view-field-item-container>
