:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-dialog-content {
  max-height: unset !important;
  flex: 1 0 0;
}

.top-content {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1 1 auto;
  gv-factoid-mapping {
    width: 100%;
  }
}
