<div class="d-flex flex-column gv-flex-grow-1" [ngClass]="{'dev-view': entityEditor.devView}">

  <span *ngIf="entityEditor.devView">
    [state: {{RoleSetListState}}]
  </span>

  <!-- Add-Pe-It State -->

  <div class="d-flex flex-column gv-flex-grow-1" *ngIf="RoleSetListState === 'add-pe-it'">

    <div class="btn-group gv-flex-shrink-0 d-flex mb-3" role="group" aria-label="Basic example">
      <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
        <div class="align-self-center">
          <i class="fa fa-lightbulb-o"></i>  Properties
        </div>
      </div>
      <div class="btn-group" ngbDropdown placement="bottom-right">
        <button class="btn btn-gray-700" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="showCommunityStats()" *ngIf="!communityStatsVisible">Show Community Statistics</button>
          <button class="dropdown-item" (click)="hideCommunityStats()" *ngIf="communityStatsVisible">Hide Community Statistics</button>
          <button class="dropdown-item" (click)="showOntoInfo()" *ngIf="!ontoInfoVisible">Show Ontology Info</button>
          <button class="dropdown-item" (click)="hideOntoInfo()" *ngIf="ontoInfoVisible">Hide Ontology Info</button>

        </div>
      </div>
    </div>

    <!-- Create a new PeIt -->

    <gv-pe-it-role-set
    *ngFor="let propertySection of directedRolesPerProperty"
    [propertySection]="propertySection"
    [isOutgoing]="propertySection.isOutgoing"
    [roles]="propertySection.roles"
    [fkProperty]="propertySection.fkProperty"
    [pointTo]="'TeEnt'"
    [parentEntityPk]="pkEntity"
    [parentPeIt]="parentPeIt"
    [propState]="propState"
    [communityStatsVisible]="communityStatsVisible"
    [ontoInfoVisible]="ontoInfoVisible"
    (appeChange)="emitAppeChange($event)"
    (readyToAdd)="onRolesReadyToAdd($event)"
    (notReadyToAdd)="onRolesNotReadyToAdd()"
    (removePropertySectionReq)="onRemovePropertySectionReq($event)"
    ></gv-pe-it-role-set>

  </div>


  <!-- Create State -->

  <div *ngIf="RoleSetListState === 'create' && propertyToAdd">
    <!-- Create a new PeIt -->
    <gv-pe-it-role-set
    [fkProperty]="propertyToAdd.property.dfh_pk_property"
    [isOutgoing]="propertyToAdd.isOutgoing"
    [propState]="'create-pe-it'"
    [pointTo]="'TeEnt'"
    [parentPeIt]="parentPeIt"
    [parentEntityPk]="pkEntity"
    (readyToCreate)="emitReadyToCreate($event)"
    (notReadyToCreate)="emitNotReadyToCreate()"
    (propStateChange)="onPropStateChange($event)"
    (rolesAdded)="onRolesAdded($event)"
    ></gv-pe-it-role-set>

  </div>


  <!-- Edit State -->

  <div class="d-flex flex-column gv-flex-grow-1" *ngIf="RoleSetListState === 'edit'">

    <div class="btn-group gv-flex-shrink-0 d-flex mb-3" role="group" aria-label="Basic example">
      <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
        <div class="align-self-center">
          <i class="fa fa-lightbulb-o"></i>  Properties
        </div>
      </div>
      <div class="btn-group" ngbDropdown placement="bottom-right">
        <button class="btn btn-gray-700" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="showCommunityStats()" *ngIf="!communityStatsVisible">Show Community Statistics</button>
          <button class="dropdown-item" (click)="hideCommunityStats()" *ngIf="communityStatsVisible">Hide Community Statistics</button>
          <button class="dropdown-item" (click)="showOntoInfo()" *ngIf="!ontoInfoVisible">Show Ontology Info</button>
          <button class="dropdown-item" (click)="hideOntoInfo()" *ngIf="ontoInfoVisible">Hide Ontology Info</button>

        </div>
      </div>
    </div>

    <div class="gv-body gv-flex-grow-1" style="overflow-y:auto">

      <gv-pe-it-role-set
      *ngFor="let propertySection of directedRolesPerProperty"
      [propertySection]="propertySection"
      [isOutgoing]="propertySection.isOutgoing"
      [roles]="propertySection.roles"
      [fkProperty]="propertySection.fkProperty"
      [pointTo]="'TeEnt'"
      [parentEntityPk]="pkEntity"
      [parentPeIt]="parentPeIt"
      [propState]="propState"
      [communityStatsVisible]="communityStatsVisible"
      [ontoInfoVisible]="ontoInfoVisible"
      (appeChange)="emitAppeChange($event)"
      (readyToAdd)="onRolesReadyToAdd($event)"
      (notReadyToAdd)="onRolesNotReadyToAdd()"
      (removePropertySectionReq)="onRemovePropertySectionReq($event)"
      (rolesUpdated)="onRolesUpdated($event)"
      ></gv-pe-it-role-set>

    </div>

    <div class="gv-footer mt-3">

      <!-- Step 1 for adding a new property -->

      <button class="btn btn-secondary btn-block bg-gray-700" (click)="selectPropState = 'selectProp'"  *ngIf="selectPropState === 'init'">
        <i class="fa fa-plus"></i> Add a property ...
      </button>


      <!-- Step 2 for adding new Property section -->

      <div class="card gv-naming bg-gray-700" *ngIf="selectPropState === 'selectProp'">

        <div class="card-header bt-1">
          <div class="d-flex">
            <div class="gv-h4 text-white gv-flex-grow-1 align-self-center">
              What do you want to add?
            </div>
            <button type="button" name="button" class="btn btn-link text-white align-self-center btn-sm"
            (click)="selectPropState = 'init'"
            > <i class="fa fa-close"></i> </button>
          </div>
        </div>

        <div class="card-body">
          <div class="input-group">
            <select [(ngModel)]="propertyToAdd" class="custom-select">
              <option [ngValue]="null">Select…</option>

              <option [disabled]="propSectionAdded(propertyToAdd)" *ngFor="let propertyToAdd of ingoingDirectionAwareProperties" [ngValue]="propertyToAdd">

                {{propertyToAdd?.labelSg}} {{propSectionAdded(propertyToAdd) ? '(already added)':''}}

              </option>
              <option [disabled]="propSectionAdded(propertyToAdd)" *ngFor="let propertyToAdd of outgoingDirectionAwareProperties" [ngValue]="propertyToAdd">

                {{propertyToAdd?.labelSg}} {{propSectionAdded(propertyToAdd) ? '(already added)':''}}

              </option>
            </select>
            <button type="button" name="button" class="btn btn-primary input-group-append"
            *ngIf="propertyToAdd"
            (click)="startSelectRoles()"
            >Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- View State -->

  <div class="d-flex flex-column gv-flex-grow-1" *ngIf="RoleSetListState === 'view'">

    <div class="btn-group gv-flex-shrink-0 d-flex mb-3" role="group" aria-label="Basic example">
      <div class="gv-flex-grow-1 bg-gray-700 text-white rounded-left gv-card-spacer-x align-self-stretch d-flex">
        <div class="align-self-center">
          <i class="fa fa-lightbulb-o"></i>  Properties
        </div>
      </div>
      <div class="btn-group" ngbDropdown placement="bottom-right">
        <button class="btn btn-gray-700" ngbDropdownToggle><i class="fa fa-ellipsis-v"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-menu">
          <button class="dropdown-item" (click)="showCommunityStats()" *ngIf="!communityStatsVisible">Show Community Statistics</button>
          <button class="dropdown-item" (click)="hideCommunityStats()" *ngIf="communityStatsVisible">Hide Community Statistics</button>
          <button class="dropdown-item" (click)="showOntoInfo()" *ngIf="!ontoInfoVisible">Show Ontology Info</button>
          <button class="dropdown-item" (click)="hideOntoInfo()" *ngIf="ontoInfoVisible">Hide Ontology Info</button>

        </div>
      </div>
    </div>


    <gv-pe-it-role-set
    *ngFor="let propertySection of directedRolesPerProperty"
    [propertySection]="propertySection"
    [isOutgoing]="propertySection.isOutgoing"
    [roles]="propertySection.roles"
    [fkProperty]="propertySection.fkProperty"
    [pointTo]="'TeEnt'"
    [parentEntityPk]="pkEntity"
    [parentPeIt]="parentPeIt"
    [propState]="propState"
    [communityStatsVisible]="communityStatsVisible"
    [ontoInfoVisible]="ontoInfoVisible"
    (appeChange)="emitAppeChange($event)"
    (readyToAdd)="onRolesReadyToAdd($event)"
    (notReadyToAdd)="onRolesNotReadyToAdd()"
    (removePropertySectionReq)="onRemovePropertySectionReq($event)"
    ></gv-pe-it-role-set>

  </div>

</div>


