<!-- Header, if the expression is shown -->

<ng-container *ngIf="isExpression&&!(hideTreeNodeAndFieldHeader$|async)">
  <div class="mat-typography mat-bg-grey-100 gv-section-header">
    <h3 class="loc-header-left d-flex mat-text-secondary">
      Sections and digital reproductions
    </h3>
  </div>
  <mat-divider></mat-divider>
</ng-container>

<gv-view-field-item-container [treeExtraPl]="0" [hidden]="hideTreeNodeAndFieldHeader$|async">
  <div class="loc-first-line">
    <span class="loc-left mat-typography  gv-pointer">
      <button *ngIf="itemCountService.sum$|async" mat-icon-button (click)="showBody$.next(!showBody$.value)">
        <mat-icon class="mat-icon-rtl-mirror">
          {{(showBody$|async) ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}
        </mat-icon>
      </button>
      <button *ngIf="!(itemCountService.sum$|async)" mat-icon-button [disabled]=true> </button>

      <gv-view-field-item-class-info class="loc-class-info" [showOntoInfo$]="showOntoInfo$"
        [readonly$]="itemComponent.readonly$" [resource]="resource"
        [isInProject]="itemComponent.item.projRel?.is_in_project" [classLabel]="classLabel" [isFavorite]="ordNum===0">
      </gv-view-field-item-class-info>

      <gv-entity-preview class="loc-item" [hideClass]="true"
        [pkEntity]="itemComponent.item.target.entity.resource.pk_entity" [dragEnabled]="false"
        [openTabOnClick]="!(itemComponent.readonly$|async)" [truncateLabel]="'250'">
      </gv-entity-preview>
      <div class="gv-flex-grow" (click)="showBody$.next(!showBody$.value)">

      </div>
    </span>

    <span class="loc-right">
      <gv-view-field-item-entity-menu *ngIf="!(itemComponent.readonly$|async) &&  !isExpression">

        <mat-divider></mat-divider>
        <div class="dropdown-header">Add a new</div>
        <button *ngFor="let item of addButtons$|async" mat-menu-item (click)="openAddStatementDialog(item)">
          <mat-icon>
            <gv-class-info [showOntoInfo$]="showOntoInfo$" [pkClass]="item.targetClass" [isFavorite]="false"
              [classLabel]="item.targetClassLabel"></gv-class-info>
          </mat-icon>
          <span>{{item.targetClassLabel}}</span>
        </button>
      </gv-view-field-item-entity-menu>



      <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto"
        *ngIf="!(itemComponent.readonly$|async) && isExpression">
        <mat-icon>more_vert</mat-icon>
      </button>


    </span>

  </div>
</gv-view-field-item-container>

<!-- Header, if the expression is hidden -->
<ng-container *ngIf="hideTreeNodeAndFieldHeader$|async">

  <div class="mat-typography mat-bg-grey-100 gv-section-header">
    <h3 class="loc-header-left d-flex mat-text-secondary">
      Sections and digital reproductions
    </h3>
    <div class="loc-header-right">
      <button mat-icon-button [matMenuTriggerFor]="appMenu" class="ml-auto">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="loc-hidden-info mat-caption mat-bg-grey-50" (click)="showTreeNodeAndFieldHeader()"> Hidden elements</div>
  <mat-divider></mat-divider>
</ng-container>



<div class="loc-hidden-info mat-caption loc-border-dashed mat-bg-grey-50" (click)="hideTreeNodeAndFieldHeader()"
  *ngIf="isExpression && !(hideTreeNodeAndFieldHeader$|async)">
  Hide elements above this line
</div>



<!-- ADD A DROPLIST FOR EACH FIELD BODY HERE, WHEN BODY HIDDEN AND DRAG ENABLED -->

<!-- <gv-view-field-empty-drop-list *ngFor="let field of fields$|async" class="mat-bg-secondary-50" [field]="field"
  [source]="sectionSource" [scope]="itemComponent.scope">
</gv-view-field-empty-drop-list> -->
<!--
<gv-view-field-body-2 style="border:1px dashed pink; display: block;" #f *ngFor="let field of fields$|async"
  [showBodyOnInit]=true [field]="field" [showOntoInfo$]="showOntoInfo$" [readonly$]="itemComponent.readonly$"
  [source]="sectionSource" [scope]="itemComponent.scope" [limit]="100" [hideNoItemsInfo]="true"
  [hidden]="field.property.fkProperty==1216" [attr.xyz]="(f.itemsCount$ | async)">

</gv-view-field-body-2> -->

<!--
<gv-view-section-body #s class="mat-typography" [showBodyOnInit]=isExpression [scope]="itemComponent.scope"
  [source]="sectionSource" [pkClass$]="sectionPkClass$" [showOntoInfo$]="showOntoInfo$"
  [readonly$]="itemComponent.readonly$" [section]=sectionSection [showEmptyFieldsOnInit]="true">
</gv-view-section-body> -->
<gv-view-field-body #f *ngFor="let field of fields$|async" [showBody$]="showBody$"
  [hidden]="((itemComponent.readonly$ |async) || field.allSubfieldsRemovedFromAllProfiles) && !(f.itemsCount$ | async)"
  [field]="field" [showOntoInfo$]="showOntoInfo$" [readonly$]="itemComponent.readonly$" [source]="sectionSource"
  [scope]="itemComponent.scope" [limit]="100" [hideNoItemsInfo]="true">
</gv-view-field-body>
<!-- <div class="loc-container" gvOpenCloseContainer [isOpen$]="showBody$">
  <div gvOpenCloseChild>
  </div>
</div> -->


<mat-menu #appMenu="matMenu">
  <div class="dropdown-header">Add a new</div>
  <button *ngFor="let item of addButtons$|async" mat-menu-item (click)="openAddStatementDialog(item)">
    <mat-icon>
      <gv-class-info [showOntoInfo$]="showOntoInfo$" [pkClass]="item.targetClass" [isFavorite]="false"
        [classLabel]="item.targetClassLabel"></gv-class-info>
    </mat-icon>
    <span>{{item.targetClassLabel}}</span>
  </button>

</mat-menu>
