<!-- Header -->
<section class="m-3 mt-5 row gv-flex-shrink-0">
  <div class="col-md-8">
    <h2>
      <i class="gv-icon-information-simple text-primary"></i> Data Units</h2>
  </div>
  <div class="col-md-4">
    <div class="btn-group float-right mt-2" role="group">

      <button class="btn btn-link btn-md" (click)="openEntityModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> Add an entity
      </button>
    </div>
  </div>
</section>

<!-- Search input -->
<form class="mx-3 mt-3 mb-2" (ngSubmit)="searchStringChange()">
  <div class="input-group">
    <input type="text" name="searchString" class="form-control" aria-describedby="search" autocomplete="off"
      placeholder="Search …" [(ngModel)]="searchString">
    <span class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>

<!-- Search filter tabs -->
<!-- <ul class="nav gv-search-filter">
          <li class="nav-item">
            <button class="btn btn-sm btn-link nav-link">[All]</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-link nav-link active">Entities</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-link nav-link">[Phenomena]</button>
          </li>
        </ul> -->

<!-- Results count -->
<div class="mx-3 mb-3 px-3 text-muted font-sm" *ngIf="!loading">
  <span *ngIf="collectionSize > limit">
    {{hitsFrom}}-{{hitsTo}} of
  </span>
  {{collectionSize | number}} {{(collectionSize == 1 ? 'result' : 'results')}}
</div>

<!-- Results -->
<div class="gv-flex-fh m-3 px-3 gv-scroll-y-auto" *ngIf="!loading">
  <gv-entity-search-hit *ngFor="let hit of persistentItems" [persistentItem]="hit" [selectingMentionedEntities]="(selectingEntities$ | async)"
    (onSelectAsMentioned)="selectMentionedEntity($event)" (onOpen)=openEntity($event)></gv-entity-search-hit>
</div>

<!-- Pagination -->
<div class="m-3" *ngIf="!loading">
  <ngb-pagination class="mb-0" *ngIf="collectionSize > limit" [maxSize]="5" [collectionSize]="collectionSize" [(page)]="page"
    [pageSize]="limit" (pageChange)="pageChange()" aria-label="Default pagination"></ngb-pagination>
</div>