<gv-slider class="gv-fh" [slide]="sliderView">

  <!-- Slide 1: header -->
  <div left-header class="mat-h2 loc-slider-header">
    Define a new {{classLabel$|async}}...
  </div>

  <!-- Slide 1: body -->
  <div left-body class="gv-flex-fh gv-ovf-auto">
    <gv-form-create-entity [pkClass]="(pkClass$ | async)" [hiddenProperty]="data.hiddenProperty" [hideTitle]="true"
      [hideButtons]="true" [initVal$]="initVal$" (searchString)="searchStringChange($event)" #f>
    </gv-form-create-entity>
  </div>

  <!-- Slide 1: footer -->
  <div left-footer class="loc-slider-footer mt-3">
    <div class="gv-col-space-between">
      <button mat-flat-button color="primary"
        [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="onFormOk()">
        <span *ngIf="!f?.saving">OK</span>
        <div *ngIf="f?.saving" style="margin: 6px;">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
      </button>
    </div>

    <div class="gv-col-space-between">
      <button mat-button type="button" class="ml-2 mr-2" (click)="dialogRef.close()">Cancel</button>
    </div>
  </div>


  <!-- Slide 2: header -->
  <div center-header class="loc-slider-header mat-h2" *ngIf="data.showAddList">
    ... or choose an existing {{classLabel$|async}}
  </div>

  <!-- Slide 2: body -->
  <div center-body class="gv-fh gv-col-start">
    <gv-search-existing-entity [pkClass]="(pkClass$ | async)" [searchString$]="searchString$"
      [mode]="sliderView == 'right' ? 'searchAndBack' : 'filtered'" [disableIfHasStatement]="data.disableIfHasStatement"
      (onMore)="onMoreClick($event)" (onBack)="onBackClick()">
    </gv-search-existing-entity>
  </div>

  <!-- Slide 3: body -->
  <div right-body class="gv-fh">
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="(selectedInProject$ | async) ? 0 : 1" class="gv-fh">

      <mat-tab label="Your project version" [disabled]="!(selectedInProject$ | async)" class="gv-fh">
        <gv-entity-card *ngIf="(selectedPkEntity$ | async)" [source]="(source$ | async)" [pkClass$]="pkClass$"
          [showOntoInfo$]="showOntoInfo$" [scope]="{ inProject: pkProject }" [readonly$]="entityCardReadOnly$">
        </gv-entity-card>
        <div class="gv-row-space-between mr-3 ml-3">

          <div class="ml-2 mr-2" [matTooltip]="selectButtonTooltip">
            <button *ngIf="selectButtonDisabled" mat-button type="button" color="primary" (click)="selectEntity()"
              disabled>Select Entity</button>
          </div>
          <button *ngIf="!selectButtonDisabled" mat-button type="button" color="primary" class="ml-2 mr-2"
            (click)="selectEntity()">Select Entity</button>
          <button mat-button type="button" class="ml-2 mr-2" (click)="closeDialog()">Cancel</button>
        </div>
      </mat-tab>

      <mat-tab label="Community version" class="gv-fh gv-col-space-between">
        <gv-entity-card *ngIf="(selectedPkEntity$ | async)" [source]="(source$ | async)" [pkClass$]="pkClass$"
          [showOntoInfo$]="showOntoInfo$" [scope]="{ inRepo: true }" [readonly$]="entityCardReadOnly$"></gv-entity-card>
        <div class="gv-row-space-between mr-3 ml-3">

          <div class="ml-2 mr-2" [matTooltip]="selectButtonTooltip">
            <button *ngIf="selectButtonDisabled" mat-button type="button" color="primary" (click)="selectEntity()"
              disabled>Select Entity</button>
          </div>

          <button *ngIf="!selectButtonDisabled" mat-button type="button" color="primary" class="ml-2 mr-2"
            (click)="selectEntity()">Select Entity</button>
          <button mat-button type="button" class="ml-2 mr-2" (click)="closeDialog()">Cancel</button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</gv-slider>