<h1 mat-dialog-title class="gv-aoc-container">
  <div class="gv-aoc-left">
    Define a new {{classLabel$|async}}
  </div>
  <div class="gv-aoc-center" *ngIf="data.showAddList">
    or
  </div>
  <div class="gv-aoc-right" *ngIf="data.showAddList">
    Choose an existing {{classLabel$|async}}
  </div>
</h1>
<div mat-dialog-content class="gv-aoc-container">
  <div class="gv-aoc-left gv-flex-fh">
    <gv-form-create-entity class="gv-flex-fh gv-aoc-scroll my-2" [pkClass]="classAndTypePk.pkClass"
      [hiddenProperty]="data.hiddenProperty" [hideTitle]="true" [hideButtons]="true" [initVal$]="initVal$"
      (searchString)="searchStringChange($event)" #f>
    </gv-form-create-entity>
  </div>
  <div class="gv-aoc-center" *ngIf="data.showAddList">
    <mat-divider [vertical]="true"></mat-divider>
  </div>
  <div class="gv-aoc-right gv-flex-fh" *ngIf="data.showAddList">
    <mat-form-field appearance="outline" style="margin-top: -4px;">
      <mat-label>Search</mat-label>
      <input matInput type="text" autocomplete="off" [ngModel]="searchString$|async"
        (keyup)="searchStringChange($any($event).target.value)">
    </mat-form-field>
    <gv-search-existing-entity class="gv-flex-fh gv-aoc-scroll" [pkClass]="classAndTypePk.pkClass"
      [searchString$]="searchString$" [disableIfHasStatement]="data.disableIfHasStatement"
      (onMore)="onMoreClick($event)">
    </gv-search-existing-entity>
  </div>

</div>
<div mat-dialog-actions class="gv-aoc-container">
  <div class="gv-aoc-left">

    <button mat-flat-button color="primary"
      [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="onFormOk()">
      <span *ngIf="!f?.saving">OK</span>
      <div *ngIf="f?.saving" style="margin: 6px;">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </button>

    <button mat-button type="button" class="ml-2" (click)="closeAddForm()">Cancel</button>
  </div>
  <div class="gv-aoc-center" *ngIf="data.showAddList">

  </div>
  <div class="gv-aoc-right" *ngIf="data.showAddList">

  </div>
</div>