<gv-slider class="gv-fh" [slide]="selectedPkEntity ? 'right' : 'left'">

  <!-- Slide 1: header -->
  <div left-header class="mat-h2 loc-slider-header">
    Define a new {{classLabel$|async}}...
  </div>

  <!-- Slide 1: body -->
  <div left-body class="gv-flex-fh gv-ovf-auto">
    <gv-form-create-entity [pkClass]="classAndTypePk.pkClass" [hiddenProperty]="data.hiddenProperty" [hideTitle]="true"
      [hideButtons]="true" [initVal$]="initVal$" (searchString)="searchStringChange($event)" #f>
    </gv-form-create-entity>
  </div>

  <!-- Slide 1: footer -->
  <div left-footer class="loc-slider-footer mt-3">
    <div class="gv-col-space-between">
      <button mat-flat-button color="primary"
        [disabled]="(f?.submitted && f?.formFactory?.formGroup.invalid) || f?.saving" (click)="onFormOk()">
        <span *ngIf="!f?.saving">OK</span>
        <div *ngIf="f?.saving" style="margin: 6px;">
          <mat-spinner [diameter]="20"></mat-spinner>
        </div>
      </button>
    </div>

    <div class="gv-col-space-between">
      <button mat-button type="button" class="ml-2 mr-2" (click)="dialogRef.close()">Cancel</button>
    </div>
  </div>


  <!-- Slide 2: header -->
  <div center-header class="loc-slider-header mat-h2" *ngIf="data.showAddList">
    ... or choose an existing {{classLabel$|async}}
  </div>

  <!-- Slide 2: body -->
  <div center-body class="gv-fh gv-col-start">
    <gv-search-existing-entity [pkClass]="classAndTypePk.pkClass" [searchString$]="searchString$"
      [mode]="selectedPkEntity ? 'searchAndBack' : 'filtered'" [disableIfHasStatement]="data.disableIfHasStatement"
      (onMore)="onMoreClick($event)" (onBack)="onBackClick()">
    </gv-search-existing-entity>
  </div>

  <!-- Slide 2: footer -->
  <!-- <div center-footer>
    FOOTER center
  </div> -->



  <div right-header>
    HEADER right
  </div>
  <div right-body>
    BODY right
  </div>
  <div right-footer>
    FOOTER right
  </div>

</gv-slider>